<div class="size-and-specs">
  <div class="centeral-content">
    <div class="item">
      <div class="u36DemiBold_v2"><img
          class="down"
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20413.svg?v=1688982520"
          alt="" /> Size Guide</div>
      <div class="content sizes">
        <div class="lines">
          <div class="line u17DemiBold_v2">
            <span style="color: #fff;">aaa</span>
            <span>Small<br>(mm)</span>
            <span>Medium<br>(mm)</span>
            <span>Large<br>(mm)</span>
          </div>
          <div class="line">
            <span>Recomm. rider height</span>
            <span>5’3’’~5’9’’</span>
            <span>5’7’’~6’1’’</span>
            <span>5’11’’~6’5’’</span>
          </div>
          <div class="line">
            <span>A. Standover height</span>
            <span>760</span>
            <span>800</span>
            <span>840</span>
          </div>
          <div class="line">
            <span>B. Adjustable seat range</span>
            <span>50</span>
            <span>60</span>
            <span>60</span>
          </div>
          <div class="line">
            <span>C. Handlebar grips height</span>
            <span>1000</span>
            <span>1010</span>
            <span>1020</span>
          </div>
          <div class="line">
            <span>D. Seat tube length</span>
            <span>420</span>
            <span>460</span>
            <span>500</span>
          </div>
          <div class="line">
            <span>E. Wheelbase</span>
            <span>1060</span>
            <span>1080</span>
            <span>1120</span>
          </div>
          <div class="line">
            <span>F. Overall length</span>
            <span>1790</span>
            <span>1810</span>
            <span>1850</span>
          </div>
          <div class="line">
            <span>G. Wheel diameter</span>
            <span>690</span>
            <span>690</span>
            <span>690</span>
          </div>
          <div class="line">
            <span>H. Top tube length (effective)</span>
            <span>550</span>
            <span>580</span>
            <span>610</span>
          </div>
          <div class="line">
            <span>I. Head tube length</span>
            <span>160</span>
            <span>170</span>
            <span>180</span>
          </div>
          <div class="line">
            <span>J. Headset height</span>
            <span>100</span>
            <span>100</span>
            <span>100</span>
          </div>
        </div>
        {% if hide_bala %}
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230823-113031.png?v=1692761477" alt="">
        {% else %}
          <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230413-101607.jpg?v=1681352192" alt="">
        {% endif %}
      </div>
    </div>
    <div class="item __pf __pf_kIY6jB09">
      <div class="u36DemiBold_v2"><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20413.svg?v=1688982520" alt="">Specs</div>
      <div class="content">
        <div
          data-section-id="pf-10fe"
          data-pf-type="Section"
          class="sc-fmciRz bheIgq pf-492_ pf-hide">
          <div style="--cw:1280px" class="sc-gjNHFA gwWIgj">
            <div
              class="sc-ezbkAF A-dmbO pf-493_ pf-r pf-c-cm pf-r-eh"
              style="--s-xs:15px;justify-content:unset;"
              data-pf-type="Row">

              <div class="pf-c" style="--c-xs:0.5;--c-md:0.5;--c-lg:0.5;margin-right: 15px;">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-498_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-499_"><img
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon2-1649931441565.png?v=1649931443"
                      srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon2-1649931441565.png?v=1649931443 1536w"
                      width="2560"
                      height="1829" /></div>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:0.5;--c-md:0.5;--c-lg:0.5;margin-right: 15px;">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-500_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-501_"><img
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/cpsc_logo-1662445677565.svg?v=1662445680"
                      width="40"
                      height="44" /></div>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:0.5;--c-md:0.5;--c-lg:0.5;margin-right: 15px;">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-502_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-503_"><img
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon1png-1649931441566.png?v=1649931446"
                      srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon1png-1649931441566.png?v=1649931446 1536w"
                      width="540"
                      height="546" /></div>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-504_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-505_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-506_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-508_">Smart</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-509_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-510_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-511_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-513_">Smartbar features</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-514_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-516_">Voice control, fingerprint unlock, LED dot-matrix display</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-517_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-518_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-520_">Connectivity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-521_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-523_">Connect Service with 4G, Bluetooth &amp; WiFi</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-524_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-525_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-527_">IoT sensors</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-528_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-530_">Accelerometer, gyroscope, torque</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-531_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-532_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-533_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-535_">App</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-536_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-538_">iOS &amp; Android</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-539_"></div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-540_"></div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-541_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-542_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-543_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-545_">Power</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-546_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-547_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-548_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-550_">Motor</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-551_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-553_">Carbon 1: 36 V 250 W (rated), 35 N⋅m {% unless hide_bala %}
                      <br><br>Carbon 1s: 36 V 350 W (rated), 45 N⋅m
                    {% endunless %} </span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-554_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-555_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-557_">Speed modes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-558_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-560_">Pedal, Eco, Comfort, Sport, Turbo&nbsp;</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-561_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-562_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-564_">Top speed (assisted)</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-565_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-567_">Carbon 1s: 25mph {% unless hide_bala %}
                      <br>Carbon 1: 20mph
                    {% endunless %} </span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-568_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-569_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-570_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-572_">Range</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-573_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-575_">25~60 miles</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-576_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-577_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-579_">Removable battery</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-580_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-582_">9.8 Ah 352.8 Wh Samsung Li-ion, 2.5-hr quick charge</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-583_"></div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-584_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-585_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-586_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-588_">General</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-589_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-590_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-591_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-593_">Weight</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-594_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-596_">Carbon 1: 33 lbs. {% unless hide_bala %}
                      <br><br>Carbon ls: 35 lbs.
                    {% endunless %} </span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-597_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-598_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-600_">Payload Capacity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-601_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-603_">Max. 240 lbs.</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-604_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-605_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-607_">Sizes&nbsp;</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-608_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-610_">{% unless hide_bala %}
                      Small, 
                    {% endunless %}Medium, Large (see Size Guide)</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-611_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-612_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-613_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-615_">Body material</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-616_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-618_">Carbon fiber (frame, fork, handlebar, seatpost)</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-619_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-620_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-622_">Brakes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-623_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-625_">Front &amp; rear dual-piston hydraulic disc</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-626_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-627_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-629_">Tires</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-630_ Body" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-632_">Kenda Kwest 700x35C (35 mm / 1.4”) (30~45 mm compatible)</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-633_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-634_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-635_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-637_">Integrated lights</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-638_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-640_">StVZO headlight; Advanced Rear Early-indication System (ARES)</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-641_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-642_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-644_">Wheels</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-645_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-647_">700C (ISO 622 mm BSD), inner rim 19 mm</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-648_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-649_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-651_">Gearing</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-652_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-654_">Carbon 1: Gates Carbon Drive™ CDN™ belt (up to 19,000 miles) {% unless hide_bala %}
                      <br><br>Carbon 1s: Shimano 7-Speed Rear Drivetrain
                    {% endunless %}</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-655_ pf-r pf-r-eh pf-lg-hide pf-md-hide pf-sm-hide"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-656_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-657_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-659_">What’s in the Box</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-660_ pf-r pf-r-eh pf-lg-hide pf-md-hide pf-sm-hide"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-661_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-662_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-664_">Urtopia Carbon one</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-665_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-667_">Front Wheel, Frame, Seatpost, saddle, Pedals</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-668_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-669_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-671_">Removable battery</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-672_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-674_">Battery, Charger, Battery key</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-675_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-676_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-678_">Frame (accessory) bag
                    </span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-679_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-681_">4mm Allen wrench, 15mm combination wrench, front-wheel quick-release device</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          data-section-id="pf-2917"
          data-pf-type="Section"
          class="sc-fmciRz bheIgq pf-682_ pf-lg-hide pf-md-hide pf-sm-hide">
          <div style="--cw:1170px" class="sc-gjNHFA gwWIgj">

            <div
              class="sc-ezbkAF A-dmbO pf-688_ pf-r pf-c-cm pf-r-eh"
              style="--s-xs:15px;justify-content:unset;"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:1;--c-sm:1;--c-md:1;--c-lg:1">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-689_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-690_"><img
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon2-1649931441565.png?v=1649931443"
                      srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon2-1649931441565.png?v=1649931443 1536w"
                      width="2560"
                      height="1829" /></div>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:1;--c-sm:1;--c-md:1;--c-lg:1">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-691_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-692_"><img
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/cpsc_logo-1662445677565.svg?v=1662445680"
                      width="40"
                      height="44" /></div>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:1;--c-sm:1;--c-md:1;--c-lg:1">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-693_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-694_"><img
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon1png-1649931441566.png?v=1649931446"
                      srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon1png-1649931441566.png?v=1649931446 1536w"
                      width="540"
                      height="546" /></div>
                </div>
              </div>
            </div>


            <div
              class="sc-ezbkAF A-dmbO pf-695_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-696_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-697_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-699_">Smart</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-700_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-701_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-702_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-704_">Smartbar features</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-705_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-707_">Voice control, fingerprint unlock, LED dot-matrix display</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-708_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-709_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-711_">Connectivity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-712_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-714_">Connect Service with 4G, Bluetooth &amp; WiFi</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-715_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-716_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-718_">IoT sensors</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-719_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-721_">accelerometer, gyroscope &amp; torque</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-722_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-723_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-724_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-726_">App</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-727_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-729_">iOS &amp; Android</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-730_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-731_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-732_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-734_">Power</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-735_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-736_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-737_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-739_">Motor</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-740_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-742_">Carbon 1: 36 V 250 W (rated), 35 N⋅m {% unless hide_bala %}
                      <br><br> Carbon 1s: 36 V 350 W (rated), 45 N⋅m
                    {% endunless %}</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-743_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-744_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-746_">Speed modes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-747_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-749_">Pedal, Eco, Comfort, Sport, Turbo&nbsp;</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-750_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-751_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-753_">Top speed (assisted)</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-754_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-756_">Carbon 1s: 25mph {% unless hide_bala %}
                      <br>Carbon 1: 20mph
                    {% endunless %} </span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-757_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-758_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-759_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-761_">Range</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-762_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-764_">25~60 miles</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-765_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-766_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-768_">Removable battery</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-769_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-771_">9.8 Ah 352.8 Wh Samsung Li-ion, 2.5-hr quick charge</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-772_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-773_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-774_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-776_">General</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-777_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-778_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-779_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-781_">Weight</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-782_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-784_">Carbon 1: 33 lbs. {% unless hide_bala %}
                      <br><br>Carbon ls: 35 lbs.
                    {% endunless %} </span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-785_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-786_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-788_">Payload Capacity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-789_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-791_">Max. 240 lbs.</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-792_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-793_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-795_">Sizes&nbsp;</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-796_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-798_">{% unless hide_bala %}
                      Small, 
                    {% endunless %} Medium, Large (see Size Guide)</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-799_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-800_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-801_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-803_">Body material</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-804_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-806_">Carbon fiber (frame, fork, handlebar, seatpost)</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-807_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-808_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-810_">Brakes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-811_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-813_">Front &amp; rear dual-piston hydraulic disc</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-814_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-815_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-817_">Tires</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-818_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-820_">Kenda Kwest 700x35C (35 mm / 1.4”) (30~45 mm compatible)</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-821_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-822_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-823_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-825_">Integrated lights</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-826_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-828_">StVZO headlight; Advanced Rear Early-indication System (ARES)</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-829_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-830_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-832_">Wheels</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-833_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-835_">700C (ISO 622 mm BSD), inner rim 19 mm</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-836_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-837_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-839_">Gearing</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-840_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-842_">Carbon 1: Gates Carbon Drive™ CDN™ belt (up to 19,000 miles) {% unless hide_bala %}
                      <br><br>Carbon 1s: Shimano 7-Speed Rear Drivetrain
                    {% endunless %} </span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-843_ pf-r pf-r-eh pf-hide"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-844_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-845_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-847_">What’s in the Box</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-848_ without-padding-bt pf-r pf-r-eh pf-hide"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-849_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-850_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-852_">Urtopia Carbon one</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-853_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-855_">Front Wheel, Frame, Seatpost, saddle, Pedals</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-856_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-857_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-859_">Removable battery</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-860_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-862_">Battery, Charger, Battery key</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-863_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-864_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-866_">Frame (accessory) bag
                    </span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-867_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-869_">4mm Allen wrench, 15mm combination wrench, front-wheel quick-release device
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.size-and-specs .u36DemiBold_v2').click(function() {
    $(this)
      .siblings('.size-and-specs .content')
      .slideToggle()
      .parent()
      .siblings()
      .find('.size-and-specs .content')
      .slideUp();
    $(this).children('img').toggleClass('down');
    $(this)
      .parent()
      .siblings()
      .find('.size-and-specs .u36DemiBold_v2')
      .children('img')
      .addClass('down');
  });

  {% if hide_bala %}
  $('.size-and-specs .sizes .line span:nth-child(2)').hide()
  {% endif %}

</script>