<style>
	.order-flex-row {
	  display: flex;
	  align-items: center;
	}
	.order-modal-layer {
	  position: fixed;
	  z-index: 999;
	  top: 0;
	  left: 0;
	  height: 100vh;
	  width: 100%;
	  background-color: rgba(0, 0, 0, 0.5);
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  display: none;
	}
	.order-modal-layer .order-layer-box {
	  opacity: 0;
	  background-color: #fff;
	  border-radius: 15px;
	  width: 900px;
	  box-shadow: 0 0 10px 10px rgb(0, 0, 0, 0.08);
	}
	.order-modal-layer .order-layer-header {
	  padding: 12px 20px;
	  justify-content: space-between;
	  border-bottom: 1px solid #eee;
	}
	.order-modal-layer .order-layer-header h3 {
	  font: normal normal 600 16px/19px urbane;
	  margin: 0;
	  margin-left: 20px;
	}
	.order-modal-layer .order-layer-header span {
	  font-size: 24px;
	  background-color: transparent;
	  outline: none;
	  border: none;
	  cursor: pointer;
	  color: #cfcfcf;
	}
	.order-modal-layer .sizefit-switch {
	  background-color: #eff0f4;
	  border-radius: 50px;
	  width: 50%;
	  margin: 20px auto;
	  overflow: hidden;
	}
	.sizefit-switch .switch-radio {
	  position: relative;
	  width: 100%;
	  overflow: hidden;
	}
	.order-modal-layer .sizefit-switch button {
	  padding: 6px 20px;
	  margin: 0;
	  font: normal normal 600 16px/33px urbane;
	  background-color: transparent;
	  outline: none;
	  border: none;
	  cursor: pointer;
	  overflow: hidden;
	  width: 100%;
	  border-radius: 50px;
	  transition: all 0.1s;
	  line-height: 22px;
	}

	.order-modal-layer .sizefit-switch button span {
		font-size: 14px;
    	font-weight: 300;
	}

	.order-modal-layer .sizefit-switch input[type="radio"] {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  left: 0;
	  top: 0;
	  margin: 0;
	  opacity: 0;
	}
	#tab-1:checked ~ .btn,
	#tab-2:checked ~ .btn {
	  background: #000000;
	  color: #fff;
	}
	.order-modal-layer .order-layer-body {
	  padding: 20px 40px;
	  padding-bottom: 40px;
	}
	.sizefit-box {
	  width: 35%;
	}
	.sizefit-item {
	  justify-content: space-between;
	}
	.sizefit-item:not([data-last="yes"]) {
	  margin-bottom: 25px;
	}

	.sizefit-item p {
	  font: normal normal 600 12px/14px urbane;
	  color: #2b2e34;
	  margin: 0;
	}
	.sizefit-item span {
	  font: normal normal 300 12px/14px urbane;
	  color: #2b2e34;
	}
	.sizefit-bg {
	  flex: 1;
	  height: 340px;
	  margin-left: 50px;
	  background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230413-101607.jpg?v=1681352192") ;
	  background-position: center;
	  background-size: auto 100%;
	  background-repeat: no-repeat;
	}
	.sizefitx-bg {
	  background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sizefitx.png?v=1677814083");
	}
	.dialog-open {
	  animation-name: anim-open;
	  animation-duration: 0.3s;
	  animation-fill-mode: forwards;
	}
	.dialog-close {
	  animation-name: anim-close;
	  animation-duration: 0.3s;
	  animation-fill-mode: forwards;
	}

	.dialog-close-out {
	  animation-name: anim-close-out;
	  animation-duration: 0.3s;
	  animation-fill-mode: forwards;
	}

	/* modal2 */
	.tec-spac-t {
	  font: normal normal 600 20px/24px urbane;
	  border-bottom: 2px solid #eee;
	  padding-bottom: 4px;
	}
	.tec-spac-b {
	  display: flex;
	  flex-wrap: wrap;
	  align-items: baseline;
	  justify-content: space-between;
	}
	.tec-spac-b .tec-spac-item {
	  display: flex;
	  flex-direction: column;
	  width: 30%;
	  align-items: baseline;
	  margin-bottom: 24px;
	}
	.tec-spac-item2 {
	  justify-content: space-between;
	}
	.tec-spac-item2 p {
	  font: normal normal 300 12px/17px urbane;
	  margin: 0;
	  margin-top: 12px;
	  color: #161c1f;
	  width: 30%;
	}
	.tec-spac-item2 img {
	  width: 66%;
	}
	.tec-spac-b .tec-spac-item h4 {
	  font: normal normal 600 16px/25px urbane;
	  margin: 0;
	  color: #4d4d4d;
	}
	.tec-spac-b .tec-spac-item p {
	  font: normal normal 300 12px/17px urbane;
	  margin: 0;
	  margin-top: 12px;
	  color: #161c1f;
	}
	@media screen and (max-width: 500px) {
	  .order-modal-layer .order-layer-box {
		width: 90vw;
		min-width: auto;
	  }
	  #chord-dom,
	  #chordx-dom {
		flex-direction: column-reverse;
	  }
	  .sizefit-box {
		width: 100%;
	  }
	  .order-modal-layer .sizefit-switch {
		width: calc(100% - 40px);
		margin: 15px auto;
	  }

	  .order-modal-layer .sizefit-switch button span {
		font-size: 12px;
	  }

	  .sizefit-bg {
		flex: inherit;
		height: 190px;
		width: 100%;
		margin-left: 0;
		margin-bottom: 20px;
	  }
	  .tec-spac-b {
		flex-direction: column;
	  }
	  .tec-spac-b .tec-spac-item {
		width: 100%;
	  }

	  .tec-spac-item2 {
		flex-direction: column;
	  }
	  .tec-spac-item2 p {
		width: 100%;
	  }
	  .tec-spac-item2 img {
		width: 100%;
		margin-top: 30px;
	  }
	}
	@keyframes anim-open {
	  0% {
		opacity: 0;
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	  }
	  100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	  }
	}
@keyframes anim-close-out {
	  0% {
		opacity: 1;
	  }

	  100% {
		opacity: 0;
	  }
	}
  </style>

<style>
.order-modal-layer-three .tec-spac-b .tec-spac-item {
  width: 50%;
  padding: 15px 175px 15px 0;
  box-sizing: border-box;
}


.order-modal-layer-three .opacity {
  opacity: 0.7;
  margin-top: 15px;
}

.order-modal-layer-three .opacity p {
  color: #000;
}

.order-modal-layer-three .tec-spac-item2 {
  align-items: flex-start;
}

.order-modal-layer-three .tec-spac-item2 > div {
  display: flex;
  flex-direction: column;
  padding:0 30px 60px 0;
}

.order-modal-layer-three .tec-spac-item2 > img {
  width: 100%;
  margin-top: 15px;
}

.order-modal-layer-three .tec-spac-item2 > div p {
  width: auto;
}

.order-modal-layer-three .tec-spac-item2 > div p:last-child {
  margin-top: 30px;
}

.order-modal-layer-three .opacity p:first-child {
  font-weight: 600;
}

.order-modal-layer-three .tec-spac-b .tec-spac-item h4,
.order-modal-layer-three .tec-spac-t {
  color: #000;
}


@media screen and (max-width: 500px) {
  .order-modal-layer-three .tec-spac-item2 {
	  position: relative;
	  padding-bottom: 100px;
  }

  .order-modal-layer-three .tec-spac-item2 a {
	  position: absolute;
	  bottom: 40px;
  }

  .order-modal-layer-three .tec-spac-b .tec-spac-item {
	  width: auto;
	  padding-right: 0;
  }

  .order-modal-layer-three .tec-spac-item2 > div {
	  padding-right: 0;
	  padding-bottom: 0;
  }
}

</style>

<style>
.faq-navigation {
	display: flex;
	font: normal normal 600 24px / 34px Proxima Nova;
	letter-spacing: 0;
	color: #707070;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	display: none;
}

.faq-navigation .swiper-pagination {
	position: static;
	width: auto;
}

.faq-navigation .prev_btn,
.faq-navigation .next_btn {
	font-family: fontAwesome;
	display: inline-block;
	height: 51px;
	width: 51px;
	text-align: center;
	line-height: 51px;
	border-radius: 50%;
	cursor: pointer;
	font-weight: 650;
	font-size: 30px;
	color: #707070;
	box-shadow: unset;
}

.faq-navigation .prev_btn:before {
	content: '\f104';
}

.faq-navigation .next_btn:before {
	content: '\f105';
}

#faq-list .faq-title {
	/* width: 100%; */
	height: auto;
	display: block;
	border-style: solid;
	border-width: 0 0 1px;
	border-color: #ebebeb;
	text-align: left;
	font: normal normal 600 16px/28px Urbane;
	letter-spacing: 0;
	padding: 19px 0px 12px 100px;
	color: #000;
	background: #fff;
	position: relative;
	cursor: pointer;
}

#faq-list .faq-title i {
	position: absolute;
	/* right: 20px; */
	left: 30px;
	display: inline-block;
	font-size: 17px;
	line-height: 1;
	font-family: FontAwesome !important;
	font-style: normal;
	text-rendering: auto;
	transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#faq-list .faq-content {
	display: none;
	padding: 12px 100px;
	font: normal normal normal 14px/20px Urbane;
	color: #000;
	opacity: 0.7;
}

#faq-list .faq-content-plus {
	transform: rotate(90deg);
}

#faq-list .faq-title .faq-content-plus:before {
	content: '\f067';
}

#faq-list .faq-title i:before {
	content: '\f068';
}

#faq .titlee {
	font: normal normal 600 20px/24px Urbane;
	color: #000;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 20px;
}

#faq .swiper {
	max-height: 420px;
	overflow: auto;
}

#faq .buttons {
	padding-top: 20px;
}

#faq .buttons a + a {
	margin-left: 10px;
}

@media screen and (max-width: 750px) {
	#faq {
		margin: 0 -25px -25px;
	}

	#faq .swiper {
		padding-right: 10px;
	}
	
	#faq .titlee {
		margin-right: 10px;
	}

	#faq .swiper {
		max-height: 50vh;
		overflow: auto;
	}

	#faq-list .faq-title {
		font-size: 14px;
		line-height: 16px;
		padding: 19px 0px 12px 35px;
	}

	#faq-list .faq-title i {
		left: 10px;
		top: 20px;
	}

	#faq-list .faq-content {
		padding-left: 35px;
		padding-right: 0;
	}

	.order-modal-four .order-modal-layer-four .order-layer-header {
	  padding-left: 0;
	}
}</style>

<div class="order-modal-layer order-modal-one">
	<div class="order-layer-box order-modal-layer-one">
	  <div class="order-layer-header order-flex-row">
		<h3>Size & Fit</h3>
		<span onclick="onCloseOrderLayer()">✕</span>
	  </div>
	  <div style="overflow-y: auto;max-height: 550px;">
	  <div class="sizefit-switch order-flex-row">
		<div class="switch-radio">
		  <input id="tab-1" name="Chord" type="radio" checked />
		  <button class="btn">Medium<br><span>Fit for 170-185 cm</span></button>
		</div>
		<div class="switch-radio">
		  <input id="tab-2" name="Chord" type="radio" />
		  <button class="btn">Large<br><span>Fit for 180-195 cm</span></button>
		</div>
	  </div>
	  <div class="order-layer-body order-flex-row" style="min-height: 400px">
		<!-- 内容 -->

		<div id="chord-dom" class="order-flex-row" style="width: 100%">
		  <div class="sizefit-box">
			<div class="sizefit-item order-flex-row">
			  <p>A. Standover height</p>
			  <span>800 mm</span>
			</div>
			<div class="sizefit-item order-flex-row">
			  <p>B. Adjustable seat range</p>
			  <span>60 mm</span>
			</div>
			<div class="sizefit-item order-flex-row">
			  <p>C. Handlebar grips height</p>
			  <span>1010 mm</span>
			</div>
			<div class="sizefit-item order-flex-row">
			  <p>D. Seat tube length</p>
			  <span>460 mm</span>
			</div>
			<div class="sizefit-item order-flex-row">
			  <p>E. Wheelbase</p>
			  <span>1080 mm</span>
			</div>
			<div class="sizefit-item order-flex-row">
			  <p>F. Overall length</p>
			  <span>1810 mm</span>
			</div>
			<div class="sizefit-item order-flex-row">
			  <p>G. Wheel diameter</p>
			  <span>690 mm</span>
			</div>
			<div class="sizefit-item order-flex-row">
			  <p>H. Top tube length (effective)</p>
			  <span>580 mm</span>
			</div>
			<div class="sizefit-item order-flex-row">
			  <p>I. Head tube length</p>
			  <span>170 mm</span>
			</div>
			<div data-last="yes" class="sizefit-item order-flex-row">
			  <p>J. Headset height</p>
			  <span>100 mm</span>
			</div>
		  </div>
		  <div class="sizefit-bg"></div>
		</div>

		<div
		  id="chordx-dom"
		  class="order-flex-row"
		  style="width: 100%; display: none"
		>
		  <div class="sizefit-box">
			<div class="sizefit-item order-flex-row">
				<p>A. Standover height</p>
				<span>840 mm</span>
			  </div>
			  <div class="sizefit-item order-flex-row">
				<p>B. Adjustable seat range</p>
				<span>60 mm</span>
			  </div>
			  <div class="sizefit-item order-flex-row">
				<p>C. Handlebar grips height</p>
				<span>1020 mm</span>
			  </div>
			  <div class="sizefit-item order-flex-row">
				<p>D. Seat tube length</p>
				<span>500 mm</span>
			  </div>
			  <div class="sizefit-item order-flex-row">
				<p>E. Wheelbase</p>
				<span>1120 mm</span>
			  </div>
			  <div class="sizefit-item order-flex-row">
				<p>F. Overall length</p>
				<span>1850 mm</span>
			  </div>
			  <div class="sizefit-item order-flex-row">
				<p>G. Wheel diameter</p>
				<span>690 mm</span>
			  </div>
			  <div class="sizefit-item order-flex-row">
				<p>H. Top tube length (effective)</p>
				<span>610 mm</span>
			  </div>
			  <div class="sizefit-item order-flex-row">
				<p>I. Head tube length</p>
				<span>180 mm</span>
			  </div>
			  <div data-last="yes" class="sizefit-item order-flex-row">
				<p>J. Headset height</p>
				<span>100 mm</span>
			  </div>
		  </div>
		  <div class="sizefit-bg"></div>
		</div>
	  </div>
				  
	  </div>
	</div>
  </div>

  <div class="order-modal-layer order-modal-two">
	<div class="order-layer-box order-modal-layer-two">
	  <div class="order-layer-header order-flex-row">
		<h3>Technical Specifications</h3>
		<span onclick="onCloseOrderLayer()">✕</span>
	  </div>
	  <div
		class="order-layer-body tec-spac"
		style="height: 500px; overflow-y: auto"
	  >
		<h3 class="tec-spac-t">Smart</h3>
		<div class="tec-spac-b order-flex-row">
		  <div class="tec-spac-item order-flex-row">
			<h4>Smartbar features</h4>
			<p>
				Voice control, fingerprint unlock, LED dot-matrix display
			</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Connectivity</h4>
			<p>eSIM with 4G, Bluetooth & WiFi</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>IoT sensors</h4>
			<p>Accelerometer, gyroscope, torque</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>App</h4>
			<p>iOS & Android</p>
		  </div>
		</div>

		<h3 class="tec-spac-t">Power</h3>
		<div class="tec-spac-b order-flex-row">
		  <div class="tec-spac-item order-flex-row">
			<h4>Motor</h4>
			<p>Carbon 1: 36V 250W(rated), 35 N.m <br>Carbon 1s: 36V 250W(rated), 45 N.m </p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Speed modes</h4>
			<p>Pedal, Eco, Comfort, Sport, Turbo</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Top speed (assisted)</h4>
			<p>16 mph (25 km/h)</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Range</h4>
			<p>40~100 km</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Removable battery</h4>
			<p>9.8 Ah 352.8 Wh Samsung Li-ion, 2.5-hr quick charge</p>
		  </div>
		  <div style="width: 30%"></div>
		</div>

		<h3 class="tec-spac-t">General</h3>
		<div class="tec-spac-b order-flex-row">
		  <div class="tec-spac-item order-flex-row">
			<h4>Weight</h4>
			<p>Carbon 1:&nbsp;&nbsp;15 kg<br>Carbon 1s: &nbsp;&nbsp;15.8 kg</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Payload Capacity</h4>
			<p>Max. 110 kg</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Size</h4>
			<p>Medium, Large (see Size Guide)</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Body material</h4>
			<p>Carbon fiber (frame, fork, handlebar, seatpost)</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Brakes</h4>
			<p>Front & rear dual-piston hydraulic disc</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Gearing</h4>
			<p>Carbon 1: Gates Carbon Drive™ CDN™ belt(up to 30,000km)<br><br>Carbon 1s: Shimano 7-Speed Rear Drivetrain with ALIVIO Rear Derailleur</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Integrated lights</h4>
			<p>StVZO headlight; Advanced Rear Early-indication System (ARES)</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Wheels</h4>
			<p>700C (ISO 622 mm BSD), inner rim 19 mm</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Tires</h4>
			<p>Kenda Kwest 700x35C (35 mm / 1.4”) (30~45 mm compatible)</p>
		  </div>
		</div>

		<h3 class="tec-spac-t">What’s in the Box</h3>
		<div class="tec-spac-b order-flex-row">
		  <div class="tec-spac-item order-flex-row">
			<h4>Urtopia Carbon one</h4>
			<p>Front Wheel, Frame, Seatpost, saddle, Pedals</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Removable battery</h4>
			<p>Battery, Charger, Battery key</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Frame (accessory) bag</h4>
			<p>4mm Allen wrench, 15mm combination wrench, front-wheel quick-release device</p>
		  </div>
		  <div style="width: 30%"></div>
		</div>
	  </div>
	</div>
  </div>

  <div class="order-modal-layer order-modal-three">
	<div class="order-layer-box order-modal-layer-three">
	  <div class="order-layer-header order-flex-row">
		<h3>Urtopia Caring</h3>
		<span onclick="onCloseOrderLayer()">✕</span>
	  </div>
	  <div
		class="order-layer-body tec-spac"
		style="height: 500px; overflow-y: auto"
	  >
		<h3 class="tec-spac-t">Customer-Centric</h3>
		<div class="tec-spac-b order-flex-row">
		  <div class="tec-spac-item order-flex-row">
			<h4>2-Year Warranty</h4>
			<p>
			  All Urtopia bikes are covered under our 2-year Limited Warranty for the owner against all manufacturing defects.
			</p>
			<div class="opacity">
			  <p>Easy to Claim Process</p>
			  <p>Contact care@newurtopia.com for warranty claims</p>
			</div>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>14-Day Free Return</h4>
			<p style="height: 51px;">Free return of unused products within 14 days of delivery.</p>
			<div class="opacity">
			  <p>Favorable Shipping Fees</p>
			  <p>Free shipping for defective-on-arrivals, and lower fees for returns/replacements.</p>
			</div>
		  </div>
		</div>

		<h3 class="tec-spac-t">Authorised Service Providers</h3>
		<div class="tec-spac-item2 order-flex-row">
		  <div>
			  <p>
			  We have over 20 authorized repair shops across major cities in Germany to provide reliable after-sales service for our e-bikes. Our repair partners are experts in their field and have been carefully selected and trained to provide you with quality products and services. Simply visit one of our authorized repair shops for repairs or maintenance. We’re committed to ensuring that you have a positive experience with our e-bikes.
			  </p>
			  <p>
				  <a class="my-button my-button-black" href="/pages/find-a-dealer">Find stores</a>
			  </p>
		  </div>
		  <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20688.jpg?v=1678179893"/>
		 
		</div>

		<h3 class="tec-spac-t">Urtopia Care</h3>
		<div class="tec-spac-b order-flex-row">
		  <div class="tec-spac-item order-flex-row">
			<h4>Tutorials & FAQs</h4>
			<p>
			  Our comprehensive online resources include detailed instruction, troubleshooting videos with step-by-step teaching, and FAQ to address your concerns.
			</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Help with my bike</h4>
			<p>
			  Something not right with your bike? We’ll guide you step by step to resolve the issue.
			</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Talk to Us</h4>
			<p>
			  Our expert service representatives can effectively identify and solve uncommon issues to ensure your satisfaction.
			</p>
		  </div>
		  <div class="tec-spac-item order-flex-row">
			<h4>Video Calls</h4>
			<p>
			  Connect with our friendly technical team in real-time via Zoom for patient, expert guidance on any issue.
			</p>
		  </div>
		  <a class="my-button my-button-black" href="/pages/care">Support info</a>
		</div>
	  </div>
	</div>
  </div>

  <div class="order-modal-layer order-modal-four">
	<div class="order-layer-box order-modal-layer-four">
	  <div class="order-layer-header order-flex-row">
		<h3>FAQs</h3>
		<span onclick="onCloseOrderLayer()">✕</span>
	  </div>
	  <div class="order-layer-body tec-spac">
		<div id="faq">
			<div class="titlee">Urtopia Carbon 1 FAQs</div>
			<div id="faq-list" class="swiper swiper-no-swiping">
				<div class="swiper-wrapper" id="detailImgSwiper">
					<div class="swiper-slide">

						<div class="faq-item">
							<div class="faq-title">
								<span>Why Choose Urtopia?</span>
								<i class="faq-content-plus"></i>
							</div>
							<div class="faq-content">
								At Urtopia, we are passionate about creating the ultimate riding experience for our
								customers. Our focus on technology and design sets us apart from other brands, and
								we pride ourselves on providing exceptional customer service and support.<br><br> Our
								products are unique and innovative, featuring materials like carbon fiber and
								manufacturing processes like liquid forging that give our bikes a high-tech,
								futuristic look. When you ride an Urtopia ebike, you’ll be the coolest one in the
								street.<br><br> But we’re not just about looks - our bikes are the smartest ebikes on the
								market, thanks to our cutting-edge algorithms and control technology. Our bikes are
								equipped with GPS, torque, speed, gyroscope, etc. All of these sensors work together
								and under our intelligent algorithms to provide a seamless and intelligent riding
								experience, with features like theft prevention, bike finding, and user community,
								as well as smart online repair and maintenance services.<br><br> We believe in providing
								exceptional customer service and support. Our internal aftersales service team
								includes English and German-speaking customer service representatives and technical
								support personnel. We strive to respond to user requests within 24 hours, diagnose
								and develop solutions to problems, and provide personalized and attentive support to
								our customers.<br><br> In the United States and Germany, we work with partners to build
								aftersales centers, manage spare parts, and provide in-store repairs and maintenance
								services in over 20 stores in the US and over 30 stores in Germany. Our goal is to
								provide our customers with the best possible riding experience and to be there for
								them every step of the way. Choose Urtopia and join us on the ride of a lifetime!
							</div>
						</div>

						

						<div class="faq-item">
							<div class="faq-title">
								<span>What are the height and weight limits for riders in Carbon 1?</span>
								<i class="faq-content-plus"></i>
							</div>
							<div class="faq-content">
								Our full carbon ebike is designed for cyclists with a height range from 170cm - 195cm, the maximal weight bearing is 110kg.
							</div>
						</div>

						<div class="faq-item">
							<div class="faq-title">
								<span>What does ‘Full Carbon Fiber’ mean?</span>
								<i class="faq-content-plus"></i>
							</div>
							<div class="faq-content">
								The frame, fork, seatpost and handlebar are all made of carbon fiber, making the Urtopia a super lightweight 15 kg e-bike. An average girl can carry it upstairs without much effort! You can easily put Urtopia in your bike rack on your car and carry to any places by yourself.
							</div>
						</div>

						<div class="faq-item">
							<div class="faq-title">
								<span>What accessories are included in the bike box?</span>
								<i class="faq-content-plus"></i>
							</div>
							<div class="faq-content">
								It included the Front wheel, 90% assemble bike frame, seatpost & saddle, charger, removable battery, pedals, Frame bag also double as the tools and spare parts bag, battery key. <br><br>In the frame bag it contains every thing you need to assemble the bike: #4 Allen key, Front wheel quick release device, 15 mm wrench and some spare parts.
							</div>
						</div>

						<div class="faq-item">
							<div class="faq-title">
								<span>How do I assemble it when I receive it? How long does it take?</span>
								<i class="faq-content-plus"></i>
							</div>
							<div class="faq-content">
								97% of the customers can be assembled in about 15 minutes, very easy! <br><br><a href="https://www.youtube.com/watch?v=emEmziCSLPQ&list=PLEmHoqEXpfm8rfKg6pZhPtgT2ycj_UAVN&index=2." target="_blank">Here is the video https://www.youtube.com/watch?v=emEmziCSLPQ&list=PLEmHoqEXpfm8rfKg6pZhPtgT2ycj_UAVN&index=2.<a/>
						</div>
					</div>

						<div class="faq-item">
							<div class="faq-title">
								<span>How long does it take to charge the battery? How many miles will it last?</span>
								<i class="faq-content-plus"></i>
							</div>
							<div class="faq-content">
								2.5 hours. Based on lab testing, our ebikes are capable of lasting up to 100km in perfect conditions on a single charge. Actual results will vary depending on weight, weather, terrain, mode, riding habits and battery care.
						</div>
					</div>

						<div class="faq-item">
							<div class="faq-title">
								<span>How does our aftersales service work?</span>
								<i class="faq-content-plus"></i>
							</div>
							<div class="faq-content">
								At Urtopia, we believe that providing excellent customer service is essential. That’s why we have developed a simple and effective workflow through our CARE program that can help you in many ways. <br><br>Using CARE is straightforward and easy. You can submit your requests through any channel, such as email, live chat, or filling out a form on our website. Our experts will contact you within 24 hours and provide you with a range of support and services, through various channels, including email, live chat, phone, and video call. If you need hands-on support, we can guide you to the nearest authorized repair shop for assistance. <br><br>To ensure that you stay informed throughout the process, we have an after-sales service tracking system that allows you to check the progress and expected completion time of your case at any time. <br><br>We understand that encountering issues with your bike can be frustrating and can disrupt your daily routine. Our CARE program is designed to make your experience with Urtopia as seamless and stress-free as possible. We are committed to providing excellent customer service and support, and we genuinely care about your satisfaction. <br><br>In summary, the CARE program is a simple and effective workflow that can help you get the support and services you need quickly and efficiently. We are here to provide you with comprehensive, aware, responsive, and effective (C.A.R.E.) support and ensure that you have a positive experience with Urtopia.
						</div>
					</div>

					</div>
				</div>
				<div class="btnWraped faq-navigation">
					<div class="prev_btn" onclick="faqSwiperPrev()"></div>
					<div class="swiper-pagination"></div>
					<div class="next_btn" onclick="faqSwiperNext()"></div>
				</div>
			</div>
			<div class="buttons">
				<a class="my-button my-button-black" href="https://newurtopiahelp.zendesk.com/hc/de">Read More</a>
				<a class="my-button my-button-white" href="/pages/contactus">Contact Us</a>
			</div>
		</div>
	</div>
	</div>
  </div>

  <script>
	const chordTab = document.getElementById("tab-1");
	  const chordXTab = document.getElementById("tab-2");
	  const chordDom = document.getElementById("chord-dom");
	  const chordXDom = document.getElementById("chordx-dom");
  
	  chordTab.addEventListener("click", function () {
		chordDom.style.display = "flex";
		chordXDom.style.display = "none";
	  });
	  chordXTab.addEventListener("click", function () {
		chordDom.style.display = "none";
		chordXDom.style.display = "flex";
	  });
	
	function onCloseOrderLayer() {
		let arr = ["order-modal-one", "order-modal-two", "order-modal-three", "order-modal-four"];
		let arr2 = [
		  "order-modal-layer-one",
		  "order-modal-layer-two",
		  "order-modal-layer-three",
		  "order-modal-layer-four"
		];
		arr2.map((u) => {
		  const dom = document.querySelector(`.${u}`);
		  if (dom) {
			dom.className = `order-layer-box ${u} dialog-close`;
			setTimeout(() => {
			  dom.className = dom.className.replace("dialog-close", "").trim();
			}, 100);
		  }
		});
		arr.map((u) => {
		  const dom = document.querySelector(`.${u}`);
		  if (dom) {
			dom.className += " dialog-close-out";
			setTimeout(() => {
			  dom.className = dom.className.replace("dialog-close-out", "").trim();
			  dom.style.display = "none";
			}, 300);
		  }
		});
	  }
  
	  $('.faq-title').click(function () {
		$(this)
		  .siblings('.faq-content')
		  .slideToggle()
		  .parent()
		  .siblings()
		  .find('.faq-content')
		  .slideUp();
		$(this).children('i').toggleClass('faq-content-plus');
		$(this)
		  .parent()
		  .siblings()
		  .find('.faq-title')
		  .children('i')
		  .addClass('faq-content-plus');
	  });
  </script>
  {% if template == "product.pf-b10ddb73" %}
	  <script>
	document.getElementById("sizefit-btn").onclick = function () {
		const layer = document.querySelector(".order-modal-one");
		const laybox = document.querySelector(".order-modal-layer-one");
		layer.style.display = "flex";
		laybox.className += " dialog-open";
	  };
	document.getElementById("tspec-btn").onclick = function () {
		const layer = document.querySelector(".order-modal-two");
		const laybox = document.querySelector(".order-modal-layer-two");
		layer.style.display = "flex";
		laybox.className += " dialog-open";
	  };
	document.getElementById("ucare-btn").onclick = function () {
		const layer = document.querySelector(".order-modal-three");
		const laybox = document.querySelector(".order-modal-layer-three");
		layer.style.display = "flex";
		laybox.className += " dialog-open";
	  };
  
	  document.getElementById("faqs-btn").onclick = function () {
		const layer = document.querySelector(".order-modal-four");
		const laybox = document.querySelector(".order-modal-layer-four");
		layer.style.display = "flex";
		laybox.className += " dialog-open";
	  };
  </script>
  {% endif %}