<div class="size-and-specs">
  <div class="centeral-content">
    <div class="item">
      <div class="u36DemiBold_v2"><img
          class="down"
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20413.svg?v=1688982520"
          alt="" /> Size Guide</div>
      <div class="content">
        <div class="switch">
            <div class="switch-radio">
              <input id="tab-1" name="Chord" type="radio" checked>
              <button class="btn active">Chord</button>
            </div>
            <div class="switch-radio">
              <input id="tab-2" name="ChordX" type="radio">
              <button class="btn">Chord X</button>
            </div>
          </div>
        <div class="sizes">
            <div class="lines">
                <!--<div class="line u17DemiBold_v2">
                  <span style="color: #fff;">aaa</span>
                  <span>Small<br>(mm)</span>
                  <span>Medium<br>(mm)</span>
                  <span>Large<br>(mm)</span>
                </div>-->
                <div class="line">
                  <span>Recomm. rider height</span>
                  <span>5’7’’~6’5’’</span>
                </div>
                <div class="line">
                  <span>A. Standover height</span>
                  <span>810 mm</span>
                </div>
                <div class="line">
                  <span>B. Adjustable seat range</span>
                  <span>100 mm</span>
                </div>
                <div class="line">
                  <span>C. Handlebar grips height</span>
                  <span>1100-1130 mm</span>
                </div>
                <div class="line">
                  <span>D. Seat tube length</span>
                  <span>500 mm</span>
                </div>
                <div class="line">
                  <span>E. Wheelbase</span>
                  <span>1094 mm</span>
                </div>
                <div class="line">
                  <span>F. Overall length</span>
                  <span>1800 mm</span>
                </div>
                <div class="line">
                  <span>G. Wheel diameter</span>
                  <span>700 mm</span>
                </div>
                <div class="line">
                  <span>H. Top tube length (effective)</span>
                  <span>620 mm</span>
                </div>
                <div class="line">
                  <span>I. Head tube length</span>
                  <span>200 mm</span>
                </div>
                <div class="line">
                  <span>J. Headset height</span>
                  <span>90-120mm</span>
                </div>
              </div>
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20267.svg" alt="">
        </div>
      </div>
    </div>
    <div class="item __pf __pf_kIY6jB09">
      <div class="u36DemiBold_v2" style="border: none;    margin-bottom: 20px;"><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20413.svg?v=1688982520" alt="">Specs</div>
      <div class="content" style="display: none;">
        <div
          data-section-id="pf-10fe"
          data-pf-type="Section"
          class="sc-fmciRz bheIgq pf-492_ pf-hide">
          <div style="--cw:1280px" class="sc-gjNHFA gwWIgj">
            <div
              class="sc-ezbkAF A-dmbO pf-504_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-505_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-506_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-508_">Smart</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-509_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-510_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-511_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-513_">Smartbar features</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-514_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-516_">Voice control, fingerprint start, LED dot-matrix display, haptic interaction, bluetooth music, built-in navigation, GPS tracking, OTA upgrade</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-517_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-518_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-520_">Connectivity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-521_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-523_">Connect Service with 4G, Bluetooth &amp; WiFi</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-524_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-525_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-527_">IoT sensors</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-528_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-530_">Accelerometer, gyroscope, torque</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-531_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-532_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-533_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-535_">App</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-536_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-538_">iOS &amp; Android</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-539_"></div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-540_"></div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-541_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-542_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-543_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-545_">Power</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-546_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-547_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-548_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-550_">Motor</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-551_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-553_">Customized rear hub, 36 V 350 W, 45 N⋅m</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-554_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-555_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-557_">Speed modes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-558_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-560_">Pedal, Eco, Comfort, Sport, Turbo</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-561_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-562_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-564_">Top speed (assisted)</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-565_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-567_">20 mph</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-568_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-569_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-570_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-572_">Range</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-573_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-575_">31~75 miles</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-576_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-577_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-579_">Removable battery</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-580_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-582_">352.8 Wh Samsung Li-ion, 3-hr quick charge</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-583_"></div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-584_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-585_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-586_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-588_">General</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-589_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-590_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-591_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-593_">Weight</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-594_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-596_">46 lbs.</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-597_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-598_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-600_">Payload Capacity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-601_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-603_">287 lbs.</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-604_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-605_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-607_">Sizes&nbsp;</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-608_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-610_">Chord: 5‘7’‘ – 6’5‘’<br>Chord X: 5‘3’‘ – 6’1‘’</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-611_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-612_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-613_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-615_">Body material</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-616_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-618_">6061 aluminum with liquid forging technology.</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-619_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-620_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-622_">Brakes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-623_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-625_">TEKTRO hydraulic disc brakes</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-626_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-627_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-629_">Tires</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-630_ Body" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-632_">CST C1720, 700 x 42C with reflective strips</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-633_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-634_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-635_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-637_">Integrated lights</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-638_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-640_">StVZO headlight; rear light</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-641_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-642_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-644_">Wheels</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-645_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-647_">700C (ISO 622 mm BSD), inner rim 19 mm</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-648_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-649_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-651_">Gearing</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-652_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-654_">8-Speed Shimano rear derailleur</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-655_ pf-r pf-r-eh pf-lg-hide pf-md-hide pf-sm-hide"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-656_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-657_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-659_">What’s in the Box</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-660_ pf-r pf-r-eh pf-lg-hide pf-md-hide pf-sm-hide"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-661_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-662_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-664_">Urtopia Carbon one</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-665_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-667_">Front Wheel, Frame, Seatpost, saddle, Pedals</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-668_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-669_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-671_">Removable battery</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-672_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-674_">Battery, Charger, Battery key</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-675_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-676_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-678_">Frame (accessory) bag
                    </span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-679_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-681_">4mm Allen wrench, 15mm combination wrench, front-wheel quick-release device</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          data-section-id="pf-2917"
          data-pf-type="Section"
          class="sc-fmciRz bheIgq pf-682_ pf-lg-hide pf-md-hide pf-sm-hide">
          <div style="--cw:1170px" class="sc-gjNHFA gwWIgj">
            <div
              class="sc-ezbkAF A-dmbO pf-695_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-696_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-697_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-699_">Smart</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-700_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-701_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-702_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-704_">Smartbar features</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-705_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-707_">Voice control, fingerprint start, LED dot-matrix display, haptic interaction, bluetooth music, built-in navigation, GPS tracking, OTA upgrade</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-708_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-709_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-711_">Connectivity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-712_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-714_">Connect Service with 4G, Bluetooth & WiFi</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-715_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-716_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-718_">IoT sensors</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-719_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-721_">Accelerometer, gyroscope, torque</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-722_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-723_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-724_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-726_">App</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-727_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-729_">iOS &amp; Android</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-730_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-731_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-732_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-734_">Power</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-735_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-736_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-737_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-739_">Motor</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-740_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-742_">Customized rear hub, 36 V 350 W, 45 N⋅m</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-743_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-744_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-746_">Speed modes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-747_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-749_">Pedal, Eco, Comfort, Sport, Turbo</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-750_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-751_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-753_">Top speed (assisted)</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-754_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-756_">20 mph</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-757_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-758_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-759_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-761_">Range</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-762_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-764_">31~75 miles</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-765_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-766_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-768_">Removable battery</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-769_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-771_">352.8 Wh Samsung Li-ion, 3-hr quick charge</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-772_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-773_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-774_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-776_">General</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-777_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-778_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-779_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-781_">Weight</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-782_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-784_">46 lbs.</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-785_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-786_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-788_">Payload Capacity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-789_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-791_">287 lbs.</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-792_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-793_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-795_">Sizes&nbsp;</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-796_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-798_">Chord: 5‘7’‘ – 6’5‘’<br>Chord X: 5‘3’‘ – 6’1‘’</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-799_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-800_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-801_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-803_">Body material</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-804_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-806_">6061 aluminum with liquid forging technology.</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-807_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-808_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-810_">Brakes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-811_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-813_">TEKTRO hydraulic disc brakes</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-814_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-815_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-817_">Tires</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-818_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-820_">CST C1720, 700 x 42C with reflective strips</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-821_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-822_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-823_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-825_">Integrated lights</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-826_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-828_">StVZO headlight; rear light</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-829_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-830_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-832_">Wheels</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-833_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-835_">700C (ISO 622 mm BSD), inner rim 19 mm</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-836_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-837_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-839_">Gearing</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-840_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-842_">8-Speed Shimano rear derailleur</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-843_ pf-r pf-r-eh pf-hide"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-844_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-845_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-847_">What’s in the Box</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-848_ without-padding-bt pf-r pf-r-eh pf-hide"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-849_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-850_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-852_">Urtopia Carbon one</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-853_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-855_">Front Wheel, Frame, Seatpost, saddle, Pedals</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-856_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-857_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-859_">Removable battery</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-860_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-862_">Battery, Charger, Battery key</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-863_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-864_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-866_">Frame (accessory) bag
                    </span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-867_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-869_">4mm Allen wrench, 15mm combination wrench, front-wheel quick-release device
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  $('.size-and-specs .u36DemiBold_v2').click(function() {
    $(this)
      .siblings('.size-and-specs .content')
      .slideToggle()
      .parent()
      .siblings()
      .find('.size-and-specs .content')
      .slideUp();
    $(this).children('img').toggleClass('down');
    $(this)
      .parent()
      .siblings()
      .find('.size-and-specs .u36DemiBold_v2')
      .children('img')
      .addClass('down');
  });

  const sizes = {
    Chord: [
        '5’7’’~6’5’’',
        '810 mm',
        '100 mm',
        '1100-1130 mm',
        '500 mm',
        '1094 mm',
        '1800 mm',
        '700 mm',
        '620 mm',
        '200 mm',
        '90-120mm'
    ],
    ChordX: [
        '5’3’’~6’1’’',
        '670 mm',
        '80 mm',
        '1100-1130 mm',
        '327 mm',
        '1094 mm',
        '1800 mm',
        '700 mm',
        '620 mm',
        '200 mm',
        '90-120mm'
    ]
  }


  $('.size-and-specs .switch .switch-radio input').on('click', function (e) {
    $('.size-and-specs .switch .switch-radio input').prop('checked', false)

    const input = $(e.target).prop('checked', true)
    const name = input.attr('name')

    if (name === 'Chord') {
        $('.size-and-specs .sizes img').attr('src', 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20267.svg')
    } else {
        $('.size-and-specs .sizes img').attr('src', 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20662.svg')
    }

    $('.size-and-specs .sizes .lines .line span:last-child').each((i, e) => {
        $(e).text(sizes[name][i])
    })

    $(this).parent().parent().find('.btn').removeClass('active')

    setTimeout(() => {
        $(this).siblings().addClass('active')
    }, 30)
  })
</script>