<script>
  window.dataLayer = window.dataLayer || [];
  console.log('current_template_id:', '{{ template }}');
  console.log('current_template_name:', '{{ template.name }}');
  window.sessionStorage.checkout_email = '';
  window.sessionStorage.checkout_email_local = '';
  window.sessionStorage.carbon_one_a_b_test_flag = 'B';
  function fetchBuried(name = '', type = '', data = {}, isSendBeacon = false) {
    const body = {
      module: 'website-us',
      trace_name: `${name}-us`,
      trace_type: `${type}-${document.body.clientWidth > 768 ? 'pc' : 'mb'}`,
      extras: data,
    };
    return isSendBeacon
      ? navigator.sendBeacon('https://api.newurtopia.com/third_part/traces', JSON.stringify(body))
      : fetch('https://api.newurtopia.com/third_part/traces', {
          method: 'POST',
          body: JSON.stringify(body),
          headers: { 'Content-Type': 'application/json' },
        });
  }
  function getSearchValues() {
    const search = {};
    const url = new URL(location.href);
    for (const [k, v] of url.searchParams.entries()) {
      search[k] = v;
    }
    return search;
  }
  function replaceSearchValue(k, v) {
    if (!k || !v) {
      return;
    }
    const url = new URL(location.href);
    url.searchParams.set(k, v);
    history.replaceState(null, '', url);
  }
  function getPriceFormat(value = 0, ignoreZero = false) {
    const instance = new Intl.NumberFormat('en-US', {
      style: 'currency',
      currency: Shopify.currency.active,
      roundingMode: 'floor',
      minimumFractionDigits: ignoreZero ? 0 : 2,
      maximumFractionDigits: ignoreZero ? 0 : 2,
    });
    return instance.format(value / 100);
  }
  function throttle(method, delay, duration) {
    var timer = null;
    var begin = new Date();
    return function () {
      var context = this,
        args = arguments;
      var current = new Date();
      clearTimeout(timer);
      if (current - begin >= duration) {
        method.apply(context, args);
        begin = current;
      } else {
        timer = setTimeout(function () {
          method.apply(context, args);
        }, delay);
      }
    };
  }
  function debounce(fn, wait = 300) {
    let time;
    return function (...args) {
      const this_ = this;
      if (time) {
        clearTimeout(time);
      }
      time = setTimeout(function () {
        fn.apply(this_, args);
      }, wait);
    };
  }

  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  if (Shopify.designMode) {
    document.documentElement.classList.add('shopify-design-mode');
  }

  window.task = (() => {
    let next = Promise.resolve();

    const rafTimeout = (fn, time) => new Promise(resolve => {
        const start = performance.now();
        const step = () => 
            performance.now() - start >= time
                ? Promise.resolve().then(fn).catch(console.error).finally(resolve)
                : requestAnimationFrame(step);
        requestAnimationFrame(step);
    });

    return (fn, time = 30) => next = next.then(() => rafTimeout(fn, time));
})();
</script>
<script type="module">
  window.global_config = {
    sale_end_times: [
      { sale_name: `<span style="color: pink;">Valentine's Day</span> <span class="er-text-white">Sale</span>`, sale_end_time: '2025-2-7' },
      { sale_name: `Valentine's Day Sale`, sale_end_time: '2025-2-10' },
      { sale_name: `Valentine's Day Sale`, sale_end_time: '2025-2-15' },
      { sale_name: `Spring Cycling Fest`, sale_end_time: '2025-2-17' }
    ],
    event_bike_product_id: '7902779474168',
    event_accessories_variant_ids: ['43830635561208', '43858617204984'],
    is_mobile: document.documentElement.clientWidth < 768,
    is_pc: !!!navigator.userAgent.match(
      /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
    ),
    dialog: {
      email: {
        is_hide: false,
        subscribe_email_close_expires_time: 1,
        subscribe_email_message_close_expires_time_mb: 3,
        subscribe_email_message_close_expires_time_pc: 1,
        submit_expires_time: 30,
        close_expires_time: 3,
        show_delay_time: 15,
      },
      test_ride: { is_hide: false, submit_expires_time: 7, close_expires_time: 3, show_delay_time: 15 },
    }
  };
</script>
