<div class="home_bike_card er-relative er-pb-40 mb:er-pb-12 er-overflow-x-hidden" style="--swiper-navigation-size: 27px; --swiper-navigation-color:#fff;">
      <div class="swiper-wrapper mb:er-text-center">
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[280/400] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-2xl mb:er-rounded-xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none mb:er-justify-start">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26435_2x_3b20b0de-ba3d-487f-bce8-fa31b475e537.jpg?v=1761796445", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26399_2x_6bb757d0-b162-4859-8861-d3fec0161541.jpg?v=1761794556', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Fast lanes<br>fewer hassles</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-classic-ebike">Commuter ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[280/400] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-2xl mb:er-rounded-xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none mb:er-justify-start">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26434_2x_9c2831e3-28f1-4a01-9df9-947997dc063e.jpg?v=1761796439", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26398_2x_5e959701-4199-4449-9848-9844c89efe81.jpg?v=1761794550', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Weekend vibes<br>every ride</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-classic-step-thru-ebike">Cruiser ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[280/400] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-2xl mb:er-rounded-xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none mb:er-justify-start">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06367_2x_7a5a08c9-975c-4a2f-a68c-34d05418107a.jpg?v=1761796434", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC06367_2x_6749f00b-7d9f-4d50-86e7-0a178fa638ba.jpg?v=1744696828', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Utility eBike for<br>Urban & Cargo</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-joy-carbon-fat-tire-ebike">Fat Tire ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[280/400] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-2xl mb:er-rounded-xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none mb:er-justify-start">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26433_2x_f104574f-ccea-448e-b9fa-e9c0f2f22e89.jpg?v=1761796427", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25440_2x_a522840a-7bf1-4639-b076-3c0937d08f10.jpg?v=1737452533', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Fitness-focused<br>urban rides</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-1-pro-ebike">Trekking ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[280/400] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-2xl mb:er-rounded-xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none mb:er-justify-start">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF6175_2x_359036ae-172a-48e2-b85b-cd551a70c0d1.jpg?v=1761796419", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/557_new_2x_a8438202-a1f1-447e-a3cc-878bd5b37ff3.jpg?v=1737452439', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Explore the<br>urban landscape</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-1-step-thru-ebike">City ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[280/400] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-2xl mb:er-rounded-xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none mb:er-justify-start">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/557_new_2x_a67a0c12-a036-4b3c-b3c7-f5f9fe911274.jpg?v=1761796413", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF6175_2x_a8f92c97-27f4-4862-a911-cf015a40cde8.jpg?v=1737452434', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Super compact &<br>lightweight, fit anywhere</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-fold">Folding ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[280/400] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-2xl mb:er-rounded-xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none mb:er-justify-start">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26468_2x_618b7255-cb3a-4d1f-acbf-ff2916cf199a.jpg?v=1761796408", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250512-171307.jpg?v=1747041318', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Long-Distance<br>Scenic Rides</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-fusion-pro-carbon-long-range-ebike">Off Road ebike</a>
        </div>
        <div class="swiper-slide er-box-border er-flex er-flex-col background-image er-aspect-[380/500] mb:er-aspect-[280/400] er-max-w-[380px] er-text-white er-justify-end er-items-start er-p-12 er-rounded-2xl mb:er-rounded-xl er-overflow-hidden mb:er-items-center mb:er-p-8 mb:er-max-w-none mb:er-justify-start">
          {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26466_2x_16304cf2-afe5-456d-abff-616365d7c617.jpg?v=1761796404", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25441_2x_90ebacbd-c497-4121-a69d-abe7f7b4ffe2.jpg?v=1737449157', width: 400 %}
          <h3 class="text-size24 er-mb-8 mb:er-mb-6 mb:er-text-3xl">Ride outdoors and<br>explore more trails</h3>
          <a target="_blank" class="er-button er-button-white" href="/products/urtopia-carbon-fusion-gt">Touring ebike</a>
        </div>
      </div>
      <div class="swiper-scrollbar !er-w-full !er-left-0 er-z-[1]" style="z-index:1;"></div>
      <div class="swiper-button-prev er-bottom-12 er-right-[60px] er-left-auto er-top-auto er-bg-dark er-rounded-full er-w-16 er-h-16 after:er-text-3xl mb:er-hidden er-z-2" style="z-index:1;"></div>
      <div class="swiper-button-next er-bottom-12 er-right-0 er-left-auto er-top-auto er-bg-dark er-rounded-full er-w-16 er-h-16 after:er-text-3xl mb:er-hidden er-z-2" style="z-index:1;"></div>
  </div>
  <script type="module">
  $(function() {
    new Swiper('.home_bike_card', {
          slidesPerView: global_config.is_mobile ? 1.25 : 'auto',
          spaceBetween:  20,
          preloadImages: false,
          navigation: {
              nextEl: '.home_bike_card .swiper-button-next',
              prevEl: '.home_bike_card .swiper-button-prev',
          },
          scrollbar: {
              el: '.home_bike_card .swiper-scrollbar',
              draggable: true
          },
      });
  })
</script>