<style>
 @keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animation {
        animation: slide 70s linear infinite;
        width: max-content;
    }

@media (min-width: 768px) {
    .animation:hover {
        animation-play-state: paused;
    }
}
</style>
<div class="er-flex er-gap-x-24 animation mb:er-gap-x-12">
                        <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/417_2x_7d7a93a7-cc2a-4e06-b88d-6b45caf9661d.png?v=1757923033"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Forbes</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Urtopia ebike</b> Best of Forbes<br>Vetted 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19740_2x_8867a638-3e84-4934-9644-5af857f1ebfa.png?v=1757923038"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Popular Science</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Fold 1</b> Popular Science Best<br>of CES 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19739_2x_91379750-2d9b-4a01-9a92-0b9f1db5703d.png?v=1757923043"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">BillBoard</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> Billboard Best of<br>CES 2024</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="180"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19738_2x_49fd06d9-2974-4a68-9aa1-010b1a1d9740.png?v=1757923047"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">FUTURE</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Active Lifestyle<br>Innovation Awards 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/418_2x_e1991aa9-acd1-4983-8f7d-b39edeb8185d.png?v=1757923054"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">ABCNews</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> ABCNews Best<br>Summer Gear</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                     class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19737_2x_24407d76-4489-4c55-ba7f-1e0ae8c7b9e9.png?v=1757923059"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Engadget</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Engadget Best<br>of CES 2025</span>
            </div>
             <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250915-155312.png?v=1757922814"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">FOX</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> FOX5 Best<br>Summer Gear</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19741_2x_de99ccf3-52f3-4f9f-9e4c-773d74fd07a4.png?v=1757923064"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">USA Today</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> USA Today CES<br>Reviewed Awards 2024</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="73"
                    class="mb:er-w-20"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Honoree_2x_b6f9ecd6-d5b7-400d-b5ff-83f01459d0cc.png?v=1757923069"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">CES</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Fusion</b> CES Innovation awards<br>2024 HONOREE</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <div class="er-h-12 mb:er-h-8"></div>
                <img width="150"
                    class="mb:er-w-40"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19742_2x_4308bb2f-a911-4cdd-a7d2-f9248d728e27.png?v=1757923074"
                    alt="" loading="lazy">
                <div class="er-h-8 mb:er-h-5"></div>
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">CTA</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Fold 1</b> CTA Only<br>Ebike Recommendation</span>
            </div>
             <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="150"
                    class="mb:er-w-44"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19743_2x_1ea7a985-f89f-4a75-9ea0-15d7c2321833.png?v=1757923081"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">German Design Award</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Engadget Best<br>of CES 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="188"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/416_2x_a8a8f9c6-cedb-4a01-b8c3-694d4d2eb170.png?v=1757923085"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Good Design Award</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> Good Design<br>Award 2023</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="167"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2025-10-20_09.34.11_2x-removebg-preview.png?v=1760952964"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Yahoo!</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Carbon 1 Pro</b> Yahoo!health<br>Best ebike of 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="167"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19752_2x_88ce4fed-1990-4e9b-a893-246aaa7f4175.png?v=1760952255"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Electric Bike Report</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Carbon Joy</b> Best ebike<br>for women</span>
            </div>
         <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/417_2x_7d7a93a7-cc2a-4e06-b88d-6b45caf9661d.png?v=1757923033"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Forbes</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Urtopia ebike</b> Best of Forbes<br>Vetted 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19740_2x_8867a638-3e84-4934-9644-5af857f1ebfa.png?v=1757923038"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Popular Science</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Fold 1</b> Popular Science Best<br>of CES 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19739_2x_91379750-2d9b-4a01-9a92-0b9f1db5703d.png?v=1757923043"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">BillBoard</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> Billboard Best of<br>CES 2024</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="180"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19738_2x_49fd06d9-2974-4a68-9aa1-010b1a1d9740.png?v=1757923047"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">FUTURE</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Active Lifestyle<br>Innovation Awards 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/418_2x_e1991aa9-acd1-4983-8f7d-b39edeb8185d.png?v=1757923054"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">ABCNews</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> ABCNews Best<br>Summer Gear</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                     class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19737_2x_24407d76-4489-4c55-ba7f-1e0ae8c7b9e9.png?v=1757923059"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Engadget</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Engadget Best<br>of CES 2025</span>
            </div>
             <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250915-155312.png?v=1757922814"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">FOX</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> FOX5 Best<br>Summer Gear</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="100"
                    class="mb:er-w-28"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19741_2x_de99ccf3-52f3-4f9f-9e4c-773d74fd07a4.png?v=1757923064"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">USA Today</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> USA Today CES<br>Reviewed Awards 2024</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="73"
                    class="mb:er-w-20"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Honoree_2x_b6f9ecd6-d5b7-400d-b5ff-83f01459d0cc.png?v=1757923069"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">CES</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Fusion</b> CES Innovation awards<br>2024 HONOREE</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <div class="er-h-12 mb:er-h-8"></div>
                <img width="150"
                    class="mb:er-w-40"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19742_2x_4308bb2f-a911-4cdd-a7d2-f9248d728e27.png?v=1757923074"
                    alt="" loading="lazy">
                <div class="er-h-8 mb:er-h-5"></div>
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">CTA</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Fold 1</b> CTA Only<br>Ebike Recommendation</span>
            </div>
             <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="150"
                    class="mb:er-w-44"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19743_2x_1ea7a985-f89f-4a75-9ea0-15d7c2321833.png?v=1757923081"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">German Design Award</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Urtopia ebike</b> Engadget Best<br>of CES 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="188"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/416_2x_a8a8f9c6-cedb-4a01-b8c3-694d4d2eb170.png?v=1757923085"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Good Design Award</span>
                <span class="text-size12 er-font-bold er-opacity-50  mb:er-text-[11px]"><b>Carbon 1 Pro</b> Good Design<br>Award 2023</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="167"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2025-10-20_09.34.11_2x-removebg-preview.png?v=1760952964"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Yahoo!</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Carbon 1 Pro</b> Yahoo!health<br>Best ebike of 2025</span>
            </div>
            <div
                class="er-flex er-flex-col er-items-center er-justify-center er-text-center er-min-w-[240px] mb:er-min-w-[180px] er-h-96 mb:er-h-72 er-border er-border-solid er-border-border er-rounded-lg">
                <img width="167"
                    class="mb:er-w-52"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19752_2x_88ce4fed-1990-4e9b-a893-246aaa7f4175.png?v=1760952255"
                    alt="" loading="lazy">
                <span class="text-size18 er-font-bold er-pt-6 er-pb-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3 mb:er-text-2xl mb:er-pb-2 mb:er-pt-3">Electric Bike Report</span>
                <span class="text-size12 er-font-bold er-opacity-50 mb:er-text-[11px]"><b>Carbon Joy</b> Best ebike<br>for women</span>
            </div>
        </div>