<div class="product-grid">
      {% assign product = all_products['urtopia-carbon-classic-ebike'] %}
      {% assign product_variants = product.variants | where: 'available' %}
      {% assign product_uhmaya = '38 lbs---Carbon fiber,75 Miles---Max Range,750W---Peak Power,Throttle---Tap to go' | split: ',' %}
      {% render 'product-card-3',
        product_variants: product_variants,
        product_name: 'Carbon 1 Pro',
        product_variant_options_find_sort: 'M,L,S',
        product_description: 'Effortless rides, timeless carbon style',
        product_url: product.url,
        product_uhmaya: product_uhmaya
      %}
      {% assign product = all_products['urtopia-carbon-classic-step-thru-ebike'] %}
      {% assign product_variants = product.variants | where: 'available' %}
      {% assign product_uhmaya = '38 lbs---Carbon fiber,75 Miles---Max Range,750W---Peak Power,Throttle---Tap to go' | split: ',' %}
      {% render 'product-card-3',
        product_variants: product_variants,
        product_name: 'Carbon Fold 1',
        product_description: 'Relaxed cruiser for everyday city use',
        product_url: product.url,
        product_uhmaya: product_uhmaya
      %}
      <div class="gray-background-color u30DemiBold_v2 lozad mobileHide" style="align-items: flex-end;padding-bottom: 25px;border-bottom-left-radius: 15px;" data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC09921_2x_5829f0af-0d41-4631-88e2-65d1b792ddef.jpg?v=1761733720width=500">Lightest Carbon Ebike</div>
      {% assign product = all_products['urtopia-carbon-1-pro-ebike'] %}
      {% assign product_variants = product.variants | where: 'available' %}
      {% assign product_uhmaya = '37 lbs---Carbon fiber,80 Miles---Max Range,750W---Peak Power,GPS---Tracking' | split: ',' %}
      {% render 'product-card-3',
        product_variants: product_variants,
        product_name: 'Carbon 1 Pro',
        product_description: 'City commuting and workout',
        product_variant_options_find_sort: 'M,L,S',
        product_url: product.url,
        product_uhmaya: product_uhmaya
      %}
      {% assign product = all_products['urtopia-carbon-fold'] %}
      {% assign product_variants = product.variants | where: 'available' %}
      {% assign product_uhmaya = '29 lbs---Carbon fiber,40 Miles---Max Range,2 Step---Folding,Torque---Sensor' | split: ',' %}
      {% render 'product-card-3',
        product_variants: product_variants,
        product_name: 'Carbon Fold 1',
        product_description: 'Lightest and smallest foldable ebike',
        product_url: product.url,
        product_uhmaya: product_uhmaya
      %}
      {% assign product = all_products['urtopia-joy-carbon-fat-tire-ebike'] %}
      {% assign product_variants = product.variants | where: 'available' %}
      {% assign product_uhmaya = '45 lbs---Carbon fiber,70 Miles---Max Range,750W---Peak Power,Throttle---Tap to go' | split: ',' %}
      {% render 'product-card-3',
        product_variants: product_variants,
        product_name: 'Joy Carbon E-Bike',
        product_description: 'All-terrain, cargo, family-friendly ride',
        product_url: product.url,
        product_uhmaya: product_uhmaya
      %}
      {% assign product = all_products['urtopia-carbon-1-step-thru-ebike'] %}
      {% assign product_variants = product.variants | where: 'available' %}
      {% assign product_uhmaya = '36 lbs---Carbon fiber,80 Miles---Max Range,750W---Peak Power,GPS---Tracking' | split: ',' %}
      {% render 'product-card-3',
        product_variants: product_variants,
        product_name: 'Carbon 1 Step-Thru',
        product_description: 'Leisure cruising and sightseeing',
        product_url: product.url,
        product_uhmaya: product_uhmaya
      %}
      {% assign product = all_products['urtopia-fusion-pro-carbon-long-range-ebike'] %}
      {% assign product_variants = product.variants | where: 'available' %}
      {% assign product_uhmaya = '48 lbs---Carbon fiber,120 Miles---Max Range,1000W---Peak Power,Throttle---Tap to go' | split: ',' %}
      {% render 'product-card-3',
        product_variants: product_variants,
        product_name: 'Carbon Fusion Pro',
        product_description: 'Explore Further with Dual Battery Range',
        product_url: product.url,
        product_uhmaya: product_uhmaya
      %}
      {% assign product = all_products['urtopia-carbon-fusion-gt'] %}
      {% assign product_variants = product.variants | where: 'available' %}
      {% assign product_uhmaya = '48 lbs---Carbon fiber,120 Miles---Max Range,1500W---Peak Power,Throttle---Tap to go' | split: ',' %}
      {% render 'product-card-3',
        product_variants: product_variants,
        product_name: 'Carbon Fusion GT',
        product_description: 'All-day, all-terrain adventures',
        product_url: product.url,
        product_uhmaya: product_uhmaya
      %}
    </div>