{% assign coun_down = shop.metaobjects.coun_down['coun-down']['list'].value %}
<div id="count-down" class="er-font-base er-bg-black er-text-white er-rounded-2xl er-overflow-hidden er-mb-8 er-relative">
  <div style="background-position-x: right;" class="er-text-4xl mb:er-text-3xl er-font-black er-p-7 mb:er-p-5 er-flex er-items-center er-bg-no-repeat er-bg-contain er-bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26164_2x_6744b2d8-11e8-4646-8033-3ff4e85a83df.png?v=1761814508')]" ddata-name="sale-name">
    EARLY BLACK&nbsp;&nbsp;<span style="color: #FFDF48;">FRIDAY</span>
  </div>
  <div class="er-flex er-flex-col er-px-7 er-py-4 er-items-start er-text-left mb:er-px-5" style="border-top: 1px solid #554B1770;">
    <div class="text-size14 er-text-[13px] er-font-medium">Gear Up! <span style="color: #FFDF48;">Free Air Pump and Rear Rack</span> for the <span style="color: #FFDF48;">First 50 Orders!</span></div>
    <div class="er-bg-[#FFDF4833] er-h-2 er-rounded-3xl er-w-full er-my-4">
        <div class="er-bg-[#FFDF48] er-h-full er-rounded-3xl percent" style="width: 55%;"></div>
    </div>
    <span class="text-size14 er-font-medium mb:er-text-xl"><span style="color: #FFDF48;"><span class="count">26</span> Orders</span> So Far Today</span>
    <span class="text-size12 er-opacity-80 mb:er-text-base">*Freebies will be added to your order automatically later today</span>
  </div>
  <div class="er-grid er-grid-cols-4 er-py-8 er-pb-10 mb:er-py-6 er-divide-x er-divide-y-0 er-divide-solid er-divide-primary/20 er-bg-dark">
    <div class="er-flex er-flex-col er-text-center er-items-center">
      <span class="er-text-6xl mb:er-text-5xl er-font-extrabold" data-name="days">02</span>
      <span class="er-text-base er-mt-2 er-text-white/70">Days</span>
    </div>
    <div class="er-flex er-flex-col er-text-center er-items-center">
      <span class="er-text-6xl mb:er-text-5xl er-font-extrabold" data-name="hours">23</span>
      <span class="er-text-base er-mt-2 er-text-white/70">Hours</span>
    </div>
    <div class="er-flex er-flex-col er-text-center er-items-center">
      <span class="er-text-6xl mb:er-text-5xl er-font-extrabold" data-name="minutes">59</span>
      <span class="er-text-base er-mt-2 er-text-white/70">Minutes</span>
    </div>
    <div class="er-flex er-flex-col er-text-center er-items-center">
      <span class="er-text-6xl mb:er-text-5xl er-font-extrabold" data-name="seconds">59</span>
      <span class="er-text-base er-mt-2 er-text-white/70">Seconds</span>
    </div>
  </div>
</div>
<script type="module">
  if(!window.loaded_sale_countdown){
    function refreshOrders (hours) {
          if (hours < 3) {
             $('#count-down .percent').css('width', '95%')
             $('#count-down .count').text('48')
             return
          }

          if (hours < 6) {
             $('#count-down .percent').css('width', '90%')
             $('#count-down .count').text('45')
             return
          }

          if (hours < 9) {
             $('#count-down .percent').css('width', '80%')
             $('#count-down .count').text('42')
             return
          }

          if (hours < 12) {
             $('#count-down .percent').css('width', '70%')
             $('#count-down .count').text('36')
             return
          }

          if (hours < 15) {
             $('#count-down .percent').css('width', '60%')
             $('#count-down .count').text('30')
             return
          }

          $('#count-down .percent').css('width', '50%')
          $('#count-down .count').text('26')
    };
    const sale_end_times = [];
    {%- for item in coun_down -%}
      sale_end_times.push({ sale_name: `{{  item.sale_name  }}`, sale_end_time: `{{  item.sale_end_time  }}` });
    {%- endfor -%}
    window.loaded_sale_countdown=!0;let e=0,t=("urtopia.myshopify.com"===Shopify.shop?540:-120)*6e4;function n(e=new Date){return e.getTime()+6e4*e.getTimezoneOffset()+t}function o(e){let[o,l,d]=sale_end_times[e].sale_end_time.split("-").map(Number);return $('#count-down > div[data-name="sale-name"]').html(sale_end_times[e].sale_name),n(new Date(Date.UTC(o,l-1,d,0,0,0,0)+t))}let l=[864e5,36e5,6e4,1e3],d=["02","23","59","59"];function a(t){let i=t-n();if(i<=0)return++e>sale_end_times.length-1?($("#count-down").hide(),console.log("Countdown Ended!")):a(o(e));{let s=[];for(let r=0;r<l.length;r++)s[r]=String(Math.floor(i/l[r])).padStart(2,"0"),i%=l[r];let u={};for(let f=0;f<s.length;f++)d[f]!==s[f]&&(u[f]=s[f],d[f]=s[f]);for(let m in u)$(`#count-down .er-grid > div:nth-child(${Number(m)+1})`).find(".er-text-6xl").text(u[m]);0 || refreshOrders(Number(d[1]))}setTimeout(a,1e3,t)}task(()=>{a(o(e))},0)}
</script>
