<div id="buyany"></div>
    <div class="buyany">
        <div class="centeral-content">
            <div class="promo-banner">
                <h2 class="u36DemiBold_v2 er-flex er-flex-col er-items-start">
                    <span class="u24Medium_v2 er-mb-2 mb:!er-text-[15px]">Buy More! Save More!</span>
                    <span>Save Extra $200 on $3000+, $500 on $5000+</span>
                </h2>
            </div>
            <div class="two">
                <div>
                    <div class="selectttttttt">
                        <select name="left"></select>
                    </div>
                    <div class="card">
                        <img src="https://newurtopia.com/cdn/shop/files/19566.png?v=1729236036&width=600"
                            alt="">
                        <div>
                            <div class="style">
                                <span class="u17Medium_v2">Style - </span>
                                <span class="u17Light_v2">Matte Black</span>
                                <div class="dots"></div>
                            </div>
                            <div class="size">
                                <span class="u17Medium_v2">Size - </span>
                                <span class="u17Light_v2">Fit for 5’5-5’11’’ Inseam 30”</span>
                                <div class="sizes"></div>
                            </div>
                            <div class="priceeeeeeeeeeee">
                                <span class="u24DemiBold_v2">$2599</span>
                                <del class="u20Light_v2">$3999</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u48DemiBold_v2 plus">+</div>
                <div>
                    <div class="selectttttttt">
                        <select name="right"></select>
                    </div>
                    <div class="card">
                        <img src="https://newurtopia.com/cdn/shop/files/19566.png?v=1729236036&width=600"
                            alt="">
                        <div>
                            <div class="style">
                                <span class="u17Medium_v2">Style - </span>
                                <span class="u17Light_v2">Matte Black</span>
                                <div class="dots"></div>
                            </div>
                            <div class="size">
                                <span class="u17Medium_v2">Size - </span>
                                <span class="u17Light_v2">Fit for 5’5-5’11’’ Inseam 30”</span>
                                <div class="sizes"></div>
                            </div>
                            <div class="priceeeeeeeeeeee">
                                <span class="u24DemiBold_v2">$2599</span>
                                <del class="u20Light_v2">$3999</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <img class="mobileHide lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ROB00399_2x_65cd9c08-d86c-4f12-b492-25a925a4400c.jpg?v=1731379861&width=500"
                        alt="" />
                    <div>
                        <span class="u24DemiBold_v2">Total</span>
                        <span class="u48DemiBold_v2">$4598</span>
                        <div class="u24DemiBold_v2 yellow">You Save $2400</div>
                        <span class="u17Light_v2">($2200 OFF + EXTRA $200)</span>
                        <div class="my-button my-button-origin">Proceed to Checkout</div>
                    </div>
                </div>
            </div>
        </div>
    </div>