    <style>
        
.swiperl {
    display: block;
    width: 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
}
  
.swiperl .swiper-slide,
.swiperr .swiper-slide {
    width: 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    height: 500px !important;
    box-sizing: border-box;
}

.swiperl .swiper-slide {
    transition: opacity .4s;
    opacity: 0.5;
}

.swiperl .swiper-slide-active {
    opacity: 1;
}

.swiperr .swiper-slide-active a {
    transition: opacity, background-color backdrop-filter .4s;
    border-radius: 15px;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.swiperr .swiper-slide-active a img {
    transition: transform .4s;
    transform: translateY(30px);
}

.swiperr .swiper-slide-active:hover a img {
    transform: translateY(10px);
}

.swiperr .swiper-slide-active:hover a {
    opacity: 1;
    height: 100%;
}

.swiperr .swiper-slide video {
    transition: all .4s;
    opacity: 0.5;
    transform: scale3d(0.9, 0.85, 1);
    border-radius: 15px;
}

.swiperr .swiper-slide-active video {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    bottom: 30px;
    top: auto;
    background-color: #eee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-weight: bold;
}

.swiperr .swiper-button-prev {
    left: 20px;
}

.swiperr .swiper-button-next {
    left: 70px;

}

.swiperr-parent {
    padding-left: calc((100% - 1280px) / 2);
}

@media (max-width: 768px) {
    .swiperr .swiper-slide {
        width: 60vw !important;
        max-width: 60vw !important;
        min-width: 60vw !important;
        height: 100vw !important;
    }

    .swiperl {
        margin: 20px 0;
        width: 100vw !important;
        max-width: 100vw !important;
        min-width: 100vw !important;
    }

    .swiperl .swiper-slide {
        width: 100vw !important;
        max-width: 100vw !important;
        height: auto !important;
    }

    .swiperr .swiper-button-next,
    .swiperr .swiper-button-prev {
        top: 42vw;
    }

    .swiperr .swiper-button-next {
        right: 15px;
        left: auto;
    }

    .swiperr .swiper-button-prev {
        left: 15px;
    }

    .swiperr .swiper-slide a img {
        transform: translateY(30px);
    }

    .swiperr .swiper-slide-active a {
        opacity: 1;
        height: 100%;
        backdrop-filter: none;
    }

    .swiperr .swiper-slide-active a img {
        transform: translateY(10px);
    }
}
    </style>
    <div class="er-bg-background er-pt-48 mb:er-pt-16">
        <div class="centeral-content mb:er-px-8">
            <h2 class="text-size36 mb:er-text-4xl er-w-full{% if request.path == '/pages/urtopia-e-bike-review' %} er-text-center text-size48{% endif %}">E-Bike store experts recommended</h2>
        </div>
    </div>
    <div class="er-bg-background er-pt-8 er-pb-24 mb:er-pb-8 swiperr-parent">
        <div class="er-flex er-relative er-mt-28 mb:er-flex-col-reverse mb:er-mt-12">
            <div
                class="swiperl er-bg-white er-basis-1/6 er-rounded-3xl er-mr-12 er-overflow-hidden mb:er-mr-0 mb:er-rounded-none">
                <div class="swiper-wrapper">
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/435_2x_9d6699b0-4e2a-418a-bcb3-8539dc2536d1.png?v=1743491869&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>
                                ELV Motors, Inc., Northern California’s largest electric mobility dealer, offers 150+
                                models
                                from 40+ manufacturers since 2008.
                            </span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/462_2x_de15df28-b624-4870-9de1-ce614ec2b922.jpg?v=1743501845&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>
                                Red Tail Bikes in Morro Bay, CA, offers quality bikes, rentals, and expert, personalized
                                service for locals and tourists exploring California’s Central Coast.
                            </span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/436_2x_43978acd-7036-468a-9cb8-fb9c2a446d88.jpg?v=1743501831&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>
                                Bike Doctor, serving Maryland for over 30 years, offers top brands, expert service, and
                                community-focused support across seven locations.
                            </span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/463_2x_689bfb67-f193-4121-8c2f-c8e94b20c7f8.jpg?v=1743501816&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>
                                Electric Bikes of Santa Barbara, founded by brothers Bob and Howard Kaplan in 2013, has
                                grown to four locations, offering top-quality, German-made eBikes with exceptional
                                service.
                            </span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/464_2x_13a68206-6449-4b79-86b0-66937ae333f3.jpg?v=1743501803&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>Adventure eBike Company in Thousand Oaks, CA, offers expert service, quality bikes,
                                and a welcoming community for all your cycling adventures.</span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/465_2x_ac7b89b8-0ebc-4fce-bd08-7ed5e7b5cfb7.jpg?v=1743501790&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>Bike Attack® is a vibrant hub for cycling enthusiasts, offering a welcoming space to
                                connect, learn, and share a passion for all types of bikes.</span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/466_2x_11c93710-43ac-452c-ad0d-5fd065f5aa60.jpg?v=1743501777&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>562 ebikes, based in Bellflower, CA, is a team of passionate cyclists offering expert
                                local support for e-bike enthusiasts in Southern Los Angeles County.</span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/467_2x_09438e6b-6fc0-47d7-82fa-f0c195980e5f.jpg?v=1743501523&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>Groove E-Bikes, a family-owned Newport Beach shop founded in 2013, offers top-quality
                                eBikes, expert customization, and a wide range of accessories for the perfect
                                ride.</span>
                        </p>
                    </div>
                  <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/435_2x_9d6699b0-4e2a-418a-bcb3-8539dc2536d1.png?v=1743491869&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>
                                ELV Motors, Inc., Northern California’s largest electric mobility dealer, offers 150+
                                models
                                from 40+ manufacturers since 2008.
                            </span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/462_2x_de15df28-b624-4870-9de1-ce614ec2b922.jpg?v=1743501845&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>
                                Red Tail Bikes in Morro Bay, CA, offers quality bikes, rentals, and expert, personalized
                                service for locals and tourists exploring California’s Central Coast.
                            </span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/436_2x_43978acd-7036-468a-9cb8-fb9c2a446d88.jpg?v=1743501831&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>
                                Bike Doctor, serving Maryland for over 30 years, offers top brands, expert service, and
                                community-focused support across seven locations.
                            </span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/463_2x_689bfb67-f193-4121-8c2f-c8e94b20c7f8.jpg?v=1743501816&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>
                                Electric Bikes of Santa Barbara, founded by brothers Bob and Howard Kaplan in 2013, has
                                grown to four locations, offering top-quality, German-made eBikes with exceptional
                                service.
                            </span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/464_2x_13a68206-6449-4b79-86b0-66937ae333f3.jpg?v=1743501803&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>Adventure eBike Company in Thousand Oaks, CA, offers expert service, quality bikes,
                                and a welcoming community for all your cycling adventures.</span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/465_2x_ac7b89b8-0ebc-4fce-bd08-7ed5e7b5cfb7.jpg?v=1743501790&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>Bike Attack® is a vibrant hub for cycling enthusiasts, offering a welcoming space to
                                connect, learn, and share a passion for all types of bikes.</span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/466_2x_11c93710-43ac-452c-ad0d-5fd065f5aa60.jpg?v=1743501777&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>562 ebikes, based in Bellflower, CA, is a team of passionate cyclists offering expert
                                local support for e-bike enthusiasts in Southern Los Angeles County.</span>
                        </p>
                    </div>
                    <div class="swiper-slide er-p-10 er-bg-white mb:er-flex mb:er-items-center">
                        <img loading="lazy" class="mb:er-max-w-28" width="125" height="125"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/467_2x_09438e6b-6fc0-47d7-82fa-f0c195980e5f.jpg?v=1743501523&width=125"
                            alt="">
                        <p class="text-size18 er-opacity-80 md:er-mt-8 mb:er-text-2xl mb:er-ml-4">
                            <span>Groove E-Bikes, a family-owned Newport Beach shop founded in 2013, offers top-quality
                                eBikes, expert customization, and a wide range of accessories for the perfect
                                ride.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiperr er-flex-1 er-overflow-hidden"
                style="--swiper-navigation-size: 22px;--swiper-theme-color: #000;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted autoplay class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/cece92c64dc64c11b7d40676d8420ce3.mp4"></video>
                        <a href="https://youtube.com/shorts/5c1t5wWZTCw" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/c23aecdada634f44a3a72c272752476c.mp4"></video>
                        <a href="https://youtube.com/shorts/FO_zIOidRhk" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/19dab9606d2a422182ec6f66a30faada.mp4"></video>
                        <a href="https://www.youtube.com/shorts/dibzKIO2mwg" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/b672d5215c734a21bb7a6035cc9ce176.mp4"></video>
                        <a href="https://youtube.com/shorts/Hs-dye8VjKw" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/b81489480cd94053acf04cb46544cf4e.mp4"></video>
                        <a href="https://youtube.com/shorts/1ailCBjTXg8" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/540abb51cba44d168dd1b38c2714a1c8.mp4"></video>
                        <a href="https://youtube.com/shorts/s_zWRgjr5Us" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/d0dcfc153a7c4bdaacb05a195adab397.mp4"></video>
                        <a href="https://youtube.com/shorts/j_btDAtwQwo" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/f714ebeb79444c03bdf1e9a47041e702.mp4"></video>
                        <a href="https://youtu.be/yufNEwBr3aI" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                  <div class="swiper-slide background-image">
                        <video playsinline loop muted autoplay class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/cece92c64dc64c11b7d40676d8420ce3.mp4"></video>
                        <a href="https://youtube.com/shorts/5c1t5wWZTCw" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/c23aecdada634f44a3a72c272752476c.mp4"></video>
                        <a href="https://youtube.com/shorts/FO_zIOidRhk" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/19dab9606d2a422182ec6f66a30faada.mp4"></video>
                        <a href="https://www.youtube.com/shorts/dibzKIO2mwg" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/b672d5215c734a21bb7a6035cc9ce176.mp4"></video>
                        <a href="https://youtube.com/shorts/Hs-dye8VjKw" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/b81489480cd94053acf04cb46544cf4e.mp4"></video>
                        <a href="https://youtube.com/shorts/1ailCBjTXg8" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/540abb51cba44d168dd1b38c2714a1c8.mp4"></video>
                        <a href="https://youtube.com/shorts/s_zWRgjr5Us" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/d0dcfc153a7c4bdaacb05a195adab397.mp4"></video>
                        <a href="https://youtube.com/shorts/j_btDAtwQwo" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide background-image">
                        <video playsinline loop muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/f714ebeb79444c03bdf1e9a47041e702.mp4"></video>
                        <a href="https://youtu.be/yufNEwBr3aI" target="_blank" class="er-absolute er-inset-0 er-items-center er-justify-center er-flex er-opacity-0 er-h-0">
                            <img width="80" height="56"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80" alt="">
                        </a>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>

    <script type="module">
          new Swiper('.swiperr', {
        grabCursor: true,
        speed: 400,
        slidesPerView: 'auto',
        centeredSlides: document.body.clientWidth <= 768,
        navigation: {
            nextEl: ".swiperr .swiper-button-next",
            prevEl: ".swiperr .swiper-button-prev",
        },
        on: {
            slideChange: function () {
                const videos = this.wrapperEl.querySelectorAll('video');
                videos.forEach(video => {
                    video.pause();   // 暂停所有视频
                    // video.currentTime = 0; // 从头开始
                }); // 暂停所有视频

                const current = this.slides[this.activeIndex]
                const video = current.querySelector('video')

                if (video) {
                    setTimeout(() => {
                        video.play()
                    })
                }
            },
        },
        thumbs: {
            swiper: new Swiper('.swiperl', {
                speed: 400,
                preloadImages: false,
                // multipleActiveThumbs: false,
                loop: true,
                keyboard: {
                    enabled: false, // 禁用键盘控制
                },
                mousewheel: {
                    enabled: false, // 禁用鼠标滚轮切换
                },
                allowTouchMove: false, // 禁止手动滑动
            })
        },

        // centeredSlides: true,
        loop: true
    });
    </script>