<link rel="stylesheet" href="{{ 'about-us.scss.css' | asset_url }}" media="all" type="text/css">
<style>
    .about-us .swiper1 {
        --swiper-theme-color: #ff6600;
        /* 设置Swiper风格 */
        --swiper-navigation-color: #fff;
        /* 单独设置按钮颜色 */
        --swiper-navigation-size: 15px;
    }
</style>

<div class="about-us">
    <div class="banner">
        <div class="centeral-content">
            <div class="u72DemiBold_v2">Your Utopia <br> Starts Here</div>
            <div class="u17Light_v2">
                We use technology to redefine how people ride. With our innovations, a healthy, fun and sustainable
                lifestyle is right in front of you.
            </div>
        </div>
    </div>
    <div class="swiper swiper1">
        <div class="u42DemiBold_v2">From Vision to Reality: <br>The Urtopia Story</div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/0602-1.jpg?v=1678868294" alt="">
                    <div class="name u42DemiBold_v2">Dreamer.</div>
                </div>
                <div class="u17Light_v2">
                    Urtopia was founded by a group of passionate cycling fans and top engineers graduated from MIT, UMN,
                    Cornell, and CMU. We share a vision that technology can do good to both people’s life and the
                    planet. We’re committed to putting users first, and to delivering cutting-edge solutions that
                    empower everybody to live life to the fullest.
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/IMG_0727_2x_554951dd-5825-4714-9760-7b362ca3e66a.jpg?v=1681378189"
                        alt="">
                    <div class="name u42DemiBold_v2">Innovator.</div>
                </div>
                <div class="u17Light_v2">
                    Urtopia’s Smart IoT system and controlling algorithms are at the heart of our technology, enabling
                    us to create e-bikes that keep evolving to become your smart companion. By seamlessly integrating
                    sensors, communication networks, and real-time data processing, we are able to not only enhance the
                    riding experience but also reduce energy consumption, offering unparalleled levels of performance
                    and convenience to our users.
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18516_2x_38d45fc7-903a-4407-945a-f2cb3bdd94b3.jpg?v=1681379118"
                        alt="">
                    <div class="name u42DemiBold_v2" style="color: #000;">Designer.</div>
                </div>
                <div class="u17Light_v2">
                    In 2021, we embarked on a mission to create a revolutionary e-bike prototype, collaborating with
                    former BMW designer Mr. Mathis Heller to bring our vision to life.
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221005-untitled-0075_2x_8be5ac4a-da5d-470d-857a-d06fb885c359.jpg?v=1681378578"
                        alt="">
                    <div class="name u42DemiBold_v2">Supporters</div>
                </div>
                <div class="u17Light_v2">
                    Thanks to the support and passion of over 1,500 early adopters from Indiegogo, we successfully built
                    our first model: the light, beautiful and high-tech e-bike. This co-creation experience left
                    unbreakable bond between our users and us. Building things together with users will be the practice
                    and core culture of Urtopia forever.
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20712_2x_bbb9dbd3-969a-4567-8629-ee9f48d69a20.jpg?v=1681378941"
                        alt="">
                    <div class="name u42DemiBold_v2" style="color: #000;">Advancer</div>
                </div>
                <div class="u17Light_v2">
                    In 2022, we expanded our reach by setting up a subsidiary in Berlin, Germany and joined LEVA-EU. We
                    continue to use our cutting-edge technology to develop the most exciting dream bike yet, working
                    closely with our users towards a healthier, more sustainable, and thrilling future.
                </div>
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
        <div class="buttons">
            <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
            <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
        </div>
    </div>
    <div class="blue">
        <div class="centeral-content">
            <div class="u42DemiBold_v2">Welcome to the <br> Urtopia lab</div>
        </div>
    </div>
    <div class="boxs">
        <div class="centeral-content">
            <div>
                <span class="u24DemiBold_v2">Cutting-edge equipments and <br class="mobileHide"> technology</span>
            </div>
            <div>
                <span class="u24DemiBold_v2">State-of-the-art software</span>
            </div>
            <div>
                <span class="u24DemiBold_v2">Quality testing <br class="mobileHide"> at forefront</span>
            </div>
            <div>
                <span class="u24DemiBold_v2">Best craftmanship <br> in Europe</span>
            </div>
        </div>
    </div>
    <div class="tech">
        <div class="centeral-content">
            <div class="u42DemiBold_v2">Tech Innovation for <br> Sustainable Future</div>
            <div></div>
        </div>
    </div>
    <div class="system">
        <div class="centeral-content">
            <div class="u17Light_v2">Our Smart IoT system and controlling algorithms enable our bikes to intelligently
                adjust the power
                model according to users need and boosts energy efficiency by more than 15%. Higher efficiency means
                less battery volume and lighter weight, reducing carbon emissions during production.<br><br> At Urtopia,
                we’re
                committed to reducing our carbon footprint through eco-friendly materials. Our packaging is fully
                recyclable and designed with the environment in mind. <span class="mobileHide"><br><br>Our e-bikes are
                    able to track your emissions
                    savings and share to your friends. By choosing to ride with Urtopia, you’re not just making a
                    personal
                    commitment to sustainability, but also inspiring others to join the movement towards a greener
                    future.
                    Let’s pedal together towards a cleaner, healthier planet!</span>
            </div>
            <div></div>
            <div class="u17Light_v2 pcHide">Our e-bikes are able to track your emissions
                savings and share to your friends. By choosing to ride with Urtopia, you’re not just making a personal
                commitment to sustainability, but also inspiring others to join the movement towards a greener future.
                Let’s pedal together towards a cleaner, healthier planet!
            </div>
        </div>
    </div>
    <div class="together">
        <div class="centeral-content">
            <div>
                <div class="u42DemiBold_v2">Together We <br> Build Utopia</div>
                <div class="u17Light_v2">Our dedicated and passionate <br> fans had been riding</div>
                <div class="u60DemiBold_v2">18,920,000+ <span class="u30Medium">km</span></div>
            </div>
            <div>
                <div>
                    <div class="u17DemiBold_v2">Over the top</div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_19376_2x_3057532f-85e5-4510-b542-ea55c7261f21.jpg?v=1681480538" alt="">
                    <div class="u11Light_v2">The bike has been everything I have always wanted especially for the price. I have been Road bike riding for over 14…</div>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/4_2x_7adaacee-d216-4817-a629-3f21dd5f68b1.jpg?v=1681480050" alt="">
                <div>
                    <div class="u17DemiBold_v2">THE best bike ride I have ever had!!</div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_19376_2x_3057532f-85e5-4510-b542-ea55c7261f21.jpg?v=1681480538" alt="">
                    <div class="u11Light_v2">The Urtopia has given me a new prospective on hills! I just completed my first ride this morning, downhill going…</div>
                </div>
            </div>
        </div>
    </div>
</div>
  
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script>
    const width = document.body.clientWidth
    const isMobile = width < 768
        
    new Swiper('.about-us .swiper1', {
      slidesOffsetBefore: width > 1280 ? (width - 1280) / 2 : 30,
      slidesOffsetAfter: width > 1280 ? (width - 1280) / 2 : 30,
      spaceBetween: isMobile ? '4%' : '2%',
      slidesPerView: isMobile ? 1.2 : 4,
      freeMode: isMobile ? true : false,
      navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
      },
      scrollbar: {
          el: '.swiper-scrollbar',
          draggable: false,
      }
    })
  </script>