{{ 'ai.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
        <div class="u72Medium_v2">Welcome to the era of AI E-BIke</div>
        <div class="u20Medium_v2">An AI-Driven Smartebike, offering you more than riding.</div>
        <div class="my-button" onclick="showVideoDialog('https://www.youtube.com/embed/P-80U8xxh9k?autoplay=1&cc_load_policy=1')">Watch Video<img
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-164642.png?v=1697100422" />
        </div>
        <div class="flex-1"></div>
        <div class="centeral-content images mobileHide">
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18939_2x_08e4a859-5d99-469c-979a-035294b5c903.png?v=1701743381"
                    alt="">
                <div class="u17DemiBold_v2">“The AI-powered co-pilot adds a new level of intelligence and interactivity to
                    the already tech-infused e-bikes offered by Urtopia.”</div>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18940_2x_141321f0-3c49-4c52-b510-c8645e97b782.png?v=1701743387"
                    alt="">
                <div class="u17DemiBold_v2">“Urtopia has integrated the AI chatbot with its own voice recognition system,
                    allowing users to speak their queries and get whatever answers they want.”</div>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18941_2x_0a89ac09-d4b7-4a95-a806-ecbaf3c719e9.png?v=1701743396"
                    alt="">
                <div class="u17DemiBold_v2">“Now the company has taken it one step further by becoming the first electric
                    bicycle company to integrate ChatGPT directly into its e-bike.”</div>
            </div>
        </div>
    </div>
    <div style="height: 12vh;background-image: linear-gradient(180deg, #010101, #000);" class="mobileHide"></div>
    <div class="gray-background-color mediaes pcHide" style="--swiper-theme-color: #fff;--swiper-pagination-color: #fff;">
        <div class="centeral-content">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18939_2x_08e4a859-5d99-469c-979a-035294b5c903.png?v=1701743381"
                        alt="">
                    <div class="flex-1"></div>
                    <div class="u14Medium_v2">“The AI-powered co-pilot adds a new level of intelligence and interactivity to
                        the already
                        tech-infused
                        e-bikes offered by Urtopia.”</div>

                </div>
                <div class="swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18940_2x_141321f0-3c49-4c52-b510-c8645e97b782.png?v=1701743387"
                        alt="">
                    <div class="flex-1"></div>
                    <div class="u14Medium_v2">“Urtopia has integrated the AI chatbot with its own voice recognition system,
                        allowing users to
                        speak their queries and get whatever answers they want.”</div>

                </div>
                <div class="swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18941_2x_0a89ac09-d4b7-4a95-a806-ecbaf3c719e9.png?v=1701743396"
                        alt="">
                    <div class="flex-1"></div>
                    <div class="u14Medium_v2">“Now the company has taken it one step further by becoming the first electric
                        bicycle company to
                        integrate ChatGPT directly into its e-bike.”</div>

                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="software">
        <div class="u72Medium_v2">AI Revolution <br class="pcHide">of Software</div>
        <div class="box">
            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Image_226_2x_58637991-98dd-4e57-b3e6-09ff549006af.png?v=1701744877"
                alt="">
            <div>
                <div class="u30Medium_v2">World’s First Smart E-Bike with ChatGPT Integration</div>
                <div class="u17Light_v2">Urtopia revolutionizes cycling with the world’s first smart ebike featuring
                    integrated ChatGPT for demo voice interaction.</div>
                <div class="my-button" onclick="showVideoDialog('https://www.youtube.com/embed/v2viQMqAOOQ?autoplay=1&cc_load_policy=1')">Watch Video<img
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-164642.png?v=1697100422" />
                </div>
            </div>
        </div>
    </div>
    <div class="also">
        <div class="centeral-content">
            <div class="u30Medium_v2">Also Integrated with</div>
            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231205-195351.png?v=1701777269"
                alt="">
            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18955_2x_04ceeb1f-27b8-4ff6-b6b0-23e800de573c.png?v=1701746890"
                alt="">
            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18956_2x_c942f293-d784-4930-ac9e-9649e92747c6.png?v=1701746883"
                alt="">
        </div>
    </div>
    <div class="ring">
        <div class="u72Medium_v2">AI Revolution <br class="pcHide">of Hardware</div>
        <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Image_271_2x_18cd5efc-8ec8-406e-b7b6-bc9e7f8088d2.png?v=1701748243"
                alt="">
            <div>
                <div class="u30Medium_v2">Control Your E-Bike</div>
                <div class="u54Medium_v2">with a Ring</div>
                <div class="u17Light_v2">Connect to Urtopia ebike—your AI health companion. assisting in awakening and
                    easily controlling Urtopia, monitor daily stats, and receive personalized feedback and plans for optimal
                    well-being.</div>
            </div>
        </div>
    </div>
    <div class="just">
        <div class="centeral-content">
            <div class="u30Medium_v2">Just Fingertip, <br>Magic Happens</div>
            <div class="u17Light_v2">With just a swipe of the ring, power on, play music, or even engage in a conversation
                with ChatGPT. The ring allows customizable interactions for all smart functions.</div>
        </div>
    </div>
    <div style="height: 5vh;background-color: #000;" class="mobileHide"></div>
    <div class="health">
        <div class="centeral-content">
            <div></div>
            <div>
                <div class="u30Medium_v2">Intelligent Connectivity, <br>And Health Insights</div>
                <div class="u17Light_v2">Ring monitors sleep, offers bedtime guidance, and tailors today’s ride plan based
                    on yesterday’s rest. Your assurance for a healthy cycling journey.</div>
            </div>
        </div>
    </div>
    <div class="smart">
        <div class="centeral-content">
            <div>
                <div class="u30Medium_v2">Sync with E-Bike <br class="pcHide">Safety Light <span class="pcHide">from</span>
                </div>
                <div class="u54Medium_v2"><span class="mobileHide">from</span> Smart Helmet</div>
                <div class="u17Light_v2">Always Safety First—The smart helmet connected to Urtopia, operating lights
                    simultaneously. It provides more noticeable cues to the rear during nighttime rides.</div>
            </div>
            <img class="mobileHide"
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23385_2x_6ec969a2-eb30-464c-aa43-a938739b0834.png?v=1701756038"
                alt="">
            <img class="pcHide"
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18948_2x_75766293-f1fa-4ebc-88c9-fa0d3fa6f6f9.png?v=1701768124"
                alt="">
        </div>
    </div>
    <div class="helmet">
        <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18943_2x_56720656-4b04-4f30-9a44-e187a24ca1f5.png?v=1701756787"
            alt="">
        <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231205-190135.png?v=1701774204"/>
        <div>
            <div class="u30Medium_v2">E-Bike and Helmet, <br>They Have the Same Mind</div>
            <div class="u17Light_v2">
                A fully integrated AI smart hardware, top-tier suite, and the world’s first dual-motor, dual-battery ebike
                will officially debut at CES.
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18959_2x_cf2900d4-bdbf-41dc-8c97-396a10eef88c.png?v=1701757206"
                alt="">
        </div>
    </div>
    <div class="revolution">
        <div class="u72Medium_v2">AI Revolution <br class="pcHide">of E-Bike</div>
        <div class="u48Medium_v2">The world’s first dual-motor, <br>dual-battery bicycle</div>
        <div class="u17Light_v2">A fully integrated AI smart hardware, top-tier suite, and the world’s first dual-drive
            dual-battery ebike will officially debut at CES.</div>
    </div>
    <div style="height: 8vh;background-image: linear-gradient(180deg, #030303, #000);"></div>
    <div class="smooth">
        <div class="centeral-content">
            <div class="u30Medium_v2">The Smooth riding <br class="pcHide">belong to</div>
            <div class="u54Medium_v2">Only You</div>
            <div class="u17Light_v2">Urtopia ebike will automatically adjust acceleration based on your weight, momentum,
                pedal frequency, wind speed, and the current riding scenario. After a period, Urtopia will fully learn ‘Your
                ride,’ providing only you with the most comfortable cycling experience.</div>
        </div>
    </div>
    <div style="height: 12vh;background-color: #000;" class="mobileHide"></div>
    <div class="learn">
        <div></div>
        <div>
            <div class="u30Medium_v2">Learn Your Ride, <br>Adapt Your Pedal</div>
            <div class="u17Light_v2">Based on the torque sensor, it provides a balanced pedal frequency, preventing empty
                strokes, and adapts to your riding conditions. Whether facing uphill or downhill, the sensor ensures the
                most suitable control for ‘you.</div>
        </div>
    </div>
    <div style="height: 6vh;background-color: #000;" class="mobileHide"></div>
    <div class="ota">
        <div class="centeral-content">
            <div class="u30Medium_v2">OTA Update <br>The e-bike always evolving</div>
            <div class="u17Light_v2">We offer full control over firmware upgrades for the entire ebike, enabling the
                optimization and refinement of
                all its features. You can schedule OTA upgrades at your convenience, ensuring a seamless and secure process
                with
                a thorough automated vehicle health check before each update, guaranteeing safety and stability.</div>
        </div>
    </div>
    <div class="aiot">
        <img class="pcHide"
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/urtopiaaaa_2x_e68207e4-efb7-40ad-9e62-413c105cfc15.jpg?v=1701770924"
            alt="">
        <div class="centeral-content">
            <div class="u17Light_v2 u30Medium_v2">AIOT Platform</div>
            <div class="u48Medium_v2">Why We are Smartest E-Bike</div>
            <div class="u17Light_v2 xxxx">Urtopia’s electric bike operation system (OS) encompasses a motor, electronic
                control unit (ECU), and IoT sensor system linked through a CAN bus. The system seamlessly connects to
                Urtopia’s cloud servers via 4G eSIM, where a proprietary app and control software operate. The open API
                allows integration with external services like ChatGPT, AI coaching, navigation apps, and Apple Health,
                forming a cohesive product ecosystem. This integration not only enhances user customization but also
                positions Urtopia as a versatile and innovative platform. The cloud infrastructure enables continuous
                evolution, ensuring Urtopia stays at the forefront of AI + bike applications.</div>
            <img class="mobileHide"
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/123123_2x_4a27387c-bb29-4848-ada9-3ce7134b6623.jpg?v=1701760646"
                alt="">
        </div>
    </div>


    <script>
      document.body.clientWidth < 768 && new Swiper('.mediaes .centeral-content', {
        autoplay: {
            disableOnInteraction: false,
            pauseOnMouseEnter: false,
            delay: 5000,
        },
        loop: true,
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        pagination: { el: '.mediaes .swiper-pagination' },
        speed: 300
    })
    </script>