<style>
  #announcement-bar > div {
    animation: none;
    transform: none;
    font-weight: bold;
  }

   #announcement-bar > div span {
    display: inline-block;
    position: relative;
   }
</style>

<div id="announcement-bar" class="er-font-base">
  <div>
    <span>{{ settings.sale_name }} <a class="er-button er-button-text er-underline" href="/collections/e-bike-sale" style="color: #E0BD76;">Up to $670 OFF</a></span>
  </div>
</div>