<div id="announcement-bar" class="er-font-base mb:er-text-[14px]">
  <div>
    <span class="er-text-primary er-mr-1">
      <b>
        {{-
          all_products['urtopia-carbon-1-pro-ebike'].compare_at_price
          | minus: all_products['urtopia-carbon-1-pro-ebike'].price
          | money_without_trailing_zeros
        }}
        off</b
      ></span
    >
    on Carbon 1 Pro.
    <a class="er-button er-button-text er-underline er-ml-1" href="/products/urtopia-carbon-1-pro-ebike"
      ><b>Get yours Now</b></a
    >
  </div>
  <div>
    <span class="Klarna-logo er-mr-2" style="background-color: rgb(74, 74, 244);">{% render 'icon-affirm' %}</span>
    <span class="Klarna-logo er-mr-2">Klarna.</span>
    0% APR, up to 24 months
    <a class="er-button er-button-text er-underline er-ml-1" href="/products/urtopia-carbon-1-pro-ebike"
      ><b>Shop Now!</b></a
    >
  </div>
  <div>
    Try Urtopia E-Bikes for Free
    <br class="pcHide">
    <a class="er-button er-button-text er-underline er-ml-1" href="/pages/test-ride"><b>Book a test ride now</b></a>
  </div>
</div>