<div class="swiper homeSwiper">
  <div class="swiper-wrapper">
    <!--
    <div class="swiper-slide labourSlide">
      <div class="imgContent"></div>
      <div class="content">
        <div class="labour-freeImg">
        </div>
        <div class="labour-timer">
          <img src="http://i.countdownmail.com/37l0tl.gif" style="display:inline-block!important;max-width:544px!important;" border="0" alt="countdownmail.com"/>
        </div>
        <div class="labour-btn">
          <a
            class="moreBtn bannerBtn buyBtn"
            href="/products/urtopia-carbon-e-bike"
            >Buy Now
          </a>
        </div>
      </div>
    </div>
    -->
    <div class="swiper-slide twoslide lozad" data-toggle-class="active">
      <div class="slideContent">
        <div class="topSlide">
          <div class="slideTitle">
            Urtopia
            <br />
            Carbon E-Bike
          </div>
        </div>
        <div class="bottomSlide">
          <div class="slideDes">
            <div>Your smartest companion on road</div>
            <!--               <div class="spent">€100 OFF</div> -->
          </div>
          <a
            class="moreBtn bannerBtn buyBtn"
            href="/products/urtopia-carbon-e-bike"
            >Buy Now</a
          >
        </div>
      </div>
    </div>
    <!--     <div class="swiper-slide threeslide">
      <div class="slideContent">
        <div class="topSlide">
            <div class="slideTitle">
              TWILIGHT
            </div>
              <div class="des" style="color:#fff;font-size:24px;margin-top:24px;">Born to Embrace All Terrains</div>
        </div>
        <div  class="bottomSlide">
            <a class="moreBtn bannerBtn" style="background:none;color:#fff;margin-top:88px;border:1px solid #fff" href="/pages/twilight">Learn More</a>
        </div>        
      </div>
    </div> -->

    <!--     <div class="swiper-slide fourslide">
      <div class="slideContent">
        <div class="topSlide">
            <div class="slideTitle">
                  CHORD
            </div>
            <div class="des" style="color:#000;font-size:24px;margin-top:24px;">Elegance, Like Music</div>
        </div>
        <div  class="bottomSlide">
            <a class="moreBtn bannerBtn" style="background:none;color:#000;margin-top:88px;border:1px solid #000" href="/pages/chord">Learn More</a>
        </div>
        
      </div>
    </div> -->
  </div>
<!--
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>

  <div class="swiper-button-next"></div>
  -->
</div>

<style>
  .home-banner {
    color: #fff;
  }
  .homeSwiper {
    --swiper-theme-color: #4d4d4d; /* 设置Swiper风格 */
    height: calc(100vh - 107px);
    min-height: 761px;/*682px;*/
  }

  .swiper-slide {
    background-size: cover;
    background-position: bottom center;
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-170029.jpg?v=1657616608");
  }

  .swiper-slide.oneslide {
    background-position: top center;
    background-image: url("https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20220712-170007.jpg?v=1657693071");
  }
  .swiper-slide.threeslide {
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-170020.jpg?v=1657616909");
  }
  .swiper-slide.fourslide {
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-170034.jpg?v=1657616930");
  }/*
  .swiper-slide.labourSlide {
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2022-labour-bg-pc.jpg?v=1661759479");
    background-size: cover;
    background-position: left;
  }
  .swiper-slide.labourSlide .content {
    width: 53%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    right:5%;
    align-items: flex-start;
  }
  .swiper-slide.labourSlide .content .labour-freeImg {
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2022-labour-freeImg-pc.png?v=1661759479");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 62%;
    width: 88%;
    margin-top: 40px;
  }
  .labour-timer{
    margin-left:22%;
    height: 145px;
    overflow: hidden;
  }
  .labour-timer img{
    width:auto;
  }
  .swiper-slide.labourSlide .content .labour-btn{
    margin-left:22%;
  }
  .swiper-slide.labourSlide .content .labour-btn > a {
    width: 350px;
    height: 55px;
    background: #D0010B;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    font-size: 30px;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
  }
  .swiper-slide.labourSlide .imgContent {
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2022-labour-bike-pc.png?v=1661759479");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left:5%;
    width: 51%;
    height: 100%;
  }*/
  .home-banner .swiper-slide.threeslide {
    justify-content: flex-end;
  }
  .home-banner .swiper-slide.threeslide .slideContent {
    padding-right: 8%;
  }

  .home-banner .swiper-slide .slideContent {
    padding-left: 8%;
  }
  .home-banner .swiper-slide {
    display: flex;
    align-items: center;
  }
  .home-banner .swiper-slide .slideTitle {
    font-size: 80px;
    line-height: 1.125em;
    font-weight: 700;
  }
  .home-banner .swiper-slide .slideDes {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 1.125em;
    font-family: Gotham Book;
  }
  .home-banner .swiper-slide .slideDes .spent {
    font-size: 36px;
    line-height: 60px;
    font-weight: 700;
    font-family: proxima-nova, sans-serif;
  }
  .home-banner .swiper-slide.oneslide .slideDes .spent {
    font-weight: 500;
  }
  .home-banner .swiper-slide.threeslide .moreBtn:hover,
  .home-banner .swiper-slide.fourslide .moreBtn:hover {
    border: 1px solid #fff !important;
    background-color: #fff !important;
    color: #000 !important;
  }
  .home-banner .swiper-slide.fourslide {
    color: #000;
  }
  .home-banner .swiper-slide.fourslide .slideDes {
    color: #000;
  }
  .home-banner .swiper-slide .des {
    width: auto;
  }
  .swiper-slide.oneslide .topSlide #deLogo {
    display: none;
  }
  .swiper-slide.oneslide img.pcDeLogo {
    width: 50px;
    height: 50px;
  }
  .bottomSlide table.countdown {
    width: 299px;
  }

  .bottomSlide table.countdown .countdownText {
    font-size: 24px;
    margin-top: 15px;
  }
  .bottomSlide table.countdown .countdownImg {
    height: 70px;
    background: url(http://i.countdownmail.com/1wufpu.gif) top center/cover
      no-repeat;
  }
  .bottomSlide table.countdown .countdownText.mobileCountdownText {
    display: none;
  }
  .bottomSlide table.countdown .countdownText.pcCountdownText {
    display: block;
  }
  @media screen and (max-width: 1000px) {
    .home-banner .swiper-slide .slideContent {
      width: 100%;
      height: 100%;
      padding: 0 8%;
      text-align: center;
      margin-top: 62px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .swiper-slide.oneslide {
      background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-231319.jpg?v=1657639002");
    }
    .swiper-slide.twoslide {
      background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-231307.jpg?v=1657638983");
    }
    .swiper-slide.threeslide {
      background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-231342.jpg?v=1657639024");
    }
    .swiper-slide.fourslide {
      background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-231301.jpg?v=1657638960");
    }
/*
  .swiper-slide.labourSlide {
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2022-labour-bg-mb.jpg?v=1661759479");
    background-size: cover;
    background-position: top;
  }
  .swiper-slide.labourSlide .content {
    width: 100%;
    right:0;
    justify-content: flex-end;
    align-items: center;
  }
    
  .swiper-slide.labourSlide .content .labour-freeImg {
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2022-labour-freeImg-mb.png?v=1661759479");
    height:55%;
    width:calc(100% - 30px);
    margin:0;
  }
  .labour-timer{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin:0 0 10px 0;
    height: auto;
    width:390px;
  	aspect-ratio: 6/1.25;
    overflow: hidden;
  }
  .labour-timer img{
    width:80%;
  }
  .swiper-slide.labourSlide .content .labour-btn{
    width:calc(100% - 60px);
    height: 95px;
    margin:0;
  }
  .swiper-slide.labourSlide .content .labour-btn > a {
    border-radius: 30px;
    height: 48px;
    line-height:48px;
    width: 100%;
    transform:initial;
  }
  .swiper-slide.labourSlide .imgContent {
    left: 0;
    top: 0;
    width: 100%;
    height: 69%;
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2022-labour-bike-mb.png?v=1661759479");
  }
    */
    .home-banner .swiper-slide .slideTitle {
      font-size: 42px;
      line-height: 1.125em;
      font-weight: 700;
    }
    .home-banner .swiper-slide .des {
      margin-top: 6px !important;
    }
    .home-banner .swiper-slide .moreBtn {
      font-size: 15px;
      font-weight: 500;
      width: 190px;
      height: 38px;
      line-height: 38px;
    }

    .home-banner .swiper-slide.fourslide .moreBtn {
      margin-top: 0% !important;
      color: #fff !important;
      border-color: #fff !important;
      background-color: none !important;
    }

    .home-banner .swiper-slide.threeslide .moreBtn {
      margin-top: 0% !important;
    }

    .home-banner .swiper-slide .topSlide,
    .home-banner .swiper-slide .bottomSlide {
      flex: 1;
      overflow: hidden;
    }

    .home-banner .swiper-slide .bottomSlide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .home-banner .swiper-slide .des {
      margin-top: 10px !important;
      font-size: 20px !important;
      line-height: 28px;
    }
    .home-banner .swiper-slide .slideDes {
      margin-top: 85px;
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 37px;
    }
    .home-banner .swiper-slide .slideDes .spent {
      font-size: 30px;
    }
    .home-banner .swiper-slide.oneslide .slideDes .spent {
      font-size: 24px;
      line-height: 35px;
    }
    .swiper-slide.oneslide img.pcDeLogo {
      display: none;
    }
    .swiper-slide.oneslide .topSlide > div > span {
      font-size: 36px !important;
      line-height: 44px;
    }
    .swiper-slide.oneslide .topSlide #deLogo {
      display: block;
      width: 97px;
      height: 97px;
      margin: 20px auto;
    }
    .bottomSlide table.countdown {
      width: 190px;
    }

    .bottomSlide table.countdown .countdownText.pcCountdownText {
      display: none;
    }
    .bottomSlide table.countdown .countdownText.mobileCountdownText {
      display: block;
      white-space: nowrap;
      font-weight: 800;
    }
    .bottomSlide table.countdown .countdownImg {
      height: 38px;
      width: 190px;
      margin: 0 auto;
    }
  }
  @media screen and (max-width){
    
  }
</style>
<!--
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script>
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">    
<script>
  var mySwiper = new Swiper(".home-banner .swiper", {
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
  document.querySelector(".swiper-slide.labourSlide .content .labour-btn>a").addEventListener("click",()=>{
    document.querySelector("#labour-homepage-LearnMore-track-btn").click()
  })
</script>
-->

{% schema %}
{
    "name":"banner",
    "class":"home-banner",
    "settings":[
    ],
    "presets":[
        {
            "name":"Banner"
        }
    ]
}
{% endschema %}