{{ 'black-friday.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
        <div class="centeral-content">
            <div class="swiperrrr">
                <div class="top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <iframe title="YouTube video player"
                                src="https://www.youtube.com/embed/Pezebd8S--U?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
                                height="100%" width="100%" allowfullscreen=""
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                frameborder="0">
                            </iframe>
                        </div>
                        <div class="swiper-slide">
                            <iframe title="YouTube video player"
                                src="https://www.youtube.com/embed/Q4GQ7OUDK9A?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
                                height="100%" width="100%" allowfullscreen=""
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                frameborder="0">
                            </iframe>
                        </div>
                        <div class="swiper-slide">
                            <iframe title="YouTube video player"
                                src="https://www.youtube.com/embed/Adj2WsYXM8g?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
                                height="100%" width="100%" allowfullscreen=""
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                frameborder="0">
                            </iframe>
                        </div>
                        <div class="swiper-slide">
                            <iframe title="YouTube video player"
                                src="https://www.youtube.com/embed/8haN5tLyhIk?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=1&amp;enablejsapi=1"
                                height="100%" width="100%" allowfullscreen=""
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                frameborder="0">
                            </iframe>
                        </div>
                    </div>
                    <div class="swiper-pagination pcHide"></div>
                </div>
                <div class="bottom mobileHide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sddefault.webp?v=1731320183"
                                alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sddefault.jpg?v=1731320183"
                                alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sddefault_1.webp?v=1731320183"
                                alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25108_2x_6c97fddb-8a1e-4b40-a0e8-f01558092ede.jpg?v=1731313573"
                                alt="" />
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev mobileHide"></div>
                <div class="swiper-button-next mobileHide"></div>
            </div>
            <div>
                <img class="mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19577_2x_92687204-484d-44df-b69c-f5bef0513ab0.png?v=1731305678"
                    alt="" />
                <img class="pcHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19594_2x_786a3c6c-0422-432e-a3ec-99befe430fe3.png?v=1731322276"
                    alt="" />
                <div>
                    <h2 class="u48DemiBold_v2">Up to $1400 OFF</h2>
                    <h3 class="u24DemiBold_v2">Why Choose Urtopia</h3>
                    <ul class="u17Light_v2">
                        <li>Carbon fiber, Lightweight</li>
                        <li>Super power, AWD Peak 1500W</li>
                        <li>Super range, 240km dual battery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="buyany">
        <div class="centeral-content">
            <div class="promo-banner">
                <h2 class="u36DemiBold_v2">
                    Buy <span>any 2</span> Urtopia bikes, <br class="pcHide">Get an
                    <span>EXTRA $200 OFF</span>
                </h2>
            </div>
            <div class="two">
                <div>
                    <div class="select">
                        <select name="left">
                            <option value="Fusion GT">Fusion GT</option>
                            <option value="Carbon 1 Pro">Carbon 1 Pro</option>
                            <option value="Carbon Fold 1">Carbon Fold 1</option>
                        </select>
                    </div>
                    <div class="card">
                        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19581_2x_5f64cd60-b777-4aac-83cc-feb2f9becef1.png?v=1731384242"
                            alt="">
                        <div>
                            <div class="style">
                                <span class="u17Medium_v2">Style - </span>
                                <span class="u17Light_v2">Matte Black</span>
                            </div>
                            <div class="size">
                                <span class="u17Medium_v2">Size - </span>
                                <span class="u17Light_v2">Fit for 5’5-5’11’’ Inseam 30”</span>
                            </div>
                            <div class="price">
                                <span class="u24DemiBold_v2">$2599</span>
                                <del class="u20Light_v2">$3999</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u48DemiBold_v2 plus">+</div>
                <div>
                    <div class="select">
                        <select name="left">
                            <option value="Fusion GT">Fusion GT</option>
                            <option value="Carbon 1 Pro">Carbon 1 Pro</option>
                            <option value="Carbon Fold 1">Carbon Fold 1</option>
                        </select>
                    </div>
                    <div class="card">
                        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19581_2x_5f64cd60-b777-4aac-83cc-feb2f9becef1.png?v=1731384242"
                            alt="">
                        <div>
                            <div class="style">
                                <span class="u17Medium_v2">Style - </span>
                                <span class="u17Light_v2">Matte Black</span>
                            </div>
                            <div class="size">
                                <span class="u17Medium_v2">Size - </span>
                                <span class="u17Light_v2">Fit for 5’5-5’11’’ Inseam 30”</span>
                            </div>
                            <div class="price">
                                <span class="u24DemiBold_v2">$2599</span>
                                <del class="u20Light_v2">$3999</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ROB00399_2x_65cd9c08-d86c-4f12-b492-25a925a4400c.jpg?v=1731379861"
                        alt="" />
                    <div>
                        <span class="u24DemiBold_v2">Total</span>
                        <span class="u48DemiBold_v2">$4598</span>
                        <div class="u24DemiBold_v2 yellow">You Save $2400</div>
                        <span class="u17Light_v2">($2200 OFF + EXTRA $200)</span>
                        <div class="my-button my-button-origin">Add to cart</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
      new Swiper(".swiperrrr .top", {
        spaceBetween: 10,
        pagination: {
            el: global_config.is_mobile ? null : ".swiperrrr .top .swiper-pagination",
        },
        thumbs: global_config.is_mobile
            ? null
            : {
                swiper: new Swiper(".swiperrrr .bottom", {
                    spaceBetween: 12,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesProgress: true,
                    navigation: {
                        nextEl: ".swiperrrr .swiper-button-next",
                        prevEl: ".swiperrrr .swiper-button-prev",
                    },
                }),
            },
    });
    </script>