{{ 'carbon-expert.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="expert">
        <div class="centeral-content">
            <h1 class="u60Medium_v2">Carbon Fiber Expert</h1>
            <span class="flex-1 mobileHide"></span>
            <p class="u17Light_v2">
                <span>
                    Urtopia is renowned for producing lightweight carbon fiber e-bikes. Every frame produced by Urtopia
                    exceeds relevant safety standards, and our meticulous pursuit of carbon fiber excellence has been
                    recognized by consumers. From start to finish, Urtopia has been dedicated to advancing carbon fiber
                    technology to create lighter, more durable, and stronger e-bikes. In this article, you will
                    understand why Urtopia is a carbon fiber expert.
                </span>
            </p>
            <div class="my-button my-button-origin" onclick="showVideoDialog('https://www.youtube.com/embed/8haN5tLyhIk?autoplay=1&cc_load_policy=1')">Watch Video <img
                    data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231011-143053.png?v=1697005879"
                    alt="" class="lozad"></div>
        </div>
    </div>
    <div class="why">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Why Choose Urtopia Carbon Fiber?</h2>
            <div>
                <div>
                    <h3 class="u36Medium_v2">Race-Grade Carbon Fiber Frame</h3>
                    <p class="u17Light_v2">
                        <span>
                            Urtopia uses the industry-leading Toray T1000 for its materials, which is among the top 10%
                            of high-end materials globally. (Toray is the largest carbon fiber manufacturer in the
                            world, with a global capacity of 29,100 metric tons per year of TORAYCA™ carbon fiber
                            produced in the United States, Japan, and France. ) <br><br>T1000 carbon fiber is renowned
                            for its high strength-to-weight ratio, which can be 20% to 30% higher than most conventional
                            carbon fiber materials. The frame is constructed from five types of high-performance carbon
                            fiber, the same material used in aerospace engineering.
                        </span>
                    </p>
                </div>
                <img class="mobileHide lozad"  data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24597_2x_a24fbabe-575a-4edc-bdc7-495d2242eaab.jpg?v=1725866605"
                    alt="">
                <img class="pcHide lozad"  data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19386_2x_ffa0fd00-7791-4e87-b6c1-af7154d2a91a.jpg?v=1725867750" alt="">
            </div>
        </div>
        <div class="centeral-content">
            <div>
                <div>
                    <h3 class="u36Medium_v2"><span style="color: #FD4B17;">Top 1%</span> Industry Carbon Fiber
                        <br class="mobileHide">Molding Technologies
                    </h3>
                    <p class="u17Light_v2">
                        <span>
                            In terms of molding, we use three advanced technologies—Monolith, Microspace, and NANO
                            technology—that far exceed traditional methods. Compared to conventional techniques, these
                            technologies provide the Urtopia carbon frame with a 30% increase in structural strength, a
                            25% reduction in overall weight, a 20% improvement in shock absorption performance, and a
                            15% increase in wear resistance. These three Urtopia carbon fiber technologies will be
                            detailed later in this article.
                        </span>

                    </p>
                </div>
                <img class="mobileHide lozad"  data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24578_2x_1fbd43b2-708d-4f79-988a-258015f36a45.jpg?v=1725697892"
                    alt="">
                <img class="pcHide lozad"  data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24577_2x_d2867871-0c95-459b-a47d-f0b747ad239e.jpg?v=1725867756" alt="">
            </div>
        </div>
        <div class="centeral-content">
            <div>
                <div>
                    <h3 class="u36Medium_v2"><span style="color: #FD4B17;">50% Lighter</span> Than Similar E-Bikes</h3>
                    <p class="u17Light_v2">
                        <span>
                            For riders, the greatest advantage of carbon fiber is its lightweight nature. The Urtopia
                            carbon frame weighs only 4.6 lbs, making the entire bike weigh just 37 lbs despite having
                            wider tires and various smart features. Due to the lightweight carbon fiber and the
                            responsive riding experience provided by SHIMANO gear, the 350W motor delivers a peak power
                            of 750W! A gravel e-bike with big tires and a 750W motor typically weighs 56-90 lbs, making
                            Urtopia’s bike almost 50% lighter! <br><br>This significantly enhances the user’s
                            portability
                            experience, making it easy to hang on the wall or on a car rack for hassle-free
                            transportation and convenient handling, ideal for city commuting.
                        </span>

                    </p>
                </div>
                <img class="mobileHide lozad"  data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24570_2x_3299bffd-b123-455c-967e-037fa7a2918c.jpg?v=1725698833"
                    alt="">
                <img class="pcHide lozad"  data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24581_2x_291cc799-b44b-412d-942d-a54d13b99611.jpg?v=1725867745" alt="">
            </div>
        </div>
        <div class="centeral-content">
            <div>
                <div>
                    <h3 style="letter-spacing: -1px;" class="u36Medium_v2">Achieving Striking Aesthetics and <span
                            style="color: #FD4B17;">25%</span> Aerodynamic Improvement</h3>
                    <p class="u17Light_v2">
                        <span>
                            For Urtopia, the advantages of carbon fiber extend beyond functionality to aesthetics. The
                            Urtopia engineering team boldly removed the middle tube, creating a frame that appears as a
                            single continuous line from the side, resembling a streamlined flying fish. This design
                            increases the strength of key stress points in the frame, uses less material, and results in
                            a lighter weight. Additionally, sharper curves improve the frame’s aerodynamic performance
                            against the wind. The absence of the middle tube allows for a more integrated rear triangle
                            design that better absorbs vibrations transmitted through the frame.<br><br> Through
                            practical
                            testing, the Carbon 1 Pro frame has shown up to a 25% reduction in drag compared to the
                            previous generation Carbon 1 frame. Urtopia has successfully designed a frame that not only
                            enhances aerodynamic performance but also stands out in its appearance.
                        </span>

                    </p>
                </div>
        <video playsinline loop autoplay muted class="lozad" data-src="https://cdn.shopify.com/videos/c/o/v/01b12de109a34ad285ce6bd694843400.mp4"></video>
            </div>
        </div>
    </div>
    <div class="fiber">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Why Urtopia is <br><span style="color: #FD4B17;">“Carbon Fiber Expert”</span></h2>
            <div>
                <img class="mobileHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24565_2x_52ba5609-2581-4043-8376-6c1a1825faa8.jpg?v=1725699847"
                    alt="">
                    <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24565_2x_632f4b41-a70f-4f11-b76a-95ff167e9a00.png?v=1725864674" alt="">
                <h3 class="u36Medium_v2">Urtopia’s Super Smart Factory <br><span style="color: #FD4B17;">Outperforms
                        99.9%</span> of the
                    Industry</h3>
                <p class="u17Light_v2">
                    <span>
                        Urtopia’s advanced smart factory boasts a remarkable 99.9% assembly quality rate, putting it
                        ahead of 99.9% of the industry. The factory uses the latest automation and precision equipment,
                        including cutting-edge wheel-building machines, to ensure every e-bike is made with exceptional
                        accuracy and efficiency.
                    </span>
                </p>
            </div>
            <div>
                <img class="mobileHide lozad"  data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24564_2x_2b1211f6-be1e-44d0-a9f0-bf7dcc092217.png?v=1725701312"
                    alt="">
                    <img class="pcHide lozad"  data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24582_2x_617ade6c-030e-4060-833b-207963e247d1.png?v=1725864683" alt="">
                <h3 class="u36Medium_v2"><span style="color: #FD4B17;">40,000+</span> Urtopia Carbon E-Bike Users,
                    <br>and
                    <span style="color: #FD4B17;">ZERO Carbon Issues</span>
                </h3>
                <p class="u17Light_v2">
                    <span>
                        In just 4 years, over 40,000 users have been riding Urtopia carbon e-bikes, accumulating an
                        impressive total mileage of over 43,000,000 km. Notably, 2% of our users have ridden over 10,000
                        km, demonstrating their genuine passion for cycling. Most proudly, there have been ZERO reported
                        Issues with the strength of the carbon frame from our users. This gives Urtopia immense
                        confidence in our focus on carbon fiber e-bike production. The high demand provides us with
                        ample usage data and strengthens our commitment to making carbon fiber even better!
                    </span>
                </p>
            </div>
            <div>
                <img class="mobileHide lozad"  data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24567_2x_0aff97a3-b054-4b36-b990-fa7ddc1e333c.jpg?v=1725701118"
                    alt="">
                    <img class="pcHide lozad"  data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24583_2x_85932dee-d49c-49fe-a795-289ac035708f.png?v=1725864678" alt="">
                <h3 class="u36Medium_v2"><span style="color: #FD4B17;">12-Year Lifespan</span> for Carbon Fiber Frames
                </h3>
                <p class="u17Light_v2">
                    <span>
                        Urtopia’s e-bikes are crafted from Toray T1000 carbon fiber, renowned for its exceptional
                        quality and durability. Combined with our three advanced carbon fiber molding
                        technologies—Monolith, Microspace, and NANO technology—these frames are designed to last. Under
                        normal use, the lifespan of Urtopia’s carbon fiber frames typically ranges from 10 to 12 years.
                        This durability ensures that your investment in a Urtopia e-bike will provide long-lasting
                        performance. <br><br>The factory is equipped with advanced robotic systems and automated
                        conveyors that
                        manage various stages of the assembly process. These technologies streamline operations, boost
                        productivity, and maintain top-notch precision throughout each bike’s assembly. <br><br>In
                        addition,
                        Urtopia employs eight rigorous quality inspection procedures that surpass industry standards,
                        ensuring each e-bike delivers a flawless user experience. This commitment to excellence in
                        manufacturing also allows Urtopia to partner with the world’s leading carbon fiber suppliers.
                    </span>
                </p>
            </div>
            <div>
                <img class="mobileHide lozad"  data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24566_2x_40240a89-396f-45f5-8956-a3daf9244a23.jpg?v=1725700853"
                    alt="">
                <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24584_2x_a024b318-7fa4-4855-a98f-4919c24463cd.png?v=1725865323" alt="">
                <h3 class="u36Medium_v2"><span style="color: #FD4B17;">20% Higher</span> Than Industry <br>Testing
                    Standard ISO 4210</h3>
                <p class="u17Light_v2">
                    <span>
                        All Urtopia models undergo strict testing according to ISO 4210 and Zedler ADV+ standards. After
                        manufacturing, Urtopia performs rigorous frame shaping, assembly tests, and professional cycling
                        evaluations. Our testing standards are 20% more stringent than ISO 4210, ensuring the highest
                        level of quality and reliability.
                    </span>
                </p>
            </div>
            <div>
                <img class="mobileHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24579_2x_230bcb5c-5580-4cb7-b9ef-88733d2642d2.jpg?v=1725700540"
                    alt="">
                <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19387_2x_96d2bdbd-d752-4694-8f5e-da54dace1686.jpg?v=1725867990" alt="">
                <h3 class="u36Medium_v2">High Praise from <span style="color: #FD4B17;">Over 200</span><br>Professional
                    Media Outlets</h3>
                <p class="u17Light_v2">
                    <span>
                        Urtopia’s commercial and research achievements have received widespread acclaim from the media,
                        including prestigious awards such as the GOOD DESIGN Award in Japan. Over 200 professional media
                        outlets have covered Urtopia, including top-tier publications like USA Today, Cyclingnews,
                        Engadget, TNW, TechCrunch, CNET, Forbes, EBR, and Digital Trends.
                        <br>
                        <br>
                        <i>Forbes: "A true flyweight when
                            it comes to e-bikes. It’s even lighter than my non-electric mountain bike." CNET: "You won't
                            find a bike much lighter with more tech baked in than the Urtopia."</i>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="what">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">What Makes Urtopia’s <br>Carbon Fiber Technology Stand Out?</h2>
            <p class="u17Light_v2">
                <span>
                    Before introducing Urtopia’s carbon fiber technology, let’s first discuss how conventional carbon
                    fiber is made. First, carbon fiber fabrics are layered in specific directions. These fabrics consist
                    of thousands of extremely fine carbon fibers. The layers are then impregnated with epoxy resin and
                    cured under high pressure and temperature using molds. The final frame structure is created by
                    stacking multiple layers of carbon fiber fabric, with each layer providing strength in specific
                    directions. <br><br>However, traditional methods have some limitations. The numerous connection
                    points
                    between layers can create small structural weaknesses, which may lead to cracks or deformations
                    under prolonged use or intense impacts. Additionally, traditional carbon fiber frames often have
                    limitations in vibration absorption and wear resistance, which may not fully meet the demands of
                    long-term riding. <br><br>So, how does Urtopia address these issues?
                </span>
            </p>
        </div>
    </div>
    <div class="why">
        <div class="centeral-content">
            <div>
                <div>
                    <h3 class="u36Medium_v2">Urtopia’s Technique 1:<br> <span style="color: #FD4B17;">Monolith</span></h3>
                    <p class="u17Light_v2">
                        <span>
                            Unlike conventional carbon fiber processes, which often involve multiple layers bonded
                            together, Urtopia’s Monolith technology ensures a seamless, all-in-one piece carbon frame—a
                            true monocoque frame. This process eliminates the weak points commonly found in traditional
                            carbon fiber joints, resulting in a 30% increase in structural integrity and a 25% reduction
                            in overall weight. The outcome is a frame that’s not only lighter but also significantly
                            stronger, providing riders with a more stable and responsive experience. The factory that
                            helps Urtopia achieve this technology has produced road bike frames weighing under 700g this
                            year and helped Urtopia’s e-bike carbon frame reach just 2kg, setting an industry benchmark.
                        </span>
                    </p>
                </div>
                <img  class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24573_2x_13535100-0ce8-42e2-ab58-861b6d5b516b.jpg?v=1725705463"
                    alt="">
            </div>
        </div>
        <div class="centeral-content">
            <div>
                <div>
                    <h3 class="u36Medium_v2">Urtopia’s Technique 2:<br><span style="color: #FD4B17;">Microspace</span></h3>
                    <p class="u17Light_v2">
                        <span>
                            Microspace technology further enhances the frame’s strength by optimizing the internal
                            structure of the carbon fibers. This intricate design improves load distribution, making the
                            bike more resilient to stress and impacts. It results in a 20% increase in strength while
                            also absorbing vibrations.
                        </span>

                    </p>
                </div>
                <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24580_2x_9a465162-0e01-4597-bb0d-62402cfce3ae.jpg?v=1725705473"
                    alt="">
            </div>
        </div>
        <div class="centeral-content">
            <div>
                <div>
                    <h3 class="u36Medium_v2">Urtopia’s Technique 3:<br><span style="color: #FD4B17;">NANO
                            Technology</span></h3>
                    <p class="u17Light_v2">
                        <span>
                            Urtopia’s NANO technology introduces a layer of precision to the manufacturing process,
                            ensuring that every fiber is perfectly aligned. This meticulous attention to detail
                            increases the bike’s overall durability and performance, providing a smoother, more
                            responsive ride compared to other e-bikes on the market. This results in a frame with 15%
                            more resistance to wear and tear and a 10% improvement in durability under extreme
                            conditions. The nanoscale precision ensures that the carbon fibers are perfectly aligned,
                            maximizing their strength and longevity.
                        </span>

                    </p>
                </div>
                <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24569_2x_fef17a23-842e-4095-ab44-153e1efc5890.jpg?v=1725705468"
                    alt="">
            </div>
        </div>
        <div class="centeral-content">
            <div>
                <div>
                    <h3 class="u36Medium_v2">Slower Production for <br><span style="color: #FD4B17;">100%</span> Perfect
                        Quality</h3>
                    <p class="u17Light_v2">
                        <span>
                            To produce 100 carbon fiber frames, a typical factory would take a certain amount of time,
                            but Urtopia invests twice as much time due to our commitment to achieving 100% perfection in
                            quality. Our testing and quality control processes are exceptional, and critical components
                            undergo 100% reliability testing, including X-ray inspections and other advanced methods.
                            We’re Willing to Invest Extra Time for Superior Quality
                        </span>

                    </p>
                </div>
                <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24572_2x_93761fe6-5b53-4424-ac49-cba323179473.jpg?v=1725705202"
                    alt="">
            </div>
        </div>
      <a style="margin-left: calc(50% - 65px);" href="/collections/e-bikes" target="_blank" class="my-button my-button-origin">Order Now</a>
    </div>