<div class="wrappedbox">
  <div class="careWrapped">
    <div class="careItem">
      <div class="imgDiv truck lozad"        
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-care-truck-white.png"></div>
        <a target="_blank" href="/pages/shipping-and-return" style="color:#fff">Free Shipping</a>
    </div>
    <div class="careItem">
      <div class="imgDiv return lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-care-return-white.png"></div>
      <a target="_blank" href="/pages/shipping-and-return" style="color:#fff">14 Days Return</a>
    </div>
    <div class="careItem">
      <div class="imgDiv protected lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-care-protected-white.png">
      </div>
      <a target="_blank" href="/pages/warranty" style="color:#fff">2 Years Warranty</a>
    </div>
    <div class="careItem">
      <div class="imgDiv support lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-care-support-white.png"></div>
      <a target="_blank" href="/pages/care" style="color:#fff">Quick Support</a>
    </div>
  </div>
</div>
{% schema %}
{
"name":"care",
"class":"care",
"settings":[]
}
{% endschema %}