<link rel="stylesheet" href="{{ 'section-footer.css' | asset_url }}" media="print" onload="this.media='all'; this.onload=null;">
<link rel="stylesheet" href="{{ 'component-cart-drawer.css' | asset_url }}" media="print" onload="this.media='all'; this.onload=null;">
<div class="wrappedbox mobileBox">
  <div class="careWrapped">
    <div class="careItem er-flex er-items-center er-gap-4 mb:er-items-center">
      <img
        loading="lazy"
        width="35"
        height="35"
        alt="Free Shipping"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1_5abff12d-4224-42b5-8b30-3f73fb6d1525.svg?v=1774426177"
      >
      <a target="_blank" href="/pages/shipping-and-return" style="color:#fff">Free Shipping</a>
    </div>
    <div class="careItem er-flex er-items-center er-gap-4 mb:er-items-center">
      <img
        loading="lazy"
        width="35"
        height="35"
        alt="14 Days Return"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1_57fa76ba-1921-4b80-92d5-3e712057bac4.svg?v=1774426099"
      >
      <a target="_blank" href="/pages/shipping-and-return" style="color:#fff">14 Days Return</a>
    </div>
    <div class="careItem er-flex er-items-center er-gap-4 mb:er-items-center">
      <img
        loading="lazy"
        width="35"
        height="35"
        alt="2-Years Warranty"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1_4dce3369-f7c4-4b0b-bc5c-fb2dfbe9147a.svg?v=1774426064"
      >
      <a target="_blank" href="/pages/warranty" style="color:#fff">2-Years Warranty</a>
    </div>
    <div class="careItem er-flex er-items-center er-gap-4 mb:er-items-center">
      <img
        loading="lazy"
        width="35"
        height="35"
        alt="Quick Support"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Untitled-1_38981aa2-0ed3-473e-8e8a-e6e9e1b4d76e.svg?v=1774425994"
      >
      <a target="_blank" href="/pages/care" style="color:#fff">Quick Support</a>
    </div>
  </div>
</div>
{% schema %}
{
"name":"care",
"class":"care",
"settings":[]
}
{% endschema %}
