<div class="wrappedbox">
  <div class="careWrapped">
    <div class="careItem er-flex er-items-end er-gap-4 mb:er-items-center">
      <img
        loading="lazy"
        width="35"
        height="35"
        alt="Free Shipping"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-care-truck-white.png"
      >
      <a target="_blank" href="/pages/shipping-and-return" style="color:#fff">Free Shipping</a>
    </div>
    <div class="careItem er-flex er-items-end er-gap-4 mb:er-items-center">
      <img
        loading="lazy"
        width="35"
        height="35"
        alt="14 Days Return"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-care-return-white.png"
      >
      <a target="_blank" href="/pages/shipping-and-return" style="color:#fff">14 Days Return</a>
    </div>
    <div class="careItem er-flex er-items-end er-gap-4 mb:er-items-center">
      <img
        loading="lazy"
        width="35"
        height="35"
        alt="2 Years Warranty"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-care-protected-white.png"
      >
      <a target="_blank" href="/pages/warranty" style="color:#fff">2 Years Warranty</a>
    </div>
    <div class="careItem er-flex er-items-end er-gap-4 mb:er-items-center">
      <img
        loading="lazy"
        width="35"
        height="35"
        alt="Quick Support"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-care-support-white.png"
      >
      <a target="_blank" href="/pages/care" style="color:#fff">Quick Support</a>
    </div>
  </div>
</div>
{% schema %}
{
"name":"care",
"class":"care",
"settings":[]
}
{% endschema %}
