{% render 'tailwind' %}

<section
        class="text-white aspect-[1920/850] bg-center bg-no-repeat bg-cover bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24893_2x_257a192d-730f-4769-b321-c36833229ec5.jpg?v=1733725839')] bg-black mb:bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24728_2x_2ab0948c-7101-422a-b65a-e2bb7f0b9505.jpg?v=1733730339')] mb:bg-contain mb:bg-top">
        <section class="centeral-content h-full grid grid-cols-2 gap-x-[10%] overflow-hidden mb:grid-cols-1 mb:h-auto">
            <div class="mb:h-[80vw]"></div>
            <div class="flex flex-col justify-center items-start pt-8 pb-12">
                <h2 class="u36DemiBold_v2 mb:!text-[20px]">World’s Smallest Motor, <br>Lightest Titanium E-Bike</h2>
                <p class="u17Light_v2 mt-8 mb-20 max-w-[550px] mb:!text-[15px] mb:mt-5 mb:mb-10">
                    <span>
                        At this CES, Urtopia proudly unveils the Titanium Zero, the world’s lightest e-bike, weighing an
                        astonishing 23.8 lbs (10.8kg). It features a fully 3D-printed titanium alloy frame and the
                        smallest, lightest, and highest torque-density motor (Quark DM1.2) globally.
                    </span>
                </p>
                <div class="grid grid-cols-2 gap-x-8 mb:gap-x-4">
                    <div class="flex flex-col">
                        <span class="u20Medium_v2 mb-1 mb:!text-[17px]">Titanium Zero</span>
                        <span class="u24Medium_v2 mb:!text-[15px] ">Only <span
                                class="u48DemiBold_v2 ml-2 mb:!text-[24px]">23.8 lbs</span></span>
                    </div>
                    <div class="flex flex-col pl-8 mb:pl-6">
                        <span class="u20Medium_v2 mb-1 mb:!text-[17px]">Quark DM1.2</span>
                        <span class="u24Medium_v2 mb:!text-[15px]"><span class="u48DemiBold_v2 mb:!text-[24px]">&lt; 2.6
                                lbs</span></span>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section
        class="text-white aspect-[1920/850] bg-center bg-no-repeat bg-cover bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24894_2x_27c4bf99-b3be-46eb-a43f-457d1fe4107f.jpg?v=1733731923')] bg-black mb:bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19464_2x_3701ce4c-12d7-4dcd-b860-ebac96faede5.jpg?v=1733734154')] mb:bg-contain mb:bg-top">
        <section class="centeral-content h-full grid grid-cols-2 gap-x-[10%] overflow-hidden mb:grid-cols-1 mb:h-auto">
            <div class="mb:h-[80vw] order-1 mb:order-none"></div>
            <div class="flex flex-col justify-center items-start pt-8 pb-12">
                <img class="max-w-[300px] mb-5 mb:max-w-[220px]"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24897_2x_89ccb676-ef32-4d2f-9d29-d7bb05c9f435.png?v=1733732466"
                    alt="">
                <h2 class="u36DemiBold_v2 mb:!text-[20px]">CES 2025 Invitation From <br>Urtipia Carbon Fiber Expert</h2>
                <ul class="u17Light_v2 mt-14 mb-10 space-y-4 mb:!text-[14px] mb:my-8">
                    <li><b class="font-semibold">Jan 7-10, 2025 Las Vegas</b></li>
                    <li><b class="font-semibold">Booth No.#53852,</b> Venetian Expo, Halls A-D</li>
                    <li><b class="font-semibold">Contact Person:</b> Rachel S.</li>
                    <li><b class="font-semibold">Contact Email: </b><a class="my-link"
                            href="mailto:rachel@newurtopia.com">rachel@newurtopia.com</a></li>
                    <li><b class="font-semibold">Media Kit</b> link below</li>
                </ul>
                <a class="my-button my-button-origin mb:self-center" href="http://" target="_blank"
                    rel="noopener noreferrer">Media Kit</a>
            </div>
        </section>
    </section>
    <section
        class="text-white aspect-[1920/850] bg-center bg-no-repeat bg-cover bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24734_2x_2ed237e9-81be-4066-9657-b979b8d84ba0.jpg?v=1733732799')] bg-black mb:bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19466_2x_fcba7009-593f-47e1-a99d-d2d496daf872.jpg?v=1733734531')] mb:bg-contain mb:bg-top">
        <section class="centeral-content h-full grid grid-cols-2 gap-x-[10%] overflow-hidden mb:grid-cols-1 mb:h-auto">
            <div class="mb:h-[80vw]"></div>
            <div class="flex flex-col justify-center items-start pt-8 pb-12">
                <h2 class="u60DemiBold_v2 mb:!text-[36px]">Titanium Zero</h2>
                <h3 class="u36Medium_v2 text-[#FD4B17] mt-2 mb:!text-[20px]">23.8 lbs Titanium E-Bike</h3>
                <p class="u17Light_v2 mt-8 mb-16 max-w-[550px] mb:!text-[15px] mb:my-8">
                    <span>
                        Urtopia’s first titanium alloy e-bike, the Titanium Zero, is the world’s lightest, strongest,
                        and most durable e-bike. Featuring a 3D-printed titanium frame, the lightest motor, and advanced
                        solid-state battery, it offers unmatched performance, endurance, and minimal weight.
                    </span>
                </p>
                <ul role="list" class="u17Light_v2 space-y-3 list-disc marker:text-[#FD4B17] pl-5 mb:!text-[14px]">
                    <li><b class="font-semibold">World’s lightest, highest</b> torque-density motor</li>
                    <li><b class="font-semibold">3D-printed full titanium</b> frame</li>
                    <li><b class="font-semibold">300Wh/kg</b> solid-state battery</li>
                    <li><b class="font-semibold">SRAM 12-speed</b> wheels, fork, crankset, titanium seatpost</li>
                    <li><b class="font-semibold">Carbon</b> link below</li>
                    <li><b class="font-semibold">23.8 lbs</b> Total weight</li>
                </ul>
            </div>
        </section>
    </section>
    <section
        class="text-white aspect-[1920/850] bg-center bg-no-repeat bg-cover bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24720_2x_95302f3f-1b2a-4c19-95e0-c1d786fac8eb.jpg?v=1733734797')] bg-black mb:bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241029-152258_2x_0ca43a90-fe37-438a-ad09-0f3a0565c8e6.jpg?v=1733735160')] mb:bg-contain mb:bg-top">
        <section class="centeral-content h-full grid grid-cols-2 gap-x-[10%] overflow-hidden mb:grid-cols-1 mb:h-auto">
            <div class="mb:h-[80vw] order-1 mb:order-none"></div>
            <div class="flex flex-col justify-center items-start pt-8 pb-12 mb:pb-8">
                <h2 class="u60DemiBold_v2 mb:!text-[36px]">Quark DM1.2</h2>
                <h3 class="u36Medium_v2 text-[#FD4B17] mt-2 mb:!text-[20px]">Pocket-Sized, Rocket-Powered</h3>
                <p class="u17Light_v2 mt-8 mb-16 max-w-[550px] mb:!text-[15px] mb:my-8">
                    <span>
                        Quarks, the smallest elements ever known to mankind, yet possess the admirable power to be
                        indivisible. <br><br>The three core features of the Quark DM1.2: (1) Lightness; (2) Power; (3)
                        Precision. Its integrated motor, reducer, and clutch unit deliver powerful torque, while torque
                        sensors and magnetic encoders ensure smooth, precise assistance, offering effortless control and
                        a natural ride on any terrain.
                    </span>
                </p>
                <ul role="list" class="u17Light_v2 space-y-3 list-disc marker:text-[#FD4B17] pl-5 mb:!text-[14px]">
                    <li><b class="font-semibold">Weight: &lt;2.6 lbs</b></li>
                    <li><b class="font-semibold">65 Nm</b> Max Torque</li>
                    <li><b class="font-semibold">High-Precision</b> Torque Sensor</li>
                    <li><b class="font-semibold">Dynamic</b> Magnetic Encoder</li>
                    <li><b class="font-semibold">Fits High-Performance</b> Hollow Cranksets</li>
                </ul>
            </div>
        </section>
    </section>
    <video class="hidden bg-black mb:block" playsinline loop autoplay muted
        src="https://cdn.shopify.com/videos/c/o/v/52cde79203f44326b588dec29db3c6b8.mp4"></video>
    <section class="bg-black text-white py-[12vh] mb:pt-8 mb:pb-16">
        <section class="centeral-content flex flex-col">
            <h2 class="u36DemiBold_v2 text-center mb:!text-[20px]">Carbon Fiber E-Bike Expert</h2>
            <p class="u17Light_v2 max-w-[680px] mb:!text-[15px] text-center self-center mt-6 mb-12 mb:mt-5 mb:mb-8">
                <span>
                    All Urtopia e-bikes are built with premium Toray carbon fiber, renowned for its use in race cars. As
                    a leader in carbon e-bike shipments, we exceed safety standards with Top 1% Industry Carbon Fiber
                    Molding Technologies, delivering precision and durability. As carbon fiber experts, we’re committed
                    to providing the lightest riding experience.
                </span>
            </p>
            <a class="my-button my-button-origin self-center mb-20 mb:mb-12" href="http://" target="_blank"
                rel="noopener noreferrer">Learn more</a>
            <div class="grid grid-cols-2 gap-8 mb:grid-cols-1 mb:gap-5">
                <div class="flex flex-col rounded-xl bg-[#1a1a1a] items-center p-6 mb:p-4">
                    <h3 class="u36DemiBold_v2 mt-6 mb-2 mb:!text-[20px] mb:mt-1">Carbon 1 Pro</h3>
                    <span class="u20Light_v2 mb:!text-[14px] text-center">Urban & fitness riding</span>
                    <img class="max-h-[370px]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19463_2x_75616a57-f1ef-4f0d-b9c3-941d881f52e6.png?v=1733735733"
                        alt="">
                    <span class="flex-1"></span>
                    <img class="max-w-[110px] mb:max-w-[60px]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24895_2x_d73fcfee-7c9c-4146-8c46-95a9950e9580.png?v=1733735727"
                        alt="">
                </div>
                <div class="flex flex-col rounded-xl bg-[#1a1a1a] items-center p-6 mb:p-4">
                    <h3 class="u36DemiBold_v2 mt-6 mb-2 mb:!text-[20px] mb:mt-1">Carbon Fusion GT</h3>
                    <span class="u20Light_v2 mb:!text-[14px] text-center">The world’s first dual-motor & dual-battery
                        e-bike</span>
                    <img class="max-h-[370px] object-cover"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yellow_2x_1e7d3c66-23ea-413f-8510-10bcc6d8e67c.png?v=1733736487"
                        alt="">
                    <span class="flex-1"></span>
                    <img class="max-w-[294px] mb:max-w-[160px]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24896_2x_a6e9901a-ecf5-4a04-b65b-e2fcbc1191cf.png?v=1733736493"
                        alt="">
                    <span class="flex-1"></span>
                </div>
                <div class="flex flex-col rounded-xl bg-[#1a1a1a] items-center p-6 mb:p-4">
                    <h3 class="u36DemiBold_v2 mt-6 mb-2 mb:!text-[20px] mb:mt-1">Carbon 1 Pro ST</h3>
                    <span class="u20Light_v2 mb-2 mb:!text-[14px] text-center">Coming Soon</span>
                    <img class="max-h-[370px]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241206-142930_2x_6eb5fdfd-169c-4184-884e-c92053ba1e6c.png?v=1733736896"
                        alt="">
                </div>
                <div class="flex flex-col rounded-xl bg-[#1a1a1a] items-center p-6 mb:p-4">
                    <h3 class="u36DemiBold_v2 mt-6 mb-2 mb:!text-[20px] mb:mt-1">Carbon Fold 1</h3>
                    <span class="u20Light_v2 mb-2 mb:!text-[14px] text-center">29 lbs E-BIke & Super
                        space-efficient</span>
                    <img class="max-h-[370px]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241008-180903_2x_60bcc031-286f-410b-8631-a06c79d1777a.png?v=1733736887"
                        alt="">
                </div>
            </div>
        </section>
    </section>
    <section
        class="bg-black text-white aspect-[1920/865] pt-[7vh] bg-center bg-no-repeat bg-cover bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24881_2x_aa03ac92-5174-40f4-aaff-1ab7effff3f0.jpg?v=1733738498')] bg-black mb:bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24884_2x_cfad0342-2e36-48bb-92d6-ab5e590548d3.jpg?v=1733739122')] mb:bg-contain mb:bg-top">
        <section class="centeral-content flex flex-col">
            <h2 class="u36DemiBold_v2 text-center mb:!text-[20px] mb:mt-[88vw] mb:text-left">Urtopia GPTs</h2>
            <p
                class="u17Light_v2 max-w-[680px] mb:!text-[15px] text-center self-center mt-6 mb-8 mb:mt-5 mb:mb-8 mb:text-left">
                <span>
                    Powered By ChatGPT, World’s first voice assistance for bicycling. Explore more possiblities of Fun
                    Riding <br><br>Imagine that you are talking to a bicycle, and have an AI companion that provides you
                    with tips and help during the riding. Introducing you the Urtopia GPTs, the world’s first voice
                    assistance for bicycling
                </span>
            </p>
            <a class="my-button my-button-origin self-center mb-20 mb:mb-12" href="http://" target="_blank"
                rel="noopener noreferrer">Urtopia GPTs</a>
        </section>
    </section>
    <section class="bg-black text-white py-[14vh] mb:p-0">
        <section class="centeral-content">
            <div class="grid grid-cols-3 gap-6 mb:grid-cols-1 mb:space-y-6">
                <div class="flex flex-col">
                    <h4 class="text-center u24Medium_v2 mb:my-5 mb:text-left mb:!text-[20px]">Bluetooth music</h4>
                    <p class="u17Light_v2 mb:!text-[14px] text-center mt-4 mb-6 px-4 mb:my-0 mb:text-left mb:px-0">
                        <span>
                            We know the importance of music, so we build in a bluetooth speaker, you can enjoy your
                            favourite music when riding without carrying an external speaker.
                        </span>
                    </p>
                    <span class="flex-1"></span>
                    <img class="rounded-xl mb:order-first"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24450_2x_a673546f-0dc0-4635-82d2-b680ec0cdbca.png?v=1733739742"
                        alt="">
                </div>
                <div class="flex flex-col">
                    <h4 class="text-center u24Medium_v2 mb:my-5 mb:text-left mb:!text-[20px]">GPS tracking and fence</h4>
                    <p class="u17Light_v2 mb:!text-[14px] text-center mt-4 mb-6 px-4 mb:my-0 mb:text-left mb:px-0">
                        <span>
                            Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s position,
                            even in the worst scenario of theft.
                        </span>
                    </p>
                    <span class="flex-1"></span>
                    <img class="rounded-xl mb:order-first"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/18878_2x_dda86224-6a50-4687-8efb-a0249f980710.png?v=1733740003"
                        alt="">
                </div>
                <div class="flex flex-col">
                    <h4 class="text-center u24Medium_v2 mb:my-5 mb:text-left mb:!text-[20px]">Customized your motor</h4>
                    <p class="u17Light_v2 mb:!text-[14px] text-center mt-4 mb-6 px-4 mb:my-0 mb:text-left mb:px-0">
                        <span>
                            Optimize assist modes for powerful hill climbs or energy-saving long rides, tailoring your
                            ride to any journey for maximum performance.
                        </span>
                    </p>
                    <span class="flex-1"></span>
                    <img class="rounded-xl mb:order-first"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24478_2x_18dc1fa3-689d-4876-b8ae-f59df9c053a5.png?v=1733739996"
                        alt="">
                </div>
            </div>
            <div
                class="grid grid-cols-2 items-center mt-[15vh] pl-12 gap-12 mb:grid-cols-1 mb:p-[8vw] mb:gap-0 mb:bg-[#222222] mb:mx-[-8vw] mb:mt-12 mb:pb-20">
                <div>
                    <img class="max-w-[300px] mb-6 mb:max-w-[220px] mb:mb-8"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24897_2x_89ccb676-ef32-4d2f-9d29-d7bb05c9f435.png?v=1733732466"
                        alt="">
                    <h2 class="u36DemiBold_v2 mb:!text-[20px] mb-12 mb:mb-0">CES 2025 Invitation From <br>Urtipia Carbon
                        Fiber Expert
                    </h2>
                </div>
                <div>
                    <ul class="u17Light_v2 mb-10 space-y-4 mb:!text-[14px] mb:my-8">
                        <li><b class="font-semibold">Jan 7-10, 2025 Las Vegas</b></li>
                        <li><b class="font-semibold">Booth No.#53852,</b> Venetian Expo, Halls A-D</li>
                        <li><b class="font-semibold">Contact Person:</b> Rachel S.</li>
                        <li><b class="font-semibold">Contact Email: </b><a class="my-link"
                                href="mailto:rachel@newurtopia.com">rachel@newurtopia.com</a></li>
                        <li><b class="font-semibold">Media Kit</b> link below</li>
                    </ul>
                    <a class="my-button my-button-origin mb:self-center" href="http://" target="_blank"
                        rel="noopener noreferrer">Media Kit</a>
                </div>
            </div>
        </section>
    </section>