<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    theme: {
      extend: {
        screens: {
          mb: { max: '768px' },
          lg: { max: '1023px' },
        },
      },
    },
  };
</script>
<style>
  h1,
  h2,
  h3,
  h4 {
    color: inherit;
  }
</style>

<section class="background-image er-text-white er-aspect-[1920/750] mb:er-aspect-auto er-bg-black">
  {% render 'image', first_screen: true, class: "mb:!er-object-top mb:!er-object-contain" src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26676_2x_839b8c5c-e77a-44d4-8183-5ea8853a4514.jpg?v=1764927210", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26681_2x_432b5f76-a2ff-4ac3-81a8-fdff9c69f5c5.jpg?v=1764927190" %}
  <div class="centeral-content er-h-full er-flex er-flex-col er-justify-center er-px-6">
    <div class="md:er-hidden er-aspect-square"></div>
    <div class="er-flex er-flex-col er-items-start er-max-w-4xl">
      <h1 class="text-size36 mb:er-text-4xl">Where AI, Digital Health,<br class="md:er-hidden">and Sustainability Ride as One</h1>
      <div class="text-size18 er-mt-8 mb:er-text-2xl">Meet the Urtopia IoT Ecosystem — smart hardware,real-time data,<br class="md:er-hidden">and cloud intelligence working in sync:</div>
      <div class="er-flex er-flex-col er-text-left er-mt-16">
        <h2 class="text-size24 mb:er-text-3xl">Urtopia Smart E-Bikes</h2>
        <div class="text-size18 mb:er-text-2xl">AI-powered riding with intelligent control</div>
      </div>
      <div class="er-flex er-flex-col er-text-left er-mt-8">
        <h2 class="text-size24 mb:er-text-3xl">Aivela Smart Ring Pro</h2>
        <div class="text-size18 mb:er-text-2xl">AI-driven wearable with touch & gesture interaction</div>
      </div>
      <div class="er-flex er-flex-col er-text-left er-mt-8">
        <h2 class="text-size24 mb:er-text-3xl">Urtopia Carbon Smart Helmet 1</h2>
        <div class="text-size18 mb:er-text-2xl">AI-enhanced safety with voice-enabled control</div>
      </div>
      <div class="text-size18 er-mt-16 mb:er-text-2xl">
        Together, they make exercise, health, recovery,and social<br class="md:er-hidden">rides easier, smarter, and more enjoyable.
      </div>
    </div>
  </div>
</section>

<section
  class="text-white aspect-[1920/850] bg-center bg-no-repeat bg-cover bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26676_2x_839b8c5c-e77a-44d4-8183-5ea8853a4514.jpg?v=1764927210')] bg-black mb:bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26681_2x_432b5f76-a2ff-4ac3-81a8-fdff9c69f5c5.jpg?v=1764927190')] mb:bg-contain mb:bg-top"
>
  <section class="centeral-content h-full er-grid er-grid-cols-2 gap-x-[10%] overflow-hidden mb:er-grid-cols-1 mb:h-auto">
    <div class="mb:h-[80vw] order-1 mb:order-none"></div>
    <div class="flex flex-col justify-center items-start mb:pt-12 mb:pb-16">
      <img
        class="max-w-[300px] mb-8 mb:max-w-[220px]"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24897_2x_89ccb676-ef32-4d2f-9d29-d7bb05c9f435.png?v=1733732466"
        alt=""
      >
      <h2 class="u36DemiBold_v2 mb:!text-[20px]">
        CES 2025 Invitation From <br>
        Urtopia Carbon Fiber Expert
      </h2>
      <ul class="u17Light_v2 mt-24 mb-16 space-y-6 mb:!text-[14px] mb:my-12">
        <li><b class="font-semibold">Jan 7-10, 2025 Las Vegas</b></li>
        <li><b class="font-semibold">Booth No.#53852,</b> Venetian Expo, Halls A-D</li>
        <li><b class="font-semibold">Contact Person:</b> Rachel S.</li>
        <li>
          <b class="font-semibold">Contact Email: </b
          ><a
            class="my-link"
            href="mailto:rachel@newurtopia.com"
            >rachel@newurtopia.com</a
          >
        </li>
        <li><b class="font-semibold">Media Kit</b> link below</li>
      </ul>
      <div>
        <a
          class="my-button my-button-origin mb:self-center"
          href="https://drive.google.com/drive/folders/1vV0qvt7Zku_6Hcp8iPEV2ztugB_osagT"
          target="_blank"
          rel="noopener noreferrer"
          >Media Kit</a
        >
        <a
          class="my-button my-button-ghost ml-4 mb:self-center"
          href="/collections/urtopia-black-friday-sale"
          target="_blank"
          >Order now</a
        >
      </div>
    </div>
  </section>
</section>

<section class="mb:pt-[88vw] mb:pb-16 mb:aspect-auto pt-[10vh] text-white aspect-[1920/1120] bg-bottom bg-no-repeat bg-contain bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19515_2x_8d0d4fd5-4dde-4630-a7a2-6babf79c260a.jpg?v=1734404223')] bg-black mb:bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19516_2x_e93d421b-b87b-4035-921e-5472cebf8e1a.jpg?v=1734407829')] mb:bg-contain mb:bg-top">
  <section class="centeral-content text-center flex flex-col items-center mb:text-left mb:items-start">
    <h2 class="u60DemiBold_v2 mb:!text-[30px]">Titanium Zero</h2>
    <span class="u36Medium_v2 text-[#FD4B17] mt-4 mb-12 mb:!text-[20px] mb:my-8">23.8 lbs Titanium E-Bike</span>
    <p class="u17Light_v2 max-w-[600px] mb:!text-[14px]">
      <span>
        Urtopia’s first titanium alloy e-bike, the Titanium Zero, is the world’s lightest, strongest, and most durable
        e-bike. Featuring a 3D-printed titanium frame, the lightest motor, and advanced solid-state battery, it offers
        unmatched performance, endurance, and minimal weight.
      </span>
    </p>
  </section>
</section>

<section class="bg-black text-white">
  <section class="centeral-content er-grid er-grid-cols-3 gap-4 mb:er-grid-cols-1 mb:gap-8">
    <div class="rounded-3xl row-span-2 overflow-hidden text-center py-12 px-24 relative z-0 mb:aspect-[315/200] mb:py-8 mb:px-12 mb:row-span-1">
      <span class="u20Medium_v2 mb:!text-[16px]">World’s lightest, highest torque-density motor</span>
      <img
        class="absolute inset-0 z-[-1] lozad mobileHide"
        loading="lazy"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24910_2x_68a05300-f440-4f42-8cd4-cc702e913019.jpg?v=1734405292"
        alt=""
      >
      <img
        class="absolute inset-0 z-[-1] lozad pcHide"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24912_2x_dc3ac92c-caa2-4ff2-9a9a-642d532a35e0.jpg?v=1734408548"
        alt=""
      >
    </div>
    <div class="rounded-3xl overflow-hidden text-center py-12 px-24 relative z-0 aspect-[420/320] mb:aspect-[315/200] mb:py-8 mb:px-12">
      <span class="u20Medium_v2 mb:!text-[16px]">3D-printed full titanium frame</span>
      <img
        class="absolute inset-0 z-[-1] lozad mobileHide"
        loading="lazy"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24909_2x_29d52eb8-8b2b-42cf-9ae8-68ae20bad4bd.jpg?v=1734405297"
        alt=""
      >
      <img
        class="absolute inset-0 z-[-1] lozad pcHide"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24913_2x_328f2ce7-685c-4eb3-b884-b44f3c2f5569.jpg?v=1734408870"
        alt=""
      >
    </div>
    <div class="rounded-3xl overflow-hidden text-center py-12 px-24 relative z-0 mb:aspect-[315/200] mb:py-8 mb:px-12">
      <span class="u20Medium_v2 mb:!text-[16px]">Carbon wheels, fork, crankset, titanium seatpost</span>
      <img
        class="absolute inset-0 z-[-1]"
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/6_2x_779541ba-1bd1-40eb-bc54-7161ded970fc.jpg?v=1734405309"
        alt=""
      >
    </div>
    <div class="rounded-3xl overflow-hidden text-center py-12 px-24 relative z-0 aspect-[420/320] mb:aspect-[315/200] mb:py-8 mb:px-12">
      <span class="u20Medium_v2 mb:!text-[16px]">300Wh/kg solid-state battery</span>
      <img
        class="absolute inset-0 z-[-1]"
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24908_2x_02f9256a-4cd3-4e7e-8a57-cc47615e7417.jpg?v=1734405304"
        alt=""
      >
    </div>
    <div class="rounded-3xl overflow-hidden text-center py-12 px-24 relative z-0 mb:aspect-[315/200] mb:py-8 mb:px-12">
      <span class="u20Medium_v2 mb:!text-[16px]">SRAM 12-speed electronic shifting compatible</span>
      <img
        class="absolute inset-0 z-[-1]"
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24907_2x_ee4cf3f3-c8bc-4873-abca-b585d77b7dde.jpg?v=1734405286"
        alt=""
      >
    </div>
  </section>
</section>

<section class="mb:aspect-auto mb:bg-top mb:pt-[88vw] mb:pb-20 bg-black text-white aspect-[1920/1300] pt-[20vh] bg-bottom bg-no-repeat bg-contain bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19512_2x_9efe2b12-ed37-44c1-81b3-2b71b3d9b00b.jpg?v=1734406639')] mb:bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19517_2x_83e0f1bd-db58-4491-8879-cf4e59dacbf0.jpg?v=1734414161')]">
  <section class="centeral-content flex flex-col text-center h-full mb:text-left">
    <h2 class="u60DemiBold_v2 mb:!text-[30px]">Quark DM1.2</h2>
    <span class="u36Medium_v2 text-[#FD4B17] mt-4 mb-12 mb:!text-[20px]">Pocket-Sized, Rocket-Powered</span>
    <p class="u17Light_v2 max-w-[600px] self-center mb:!text-[15px]">
      <span>
        Quarks, the smallest elements ever known to mankind, yet possess the admirable power to be indivisible. <br>
        <br>
        The three core features of the Quark DM1.2: (1) Lightness; (2) Power; (3) Precision. Its integrated motor,
        reducer, and clutch unit deliver powerful torque, while torque sensors and magnetic encoders ensure smooth,
        precise assistance, offering effortless control and a natural ride on any terrain.
      </span>
    </p>
    <span class="flex-1"></span>
    <ul
      role="list"
      class="u17Light_v2 space-y-6 list-disc marker:text-[#FD4B17] text-left pl-8 mb:!text-[14px] mb:mt-12"
    >
      <li><b class="font-semibold">Weight: &lt;2.6 lbs</b></li>
      <li><b class="font-semibold">65 Nm</b> Max Torque</li>
      <li><b class="font-semibold">High-Precision</b> Torque Sensor</li>
      <li><b class="font-semibold">Dynamic</b> Magnetic Encoder</li>
      <li><b class="font-semibold">Fits High-Performance</b> Hollow Cranksets</li>
    </ul>
    <span class="flex-1"></span>
  </section>
</section>
<video
  class="hidden bg-black mb:!block "
  playsinline
  loop
  autoplay
  muted
  src="https://cdn.shopify.com/videos/c/o/v/52cde79203f44326b588dec29db3c6b8.mp4"
></video>
<section class="bg-black text-white pt-[8vh] pb-[13vh] mb:pt-12 mb:pb-24">
  <section class="centeral-content flex flex-col">
    <h2 class="u36DemiBold_v2 text-center mb:!text-[20px]">Carbon Fiber E-Bike Expert</h2>
    <p class="u17Light_v2 max-w-[680px] mb:!text-[15px] text-center self-center mt-12 mb-20 mb:mt-9 mb:mb-16">
      <span>
        All Urtopia e-bikes are built with premium Toray carbon fiber, renowned for its use in race cars. As a leader in
        carbon e-bike shipments, we exceed safety standards with Top 1% Industry Carbon Fiber Molding Technologies,
        delivering precision and durability. As carbon fiber experts, we’re committed to providing the lightest riding
        experience.
      </span>
    </p>
    <a
      class="my-button my-button-origin self-center mb-32 mb:mb-20"
      href="/pages/carbon-expert"
      target="_blank"
      rel="noopener noreferrer"
      >Learn more</a
    >
    <div class="er-grid er-grid-cols-2 gap-16 mb:er-grid-cols-1 mb:gap-12">
      <div class="flex flex-col rounded-xl bg-[#1a1a1a] items-center p-6 mb:p-4">
        <h3 class="u36DemiBold_v2 mt-9 mb-4 mb:!text-[20px] mb:mt-2">Carbon 1 Pro</h3>
        <span class="u20Light_v2 mb:!text-[14px] text-center">City commuting and workout</span>
        <img
          class="max-h-[370px]"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19463_2x_75616a57-f1ef-4f0d-b9c3-941d881f52e6.png?v=1733735733"
          alt=""
        >
        <span class="flex-1"></span>
        <img
          class="max-w-[110px] mb:max-w-[60px]"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24895_2x_d73fcfee-7c9c-4146-8c46-95a9950e9580.png?v=1733735727"
          alt=""
        >
      </div>
      <div class="flex flex-col rounded-xl bg-[#1a1a1a] items-center p-6 mb:p-4">
        <h3 class="u36DemiBold_v2 mt-9 mb-4 mb:!text-[20px] mb:mt-2">Carbon Fusion GT</h3>
        <span class="u20Light_v2 mb:!text-[14px] text-center">The world’s first dual-motor & dual-battery e-bike</span>
        <img
          class="max-h-[370px] object-cover"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yellow_2x_1e7d3c66-23ea-413f-8510-10bcc6d8e67c.png?v=1733736487"
          alt=""
        >
        <span class="flex-1"></span>
        <img
          class="max-w-[294px] mb:max-w-[160px]"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24896_2x_a6e9901a-ecf5-4a04-b65b-e2fcbc1191cf.png?v=1733736493"
          alt=""
        >
        <span class="flex-1"></span>
      </div>
      <div class="flex flex-col rounded-xl bg-[#1a1a1a] items-center p-6 mb:p-4">
        <h3 class="u36DemiBold_v2 mt-9 mb-4 mb:!text-[20px] mb:mt-2">Carbon 1 ST</h3>
        <span class="u20Light_v2 mb-4 mb:!text-[14px] text-center">Coming Soon</span>
        <img
          class="max-h-[370px]"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241206-142930_2x_6eb5fdfd-169c-4184-884e-c92053ba1e6c.png?v=1733736896"
          alt=""
        >
      </div>
      <div class="flex flex-col rounded-xl bg-[#1a1a1a] items-center p-6 mb:p-4">
        <h3 class="u36DemiBold_v2 mt-9 mb-4 mb:!text-[20px] mb:mt-2">Carbon Fold 1</h3>
        <span class="u20Light_v2 mb-4 mb:!text-[14px] text-center">29 lbs E-BIke & Lightest and smallest foldable ebike</span>
        <img
          class="max-h-[370px]"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241008-180903_2x_60bcc031-286f-410b-8631-a06c79d1777a.png?v=1733736887"
          alt=""
        >
      </div>
    </div>
  </section>
</section>
<section
  class="bg-black text-white aspect-[1920/865] pt-[7vh] bg-center bg-no-repeat bg-cover bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24881_2x_aa03ac92-5174-40f4-aaff-1ab7effff3f0.jpg?v=1733738498')] bg-black mb:bg-[url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24884_2x_cfad0342-2e36-48bb-92d6-ab5e590548d3.jpg?v=1733739122')] mb:bg-contain mb:bg-top"
>
  <section class="centeral-content flex flex-col">
    <h2 class="u36DemiBold_v2 text-center mb:!text-[20px] mb:mt-[88vw] mb:text-left">Urtopia GPTs</h2>
    <p
      class="u17Light_v2 max-w-[680px] mb:!text-[15px] text-center self-center mt-12 mb-16 mb:mt-8 mb:mb-12 mb:text-left"
    >
      <span>
        Powered By ChatGPT, World’s first voice assistance for bicycling. Explore more possiblities of Fun Riding <br>
        <br>
        Imagine that you are talking to a bicycle, and have an AI companion that provides you with tips and help during
        the riding. Introducing you the Urtopia GPTs, the world’s first voice assistance for bicycling
      </span>
    </p>
    <a
      class="my-button my-button-origin self-center mb-30 mb:mb-20"
      href="/pages/pages-smartest-ebike"
      target="_blank"
      rel="noopener noreferrer"
      >Urtopia GPTs</a
    >
  </section>
</section>
<section class="bg-black text-white py-[14vh] mb:p-0">
  <section class="centeral-content">
    <div class="er-grid er-grid-cols-3 gap-9 mb:er-grid-cols-1 mb:space-y-9">
      <div class="flex flex-col">
        <h4 class="text-center u24Medium_v2 mb:my-5 mb:text-left mb:!text-[20px]">Bluetooth music</h4>
        <p class="u17Light_v2 mb:!text-[14px] text-center mt-6 mb-12 px-6 mb:my-0 mb:text-left mb:px-0">
          <span>
            We know the importance of music, so we build in a bluetooth speaker, you can enjoy your favourite music when
            riding without carrying an external speaker.
          </span>
        </p>
        <span class="flex-1"></span>
        <img
          class="rounded-xl mb:order-first"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24450_2x_a673546f-0dc0-4635-82d2-b680ec0cdbca.png?v=1733739742"
          alt=""
        >
      </div>
      <div class="flex flex-col">
        <h4 class="text-center u24Medium_v2 mb:my-5 mb:text-left mb:!text-[20px]">GPS tracking and fence</h4>
        <p class="u17Light_v2 mb:!text-[14px] text-center mt-6 mb-12 px-6 mb:my-0 mb:text-left mb:px-0">
          <span>
            Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s position, even in the
            worst scenario of theft.
          </span>
        </p>
        <span class="flex-1"></span>
        <img
          class="rounded-xl mb:order-first"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/18878_2x_dda86224-6a50-4687-8efb-a0249f980710.png?v=1733740003"
          alt=""
        >
      </div>
      <div class="flex flex-col">
        <h4 class="text-center u24Medium_v2 mb:my-5 mb:text-left mb:!text-[20px]">Customized your motor</h4>
        <p class="u17Light_v2 mb:!text-[14px] text-center mt-6 mb-12 px-6 mb:my-0 mb:text-left mb:px-0">
          <span>
            Optimize assist modes for powerful hill climbs or energy-saving long rides, tailoring your ride to any
            journey for maximum performance.
          </span>
        </p>
        <span class="flex-1"></span>
        <img
          class="rounded-xl mb:order-first"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24478_2x_18dc1fa3-689d-4876-b8ae-f59df9c053a5.png?v=1733739996"
          alt=""
        >
      </div>
    </div>
    <div
      class="er-grid er-grid-cols-2 items-center mt-[15vh] pl-20 gap-20 mb:er-grid-cols-1 mb:p-[8vw] mb:gap-0 mb:bg-[#222222] mb:mx-[-8vw] mb:mt-20 mb:pb-32"
    >
      <div>
        <img
          class="max-w-[300px] mb-9 mb:max-w-[220px] mb:mb-12"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24897_2x_89ccb676-ef32-4d2f-9d29-d7bb05c9f435.png?v=1733732466"
          alt=""
        >
        <h2 class="u36DemiBold_v2 mb:!text-[20px] mb-20 mb:mb-0">
          CES 2025 Invitation From <br>
          Urtopia Carbon Fiber Expert
        </h2>
      </div>
      <div>
        <ul class="u17Light_v2 mb-16 space-y-6 mb:!text-[14px] mb:my-12">
          <li><b class="font-semibold">Jan 7-10, 2025 Las Vegas</b></li>
          <li><b class="font-semibold">Booth No.#53852,</b> Venetian Expo, Halls A-D</li>
          <li><b class="font-semibold">Contact Person:</b> Rachel S.</li>
          <li>
            <b class="font-semibold">Contact Email: </b
            ><a
              class="my-link"
              href="mailto:rachel@newurtopia.com"
              >rachel@newurtopia.com</a
            >
          </li>
          <li><b class="font-semibold">Media Kit</b> link below</li>
        </ul>
        <a
          class="my-button my-button-origin mb:self-center"
          href="https://drive.google.com/drive/folders/1vV0qvt7Zku_6Hcp8iPEV2ztugB_osagT"
          target="_blank"
          rel="noopener noreferrer"
          >Media Kit</a
        >
      </div>
    </div>
  </section>
</section>
