{{ 'eurobike.scss.css' | asset_url | stylesheet_tag: preload: true }}

<style>
  .video {
    aspect-ratio: 16 / 9;
  }
</style>

<div class="banner">
  <div class="centeral-content">
    <h1 class="u60Medium_v2">
      Meet Urtopia GPTs: <br>
      World’s First <br class="pcHide">
      ChatGPT E-Bike
    </h1>
    <p class="u24Light_v2">
      <span> Witness The World’s First Intelligent Voice Assistant for Bicycling </span>
    </p>
  </div>
</div>
<div class="centeral-content textextext">
  <p class="u17Light_v2">
    <span>
      At last year’s Eurobike, Urtopia debuted as the world’s first e-bike with ChatGPT. Some saw it as just hype. Well,
      over the past year, we’ve enhanced its AI features. Now, Urtopia GPTs have matured, ready to remember you, help
      you, and empower you. Introducing Urtopia GPTs.
    </span>
  </p>
  <div class="video">
    <iframe
      title="YouTube video player"
      src="https://www.youtube.com/embed/T1ymCuxzSyI?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=0&amp;enablejsapi=1"
      height="100%"
      width="100%"
      allowfullscreen=""
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      frameborder="0"
    >
    </iframe>
  </div>
</div>
<div class="mediasss">
  <div class="centeral-content">
    <h2 class="u48Medium_v2 mobileHide">Widespread Acclaim Since Borned</h2>
    <div class="swiper-wrapper items">
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19137_2x_a4b94978-6f1e-4f87-9247-37c9a6a327e0.png?v=1717037112"
          alt=""
        >
        <span class="u17DemiBold_v2">“It’s incredibly fun to ride.”</span>
      </div>
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19139_2x_ba56230c-e945-4012-8d1a-b8935dad16c7.png?v=1717037117"
          alt=""
        >
        <span class="u17DemiBold_v2">“Urtopia e-bike is basically a computer on wheels”</span>
      </div>
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19112_2x_d00cf68b-bb9b-459d-bd66-c4e7863f997c.png?v=1717036360"
          alt=""
        >
        <span class="u17DemiBold_v2"
          >“The AI-powered co-pilot adds a new level of intelligence and interactivity to the already tech-infused
          e-bikes offered by Urtopia.”</span
        >
      </div>
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19136_2x_fc15ffff-6b24-433b-8642-793e81c598f7.png?v=1717037123"
          alt=""
        >
        <span class="u17DemiBold_v2"
          >“You won’t find a bike much lighter with more tech baked in than the Urtopia. ”</span
        >
      </div>
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19151_2x_41a30e4e-5aaa-4a14-a878-660eef6336da.png?v=1717037246"
          alt=""
        >
        <span class="u17DemiBold_v2"
          >“die mit ihrem gleichnamigen Carbon-Bike ein optisch als auch technisch in mehreren Punkten spannendes
          Pedelec anbietet.”</span
        >
      </div>
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19142_2x_5b362288-352e-4a34-99db-07c2f1e151a5.png?v=1717037238"
          alt=""
        >
        <span class="u17DemiBold_v2"
          >“Mehr Spaß und Komfort soll bei Urtopia vor allem künstliche Intelligenz (KI) bringen.”</span
        >
      </div>
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19144_2x_f3f97e5d-94b4-48f9-8b87-303681f449bc.png?v=1717037229"
          alt=""
        >
        <span class="u17DemiBold_v2">“Schick, leicht und elektrisch ist das Carbon-Pedelec von Urtopia außerdem.”</span>
      </div>
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19140_2x_0cea74ee-491b-48e0-8ae6-42151b008315.png?v=1717037223"
          alt=""
        >
        <span class="u17DemiBold_v2">“Das Urtopia ist ein Computer, der auch fahren kann.”</span>
      </div>
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19143_2x_dac7eb1b-a518-40ff-af14-0807fc92cd0c.png?v=1717037379"
          alt=""
        >
        <span class="u17DemiBold_v2">“Sprechendes E-Bike mit Allradantrieb”</span>
      </div>
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240530-105629.png?v=1717037807"
          alt=""
        >
        <span class="u17DemiBold_v2">“The iPhone among e-bikes”</span>
      </div>
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19146_2x_bd2bc961-cebc-4934-a2d4-a41cba814a7a.png?v=1717037385"
          alt=""
        >
        <span class="u17DemiBold_v2">“iPhone unter den E-Bikes“ bezeichnet zu werden’.”</span>
      </div>
      <div class="swiper-slide item">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19145_2x_09157a49-ecc6-4119-b0d3-27f832e6b2a6.png?v=1717037375"
          alt=""
        >
        <span class="u17DemiBold_v2">“Agil-handlicher Stadtflitzer”</span>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="centeral-content real">
  <img
    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/dddd_2x_18510eae-047f-46ce-b9a7-19077f9fb45a.jpg?v=1717038939"
    alt=""
  >
  <div class="item">
    <h2 class="u48Medium_v2">Real AI E-Bike</h2>
    <h3 class="u24Medium_v2">This Bike Can Introduce Itself</h3>
    <p class="u17Light_v2">
      <span>
        Urtopia GPTs have been trained thousands of times to become your dedicated Urtopia riding assistant. It can
        introduce itself and instantly provide answers to any questions you have about Urtopia or cycling. Now, it’s
        your personal encyclopedia for all things Urtopia riding.
      </span>
    </p>
  </div>
  <div class="item">
    <h2 class="u48Medium_v2">Flawless Voice Interaction</h2>
    <h3 class="u24Medium_v2">Remembers You, Travels with You</h3>
    <p class="u17Light_v2">
      <span>
        Urtopia GPTs now offer real-time online voice feedback with enhanced language recognition. Quickly control
        functions like gears and lights by speaking. Get helpful tips and navigation for a smoother, more enjoyable
        ride.
      </span>
    </p>
  </div>
  <img
    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Screenshot_2023-12-27_at_11.15.34_AM_2x_2677ba2f-a05f-401c-bf0f-575b0e14be4b.jpg?v=1717038383"
    alt=""
  >
  <img
    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/pp_2x_cd8c2adf-9db7-4e58-887f-009d3ff3c986.jpg?v=1717038376"
    alt=""
  >
  <div class="item">
    <h2 class="u48Medium_v2">Genuine Human-Bike Interaction</h2>
    <h3 class="u24Medium_v2">Understands You, Empowers You</h3>
    <p class="u17Light_v2">
      <span>
        Urtopia GPTs can now remember commands and engage in multi-turn natural conversations, chatting with you like a
        friend. It even offers logical riding advice, ensuring the best acceleration and navigation for different
        scenarios.
      </span>
    </p>
  </div>
</div>
<div class="invite centeral-content">
  <div class="icons">
    <img
      style="height: 22px;"
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/new_logo2_300x_2x_fa2b12b3-14c3-4a13-881c-489840cf6a14.png?v=1717041045"
      alt=""
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Image_332_2x_e0cf804e-3e33-484f-af4d-8a55a22302b8.png?v=1717041040"
      alt=""
    >
  </div>
  <h2 class="u48Medium_v2">
    Invite You to Experience the <br>
    Groundbreaking Urtopia GPTs!
  </h2>
  <div class="items">
    <div class="u20Light_v2">
      <img
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/placeholder_2x_7c83f0c0-f299-496b-bd37-45bd7752e713.png?v=1717048988"
        alt=""
      >
      <span>Ludwig-Erhard-Anlage 1, 60327 Frankfurt am Main, Germany</span>
    </div>
    <div class="u20Light_v2">
      <img
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/time_1_2x_0f790d52-a02b-4e00-8a07-9742b6c47856.png?v=1717048982"
        alt=""
      >
      <span>03.07. - 07.07. 2024 Booth: Hall 8.0 E16</span>
    </div>
  </div>
  <a
    href="https://drive.google.com/drive/folders/1sqo2qrYMrb1jARSXaNOT86Rb3JHbWSkH"
    target="_blank"
    rel="noopener noreferrer"
    class="my-button"
    >Media brief</a
  >
</div>
<div class="world">
  <div class="centeral-content">
    <h3 class="u24Medium_v2">Urtopia Fusion</h3>
    <h2 class="u48Medium_v2">
      The world’s first <br>
      DMDB ebike
    </h2>
    <p class="u17Light_v2">
      <span>
        DMDB means dual motor and dual batteries, offering an extended range of 200 kilometers with a dual-drive 500W
        motor at the front and rear. Fusion GT provides a thrilling sense of speed.
      </span>
    </p>
    <div>
      <div class="u17Medium_v2">
        <span class="pcHide">Up to</span>
        <span
          ><span class="mobileHide">Up to</span>
          <h3 class="u48Medium_v2">1000w</h3>
        </span>
        <span>Dual-Motor</span>
      </div>
      <div class="u17Medium_v2">
        <span class="pcHide">Up to</span>
        <span
          ><span class="mobileHide">Up to</span>
          <h3 class="u48Medium_v2">200km</h3>
        </span>
        <span>Dual-Battery</span>
      </div>
    </div>
  </div>
  <img
    class="pcHide"
    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23601_2x_8cc6f413-0053-4206-9af1-b81a07c70bd8.jpg?v=1717056579"
    alt=""
  >
</div>
<div class="design">
  <div class="centeral-content">
    <img
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/VOE_Artikelbild_Forward_HartmutEsslinger_6_2x_4b470b6d-deb6-4590-a673-6b2833021ae0.jpg?v=1717040374"
      alt=""
    >
    <div class="item">
      <h3 class="u24Medium_v2">Mastered Design</h3>
      <h2 class="u36Medium_v2">Hartmut Esslinger</h2>
      <h2 class="u36Medium_v2">
        Legendary Designer <br>
        For Apple & Sony
      </h2>
      <p class="u17Light_v2">
        <span>
          Legendary designer Hartmut Esslinger, renowned for his iconic contributions to Apple and Sony, has brought his
          expertise to the development of our new e-bike, Fusion. All designs are guided by the principle “form follows
          function,” emphasizing safety, versatile terrains, and user-friendly simplicity. This sets the tone for
          Fusion.
        </span>
      </p>
    </div>
    <div class="item">
      <h2 class="u36Medium_v2">Award-winning Design</h2>
      <p class="u17Light_v2">
        <span>
          Fusion made its debut at CES and immediately won the CES 2024 Honorees Award and recognition from USA Today.
        </span>
      </p>
      <div class="icons">
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19118_2x_422c51f0-e197-4aa0-b2e0-ff5a44e12642.png?v=1717040781"
          alt=""
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Image_330_2x_101de0ac-b398-4108-922f-c91fe83afa3d.png?v=1717040774"
          alt=""
        >
      </div>
    </div>
    <img
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/45_2x_fec97cc4-f01e-4c87-b9a1-d5f5fd1142ec.jpg?v=1717040705"
      alt=""
    >
  </div>
</div>
<div class="centeral-content feature">
  <h3 class="u24Medium_v2">New App Feature</h3>
  <h2 class="u36Medium_v2">Custom Gear Shifts for Ultimate Control</h2>
  <p class="u17Light_v2">
    <span>
      With our latest app update, you can now personalize your gear shift settings. Once familiar with Urtopia riding,
      you can adjust the acceleration to suit your preferences, making your ride more personalized. Your unique speed is
      right here.
    </span>
  </p>
  <img
    class="mobileHide"
    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/a_a_a_2x_ce857b97-4b70-413f-9fdc-3eef91625354.jpg?v=1717050687"
    alt=""
  >
  <img
    class="pcHide"
    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/a_a_a_2x_02297fa1-f0dc-4a89-9954-19e929e05ba8.jpg?v=1717057428"
    alt=""
  >
  <h3 class="u24Medium_v2">AIOT Platform</h3>
  <h2 class="u36Medium_v2">Why We are Smartest E-Bike</h2>
  <p class="u17Light_v2">
    <span>
      We have built a set of motor electronic controls, IOT systems and cloud servers, and are linked through eSIM cards
      to form a bike-shaped mobile phone system architecture. In this way, after we open the API, we can integrate
      software service functions and resources from all human society. As long as a software company opens its API, it
      can be integrated into our ecosystem. That’s why our e-bike has Apple Health, Google Maps, STRAVA and even ChatGPT
      integrated. We want to create an intelligent software and hardware ecosystem.<br>
      <br>
      In addition to software, we are also open to peripheral smart hardware, linking smart helmets, smart rings, smart
      watches, smart AR glasses, etc. with our bikes to form an overall smart riding experience and build smart riding
      ecological products system.
    </span>
  </p>
  <img
    class="mobileHide"
    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/AIOT_2x_44127358-bd7d-4d48-84cd-3830936b19de.jpg?v=1717050887"
    alt=""
  >
  <img
    class="pcHide"
    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/urtopiaaaa_2x_6245c25f-c8a0-4861-992f-c8f4db3c10f1.jpg?v=1717057504"
    alt=""
  >
  {% comment %}
    <h3 class="u24Medium_v2"><b>URTOPIA MOTOR IS ON THE WAY</b></h3>
    <h2 class="u36Medium_v2">Urtopia Self-Developed Motor —Compact Yet Powerful</h2>
    <p class="u17Light_v2">
        <span>
            Experience the ultimate blend of lightness and power with Urtopia’s self-developed motor. Engineered for
            maximum efficiency, our motor is ultra-lightweight but delivers high performance. Discover a smarter,
            stronger, and more stable ride with Urtopia. <br><b>STAY TUNED…</b>
        </span>
    </p>
    <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_24120_2x_744fd188-6149-4684-b4ee-b9bb13dfc293.jpg?v=1717050882"
        alt="">
    <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19154_2x_c1cd04c3-7e02-4ab0-95db-f5caa7dae9c0.jpg?v=1717057510" alt="">
  {% endcomment %}
  <h2 class="u48Medium_v2">Love From Celebrities and Athletes</h2>
  <p class="u17Light_v2">
    <span>Urtopia e-bikes are the choice of celebrities and athletes from around the world.</span>
  </p>
</div>
<div class="successsss successsssc">
  <div class="centeral-content">
    <div class="lowwww">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          onclick="showVideoDialog('https://www.youtube.com/embed/OdzjlfHdd8A?autoplay=1&cc_load_policy=1')"
          style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23757_2x_50010e86-bfe3-4762-9163-a97712d01850.jpg?v=1709091301');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23766_2x_44ed09a3-aa4d-4cfa-bf46-1cd23c02e15f.jpg?v=1709115181')"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067"
            alt=""
          >

          <span class="u30DemiBold_v2">Jennifer Jolly</span>
          <span class="u20Light_v2">Emmy Award-Winning Tech Journalist</span>
        </div>
        <div
          class="swiper-slide"
          onclick="showVideoDialog('https://www.youtube.com/embed/n6KJzVYgqbs?autoplay=1&cc_load_policy=1')"
          style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23756_2x_27c16092-9548-4d2c-adf3-f99069de7781.jpg?v=1709110487');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23765_2x_febc8cb8-e0ef-42f0-a5e8-438d6266d2a8.jpg?v=1709115490')"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067"
            alt=""
          >

          <span class="u30DemiBold_v2">Linus Tech Tips</span>
          <span class="u20Light_v2">15.5M Subscriber Youtube</span>
        </div>
        <div
          class="swiper-slide"
          onclick="showVideoDialog('https://www.youtube.com/embed/OK8cz5u8rZg?autoplay=1&cc_load_policy=1')"
          style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23754_2x_fd50b467-b3b5-4062-9a49-89b1a044d98a.jpg?v=1709111489');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23755_2x_51cce14b-37b9-44e6-a5ba-f4d8197dc340.jpg?v=1709115495')"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067"
            alt=""
          >
          <span class="u30DemiBold_v2">Tracy MacGrady</span>
          <span class="u20Light_v2">NBA Hall of Fame</span>
        </div>
        <div
          class="swiper-slide"
          onclick="showVideoDialog('https://www.youtube.com/embed/gjYMDVGv_C4?autoplay=1&cc_load_policy=1')"
          style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23753_2x_2e84d5bb-9384-48e7-8667-a449ea14b4ae.jpg?v=1709111641');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23780_2x_e5b410e2-a752-41fa-84f2-11b42514ef76.jpg?v=1709123581')"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067"
            alt=""
          >
          <span class="u30DemiBold_v2">Maksim Mrvica</span>
          <span class="u20Light_v2">The world’s fastest pianists</span>
        </div>
        <div
          class="swiper-slide"
          onclick="showVideoDialog('https://player.vimeo.com/video/799468067?api=1&autoplay=false&loop=false&mute=false&controls=true&portrait=false&byline=false&title=false')"
          style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23758_2x_63b1fe76-8995-444a-8ac3-120967e007f0.jpg?v=1709114299');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23770_2x_4b63b769-e9b1-4b41-ab4d-b7f7af45aab0.jpg?v=1709115513')"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067"
            alt=""
          >
          <span class="u30DemiBold_v2">Ben Baller</span>
          <span class="u20Light_v2">Best Jewelers in the World</span>
        </div>
        <div
          class="swiper-slide"
          onclick="showVideoDialog('https://www.youtube.com/embed/pLJlv-sP_JQ?autoplay=1&cc_load_policy=1')"
          style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23759_2x_e2d36025-3a64-4aa6-89df-6284e202a604.jpg?v=1709114399');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23771_2x_322077c6-a7ae-4e21-a9cd-0bcc531169fd.jpg?v=1709115519')"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067"
            alt=""
          >
          <span class="u30DemiBold_v2">Max Lemke</span>
          <span class="u20Light_v2">2021 Canoeing Olympic Champion</span>
        </div>
        <div
          class="swiper-slide"
          onclick="showVideoDialog('https://www.youtube.com/embed/b7QmGZvxLIc?autoplay=1&cc_load_policy=1')"
          style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23760_2x_10704a59-8fdb-4ac3-84da-4780a6bfb3d0.jpg?v=1709114448');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23772_2x_bea0e0d2-0f7f-4be3-b768-3ad5a395a6be.jpg?v=1709115525')"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067"
            alt=""
          >
          <span class="u30DemiBold_v2">Philip Heintz</span>
          <span class="u20Light_v2">Vice world champion European champion</span>
        </div>
        <div
          class="swiper-slide"
          onclick="showVideoDialog('https://www.youtube.com/embed/GoZU9kP3cNk?autoplay=1&cc_load_policy=1')"
          style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23761_2x_f746b5e6-b108-438d-ac42-3fda8313c069.jpg?v=1709114497');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23773_2x_52c6710a-141b-407d-9bd5-a451ad3e5af4.jpg?v=1709115532')"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067"
            alt=""
          >
          <span class="u30DemiBold_v2">Franz Loeschke</span>
          <span class="u20Light_v2">5x German champion triathlete</span>
        </div>
        <div
          class="swiper-slide"
          onclick="showVideoDialog('https://www.youtube.com/embed/h3XWj1TXpSw?autoplay=1&cc_load_policy=1')"
          style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23764_2x_ba39e358-f562-4913-92f5-046d9a1b839c.jpg?v=1709114595');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23776_2x_6b6a9261-0c27-404d-906a-1e479a5f3d9b.jpg?v=1709115537')"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067"
            alt=""
          >
          <span class="u30DemiBold_v2">Norris Frederick</span>
          <span class="u20Light_v2">Member of Team USA. 3x Indoor U.S Bronze Medal.</span>
        </div>
        <div
          class="swiper-slide"
          onclick="showVideoDialog('https://www.youtube.com/embed/3elIhWOeVD4?autoplay=1&cc_load_policy=1')"
          style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23763_2x_ddf201df-c782-477e-bda0-32679dcc3e13.jpg?v=1709114590');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23775_2x_5f6f9864-96a0-4d01-8ac7-8deff8c6369c.jpg?v=1709115543')"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067"
            alt=""
          >
          <span class="u30DemiBold_v2">Alessandro Barbero</span>
          <span class="u20Light_v2">BMX rider, 3x Italian champion</span>
        </div>
        <div
          class="swiper-slide"
          onclick="showVideoDialog('https://www.youtube.com/embed/24MRU6SpPM8?autoplay=1&cc_load_policy=1')"
          style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23762_2x_edb30218-1361-4e28-ae4c-580b0a7af74e.jpg?v=1709114584');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23774_2x_dfce330d-ce01-4649-a720-1a72eda60078.jpg?v=1709115549')"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067"
            alt=""
          >
          <span class="u30DemiBold_v2">DiAndre Campbell</span>
          <span class="u20Light_v2">Former Wide Receiver for NFLSF 49ers</span>
        </div>
      </div>
    </div>
    <a class="my-button my-button-black" href="/pages/urtopia-e-bike-review" target="_blank">Learn more</a>
    <img
      class="swiper-button-prev mobileHide"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
      alt=""
    >
    <img
      class="swiper-button-next mobileHide"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
      alt=""
    >
  </div>
</div>

<div class="contact_information">
  <div class="centeral-content">
    <div class="u48DemiBold_v2">Contact Information</div>
    <p class="u17Light_v2">
      <span>Media Inquiries:<br class="pcHide"> [rachel@newurtopia.com]</span>
    </p>
    <a
      href="https://drive.google.com/drive/folders/1sqo2qrYMrb1jARSXaNOT86Rb3JHbWSkH"
      target="_blank"
      rel="noopener noreferrer"
      class="my-button my-button-black"
      >Media brief</a
    >
  </div>
</div>

<script>
  global_config.is_pc &&
    new Swiper('.successsssc .lowwww', {
      // direction: 'vertical',
      slidesPerView: 3.5,
      spaceBetween: 30,
      // slidesOffsetAfter: 400,
      navigation: {
        nextEl: '.successsssc .swiper-button-next',
        prevEl: '.successsssc .swiper-button-prev',
      },
      // effect: 'fade',
      // fadeEffect: {
      //     crossFade: true
      // },
      // pagination: { el: '.successsss .swiper-pagination' },
      // speed: 300
    });

  global_config.is_mobile &&
    new Swiper('.mediasss .centeral-content', {
      autoplay: {
        disableOnInteraction: false,
        pauseOnMouseEnter: false,
        delay: 5000,
      },
      loop: true,
      effect: 'fade',
      fadeEffect: {
        crossFade: true,
      },
      pagination: { el: '.mediasss .swiper-pagination' },
      speed: 300,
    });
</script>
