{{ 'fusion-us.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
        <div class="centeral-content">
            <h1 class="u72Medium_v2">Fusion GT</h1>
            <h2 class="u24Medium_v2">World’s First Dual-Motor, <br>Dual-Battery Bike</h2>
            <p class="u17Light_v2 mobileHide">
                <span>
                    Subscribe now to be the first to know!
                </span>
            </p>
            <div class="flex-1 pcHide"></div>
            <form class="emaillllllllllllll" accept-charset="UTF-8">
                <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                <button class="my-button" type="submit">Subscribe</button>
                <span class="u17DemiBold_v2">Thanks for subscribing!</span>
            </form>
        </div>
    </div>
    <div class="function">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Form Follows Emotion</h2>
            <p class="u30Medium_v2">
                <span>
                    —Hartmut Esslinger
                </span>
            </p>
        </div>
    </div>
    <div class="hartmut">
        <div class="centeral-content">
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240109-161511.jpg?v=1704788133&width=700"
                alt="">
            <div>
                <h2 class="u48Medium_v2">Hartmut Esslinger</h2>
                <h3 class="u36Medium_v2">Legendary Designer <br>For Apple & Sony</h3>
                <p class="u17Light_v2">
                    <span>
                        Legendary designer Hartmut Esslinger, renowned for his iconic contributions to Apple and Sony, has
                        brought his expertise to the development of our new e-bike, Fusion. All designs are guided by the
                        principle “form follows emotion,” emphasizing safety, versatile terrains, and user-friendly
                        simplicity. This sets the tone for Fusion.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="world">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">World’s First <br>Dual-Motor, <br>Dual-Battery E-Bike</h2>
            <p class="u17Light_v2">
                <span>
                    Extended range of 200 kilometers with a dual-drive 500W motor front and rear. Fusion GT will give you a
                    thrilling sense of speed.
                </span>
            </p>
            <div>
                <div class="u17Medium_v2">
                    <span class="pcHide">Up to</span>
                    <span><span class="mobileHide">Up to</span>
                        <h3 class="u48Medium_v2">1000w</h3>
                    </span>
                    <span>Dual-Motor</span>
                </div>
                <div class="u17Medium_v2">
                    <span class="pcHide">Up to</span>
                    <span><span class="mobileHide">Up to</span>
                        <h3 class="u48Medium_v2">200km</h3>
                    </span>
                    <span>Dual-Battery</span>
                </div>
            </div>
        </div>
        <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23721_2x_3e9f2e20-9fdb-4747-a4d2-27fa03a2b242.jpg?v=1704772099"
            alt="">
    </div>
    <div class="premium">
        <div class="centeral-content">
            <div></div>
            <div>
                <h2 class="u48Medium_v2">Premium carbon <br>ensures lightweight <br>performance.</h2>
                <p class="u17Light_v2">
                    <span>
                        Crafting precision with top-tier carbon fiber, Fusion showcases the ultimate beauty of geometric
                        design. Its lightweight nature ensures swift acceleration, effortless uphill rides, and responsive
                        handling, even as an SUV e-bike<br><br>Subscribe now to be the first to know!
                    </span>
                </p>
                <form class="emaillllllllllllll" accept-charset="UTF-8">
                    <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                    <button class="my-button" type="submit">Subscribe</button>
                    <span class="u17DemiBold_v2">Thanks for subscribing!</span>
                </form>
            </div>
        </div>
        <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/45_2x_a2162152-da79-4615-9ff5-85aa18bc7524.jpg?v=1704779996"
            alt="">
    </div>
    <div class="world machine">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Ultimate Riding Machine</h2>
            <p class="u17Light_v2">
                <span>
                    Urtopia Fusion offers four dynamic drive modes catering to your every whim, empowering you to conquer
                    any road challenge. Whether cruising through the city or braving a polar vortex, find your perfect mode
                    and dominate every adventure.
                </span>
            </p>
            <div class="icons">
                <div class="u17Medium_v2">
                    <img class="mobileHide"
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19043_2x_878f3018-3315-491a-959a-c8b056f8c3d9.png?v=1704780258"
                        alt="">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19043_2x_27f0f344-9696-4046-8022-002e9041d8be.png?v=1704781432"
                        class="pcHide" alt="">
                    <span>Front Drive Mode</span>
                </div>
                <div class="u17Medium_v2">
                    <img class="mobileHide"
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19044_2x_cf0ff330-8e1d-4ad7-b202-11c308725413.png?v=1704780253"
                        alt="">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19044_2x_8f01db63-34cd-43d7-bcfc-c3aff076f2e3.png?v=1704781427"
                        class="pcHide" alt="">
                    <span>Rear Drive Mode</span>
                </div>
                <div class="u17Medium_v2">
                    <img class="mobileHide"
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19046_2x_cee7777c-0150-4ecb-ba6a-6d42f3359656.png?v=1704780248"
                        alt="">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19046_2x_9766ecfa-23c7-48e3-a568-f2f4b2de80b0.png?v=1704781421"
                        class="pcHide" alt="">
                    <span>Dual Drive Mode</span>
                </div>
                <div class="u17Medium_v2">
                    <img class="mobileHide"
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19045_2x_82a10e4e-5e36-46ff-9ca6-31f589e78abe.png?v=1704780241"
                        alt="">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19045_2x_550167c7-bde3-4dbe-8577-62304c7e468c.png?v=1704781416"
                        class="pcHide" alt="">
                    <span>Throttle Mode</span>
                </div>
            </div>
        </div>
        <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2_2x_7d072b39-10ec-4c8d-9c39-50017b8d1cc7.jpg?v=1704781203"
            alt="">
    </div>
    <div class="premium smooth">
        <div class="centeral-content">
            <div></div>
            <div>
                <h2 class="u48Medium_v2">Smooth Riding Ever</h2>
                <p class="u17Light_v2">
                    <span>
                        With fat tires, you can conquer all terrains. The 100mm travel air suspension fork ensures comfort
                        on any terrain, providing a powerful and smooth adventure for your ride.
                    </span>
                </p>
                <div>
                    <div class="u20Medium_v2">
                        <h3 class="u30Medium_v2">Suspension Fork</h3>
                        <span>100mm Travel</span>
                    </div>
                    <div class="u20Medium_v2">
                        <h3 class="u30Medium_v2">Fat Tire</h3>
                        <span>All Terrians Beast</span>
                    </div>
                </div>
                <p class="u17Light_v2">
                    <span>
                        Subscribe now to be the first to know!
                    </span>
                </p>
                <form class="emaillllllllllllll" accept-charset="UTF-8">
                    <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                    <button class="my-button" type="submit">Subscribe</button>
                    <span class="u17DemiBold_v2">Thanks for subscribing!</span>
                </form>
            </div>
        </div>
        <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23708_2x_7c355398-436c-4edf-a623-2efb6be493b0.jpg?v=1704782783"
            alt="">
    </div>
    <div class="world safety">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Safety First</h2>
            <p class="u17Light_v2">
                <span>
                    Safety is the foundation of Fusion. Reflective strips on the bike frame’s front and rear enhance
                    visibility during your night rides. And with projection lights, Each is a turn-indicator that casts a
                    signal on the ground at a click of the rider.
                </span>
            </p>
            <div>
                <h3 class="u30Medium_v2">Reflective strips</h3>
                <h3 class="u30Medium_v2">Projection Light</h3>
            </div>
        </div>
        <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/45_2x_9602aad8-3800-4cf0-a0f6-80721b417eef.jpg?v=1704783731"
            alt="">
    </div>


<script>
  $('.emaillllllllllllll').on('submit', function (event) {
        $(this).find('.u17DemiBold_v2').hide()
        fetchBuried('emailpop', 'submit', { email: $(this).find('input').val(), tag: `DE,POPUP,FUSIONUS` }).finally(() => $(this).find('.u17DemiBold_v2').show())

        event.preventDefault();
        return false;
    })
</script>