{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
<div class="er-bg-background  mb:er-pb-24">
      <div class="centeral-content ebike-products er-flex er-flex-col er-pb-48 mb:er-pb-24 mb:er-px-6">
            <h2 class="er-m-0 text-size36 mb:er-text-4xl mb:er-text-left">Clearance Outlet Sale</h2>
            <p class="text-size18 er-opacity-80 mb:er-text-left mb:er-text-2xl mb:er-mt-3 er-mb-16 er-mt-2 mb:er-mb-12">
                <span>Last chance for Sale deals—final batch, no restocks!</span>
            </p>
            <div class="product-grid">
                {% assign product = all_products['refurbished-carbon-1-pro-e-bike'] %}
                {% assign product_variants = product.variants | where: 'available' %}
                {% assign product_uhmaya = '37 lbs<br>lightweight, Full<br>carbon fiber, 80<br>Miles' | split: ', ' %}
                {% render 'product-card-2',
                product_variants: product_variants,
                product_name: 'Carbon 1 Pro',
                product_description: 'City commuting and workout',
                product_variant_options_find_sort: 'M,L,S',
                product_url: product.url,
                product_uhmaya: product_uhmaya
                %}
                {% assign product = all_products["urtopia-carbon-e-bike"] %}
                {% assign product_variants = product.variants | where: "option1", "Carbon 1s · 350W · Shimano 7-Speed" | where: "available" %}
                {% assign product_uhmaya = '33 lbs<br>lightweight, Full<br>carbon fiber, 60<br>Miles' | split: ', ' %}
                {% render 'product-card-2',
                    product_variants: product_variants,
                    product_variant_options_find_sort: "M,L,S",
                    product_name: 'Carbon 1s',
                    product_description: 'Powerful drive system ensures minimal effort and maximum fun',
                    product_discount_price: settings.carbon1s_ebike_discount_price,
                    product_url: product.url,
                    product_uhmaya: product_uhmaya
                %}
                {% assign product = all_products["urtopia-chord-ebike"] %}
                {% assign product_variants = product.variants | where: "option1", "High-Step" | where: "available" %}
                {% assign product_uhmaya = '46 lbs<br>lightweight, 350 W<br>Motor, 75<br>Miles' | split: ', ' %}
                {% assign product_reviews_count = 112 %}
                {% render 'product-card-2',
                    product_variants: product_variants,
                    product_name: 'Chord',
                    product_description: 'Elegantly zip around town for meet-ups, errands, or Sunday fun.',
                    product_reviews_count: product_reviews_count,
                    product_url: product.url,
                    product_uhmaya: product_uhmaya
                %}      
    </div>
</div>
</div>

    <script type="module">
        $('.product-card .dots > div').on('click', e => {
            const target = $(e.target)
            const product_card = target.closest('.product-card')
    
            // 先取消 其它兄弟元素的active, 再设置active
            target.siblings().removeClass('active')
            target.addClass('active')
    
            const price = Number(target.attr('data-price'))
            const compare_at_price = Number(target.attr('data-compare-at-price'))
            const discount_price = Number(target.attr('data-product-discount-price'))
            const variant_id = target.attr('data-variant')
            const variant_image = target.attr('data-img')
    
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
            product_card.find('.tags > span:first-child').html(`${getPriceFormat(compare_at_price - price, true)} <span class="u14DemiBold_v2">OFF</span>`)

            if (price === compare_at_price) {
                product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
                product_card.find('.tags > span:first-child').hide()
            }
    
            product_card.find('.variant-image').attr('src', variant_image)
            product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
            product_card.find('.stars a').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}#judgeme_product_reviews`)
        })
    
        setTimeout(() => {
            $('.product-card .dots > div:first-child').click()
    
            $('.product-card .variant-image').on('click', e => {
                const button = $(e.target).closest('.product-card').find('.my-button')
    
                if (button.length) {
                    button[0].click()
                }
            })
        })
</script>