{{ 'pages-smartest-ebike.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
        <div class="u60Medium_v2">The Bike with a Mind</div>
        <div class="u17Light_v2">An AI-Driven Smartebike, offering you more than riding.</div>
    </div>
    <div class="banner2">
        <div class="centeral-content">
            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Image_226_2x_d272149f-c9b6-4366-be16-042e5678f71d.png?v=1697077532"
                alt="">
            <div>
                <div class="u36Medium_v2">World’s First Smart E-Bike with ChatGPT Integration</div>
                <div class="u17Light_v2">Urtopia revolutionizes cycling with the world’s first smart ebike featuring
                    integrated ChatGPT for demo voice interaction.</div>
                <div class="my-button mobileHide" onclick="showVideoDialog('https://www.youtube.com/embed/v2viQMqAOOQ?autoplay=1&cc_load_policy=1')">Watch Video<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-164642.png?v=1697100422"/></div>
            </div>
            <div class="flex-1 pcHide"></div>
            <div class="my-button pcHide" onclick="showVideoDialog('https://www.youtube.com/embed/v2viQMqAOOQ?autoplay=1&cc_load_policy=1')">Watch Video<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-164642.png?v=1697100422"/></div>
        </div>
    </div>
    <div class="gray-background-color mediaes" style="--swiper-theme-color: #000;--swiper-pagination-color: #000;">
        <div class="centeral-content">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div>“The AI-powered co-pilot adds a new level of intelligence and interactivity to the already
                        tech-infused
                        e-bikes offered by Urtopia.”</div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18866_2x_a1357b2e-2980-4ccf-b453-53607b5fdb95.png?v=1697078399"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <div>“Urtopia has integrated the AI chatbot with its own voice recognition system, allowing users to
                        speak their queries and get whatever answers they want.”</div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18868_2x_f8a88bd6-a43f-4178-8233-6fc198363964.png?v=1697080126"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <div>“Now the company has taken it one step further by becoming the first electric bicycle company to
                        integrate ChatGPT directly into its e-bike.”</div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18871_2x_f92d0127-a5a9-4020-8bff-3f40b5493026.png?v=1697080132"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <div>“Urtopia Fusion, the dubbed world’s first ChatGPT-integrated e-bike”</div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18867_2x_94e72746-2d92-4101-9151-05906d72bc3c.png?v=1697080139"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <div>“Artificial intelligence will help cyclists manage various aspects of their riding and health.”
                    </div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18869_2x_04e589ee-21ff-4bfa-9062-abc2faf32c60.png?v=1697080147"
                        alt="">
                </div>
                <div class="swiper-slide">
                    <div>“You can, quite literally, ask your bike for directions while talking about quantum physics on the
                        way to your destination.”</div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18870_2x_a58e3b17-aa03-4653-ac28-c42023f55fa8.png?v=1697080153"
                        alt="">
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="centeral-content alo">
        <div class="u24Medium_v2">AIoT Platform</div>
        <div class="u48Medium_v2">Ride Greener, <br class="pcHide">Ride Healthier</div>
        <div class="more">
            <div>
                <div class="u36Medium_v2">More range, accurate data</div>
                <div class="u17Light_v2">Our smart IoT system and control algorithm optimize power modes based on user needs, boosting energy efficiency by over 15%. This reduces battery size, cuts weight, and lowers carbon emissions in production. Our torque sensor provides precise riding data, ensuring a seamless, tailored riding experience.</div>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22900_2x_3830a11a-fcb1-48e7-b222-61c415f694de.jpg?v=1697081253" alt="">
        </div>
        <div class="boxs">
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22939_2x_734b3821-6900-48c0-bb68-5ed1b6bd9386.jpg?v=1697082396" alt="">
                <div class="u24Medium_v2">Green deserves rewards</div>
                <div class="u17Light_v2">We calculate users’ carbon emission savings and reward them with carbon credits that can be exchanged for fun products, encouraging a greener passion for cycling.</div>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21600_2x_84bbce9e-58b2-4cc5-b86f-918bcf21779c.jpg?v=1697082403" alt="">
                <div class="u24Medium_v2">Track Your Rides and Fitness</div>
                <div class="u17Light_v2">Journey Captured, Memories Made. Routes, speed, calories burned…all captured.</div>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22899_2x_e762ff9e-4410-4b76-9420-808dad82182f.jpg?v=1697082411" alt="">
                <div class="u24Medium_v2">Integrated with Apple Watch and Strava</div>
                <div class="u17Light_v2">Urtopia E-Bike allow syncing Apple Watch for Heart Rate Monitoring on Smartbar in real time. Urtopia App also break data barriers, sync with Apple Health, and share to Strava in just one click!</div>
            </div>
        </div>
    </div>
    <div class="gray-background-color never">
        <div class="centeral-content">
            <div class="u48Medium_v2"><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-172647.png?v=1697102822" alt=""> Never lose it</div>
            <div class="boxs">
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Screen_Shot_2023-07-26_at_3.37.41_PM_2x_0be9d730-5408-4415-9e32-8cc4b6ca7fa3.jpg?v=1697088992" alt="">
                    <div class="u24Medium_v2">Movement alarm</div>
                    <div class="u17Light_v2">Once locked, the onboard alarm monitors movements and alerts you against unauthorized ones.</div>
                    <div class="flex-1"></div>
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18878_2x_5608f5b0-4079-4221-ae70-8d74217c87d7.jpg?v=1697088999" alt="">
                    <div class="u24Medium_v2">GPS tracking and fence</div>
                    <div class="u17Light_v2">Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s position, even in the worst scenario of theft.</div>
                    <div class="flex-1"></div>
                </div>
                <div class="mobileHide"></div>
                <div class="mobileHide"></div>
                <div>
                    <div class="u24Medium_v2">Find my bike story</div>
                    <div class="u17Light_v2">This is the story of David’s Urtopia ebike being stolen during his trip and then recovered, leaving the Las Vegas police officer who assisted him in shock, saying, “In all my 20 years on the job, I’ve never seen a bike recovered like this.”</div>
                </div>
                <div>
                    <div class="my-button my-button-black" onclick="showVideoDialog('https://www.youtube.com/embed/W3N0OuaXj5M?autoplay=1&cc_load_policy=1')">Watch Video <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-165647.png?v=1697101021" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="centeral-content everything">
        <div class="u24Medium_v2">All-in Hands</div>
        <div class="u48Medium_v2">Everything is simpler</div>
        <div class="boxs">
            <div>
                <div class="u24Medium_v2">Fingerprint unlock</div>
                <div class="u17Light_v2">No more hassle worrying about losing another key.</div>
            </div>
            <div>
                <div class="u24Medium_v2">Navigation without cellphone</div>
                <div class="u17Light_v2">Bright screen shows navigation clearly under daylight, no more ugly phone holder.</div>
            </div>
            <div>
                <div class="u24Medium_v2">Anti-glare Display</div>
                <div class="u17Light_v2">Key information shown large and clear, keep your focus on the road.</div>
            </div>
            <div>
                <div class="u24Medium_v2">Bluetooth music</div>
                <div class="u17Light_v2">We know the importance of music, so we built in a bluetooth speaker, you can enjoy your favourite music when riding without carrying an external speaker.</div>
            </div>
        </div>
    </div>
    <div class="evoling">
        <div class="u24Medium_v2">OTA Update</div>
        <div class="u48Medium_v2">The e-bike always evolving</div>
    </div>
    <div class="centeral-content u17Light_v2 we">We offer full control over firmware upgrades for the entire ebike, enabling the optimization and refinement of all its features. You can schedule OTA upgrades at your convenience, ensuring a seamless and secure process with a thorough automated vehicle health check before each update, guaranteeing safety and stability.</div>
    <div class="centeral-content more">
        <div class="u48Medium_v2">More smart and human-centered design</div>
        <div class="boxs">
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21601_2x_b4432c5a-55d3-4958-b039-ed6897aac35d.jpg?v=1697092573" alt="">
                <div class="u24Medium_v2">Share your story in App</div>
                <div class="u17Light_v2">Share rides, photos, stories with Urtopia community in app.</div>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22914_2x_65cf00a7-5264-4689-8290-f4d8484096a9.jpg?v=1697092580" alt="">
                <div class="u24Medium_v2">Game pad Control</div>
                <div class="u17Light_v2">Know gaming, know riding. Take full control of your ride.</div>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/DSCF4238_2x_5178d7df-0ca3-477c-9918-e6731feb3562.jpg?v=1697092585" alt="">
                <div class="u24Medium_v2">Customized ringtones</div>
                <div class="u17Light_v2">Customizable ringtones, such as horse calls and horn calls. Make the delivery of sound fun!</div>
            </div>
        </div>
    </div>

<script setup>
document.body.clientWidth < 768 && new Swiper('.mediaes .centeral-content', {
        autoplay: {
            disableOnInteraction: false,
            pauseOnMouseEnter: false,
            delay: 5000,
        },
        loop: true,
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        pagination: { el: '.mediaes .swiper-pagination' },
        speed: 300
    })
</script>