<article class="er-max-w-screen-md er-px-12 er-py-24 mb:er-py-12 mb:er-px-6 prose-headings:er-font-base mb:prose-h2:er-leading-snug mb:prose-ul:er-text-2xl mb:prose-blockquote:er-text-2xl mb:prose-th:er-px-2 mb:prose-td:er-px-2 mb:er-prose-base mb:prose-table:er-text-xl mb:prose-h3:er-text-[17.5px] mb:prose-h2:er-text-4xl mb:prose-p:er-leading-relaxed mb:prose-p:er-text-[16px] er-prose-2xl er-mx-auto er-font-base prose-ul:er-font-medium prose-blockquote:er-text-dark/75 prose-blockquote:er-text-3xl prose-a:er-font-semibold prose-table:er-text-dark/80 prose-table:er-text-2xl prose-th:er-font-bold prose-th:er-bg-border/75 even:prose-tr:er-bg-background prose-td:er-border-solid prose-th:er-border-solid prose-th:er-border-[#ddd] prose-td:er-border-[#ddd] prose-th:er-border prose-td:er-border prose-th:er-p-3 prose-td:er-p-3 prose-td:er-text-center prose-th:er-text-center prose-table:er-w-full prose-table:er-border-collapse prose-headings:er-text-black/80 prose-a:er-text-primary prose-a:er-underline hover:prose-a:er-opacity-75 prose-p:er-text-3xl prose-ul:er-text-3xl prose-ul:er-leading-[1.8] prose-p:er-leading-[1.8] prose-h2:er-tracking-wide prose-ul:er-tracking-wider prose-ul:er-text-black/60 prose-p:er-tracking-wider prose-p:er-font-normal prose-p:er-text-black/60">
  <header>
    <h1 class="er-leading-tight er-text-8xl er-font-base mb:er-text-5xl mb:er-leading-tight er-text-center">To Keep Your Bike in Optimal Condition</h1>
  </header>

  <section>
    <p>
      With winter just around the corner, here are some maintenance tips. Proper and regular maintenance will keep your
      bike in tip-top shape at all times, and it will also last longer.
    </p>

    <h2>Winter Use Reminders</h2>
    <ul>
      <li>Keep your batteries at room temperature before you ride it.</li>
      <li>On the road, a thermal protective cover can protect the battery from the cold.</li>
      <li>
        After riding through the cold, it is best to wait until the battery has warmed up to room temperature before
        charging.
      </li>
    </ul>

    <h2>If not riding for a long time</h2>
    <ul>
      <li>Remove the battery from the bike and store the battery indoor at room temperature.</li>
      <li>Keep the battery fully charged, or recharge the battery every 2 months.</li>
      <li>
        Do not expose the bike to direct sunlight, overheating or excessive cold for a long time, such as inside a
        parked car in the sun or near a radiator.
      </li>
      <li>Do not expose your bicycle to harsh environments, especially in salty air (such as near the sea).</li>
    </ul>
  </section>

  <section>
    <h2>Before Each Ride</h2>

    <h3>1. Check tire pressure and wheel condition</h3>
    <p>
      Use a pressure gauge or a pump with a gauge to check and make sure the tires are inflated to the required
      pressure. Spin the wheels and visually inspect the tires for damage and wear. Also, check if the wheels are
      rotating smoothly, if there are gaps in the rims, and if the brakes have friction.
    </p>

    <h3>2. Check the transmission system</h3>
    <p>
      Belt: Check the belt's condition, if there is any damage, dirt, and if the belt tension is correct. Check if it
      rotates smoothly.
    </p>
    <p>
      Chain: Check the chain's condition, if there is any damage, dirt. Check if it rotates smoothly.
    </p>

    <h3>3. Clean the entire surface of the bike</h3>
    <p>
      It is especially important to keep the surface clean after riding in harsh conditions such as muddy, extreme dust
      or humid weather. <strong>Do not use a high-pressure hose to directly spray water on the bike.</strong>
    </p>

    <h3>4. Charge the battery</h3>
    <p>
      Check the battery's power level before riding and charge the battery of your electric bike according to the
      manufacturer's recommendations after each ride so you are always ready to go.
    </p>
  </section>

  <section>
    <h2>Every 3-5 rides</h2>

    <h3>1. Check the brake pads</h3>
    <p>
      Check the degree of wear of the brake pads using a ruler with a white background (e.g. a piece of paper). Wet
      weather, sandy surfaces and long downhill rides will accelerate the wear of the brake pads. Spray with alcohol
      for external use and wipe clean on the calipers. Look for signs of liquid leaks.
    </p>

    <h3>2. Check the screw torque</h3>
    <p>
      Make sure all bolts are tightened correctly and not loose, especially during the first 3 months of riding a new
      bike.
    </p>

    <h3>3. Clean dirt and dust</h3>
    <p>
      Battery compartments, crankset, rear motor and around the handlebars should be cleaned to keep the bike running
      smoothly.
    </p>
  </section>

  <section>
    <h2>Every 3-6 months</h2>

    <h3>1. Check tire wear</h3>
    <p>
      Tire wear can vary greatly depending on factors such as road conditions, riding intensity, weight, etc. The wear
      on the front and rear tires may also differ. Check the tread depth and tire condition, and replace if necessary.
    </p>

    <h3>2. Clean battery contacts</h3>
    <p>
      Remove the battery (if applicable) from the bike and spray contact cleaner on the terminals. Wipe clean.
    </p>

    <h3>3. Check spoke tension and wheel alignment</h3>
    <p>
      Due to factors such as road conditions, riding intensity, weight, etc., the spokes and wheel may loosen or even
      break. Check the tension of the spokes to ensure they are uniform and not broken. Check if the wheel is aligned
      or wobbling. If any of these issues occur, take the bike to the nearest Urtopia service provider for repair.
    </p>
  </section>

  <section>
    <h2>Every 1 year</h2>
    <p>
      Many of these tasks require special tools and advanced professional knowledge. Consider bringing your bike to your
      local Urtopia service provider for repair.
    </p>

    <h3>1. Brake hydraulic system maintenance</h3>
    <p>Flush and bleed hydraulic oil and check for wear on brake pads and discs.</p>

    <h3>2. Front hub bearing maintenance</h3>
    <p>
      Check if the front wheel rotates smoothly, without any unusual noises, vibrations or significant resistance.
      Loosen the locknut, remove the axle, clean the inside of the hub and re-grease.
    </p>

    <h3>3. Bottom bracket and headset bearings</h3>
    <p>
      Check if the bottom bracket and headset bearings rotate smoothly, without any unusual noises, vibrations or
      significant resistance or looseness. If any of these issues occur, the bearings or the bottom bracket and headset
      assembly need to be replaced.
    </p>
  </section>
</article>
