{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'collection.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
        <div class="centeral-content">
            <h3 class="u24Medium_v2">{{ settings.sale_name }}</h3>
            <h2 class="u48DemiBold_v2">Up to {{ all_products["urtopia-fusion-carbon-ebike"].compare_at_price |  minus: all_products["urtopia-fusion-carbon-ebike"].price | money_without_trailing_zeros }} OFF</h2>
            {% render 'sale' %}
        </div>
    </div>
    <div class="centeral-content ebike-products">
    <div class="product-grid">
        {% assign product = all_products["urtopia-fusion-carbon-ebike"] %}
        {% assign product_variants = product.variants | where: "available" %}
        {% assign product_uhmaya = "Mid-drive<br>motor, Carbon fiber<br>frame, 240 km<br>range" | split: ", " %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_name: 'Carbon Fusion',
            product_description: 'All terrain riding',
            product_url: product.url,
            product_uhmaya: product_uhmaya
        %}
        {% assign product = all_products["urtopia-carbon-1-pro-ebike"] %}
        {% assign product_variants = product.variants | where: "available" %}
        {% assign product_uhmaya = "15kg<br>lightweight, Full<br>carbon fiber, 130 km<br>range" | split: ", " %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_variant_options_find_sort: "M,L",
            product_name: 'Carbon 1 Pro',
            product_description: 'Urban & fitness riding',
            product_url: product.url,
            product_uhmaya: product_uhmaya
        %}
        <div class="gray-background-color u30DemiBold_v2 lozad mobileHide" data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24754_2x_b41f2ffd-c016-485d-81a5-ade030a0e33a.jpg?v=1727351111">Full Carbon Lightweight Sporty</div>
        <div class="gray-background-color u30DemiBold_v2 lozad pcHide" data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2222_2x_f3d01b36-1fba-487b-bf58-d1834e8cdfd6.jpg?v=1727408586">Full Carbon Lightweight Sporty</div>
        
        {% assign product = all_products["urtopia-carbon-e-bike"] %}
        {% assign product_variants = product.variants | where: "available" %}
        {% assign product_uhmaya = "17kg<br>lightweight, Full<br>carbon fiber, 100 km<br>range" | split: ", " %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_variant_options_find_sort: "M,L",
            product_name: 'Carbon 1',
            product_description: 'Commuting riding',
            product_uhmaya: product_uhmaya,
            product_url: product.url,
        %}
        {% assign product = all_products["urtopia-chord-ebike"] %}
        {% assign product_variants = product.variants | where: "available" %}
        {% assign product_uhmaya = "Liquid forging<br>aluminum, Anti-theft<br>GPS tracking, 120 km<br>range" | split: ", " %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_name: 'Chord',
            product_description: 'Commuting riding',
            product_url: product.url,
            product_uhmaya: product_uhmaya
        %}
    </div>
</div>
    <h3 class="centeral-content u36DemiBold_v2 Choose">
        Choose your ride
    </h3>
    <div class="centeral-content cards">
        <div>
            <span class="u24DemiBold_v2">Ride outdoors and <br>explore more trails</span>
            <a class="my-button" target="_blank" href="/products/urtopia-fusion-carbon-ebike">E-touring bike</a>
        </div>
        <div>
            <span class="u24DemiBold_v2">Explore the <br>urban landscape</span>
            <a class="my-button" target="_blank" href="/products/urtopia-carbon-e-bike">E-city bike</a>
        </div>
        <div>
            <span class="u24DemiBold_v2">All-Terrain Adventure</span>
            <a class="my-button" target="_blank" href="/products/urtopia-carbon-1-pro-ebike">E-gravel bikes</a>
        </div>
    </div>
    <div class="professional">
  <div class="centeral-content">
    <h2 class="u36DemiBold_v2">Professional Reviews</h2>
    <div class="videos swiper-wrapper">
      
    <div
    class="swiper-slide"
    onclick="showVideoDialog('https://www.youtube.com/embed/IWPe6DE1oA0?autoplay=1&cc_load_policy=1')"
  >
    <img
      class="lozad"
      data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_24471_2x_cbd75553-dafb-46cb-ab39-ceaeecaf12be.jpg?v=1722497296&width=400"
      alt=""
    >
    <span class="u17Light_v2">I like really low weight. It's an e-bike that you always want to have with you in the city. It's very agile and rides very well even without the motor.</span>
    <span class="flex-1"></span>
    <div class="u17Medium_v2">
      <img class="lozad"
      data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed.jpg?v=1728895778" alt=""/>
      <span>HennTech</span>
    </div>
  </div>
  <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/byzovLqrAbY?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_24470_2x_12bc2e1f-3669-4ccc-a892-031d0a3b4396.jpg?v=1722497392&width=400"
          alt=""
        >
        <span class="u17Light_v2">The torque sensor is latency-free and the great thing is that we have 10 gears.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/channels4_profile.jpg?v=1728896051" alt=""/>
          <span>Scooterhelden</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/cjUbb-3zObQ?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_24388_2x_9946e841-a4f4-41ec-9c2e-fa9526a2b7b3.jpg?v=1722497384&width=400"
          alt=""
        >
        <span class="u17Light_v2">For those who like it futuristic, not only in terms of design but also in terms of all the features.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_1.jpg?v=1728896181" alt=""/>
          <span>TommysTechReviews</span>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
    <div id="compared" class="compared">
  <div class="centeral-content">
      <div class="items">
          <div class="item">
              <div class="dimension" style="justify-content: center;">
                  <div class="u42DemiBold_v2">Find Your Match</div>
                  <div class="u20Medium_v2">Can’t decide which frame fits you like a glove? Let’s compare them side by
                      side and find your match!</div>
              </div>
              <div class="params">
                  <div class="param" name="img">
                      <img class="lozad"
                      data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1_1_2x_c29f513e-3efa-4fb3-a74d-f83107bdd824.png?v=1677639590"
                          alt="">
                      <div class="select">
                          <select index="0"></select>
                      </div>
                  </div>
                  <div class="param" name="img">
                      <img class="lozad"
                      data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18297_2x_eae075fb-1d14-4217-bbef-0d2f2e476f2e.png?v=1677640028"
                          alt="">
                      <div class="select">
                          <select index="1"></select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Size</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="size">Fit for 170 cm - 195 cm</div>
                  <div class="param u17Medium_v2" name="size">Fit for 170 cm - 195 cm</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Weight</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="weight">20.9 kg</div>
                  <div class="param u17Medium_v2" name="weight">15.8 kg</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Load-bearing capacity</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="capacity">Max. 130 kg</div>
                  <div class="param u17Medium_v2" name="capacity">Max. 120 kg</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Dimensions</div>
              <div class="params params-dimensions">
                  <div class="param u17Medium_v2" name="dimensions">

                      <img class="lozad"
                      data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/bike_2x_329ad618-2567-4400-ab11-8e01e5ca3abf.png?v=1682065701"
                          alt="">
                      <div class="u14DemiBold_v2 pcHide"></div>
                      <div class="sizes"></div>
                  </div>
                  <div class="param u17Medium_v2" name="dimensions">

                      <img class="lozad"
                      data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/bike_2x_329ad618-2567-4400-ab11-8e01e5ca3abf.png?v=1682065701"
                          alt="">
                      <div class="u14DemiBold_v2 pcHide"></div>
                      <div class="sizes"></div>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Gearing</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="gearing">8-Speed Shimano rear derailleur</div>
                  <div class="param u17Medium_v2" name="gearing">7-Speed Shimano rear derailleur</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Smart Features</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="features">Voice control, fingerprint start, LED dot-matrix
                      display, haptic interaction, bluetooth music, built-in navigation, GPS tracking, OTA upgrade
                  </div>
                  <div class="param u17Medium_v2" name="features">Voice control, fingerprint start, LED dot-matrix
                      display, haptic interaction, bluetooth music, built-in navigation, GPS tracking, OTA upgrade
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Range</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="range">50-120 km</div>
                  <div class="param u17Medium_v2" name="range">40-100 km</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Body Materials</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="materials">6061 aluminum with liquid forging technology.</div>
                  <div class="param u17Medium_v2" name="materials">6061 aluminum with liquid forging technology.</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">IoT sensors</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="sensors">Accelerometer, gyroscope, torque</div>
                  <div class="param u17Medium_v2" name="sensors">Accelerometer, gyroscope, torque</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Motor</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="motor">Customized rear hub, 36 V 250 W, 45 N⋅m</div>
                  <div class="param u17Medium_v2" name="motor">Customized rear hub, 36 V 250 W, 45 N⋅m</div>
              </div>
          </div>
      </div>
  </div>
</div>
    <div class="centeral-content careeeee">
        <div style="--order: 2;">
            <h3 class="u30Medium_v2">Urtopia CARE</h3>
            <p class="u17Light_v2">
                <span>
                    Our dedicated after-sales service that ensures you can ride with complete peace of mind. From troubleshooting to regular maintenance, we’ve got you covered every step of the way.
                </span>
            </p>
            <a class="my-button my-button-white" target="_blank" href="/pages/care">Learn more</a>
        </div>
        <img style="--order: 1;" class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230520-untitled-8948_2x_f6b4a856-b689-49c6-bd39-e894a356dd5b.jpg?v=1727343486" alt=""/>
        <img style="--order: 3;" class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240927-112700.jpg?v=1727407644" alt=""/>
        <div style="--order: 4;">
            <h3 class="u30Medium_v2">Carbon fiber expert</h3>
            <p class="u17Light_v2">
                <span>Pushing the limits of what’s possible in carbon fiber bikes. With cutting-edge technology and sleek, lightweight design, we deliver an unparalleled riding experience.</span>
            </p>
            <a class="my-button my-button-white" target="_blank" href="/pages/carbon">Learn more</a>
        </div>
        <div style="--order: 6;">
            <h3 class="u30Medium_v2">The bicycle with the mind</h3>
            <p class="u17Light_v2">
                <span>Where innovation meets perfection. Redefining eBikes with unmatched intelligence. Packed with cutting-edge technology such as ChatGPT, our eBikes offer smart features that elevate your ride to the next level. Ride smarter, ride Urtopia!</span>
            </p>
            <a class="my-button my-button-white" target="_blank" href="/pages/pages-smartest-ebike">Learn more</a>
        </div>
        <img style="--order: 5;" class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF1581_2x_dcfecbd1-83a7-4f6c-bf7a-14d8b65e3df2.jpg?v=1727343481" alt=""/>
        <img style="--order: 7;" class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24751_2x_8eff0d7e-b9a8-4429-8309-772edb257630.jpg?v=1727343476" alt=""/>
        <div style="--order: 8;">
            <h3 class="u30Medium_v2">Test ride</h3>
            <p class="u17Light_v2">
                <span>
                    Urtopia now has over 150 bike shops across Germany, including cities like Berlin, Essen, Hamburg, Cologne, Münster, and Stuttgart. Experience the perfect ride- try it and you’ll know!
                </span>
            </p>
            <a class="my-button my-button-white" target="_blank" href="/pages/test-ride">Learn more</a>
        </div>
    </div>
    <style>
        .sale {
            width: 400px;
            background-color: transparent;
            overflow: hidden;
        }

        .sale > .u14DemiBold_v2 {
            display: none;
        }

        .sale > div:not(.u14DemiBold_v2) {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        .sale > div:not(.u14DemiBold_v2) > div {
            border-left: none !important;
            place-self: center;
            width: 65px;
            align-items: unset;
            position: relative;
        }

        .sale .u36DemiBold_v2 {
            display: block;
            background-color: #fff;
            padding: 15px 12px;
            border-radius: 7px;
            font-size: 30px;
            margin-bottom: 7.5px;
            position: relative;
        }


        .sale .u36DemiBold_v2::after {
            content: ":";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(25px, -50%);
    font-size: 25px;
    font-weight: 300;
    color: #fff;
        }


        .sale > div:not(.u14DemiBold_v2) > div span:last-child {
            opacity: 1;
            font-size: 12px;
            color: #fff;
            font-weight: 300;
        }


        @media (max-width: 767px) {
            .sale {
                max-width: 260px;
            }


            .sale .u36DemiBold_v2 {
                font-size: 18px;
                padding: 10px 8px;
            }


            .sale > div:not(.u14DemiBold_v2) > div {
                width: 42px;

            }

            .sale > div:not(.u14DemiBold_v2) > div span:last-child {
                font-size: 9px;
            }

            .sale .u36DemiBold_v2::after {
                transform: translate(17px, -50%);
            }
        }
    </style>

    <script>
        $('.product-card .dots > div').on('click', e => {
            const target = $(e.target)
            const product_card = target.closest('.product-card')
    
            // 先取消 其它兄弟元素的active, 再设置active
            target.siblings().removeClass('active')
            target.addClass('active')
    
            const price = Number(target.attr('data-price'))
            const compare_at_price = Number(target.attr('data-compare-at-price'))
            const discount_price = Number(target.attr('data-product-discount-price'))
            const variant_id = target.attr('data-variant')
            const variant_image = target.attr('data-img')
    
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
            product_card.find('.tags > span:first-child').text(`Save ${getPriceFormat(compare_at_price - price, true)}`)

            if (price === compare_at_price) {
                product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
                product_card.find('.tags > span:first-child').hide()
            }
    
            product_card.find('.variant-image').attr('src', variant_image)
            product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
            product_card.find('.stars a').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}#judgeme_product_reviews`)
        })
    
        setTimeout(() => {
            $('.product-card .dots > div:first-child').click()
    
            $('.product-card .variant-image').on('click', e => {
                const button = $(e.target).closest('.product-card').find('.my-button')
    
                if (button.length) {
                    button[0].click()
                }
            })
        })
    </script>

<script setup>  
const parameters = [
  {
      name: 'Carbon 1',
      img: 'https://newurtopia.de/cdn/shop/files/1sb_b90f667e-42ce-4987-8784-4040af3a37a3.png?v=1695624132&width=800',
      size: 'Fit for 168-195 cm',
      weight: '15 kg',
      capacity: 'Max. 110 kg',
      gearing: 'Gates carbon Drive belt',
      features: 'Voice control, fingerprint start, LED dot-matrix display, haptic interaction, bluetooth music, built-in navigation, GPS tracking, OTA upgrade',
      range: '40-100 km',
      materials: 'Carbon fiber (frame, fork, handlebar, seatpost)',
      sensors: 'Accelerometer, gyroscope, torque',
      motor: 'Customized rear hub, 36 V 250 W (rated), 35 N⋅m',
      dimensions: {
          img: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231221-151050_2x_d883c889-6e52-477d-8672-a7dda6dbbbdd.png?v=1703577530&width=800',
          sizes: [
              ['A. Standover height', '840 mm'],
              ['B. Adjustable seat range', '60 mm'],
              ['C. Handlebar grips height', '1020 mm'],
              ['D. Seat tube length', '500 mm'],
              ['E. Wheelbase', '1120 mm'],
              ['F. Overall length', '1850 mm'],
              ['G. Wheel diameter', '690 mm'],
              ['H. Top tube length (effective)', '610 mm'],
              ['I. Head tube length', '180 mm'],
              ['J. Headset height', '100 mm'],
          ]
      }
  },
  {
      name: 'Chord',
      img: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1_1_2x_c29f513e-3efa-4fb3-a74d-f83107bdd824.png?v=1677639590',
      size: 'Fit for 170 cm - 195 cm',
      weight: '21 kg',
      capacity: 'Max. 130 kg',
      gearing: '8-Speed Shimano rear derailleur',
      features: 'Voice control, fingerprint start, LED dot-matrix display, haptic interaction, bluetooth music, built-in navigation, GPS tracking, OTA upgrade',
      range: '50-120 km',
      materials: '6061 aluminum with liquid forging technology.',
      sensors: 'Accelerometer, gyroscope, torque',
      motor: 'Customized rear hub, 36 V 250 W, 45 N⋅m',
      dimensions: {
          img: 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20267.svg',
          sizes: [
              ['A. Standover height', '810 mm'],
              ['B. Adjustable seat range', '100 mm'],
              ['C. Handlebar grips height', '1100-1130 mm'],
              ['D. Seat tube length', '500 mm'],
              ['E. Wheelbase', '1094 mm'],
              ['F. Overall length', '1800 mm'],
              ['G. Wheel diameter', '700 mm'],
              ['H. Top tube length (effective)', '620 mm'],
              ['I. Head tube length', '200 mm'],
              ['J. Headset height', '90-120 mm'],
          ]
      }
  },
  {
      name: 'Carbon 1 Pro',
      img: 'https://newurtopia.de/cdn/shop/files/collectionblack.png?v=1703557889&width=800',
      size: 'Fit for 165 cm - 195 cm',
      weight: '17 kg',
      capacity: 'Max. 110 kg',
      gearing: '10-Speed Shimano rear derailleur',
      features: 'ChatGPT integrated,voice control, fingerprint start, LED dot-matrix display, haptic interaction, bluetooth speaker, built-in navigation, OTA upgrade.',
      range: '70-130 km',
      materials: 'Carbon fiber (frame, fork)',
      sensors: 'Accelerometer, gyroscope, torque',
      motor: 'Customized rear hub, 36 V 250 W (rated), 45 N⋅m',
      dimensions: {
          img: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231221-151050_2x_d883c889-6e52-477d-8672-a7dda6dbbbdd.png?v=1703577530&width=800',
          sizes: [
              ['A. Standover height', '833 mm'],
              ['B. Adjustable seat range', '60 mm'],
              ['C. Handlebar grips height', '1023-1053 mm'],
              ['D. Seat tube length', '498 mm'],
              ['E. Wheelbase', '1122 mm'],
              ['F. Overall length', '1824 mm'],
              ['G. Wheel diameter', '702 mm'],
              ['H. Top tube length (effective)', '653 mm'],
              ['I. Head tube length', '180 mm'],
              ['J. Headset height', '90-120 mm'],
          ]
      }
  },
  {
      name: 'Carbon Fusion',
      img: 'https://newurtopia.de/cdn/shop/files/MaskGroup18890.png?v=1713519830&width=800',
      size: 'Fit for 160 cm - 190 cm',
      weight: '23 kg',
      capacity: 'Max. 150 kg',
      gearing: '10-Speed Shimano rear derailleur',
      features: 'ChatGPT integrated,voice control, fingerprint start, LED dot-matrix display, haptic interaction, bluetooth speaker, built-in navigation, OTA upgrade.',
      range: '80-240 km',
      materials: 'Carbon fiber (frame)',
      sensors: 'Accelerometer, gyroscope, torque',
      motor: 'Middle motor (BAFANG) 36V 250W 80N.m',
      dimensions: {
          img: 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240108-181634.png?v=1704709013&width=800',
          sizes: [
              ['A. Standover height', '810 mm'],
              ['B. Adjustable seat range', '140 mm'],
              ['C. Handlebar grips height', '1085-1115 mm'],
              ['D. Seat tube length', '485 mm'],
              ['E. Wheelbase', '1205 mm'],
              ['F. Overall length', '1935 mm'],
              ['G. Wheel diameter', '730 mm'],
              ['H. Top tube length (effective)', '633 mm'],
              ['I. Head tube length', '144 mm'],
              ['J. Headset height', '90-120 mm'],
          ]
      }
  },
]
  
  
  function changeParameters(index, name) {
      const params = parameters.find(p => p.name === name)
  
      if (!params) {
          return
      }
  
      $('.items .params').each((i, param) => {
          const target = $(param).find('.param')[index]
          const n = target.getAttribute('name')
  
          // 如果img 参数
          if (n === 'img') {
              $(target).find('img').attr('src', params.img)
              $(target).find('select').val(name)
  
              // 默认禁用掉 对面option
              $(`.compared .params select[index="${index === '0' ? '1' : '0' }"] option`).each((i, option) => {
                  option.disabled = name === option.value
              })
  
              return
          }
  
          if (n === 'dimensions') {
              $(target).find('.u14DemiBold_v2').text(name)
              $(target).find('img').attr('src', params.dimensions.img)
              $(target).find('.sizes').html(params.dimensions.sizes.map(i => {
                  return `<div>
                              <span>${i[0]}</span>
                              <span>${i[1]}</span>
                          </div>`
              }))
  
              return
          }
  
          target.innerText = params[n]
      })
  }
  
    const select = $('.compared .params select')
    // 动态插入
    select.html(parameters.map(p => `<option value="${p.name}">${p.name}</option>`))
    // 监听select 变化
    select.on('change', e => {
        console.log(e)
        const index = e.target.getAttribute('index')
        const value = e.target.value

        changeParameters(index, value)
    })


    // 默认展示
    changeParameters(0, 'Carbon Fusion')
    changeParameters(1, 'Carbon 1 Pro')


    new Swiper('.professional .centeral-content', {
      slidesPerView: global_config.is_mobile ? 1.25 : 3,
      spaceBetween: 20,
      navigation: {
      nextEl: '.professional .centeral-content .swiper-button-next',
      prevEl: '.professional .centeral-content .swiper-button-prev',
    },
      scrollbar: {
        el: '.professional .centeral-content .swiper-scrollbar',
        draggable: true,
      },
    });
  </script>

  