{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'collection.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
        <div class="centeral-content">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19577_2x_36963704-1be3-4bc4-8bf8-7c6b589e0662.png?v=1731566325"/>
            <h2 class="u42DemiBold_v2">Up to {{ all_products["urtopia-carbon-fusion-gt"].compare_at_price |  minus: all_products["urtopia-carbon-fusion-gt"].price | money_without_trailing_zeros }} OFF</h2>
            {% render 'sale' %}
        </div>
    </div>
    <div class="centeral-content ebike-products">
    <div class="product-grid">
        {% assign product = all_products["urtopia-carbon-fusion-gt"] %}
        {% assign product_variants = product.variants | where: "available" %}
        {% assign product_uhmaya = "1500W<br>power, Carbon fiber<br>frame, 120<br>Miles" | split: ", " %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_name: 'Fusion GT',
            product_description: 'All terrain riding',
            product_url: product.url,
            product_uhmaya: product_uhmaya
        %}
        {% assign product = all_products["urtopia-carbon-1-pro-ebike"] %}
        {% assign product_variants = product.variants | where: "available" %}
        {% assign product_uhmaya = "37 lbs<br>lightweight, Full<br>carbon fiber, 80<br>Miles" | split: ", " %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_name: 'Carbon 1 Pro',
            product_description: 'Urban & fitness riding',
            product_variant_options_find_sort: "M,L,S",
            product_url: product.url,
            product_uhmaya: product_uhmaya
        %}
        <div class="gray-background-color u30DemiBold_v2 lozad mobileHide" data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24754_2x_b41f2ffd-c016-485d-81a5-ade030a0e33a.jpg?v=1727351111">Full Carbon Lightweight Sporty</div>
        <div class="gray-background-color u30DemiBold_v2 lozad pcHide" data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2222_2x_f3d01b36-1fba-487b-bf58-d1834e8cdfd6.jpg?v=1727408586">Full Carbon Lightweight Sporty</div>
        {% assign product = all_products["urtopia-carbon-fold"] %}
        {% assign product_variants = product.variants | where: "available" %}
        {% assign product_uhmaya = "29 lbs<br>lightweight, Full<br>carbon fiber, Torque<br>sensor" | split: ", " %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_name: 'Carbon Fold 1',
            product_description: 'Super space-efficient',
            product_url: product.url,
            product_uhmaya: product_uhmaya
        %}
        {% assign product = all_products["urtopia-chord-ebike"] %}
        {% assign product_variants = product.variants | where: "option1", "High-Step" | where: "available" %}
        {% assign product_uhmaya = "Liquid forging<br>aluminum, Anti-theft<br>GPS tracking, 75<br>Miles" | split: ", " %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_name: 'Chord',
            product_description: 'Commuting riding',
            product_url: product.url,
            product_uhmaya: product_uhmaya
        %}
        {% assign product_variants = product.variants | where: "option1", "Step-Through" | where: "available" %}
        {% assign product_uhmaya = "Liquid forging<br>aluminum, Anti-theft<br>GPS tracking, 75<br>Miles" | split: ", " %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_name: 'Chord X',
            product_description: 'Commuting riding',
            product_url: product.url,
            product_uhmaya: product_uhmaya
        %}
    </div>
</div>
    <h3 class="centeral-content u36DemiBold_v2 Choose">
        Choose your ride
    </h3>
    <div class="centeral-content cards">
        <div>
            <span class="u24DemiBold_v2">Ride outdoors and <br>explore more trails</span>
            <a class="my-button" target="_blank" href="/products/urtopia-carbon-fusion-gt">E-touring bikes</a>
        </div>
        <div>
            <span class="u24DemiBold_v2">All-Terrain Adventure</span>
            <a class="my-button" target="_blank" href="/products/urtopia-carbon-1-pro-ebike">E-gravel bikes</a>
        </div>
        <div>
            <span class="u24DemiBold_v2">Explore the <br>urban landscape</span>
            <a class="my-button" target="_blank" href="/products/urtopia-carbon-fold">E-city bikes</a>
        </div>
    </div>
    <div class="professional">
  <div class="centeral-content">
    <h2 class="u36DemiBold_v2">Professional Reviews</h2>
    <div class="videos swiper-wrapper">
      
    <div
    class="swiper-slide"
    onclick="showVideoDialog('https://www.youtube.com/embed/T-0A-EUwUfM?autoplay=1&cc_load_policy=1')"
  >
    <img
      class="lozad"
      data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24716_2x_b34c17d4-c45d-4e33-8c32-10ae473bffce.jpg?v=1727085768&width=400"
      alt=""
    >
    <span class="u17Light_v2">A super light and responsive e-bike achieves faster speeds than the metro.</span>
    <span class="flex-1"></span>
    <div class="u17Medium_v2">
      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19470_2x_6a40056e-5876-49a3-8678-c9eb7f529037.png?v=1727086233" alt=""/>
      <span>Jon Imperial</span>
    </div>
  </div>
  <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/DkaGYJklmSs?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24719_2x_2636fa6e-f818-4978-af54-a9cb899630c7.jpg?v=1727090408&width=400"
          alt=""
        >
        <span class="u17Light_v2">Urtopia clearly took comfort and assist seriously—it’s top-class and worth the price.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19469_2x_795c87d6-900b-4d78-b915-259138fa064d.png?v=1727090514" alt=""/>
          <span>Electroheads</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/r9TD6cPYCxc?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24717_2x_42c326c1-7915-471d-b00e-4f5dd6b273b8.jpg?v=1727143908&width=400"
          alt=""
        >
        <span class="u17Light_v2">Tested at 748W, the power of 1 Pro is higher than most all-terrain e-bikes.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19472_2x_679a808b-69a2-4e58-be5f-407efb2f88c5.png?v=1727143912" alt=""/>
          <span>Area 13</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/5JI2U6EpAHA?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24718_2x_02d66e8b-2f58-40a3-a0d9-85c287272787.jpg?v=1727144145width=400"
          alt=""
        >
        <span class="u17Light_v2">A stealthy and sleek ebike, so capable and the riding experience is what I dreamed of.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19471_2x_b5dee01b-134a-4ebe-bd4a-6c50f2608906.png?v=1727144280" alt=""/>
          <span>Electric Vehicles Space</span>
        </div>
      </div>
      <div
        class="swiper-slide"
        onclick="showVideoDialog('https://www.youtube.com/embed/mu5MGas_F80?autoplay=1&cc_load_policy=1')"
      >
        <img
          class="lozad"
          data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24720_2x_43255c27-8e86-44bf-8148-c703e6b84b08.jpg?v=1727144140&width=400"
          alt=""
        >
        <span class="u17Light_v2">This carbon frame commuter bike weighs 37 lbs and reaches speeds up to 28 MPH.</span>
        <span class="flex-1"></span>
        <div class="u17Medium_v2">
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19468_2x_32096d4f-978e-4fe4-a392-c5555938beff.png?v=1727144288" alt=""/>
          <span>Mike Fede</span>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="buttons mobileHide">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
    <div id="compared" class="compared">
  <div class="centeral-content">
      <div class="items">
          <div class="item">
              <div class="dimension" style="justify-content: center;">
                  <div class="u42DemiBold_v2">Find Your Match</div>
                  <div class="u20Medium_v2">Can’t decide which frame fits you like a glove? Let’s compare them side by
                      side and find your match!</div>
              </div>
              <div class="params">
                  <div class="param" name="img">
                      <img class="lozad"
                      data-src="https://newurtopia.com/cdn/shop/products/collectionblack.png?v=1703557822&width=800"
                          alt="">
                      <div class="select">
                          <select index="0"></select>
                      </div>
                  </div>
                  <div class="param" name="img">
                      <img class="lozad"
                      data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1_1_2x_c29f513e-3efa-4fb3-a74d-f83107bdd824.png?v=1677639590"
                          alt="">
                      <div class="select">
                          <select index="1"></select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Size</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="size">Fit for 170 cm - 195 cm</div>
                  <div class="param u17Medium_v2" name="size">Fit for 170 cm - 195 cm</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Weight</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="weight">20.9 kg</div>
                  <div class="param u17Medium_v2" name="weight">15.8 kg</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Load-bearing capacity</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="capacity">Max. 130 kg</div>
                  <div class="param u17Medium_v2" name="capacity">Max. 120 kg</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Dimensions</div>
              <div class="params params-dimensions">
                  <div class="param u17Medium_v2" name="dimensions">

                      <img class="lozad"
                      data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231221-151050_2x_d883c889-6e52-477d-8672-a7dda6dbbbdd.png?v=1703577530"
                          alt="">
                      <div class="u14DemiBold_v2 pcHide"></div>
                      <div class="sizes"></div>
                  </div>
                  <div class="param u17Medium_v2" name="dimensions">

                      <img class="lozad"
                      data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/bike_2x_329ad618-2567-4400-ab11-8e01e5ca3abf.png?v=1682065701"
                          alt="">
                      <div class="u14DemiBold_v2 pcHide"></div>
                      <div class="sizes"></div>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Gearing</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="gearing">8-Speed Shimano rear derailleur</div>
                  <div class="param u17Medium_v2" name="gearing">7-Speed Shimano rear derailleur</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Smart Features</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="features">Voice control, fingerprint start, LED dot-matrix
                      display, haptic interaction, bluetooth music, built-in navigation, GPS tracking, OTA upgrade
                  </div>
                  <div class="param u17Medium_v2" name="features">Voice control, fingerprint start, LED dot-matrix
                      display, haptic interaction, bluetooth music, built-in navigation, GPS tracking, OTA upgrade
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Range</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="range">50-120 km</div>
                  <div class="param u17Medium_v2" name="range">40-100 km</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Body Materials</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="materials">6061 aluminum with liquid forging technology.</div>
                  <div class="param u17Medium_v2" name="materials">6061 aluminum with liquid forging technology.</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">IoT Sensors</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="sensors">Accelerometer, gyroscope, torque</div>
                  <div class="param u17Medium_v2" name="sensors">Accelerometer, gyroscope, torque</div>
              </div>
          </div>
          <div class="item">
              <div class="dimension u24DemiBold_v2">Motor</div>
              <div class="params">
                  <div class="param u17Medium_v2" name="motor">Customized rear hub, 36 V 250 W, 45 N⋅m</div>
                  <div class="param u17Medium_v2" name="motor">Customized rear hub, 36 V 250 W, 45 N⋅m</div>
              </div>
          </div>
      </div>
  </div>
</div>
    <div class="centeral-content careeeee">
        <div style="--order: 2;">
            <h3 class="u30Medium_v2">Urtopia CARE</h3>
            <p class="u17Light_v2">
                <span>
                    Our dedicated after-sales service that ensures you can ride with complete peace of mind. From troubleshooting to regular maintenance, we’ve got you covered every step of the way.
                </span>
            </p>
            <a class="my-button my-button-white" target="_blank" href="/pages/care">Learn more</a>
        </div>
        <img style="--order: 1;" class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230520-untitled-8948_2x_f6b4a856-b689-49c6-bd39-e894a356dd5b.jpg?v=1727343486" alt=""/>
        <img style="--order: 3;" class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240927-112700.jpg?v=1727407644" alt=""/>
        <div style="--order: 4;">
            <h3 class="u30Medium_v2">Carbon fiber expert</h3>
            <p class="u17Light_v2">
                <span>Pushing the limits of what’s possible in carbon fiber bikes. With cutting-edge technology and sleek, lightweight design, we deliver an unparalleled riding experience.</span>
            </p>
            <a class="my-button my-button-white" target="_blank" href="/pages/carbon-expert">Learn more</a>
        </div>
        <div style="--order: 6;">
            <h3 class="u30Medium_v2">The bicycle with the mind</h3>
            <p class="u17Light_v2">
                <span>Where innovation meets perfection. Redefining eBikes with unmatched intelligence. Packed with cutting-edge technology such as ChatGPT, our eBikes offer smart features that elevate your ride to the next level. Ride smarter, ride Urtopia!</span>
            </p>
            <a class="my-button my-button-white" target="_blank" href="/pages/pages-smartest-ebike">Learn more</a>
        </div>
        <img style="--order: 5;" class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF1581_2x_dcfecbd1-83a7-4f6c-bf7a-14d8b65e3df2.jpg?v=1727343481" alt=""/>
        <img style="--order: 7;" class="lozad"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24751_2x_8eff0d7e-b9a8-4429-8309-772edb257630.jpg?v=1727343476" alt=""/>
        <div style="--order: 8;">
            <h3 class="u30Medium_v2">Test ride</h3>
            <p class="u17Light_v2">
                <span>
                    Urtopia now has over 150 bike shops across Germany, including cities like Berlin, Essen, Hamburg, Cologne, Münster, and Stuttgart. Experience the perfect ride- try it and you’ll know!
                </span>
            </p>
            <a class="my-button my-button-white" target="_blank" href="/pages/test-ride">Learn more</a>
        </div>
    </div>
    <style>
        .sale {
            width: 400px;
            background-color: transparent;
            overflow: hidden;
        }

        .sale > .u14DemiBold_v2 {
            display: none;
        }

        .sale > div:not(.u14DemiBold_v2) {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        .sale > div:not(.u14DemiBold_v2) > div {
            border-left: none !important;
            place-self: center;
            width: 65px;
            align-items: unset;
            position: relative;
        }

        .sale .u36DemiBold_v2 {
            display: block;
            background-color: #fff;
            padding: 15px 12px;
            border-radius: 7px;
            font-size: 30px;
            margin-bottom: 7.5px;
            position: relative;
        }


        .sale .u36DemiBold_v2::after {
            content: ":";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(25px, -50%);
    font-size: 25px;
    font-weight: 300;
    color: #fff;
        }


        .sale > div:not(.u14DemiBold_v2) > div span:last-child {
            opacity: 1;
            font-size: 12px;
            color: #fff;
            font-weight: 300;
        }


        @media (max-width: 767px) {
            .sale {
                max-width: 260px;
            }


            .sale .u36DemiBold_v2 {
                font-size: 18px;
                padding: 10px 8px;
            }


            .sale > div:not(.u14DemiBold_v2) > div {
                width: 42px;

            }

            .sale > div:not(.u14DemiBold_v2) > div span:last-child {
                font-size: 9px;
            }

            .sale .u36DemiBold_v2::after {
                transform: translate(17px, -50%);
            }
        }
    </style>

    <script>
        $('.product-card .dots > div').on('click', e => {
            const target = $(e.target)
            const product_card = target.closest('.product-card')
    
            // 先取消 其它兄弟元素的active, 再设置active
            target.siblings().removeClass('active')
            target.addClass('active')
    
            const price = Number(target.attr('data-price'))
            const compare_at_price = Number(target.attr('data-compare-at-price'))
            const discount_price = Number(target.attr('data-product-discount-price'))
            const variant_id = target.attr('data-variant')
            const variant_image = target.attr('data-img')
    
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
            product_card.find('.tags > span:first-child').html(`${getPriceFormat(compare_at_price - price, true)} <span class="u14DemiBold_v2">OFF</span>`)

            if (price === compare_at_price) {
                product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
                product_card.find('.tags > span:first-child').hide()
            }
    
            product_card.find('.variant-image').attr('src', variant_image)
            product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
            product_card.find('.stars a').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}#judgeme_product_reviews`)
        })
    
        setTimeout(() => {
            $('.product-card .dots > div:first-child').click()
    
            $('.product-card .variant-image').on('click', e => {
                const button = $(e.target).closest('.product-card').find('.my-button')
    
                if (button.length) {
                    button[0].click()
                }
            })
        })
    </script>

<script setup>  
const parameters = [
    {
      name: 'Carbon 1 Pro(size S)',
      img: 'https://newurtopia.com/cdn/shop/products/collectionblack.png?v=1703557822&width=800',
      size: 'Fit for 5’3” - 5’9”',
      weight: '37 lbs',
      capacity: 'Max. 240 lbs',
      gearing: 'Shimano 8-Speed Rear Drivetrain',
      features: 'Voice control, fingerprint start, LED dot - matrix display, haptic interaction, bluetooth music, built-in navigation, OTA upgrade',
      range: 'Up to 80 miles',
      materials: 'Carbon fiber (frame, fork)',
      sensors: 'Accelerometer, gyroscope, torque sensor',
      motor: 'Customized rear hub, 36 V 350 W (rated), 42 N⋅m',
      dimensions: {
          img: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231221-151050_2x_d883c889-6e52-477d-8672-a7dda6dbbbdd.png?v=1703577530',
          sizes: [
              ['A. Standover height', '779 mm'],
              ['B. Adjustable seat range', '60 mm'],
              ['C. Handlebar grips height', '995-1025 mm'],
              ['D. Seat tube length', '421 mm'],
              ['E. Wheelbase', '1065 mm'],
              ['F. Overall length', '1766 mm'],
              ['G. Wheel diameter', '702 mm'],
              ['H. Top tube length (effective)', '594 mm'],
              ['I. Head tube length', '152 mm'],
              ['J. Headset height', '90-120 mm'],
          ]
      }
  },
    {
      name: 'Carbon 1 Pro(size M)',
      img: 'https://newurtopia.com/cdn/shop/products/collectionblack.png?v=1703557822&width=800',
      size: 'Fit for 5’7” - 6’1”',
      weight: '37 lbs',
      capacity: 'Max. 240 lbs',
      gearing: 'Shimano 8-Speed Rear Drivetrain',
      features: 'Voice control, fingerprint start, LED dot - matrix display, haptic interaction, bluetooth music, built-in navigation, OTA upgrade',
      range: 'Up to 80 miles',
      materials: 'Carbon fiber (frame, fork)',
      sensors: 'Accelerometer, gyroscope, torque sensor',
      motor: 'Customized rear hub, 36 V 350 W (rated), 42 N⋅m',
      dimensions: {
          img: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231221-151050_2x_d883c889-6e52-477d-8672-a7dda6dbbbdd.png?v=1703577530',
          sizes: [
              ['A. Standover height', '804 mm'],
              ['B. Adjustable seat range', '60 mm'],
              ['C. Handlebar grips height', '1011-1041 mm'],
              ['D. Seat tube length', '463 mm'],
              ['E. Wheelbase', '1093 mm'],
              ['F. Overall length', '1795 mm'],
              ['G. Wheel diameter', '702 mm'],
              ['H. Top tube length (effective)', '618 mm'],
              ['I. Head tube length', '170 mm'],
              ['J. Headset height', '90-120 mm'],
          ]
      }
  },
  {
      name: 'Carbon 1 Pro(size L)',
      img: 'https://newurtopia.com/cdn/shop/products/collectionblack.png?v=1703557822&width=800',
      size: 'Fit for 5’11” - 6’5”',
      weight: '37 lbs',
      capacity: 'Max. 240 lbs',
      gearing: 'Shimano 8-Speed Rear Drivetrain',
      features: 'Voice control, fingerprint start, LED dot - matrix display, haptic interaction, bluetooth music, built-in navigation, OTA upgrade',
      range: 'Up to 80 miles',
      materials: 'Carbon fiber (frame, fork)',
      sensors: 'Accelerometer, gyroscope, torque sensor',
      motor: 'Customized rear hub, 36 V 350 W (rated), 42 N⋅m',
      dimensions: {
          img: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231221-151050_2x_d883c889-6e52-477d-8672-a7dda6dbbbdd.png?v=1703577530',
          sizes: [
              ['A. Standover height', '833 mm'],
              ['B. Adjustable seat range', '60 mm'],
              ['C. Handlebar grips height', '1023-1053 mm'],
              ['D. Seat tube length', '498 mm'],
              ['E. Wheelbase', '1122 mm'],
              ['F. Overall length', '1824 mm'],
              ['G. Wheel diameter', '702 mm'],
              ['H. Top tube length (effective)', '653 mm'],
              ['I. Head tube length', '180 mm'],
              ['J. Headset height', '90-120 mm'],
          ]
      }
  },
  {
      name: 'Chord',
      img: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1_1_2x_c29f513e-3efa-4fb3-a74d-f83107bdd824.png?v=1677639590',
      size: 'Fit for 5’7” – 6’5”',
      weight: '46 lbs',
      capacity: 'Max. 287 lbs',
      gearing: '8-Speed Shimano rear derailleur',
      features: 'Voice control, fingerprint start, LED dot-matrix display, haptic interaction, bluetooth music, built-in navigation, GPS tracking, OTA upgrade',
      range: '31 - 75 miles',
      materials: '6061 aluminum with liquid forging technology.',
      sensors: 'Accelerometer, gyroscope, torque',
      motor: 'Customized rear hub, 36 V 350 W, 45 N⋅m',
      dimensions: {
          img: 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20267.svg',
          sizes: [
              ['A. Standover height', '810 mm'],
              ['B. Adjustable seat range', '100 mm'],
              ['C. Handlebar grips height', '1100-1130 mm'],
              ['D. Seat tube length', '500 mm'],
              ['E. Wheelbase', '1094 mm'],
              ['F. Overall length', '1800 mm'],
              ['G. Wheel diameter', '700 mm'],
              ['H. Top tube length (effective)', '620 mm'],
              ['I. Head tube length', '200 mm'],
              ['J. Headset height', '90-120 mm'],
          ]
      }
  },
  {
      name: 'Chord X',
      img: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18400_2x_6789324f-33d2-4342-9519-0ee3bc943699.png?v=1677639718',
      size: 'Fit for 5’3” – 6’1”',
      weight: '46 lbs',
      capacity: 'Max. 287 lbs',
      gearing: '8-Speed Shimano rear derailleur',
      features: 'Voice control, fingerprint start, LED dot-matrix display, haptic interaction, bluetooth music, built-in navigation, GPS tracking, OTA upgrade',
      range: '31 - 75 miles',
      materials: '6061 aluminum with liquid forging technology.',
      sensors: 'Accelerometer, gyroscope, torque',
      motor: 'Customized rear hub, 36 V 350 W, 45 N⋅m',
      dimensions: {
          img: 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20662.svg',
          sizes: [
              ['A. Standover height', '670 mm'],
              ['B. Adjustable seat range', '80 mm'],
              ['C. Handlebar grips height', '1100-1130 mm'],
              ['D. Seat tube length', '327 mm'],
              ['E. Wheelbase', '1094 mm'],
              ['F. Overall length', '1800 mm'],
              ['G. Wheel diameter', '700 mm'],
              ['H. Top tube length (effective)', '620 mm'],
              ['I. Head tube length', '200 mm'],
              ['J. Headset height', '90-120 mm'],
          ]
      }
  },
  {
      name: 'Carbon Fusion GT',
      img: 'https://newurtopia.com/cdn/shop/files/19566.png?v=1729236036&width=800',
      size: 'Fit for 5’3” – 6’3”',
      weight: '60 lbs',
      capacity: 'Max. 330 lbs',
      gearing: 'Shimano ACERA 8-Speed',
      features: 'On-board navigation, fingerprint unlock, AI assistant, voice control, bluetooth speaker, OTA update (wireless firmware update)',
      range: 'Up to 70 miles Extended to 120miles (Dual baterry)',
      materials: 'Carbon fiber frame',
      sensors: 'Torque sensor, accelerometer, gyroscope',
      motor: '1500W peak power (36V 350W 36Nm front hub motor, 36V 350W 36Nm rear drive hub motor)',
      dimensions: {
          img: 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240108-181634.png?v=1704709013',
          sizes: [
              ['A. Adjustable seat range', '140 mm'],
              ['B. Handlebar grips height', '1085-1115 mm'],
              ['C. Seat tube length', '485 mm'],
              ['D. Wheelbase', '1205 mm'],
              ['E. Overall length', '1935 mm'],
              ['F. Wheel diameter', '730 mm'],
              ['G. Top tube length (effective)', '633 mm'],
              ['H. Head tube length', '144 mm'],
              ['I. Headset height', '90-120 mm'],
          ]
      }
  },
  {
      name: 'Carbon Fold 1',
      img: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20241022-144851.png?v=1729579789&width=800',
      size: 'Fit for 5’1” – 6’1”',
      weight: '29 lbs',
      capacity: 'Max. 220 lbs',
      gearing: 'Shimano Altus 8-Speed',
      features: 'Voice control, fingerprint start, LED dot-matrix display, haptic interaction, bluetooth music, built-in navigation, GPS tracking, OTA upgrade',
      range: 'Up to 37 miles',
      materials: 'Carbon fiber (frame, fork)',
      sensors: 'Torque sensor',
      motor: '500 Peak power, 36V 250W (sustained) rear drive hub motors, 42Nm',
      dimensions: {
          img: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19556_2x_ea5e3f39-95bd-4a6c-926b-5de332bff46e.png?v=1729162648',
          sizes: [
              ['A. Adjustable seat range', '160 mm'],
              ['B. Seat length', '1000 mm'],
              ['C. Overall length', '1460 mm'],
              ['D. Handlebar grips height', '1100 mm'],
              ['E. Height after folding', '680 mm'],
              ['F. Overall length after folding', '780 mm']
          ]
      }
  }
]
  
  
  function changeParameters(index, name) {
      const params = parameters.find(p => p.name === name)
  
      if (!params) {
          return
      }
  
      $('.items .params').each((i, param) => {
          const target = $(param).find('.param')[index]
          const n = target.getAttribute('name')
  
          // 如果img 参数
          if (n === 'img') {
              $(target).find('img').attr('src', params.img)
              $(target).find('select').val(name)
  
              // 默认禁用掉 对面option
              $(`.compared .params select[index="${index === '0' ? '1' : '0' }"] option`).each((i, option) => {
                  option.disabled = name === option.value
              })
  
              return
          }
  
          if (n === 'dimensions') {
              $(target).find('.u14DemiBold_v2').text(name)
              $(target).find('img').attr('src', params.dimensions.img)
              $(target).find('.sizes').html(params.dimensions.sizes.map(i => {
                  return `<div>
                              <span>${i[0]}</span>
                              <span>${i[1]}</span>
                          </div>`
              }))
  
              return
          }
  
          target.innerText = params[n]
      })
  }
  
    const select = $('.compared .params select')
    // 动态插入
    select.html(parameters.map(p => `<option value="${p.name}">${p.name}</option>`))
    // 监听select 变化
    select.on('change', e => {
        console.log(e)
        const index = e.target.getAttribute('index')
        const value = e.target.value

        changeParameters(index, value)
    })


    // 默认展示
    changeParameters('0', 'Carbon 1 Pro(size M)')
    changeParameters('1', 'Chord')


    new Swiper('.professional .centeral-content', {
      slidesPerView: global_config.is_mobile ? 1.25 : 3,
      spaceBetween: 20,
      navigation: {
      nextEl: '.professional .centeral-content .swiper-button-next',
      prevEl: '.professional .centeral-content .swiper-button-prev',
    },
      scrollbar: {
        el: '.professional .centeral-content .swiper-scrollbar',
        draggable: true,
      },
    });
  </script>

  