<article class="er-max-w-screen-md er-px-12 er-py-24 mb:er-py-12 mb:er-px-6 prose-headings:er-font-base mb:prose-h2:er-leading-snug mb:prose-ul:er-text-2xl mb:prose-blockquote:er-text-2xl mb:prose-th:er-px-2 mb:prose-td:er-px-2 mb:er-prose-base mb:prose-table:er-text-xl mb:prose-h3:er-text-[17.5px] mb:prose-h2:er-text-4xl mb:prose-p:er-leading-relaxed mb:prose-p:er-text-[16px] er-prose-2xl er-mx-auto er-font-base prose-ul:er-font-medium prose-blockquote:er-text-dark/75 prose-blockquote:er-text-3xl prose-a:er-font-semibold prose-table:er-text-dark/80 prose-table:er-text-2xl prose-th:er-font-bold prose-th:er-bg-border/75 even:prose-tr:er-bg-background prose-td:er-border-solid prose-th:er-border-solid prose-th:er-border-[#ddd] prose-td:er-border-[#ddd] prose-th:er-border prose-td:er-border prose-th:er-p-3 prose-td:er-p-3 prose-td:er-text-center prose-th:er-text-center prose-table:er-w-full prose-table:er-border-collapse prose-headings:er-text-black/80 prose-a:er-text-primary prose-a:er-underline hover:prose-a:er-opacity-75 prose-p:er-text-3xl prose-ul:er-text-3xl prose-ul:er-leading-[1.8] prose-p:er-leading-[1.8] prose-h2:er-tracking-wide prose-ul:er-tracking-wider prose-ul:er-text-black/60 prose-p:er-tracking-wider prose-p:er-font-normal prose-p:er-text-black/60">
  <header>
    <h1 class="er-leading-tight er-text-8xl er-font-base mb:er-text-5xl mb:er-leading-tight er-text-center">Warranty</h1>
  </header>

  <section>
    <h2>Urtopia 2-Year Limited Warranty</h2>
    <p>
      All Urtopia bikes are covered under our 2-year Limited Warranty for the owner against all manufacturing defects.
      This warranty policy effects from February 4th, 2023.
    </p>
  </section>

  <section>
    <h2>Period and Terms</h2>
    <p>
      The warranty would be registered automatically when the initial purchase has been made. In addition, the warranty
      is under the INITIAL PURCHASER and the 2-year warranty will be started once you receive the e-bike. As for the
      warranty transfer, the e-bike transferee can only enjoy the warranty when the following two conditions are met at
      the same time:
    </p>
    <ul>
      <li>The 2-year package hasn't expired since the initial owner received it.</li>
      <li>You have the initial purchaser's name &amp; the initial order number.</li>
    </ul>
  </section>

  <section>
    <h2>Covered Parts</h2>
    <p>
      Urtopia will replace any part that is deemed to be defective or damaged (including damage incurred during
      shipment) without user error. The warranty covers the listed parts and follows the terms below:
    </p>

    <h3>Frame/Fork</h3>
    <p>
      Urtopia e-bike's frame and fork are covered by a replacement warranty for 2 years. This warranty includes a
      replacement frame/fork only. Frame and fork styles and/or colors not in stock may be replaced with a compatible
      style and/or color.
    </p>

    <h3>Battery</h3>
    <p>
      Urtopia batteries are covered by a replacement warranty for 2 years. Battery defects include abnormal voltage,
      charge dysfunction and less than 60% full-charge capacity, which need to be assessed and determined by Urtopia. A
      defective battery will be replaced and the warranty period for the replaced battery is automatically extended by
      six months based on the original purchase date.
    </p>

    <h3>Other Components</h3>
    <p>Original Urtopia parts below are covered by a 2-year limited warranty.</p>
    <ul>
      <li>Motor</li>
      <li>Control board</li>
      <li>Bottom bracket</li>
      <li>Charger</li>
      <li>Rim</li>
      <li>Crankset</li>
      <li>Carbon belt</li>
      <li>Derailleur</li>
      <li>Light</li>
      <li>Handlebar</li>
      <li>Bike computer</li>
      <li>Seatpost</li>
      <li>Brake caliper/lever</li>
    </ul>
  </section>

  <section>
    <h2>Not Covered by Limited Warranty</h2>

    <h3>Wear and Tear</h3>
    <p>
      Ordinary wear and tear, not resulting from defects in workmanship or materials, are not covered by warranty. This
      would include scratches, dents, and cosmetic damage from daily use of the bike. Parts typically not covered
      include:
    </p>
    <ul>
      <li>Spokes</li>
      <li>Brake disc/pads</li>
      <li>Tire/tube</li>
      <li>Chain</li>
      <li>Cassette</li>
    </ul>

    <h3>Other Cases and Charges</h3>
    <p>Urtopia is not responsible for the following cases and charges:</p>
    <ul>
      <li>Product that has the serial number or the bar code removed, defaced, damaged, altered, or made illegible.</li>
      <li>
        Defects or damage resulting from accident (including collision, fire, flooding, windstorm, lightning,
        earthquake, theft, etc.), misuse (including improper use of any electrical source and the use of accessories,
        products, or ancillary/peripheral equipment not furnished or approved by Urtopia), abnormal use (including but
        not limited to stunt riding, racing, or other similar activities not consistent with the intended use of the
        product), improper storage, assembly, repair, maintenance, adjustment and abnormal exposure to liquid, chemicals,
        moisture, abrasives, sand or dirt, neglect, or abnormal physical, electrical or electromechanical stress.
      </li>
      <li>Labor charges for part replacement.</li>
    </ul>
  </section>

  <section>
    <h2>Claims Process</h2>

    <h3>Warranty Claims</h3>
    <ul>
      <li>
        If you believe there's something wrong with your e-bike or any parts of it, please fill out the Service Form or
        contact <a href="/pages/contactus" target="_self">care@newurtopia.com</a> for warranty claims. Proofs of
        purchase and photos/videos of the damaged product are required with a warranty claim, and will be inspected by
        Urtopia technicians. Before making a claim, we suggest you read FAQs first since there may be a simple fix.
      </li>
      <li>
        Urtopia shall not be liable for costs, damages or repairs incurred as a result of e-bike parts purchased from an
        unauthorized dealer.
      </li>
    </ul>

    <h3>Incompleteness &amp; Shipping Damage Claims</h3>
    <p>In rare instances, the item received may:</p>
    <ul>
      <li>have missing parts or accessories</li>
      <li>be different from what was ordered</li>
      <li>be damaged during transportation</li>
    </ul>
    <p>
      If any of the above situations occur, please read our Return &amp; Exchange Policy for your reference.
    </p>
  </section>

  <section>
    <h2>Disclaimer</h2>
    <p>1. This warranty policy only applies to Urtopia's official sales regions and channels.</p>
    <p>2. Urtopia reserves the interpretation right for all warranty terms above.</p>
    <p>
      For E-bikes ordered by Urtopia Authorized dealers, please activate your warranty here:
      <a href="/pages/warranty-activation">Warranty Activation</a>
    </p>
  </section>
</article>

