<h1 class="er-sr-only">Urtopia Care - Comprehensive, Aware, Responsive, Effective</h1>
<div
  class="background-image er-aspect-[3.5/1] er-text-white er-flex er-flex-col er-justify-center er-items-center er-font-base er-text-center mb:er-aspect-square er-px-12"
>
  <img
    height="1920"
    width="548"
    loading="eager"
    srcset="
      https://cdn.shopify.com/s/files/1/0583/5810/4213/files/image_4_f1d1d903-64cb-42b3-abc3-6d4d87658fcd.png?v=1734676054&width=375 375w,
      https://cdn.shopify.com/s/files/1/0583/5810/4213/files/image_4_f1d1d903-64cb-42b3-abc3-6d4d87658fcd.png?v=1734676054&width=640 640w,
      https://cdn.shopify.com/s/files/1/0583/5810/4213/files/image_4_f1d1d903-64cb-42b3-abc3-6d4d87658fcd.png?v=1734676054&width=768 768w,
      https://cdn.shopify.com/s/files/1/0583/5810/4213/files/image_4_f1d1d903-64cb-42b3-abc3-6d4d87658fcd.png?v=1734676054&width=1024 1024w,
      https://cdn.shopify.com/s/files/1/0583/5810/4213/files/image_4_f1d1d903-64cb-42b3-abc3-6d4d87658fcd.png?v=1734676054&width=1280 1280w,
      https://cdn.shopify.com/s/files/1/0583/5810/4213/files/image_4_f1d1d903-64cb-42b3-abc3-6d4d87658fcd.png?v=1734676054&width=1536 1536w,
      https://cdn.shopify.com/s/files/1/0583/5810/4213/files/image_4_f1d1d903-64cb-42b3-abc3-6d4d87658fcd.png?v=1734676054&width=1920 1920w
    "
    sizes="(max-width: 768px) 50vw, 100vw"
    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/image_4_f1d1d903-64cb-42b3-abc3-6d4d87658fcd.png?v=1734676054"
    alt="Comprehensive, Aware, Responsive, Effective"
  >
  <div class="background-mask er-bg-black/60"></div>
  <h2 class="er-text-8xl mb:er-text-6xl er-text-white er-m-0">Urtopia CARE</h2>
  <p class="er-text-5xl er-mt-12 mb:er-text-3xl">
    <span> Comprehensive, Aware, Responsive, Effective </span>
  </p>
</div>
<div class="er-font-base er-max-w-screen-xl er-mx-auto er-px-12">
  <section class="er-my-60 mb:er-my-28">
    <h2 class="er-text-6xl mb:er-text-5xl">Customer-Centric</h2>
    <div class="er-grid er-grid-cols-2 er-mt-20 mb:er-mt-8 er-gap-x-24 er-gap-y-12 mb:er-grid-cols-1">
      <div class="er-shadow-lg er-rounded-3xl er-p-16 er-px-24 mb:er-p-10 er-bg-background/60">
        <h3 class="er-text-5xl mb:er-text-4xl"><span class="er-text-primary">2-Year</span> Warranty</h3>
        <p class="er-text-3xl mb:er-text-2xl er-flex er-flex-col er-space-y-4 er-text-dark/70 er-my-12 mb:er-my-8 er-leading-normal">
          <span>
            All Urtopia bikes are covered under our 2-year Limited Warranty for the owner against all manufacturing
            defects.
          </span>
          <span> Easy to Claim Process </span>
          <span>
            Contact <a class="er-button er-button-text" href="mailto:">care@newurtopia.com</a> for warranty claims
          </span>
        </p>
        <a class="er-button" target="_blank" href="/pages/warranty">Learn More</a>
      </div>
      <div class="er-shadow-lg er-rounded-3xl er-p-16 er-px-24 mb:er-p-8 er-bg-background/60">
        <h3 class="er-text-5xl mb:er-text-4xl"><span class="er-text-primary">14-Day</span> Return</h3>
        <p class="er-text-3xl mb:er-text-2xl er-flex er-flex-col er-space-y-4 er-text-dark/70 er-my-12 er-leading-normal">
          <span> Free return of unused products within 14 days of delivery. </span>
          <span> Favorable Shipping Fees </span>
          <span> Free shipping for defective-on-arrivals, and lower fees for returns/replacements. </span>
        </p>
        <a class="er-button" target="_blank" href="/pages/shipping-and-return">Learn More</a>
      </div>
    </div>
  </section>
  <section class="er-my-60 mb:er-my-28">
    <h3 class="er-text-6xl mb:er-text-5xl">Authorised Service Providers</h3>
    <div class="er-grid er-grid-cols-2 er-mt-24 er-gap-48 mb:er-gap-24 mb:er-grid-cols-1 mb:er-mt-12">
      <div class="er-flex er-flex-col er-justify-center mb:er-order-2">
        <p
          class="er-text-3xl mb:er-text-2xl er-flex er-flex-col er-space-y-4 er-text-dark/70 er-mb-20 mb:er-mb-10 er-leading-normal er-max-w-2xl"
        >
          <span>
            Urtopia is dedicated to deploying authorised service providers throughout the country for satisfactory
            service and maintenance. Please Contact us to book warranty, repair or maintenance.
          </span>
        </p>
        <div class="er-space-x-4 er-flex">
          <a class="er-button" target="_blank" href="/pages/contactus">Contact Us</a>
          <a class="er-button er-button-dark" target="_blank" href="/pages/find-a-dealer?service">Find a Dealer</a>
        </div>
      </div>
      <img
        loading="lazy"
        class="mb:er-order-1"
        width="550"
        height="340"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/group-189322x-1671432708806.png?v=1671432727&width=600"
        alt="Contact Us"
      >
      <img
        loading="lazy"
        width="550"
        height="429"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24527_2x_2f401c2c-a70f-4ba3-8067-5635defb6335.png?v=1724038946&width=600"
        alt="Urtopia APP"
      >
      <div class="er-flex er-flex-col er-justify-center">
        <p
          class="er-text-3xl mb:er-text-2xl er-flex er-flex-col er-space-y-4 er-text-dark/70 er-mb-20 mb:er-mb-10 er-leading-normal er-max-w-2xl"
        >
          <span>Direct In-App Support</span>
          <span>
            Got a question while using your Urtopia eBike? Reach out directly to our after-sales technical team through
            the app for quick and efficient support, ensuring you stay on track without delays.
          </span>
        </p>
        <div class="er-space-x-4">
          <a class="er-button er-button-dark" target="_blank" href="/pages/appdownload">Urtopia APP</a>
        </div>
      </div>
    </div>
  </section>
  <section class="er-my-60 mb:er-my-28">
    <h3 class="er-text-6xl mb:er-text-5xl">Troubleshooting</h3>
    <div class="er-grid md:er-grid-cols-2 lg:er-grid-cols-4 er-mt-24 mb:er-mt-12 er-gap-12 er-grid-cols-1">
      <div class="er-shadow-lg er-rounded-3xl er-p-12 er-py-16 mb:er-p-10 er-bg-background/60 er-flex er-flex-col">
        <img
          width="60"
          height="60px"
          class="er-mb-8"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/help2x-1671432708780.png?v=1671432722"
          alt="TutorialsFAQs"
        >
        <h4 class="er-text-4xl mb:er-text-3xl">Tutorials & FAQs</h4>
        <p
          class="er-text-3xl mb:er-text-2xl er-flex er-flex-col er-space-y-4 er-text-dark/70 er-my-8 er-leading-normal er-max-w-2xl"
        >
          <span> Detailed instruction and troubleshooting videos and most frequently asked questions. </span>
        </p>
        <span class="flex-1"></span>
        <a class="er-button" href="/pages/tutorials">TutorialsFAQs</a>
      </div>
      <div class="er-shadow-lg er-rounded-3xl er-p-12 er-py-16 mb:er-p-10 er-bg-background/60 er-flex er-flex-col">
        <img
          width="60"
          height="60px"
          class="er-mb-8"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/wrench2x-1671432708780.png?v=1671432718"
          alt="Request a Service"
        >
        <h4 class="er-text-4xl mb:er-text-3xl">Help with my bike</h4>
        <p
          class="er-text-3xl mb:er-text-2xl er-flex er-flex-col er-space-y-4 er-text-dark/70 er-my-8 er-leading-normal er-max-w-2xl"
        >
          <span> Something not right with your bike? We’ll guide you step by step to resolve the issue. </span>
        </p>
        <span class="flex-1"></span>
        <a class="er-button" href="/pages/contactus">Request a Service</a>
      </div>
      <div class="er-shadow-lg er-rounded-3xl er-p-12 er-py-16 mb:er-p-10 er-bg-background/60 er-flex er-flex-col">
        <img
          width="60"
          height="60px"
          class="er-mb-8"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/email2x-1671432708779.png?v=1671432709"
          alt="Contact Us"
        >
        <h4 class="er-text-4xl mb:er-text-3xl">Talk to Us</h4>
        <p
          class="er-text-3xl mb:er-text-2xl er-flex er-flex-col er-space-y-4 er-text-dark/70 er-my-8 er-leading-normal er-max-w-2xl"
        >
          <span>
            Knowledgeable service representatives will diagnose and resolve unusual problems. Click the bottom below.
          </span>
        </p>
        <span class="flex-1"></span>
        <a class="er-button" href="/pages/contactus">Contact Us</a>
      </div>
      <div class="er-shadow-lg er-rounded-3xl er-p-12 er-py-16 mb:er-p-10 er-bg-background/60 er-flex er-flex-col">
        <img
          width="60"
          height="60px"
          class="er-mb-8"
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/videocall2x-1671432708779.png?v=1671432714"
          alt="
            Book a
            Call
          "
        >
        <h4 class="er-text-4xl mb:er-text-3xl">Video Calls</h4>
        <p
          class="er-text-3xl mb:er-text-2xl er-flex er-flex-col er-space-y-4 er-text-dark/70 er-my-8 er-leading-normal er-max-w-2xl"
        >
          <span> Communicate with our technical team in real time when it is necessary. </span>
        </p>
        <span class="flex-1"></span>
        <a class="er-button" rel="nofollow" href="https://calendly.com/urtopia-techsupport/30min">Book a Call</a>
      </div>
    </div>
  </section>
  <section class="er-my-60 mb:er-my-28">
    <h3 class="er-text-6xl mb:er-text-5xl">Urtopia Support Center</h3>
    <div>
      <p class="er-text-3xl mb:er-text-2xl er-flex er-flex-col er-space-y-4 er-text-dark/70 er-my-16 mb:er-my-10 er-leading-normal">
        <span>A easy process to claim a warranty or report an issue. Also you can check your service status.</span>
      </p>
      <div class="er-space-x-4 er-flex">
        <a class="er-button" href="/pages/contactus">Contact Us</a>
        <a
          class="er-button er-button-dark"
          rel="nofollow"
          href="https://calendly.com/urtopia-techsupport/30min"
          >Book a Call</a
        >
      </div>
    </div>
  </section>
</div>
