<article class="er-max-w-screen-md er-px-12 er-py-24 mb:er-py-12 mb:er-px-6 prose-headings:er-font-base mb:prose-h2:er-leading-snug mb:prose-ul:er-text-2xl mb:prose-blockquote:er-text-2xl mb:prose-th:er-px-2 mb:prose-td:er-px-2 mb:er-prose-base mb:prose-table:er-text-xl mb:prose-h3:er-text-[17.5px] mb:prose-h2:er-text-4xl mb:prose-p:er-leading-relaxed mb:prose-p:er-text-[16px] er-prose-2xl er-mx-auto er-font-base prose-ul:er-font-medium prose-blockquote:er-text-dark/75 prose-blockquote:er-text-3xl prose-a:er-font-semibold prose-table:er-text-dark/80 prose-table:er-text-2xl prose-th:er-font-bold prose-th:er-bg-border/75 even:prose-tr:er-bg-background prose-td:er-border-solid prose-th:er-border-solid prose-th:er-border-[#ddd] prose-td:er-border-[#ddd] prose-th:er-border prose-td:er-border prose-th:er-p-3 prose-td:er-p-3 prose-td:er-text-center prose-th:er-text-center prose-table:er-w-full prose-table:er-border-collapse prose-headings:er-text-black/80 prose-a:er-text-primary prose-a:er-underline hover:prose-a:er-opacity-75 prose-p:er-text-3xl prose-ul:er-text-3xl prose-ul:er-leading-[1.8] prose-p:er-leading-[1.8] prose-h2:er-tracking-wide prose-ul:er-tracking-wider prose-ul:er-text-black/60 prose-p:er-tracking-wider prose-p:er-font-normal prose-p:er-text-black/60">
  <header>
    <h1 class="er-leading-tight er-text-8xl er-font-base mb:er-text-5xl mb:er-leading-tight er-text-center">Shipping, Return & Exchange</h1>
  </header>

  <section>
    <h2>Shipping</h2>
    <p>
      Each Urtopia shipment is carefully packaged to ensure it is in best condition. Still, if anything happens,
      please write to <a href="/pages/aboutus" target="_self">support@newurtopia.com</a> at your earliest convenience
      and let us know. We take great pride in customer service and we want each customer to be happy with the quality
      of our products and services.
    </p>
    <p>
      We ship products in the chronological order the purchasing order is accepted, to the address provided so long as
      such address is complete and complies with all shipping restrictions and regulations in respective countries and
      regions. The shipping/delivery date will be specified on the order page of each product.
    </p>
    {% comment %} <p>
      Urtopia official online store only sells e-bikes to shipping addresses in the Contiguous US and Europe, and
      unavailable to other countries and regions.
    </p> {% endcomment %}

    <h3>1. How much does shipping cost?</h3>
    <p>
      The cost of shipping bikes is free and accessories depends on your location. You can see the total shipping cost
      for your order at the checkout.
    </p>

    <h3>2. When will my order arrive?</h3>
    <p>
      You can check the estimated shipping time for bikes in the order page. When your order leaves our warehouse,
      you'll receive an email with a tracking number - you can use this to follow your order's journey to your door.
      We work with international shipping partners to get your order to you as soon as possible, but delivery times
      vary depending on where you order from.
    </p>
  </section>

  <section>
    <h2>Return and Exchange</h2>

    <h3>1. Damage/Defect on Arrival</h3>
    <p>
      Damage/Defect on Arrival ("DOA") hereby refers to appearance, functional or structural deficiencies that are
      found on arrival and will prevent the normal use of the product. Make sure to open the box and inspect your
      goods within <strong>14 days</strong> since you receive the goods ("inspection period"). If any problem,
      including appearance, functional or structural deficiencies, is found when you open the box, please
      <strong>DO NOT</strong> use the product and report to us as soon as possible. If any problem is found after you
      test the bike, we will only accept functional or structural problems as DOA, excluding appearance defects for the
      reason of usage. Urtopia shall provide <strong>FREE</strong> return or exchange of any DOA goods reported within
      the inspection period. If no problem is reported during the inspection period, the product shall be deemed as
      good in appearance, function and structure.
    </p>

    <h3>2. Return/Exchange without Reason</h3>
    <p>
      Urtopia will accept return/exchange without reason within 14 days since you receive the goods. All items must be
      returned with original packaging and follow our instructions of fixation and protection. Please note that
      refurbished bikes are not eligible for returns, only exchanges.
    </p>

    <h3>2.1 Unused Goods</h3>
    <h3>2.1.1 Refused Shipment</h3>
    <p>
      We cannot change, intercept, or cancel orders that have already been shipped. If you refuse delivery, we will
      charge a flat fee of $99 per E-bike to partially cover our shipping costs.
    </p>

    <h3>2.1.2 Return/Exchange with Unopened Box</h3>
    <p>
      If you return/exchange goods with the box unopened, we will charge the
      <strong>shipping fee (if you let us arrange the shipment)</strong> and possible damage compensation if any item is
      lost or damaged. Make sure to take pictures of the packaging before you ship the goods back.
    </p>

    <h3>2.2 Used Goods</h3>
    <p>
      If you return/exchange goods with the box opened, we will charge the shipping fee
      <strong>(if you let us arrange the shipment)</strong> and a $99 re-boxing fee, as well as refurbishing
      compensation for any parts that show signs of use or damage. Please note that scratches or dents on carbonfiber
      material are unrepairable and take good care when you test the E-bike.
    </p>

    <h3>3. Charges and Refunds</h3>
    <h3>3.1 Shipping Cost</h3>
    <p>
      We only provide free shipping for DOA cases. Shipping cost of other cases has to be paid by the customer.
      However, we can always help you get a lower shipping cost through our logistics network.
    </p>

    <h3>3.2 Packing and Protection</h3>
    <p>
      To prevent secondary damage, all items must be returned with original packaging and follow our instructions of
      fixation and protection. Please keep the original packaging within the arrival period. If you lose it, we can
      provide other packing options at your cost.
    </p>

    <h3>3.3 Risk on the Road</h3>
    <p>
      Any loss/damage during the return process due to improper packaging or the actions/inactions of the logistics
      supplier shall be under the customer's responsibility. We will carefully inspect the received parcel and report
      back the result of damage assessment.
    </p>

    <h3>3.4 Refunds</h3>
    <p>
      All refunds will be processed as soon as we receive the returned goods. Please refer to the
      <a href="/pages/refund-policy" target="_self">refund policy</a> for more details.
    </p>

    <h3>4. Purchase from Non-official Channels</h3>
    <p>
      Please note that each of our distributors, dealers, partner bike shops or other e-commerce platforms sets its own
      return and exchange policies and procedures. We do not accept returns of items purchased from other channels.
      Please contact the place of purchase for their return/exchange policy.
    </p>

    <h3>5. Disclaimer</h3>
    <p>
      This return and exchange policy only applies to sales of Urtopia's official website and stores, including direct
      payment and leasing orders. Urtopia reserves the interpretation right for all terms above.
    </p>
    <p>
      Any questions regarding return of any goods, please write to
      <a href="/pages/contactus" target="_self">care@newurtopia.com</a>.
    </p>
    <p>
      <a href="/pages/warranty-activation">Warranty Activation</a>
    </p>
  </section>
</article>
