<div
  class="background-image er-aspect-[5/1] er-text-white er-flex er-flex-col er-justify-center er-items-center er-font-base er-text-center mb:er-aspect-square er-px-12"
>
  <img
    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/urtopiawebuimockup--edited-1646634750935.jpg?v=1646634752"
    loading="lazy"
    alt="Klarna hero image"
    width="1920"
    height="1080"
  >
  <div class="background-mask er-bg-black/60"></div>
  <h1 class="er-text-8xl mb:er-text-6xl er-text-white er-m-0">Download the Urtopia App</h1>
  <p class="er-text-4xl er-mt-12 mb:er-text-3xl er-max-w-screen-xl">
            <span>
                The Urtopia app consists of many smart functions such as anti-theft tracking, navigation, trip records, social networking etc. All in all, they make your journey with Urtopia always fun and motivating.
            </span>
        </p>
</div>

<article class="er-max-w-screen-lg er-mx-auto er-px-12 mb:er-px-6 er-grid er-grid-cols-2 mb:er-grid-cols-1 er-py-48 er-gap-x-48 mb:er-py-24 mb:er-gap-y-24">
  <section class="er-flex er-flex-col er-items-center er-max-w-lg er-place-self-center">
    <h2 class="text-size36 mb:er-text-4xl">For IOS</h2>
    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/apple-1646638190168_1200x.png?v=1646638191" alt="Apple logo" loading="lazy">
    <a href="https://apps.apple.com/cn/app/urtopia/id1592975789">
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/2560pxdownload_on_the_app_store_badgesvg-1646637295135_1200x.png?v=1646637296" alt="Download on the App Store" loading="lazy">
    </a>
  </section>

 <section class="er-flex er-flex-col er-items-center er-max-w-lg er-place-self-center">
    <h2 class="text-size36 mb:er-text-4xl">For Android</h2>
    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/google-1646638190169_1200x.png?v=1646638194" alt="Google Play logo" loading="lazy">
    <a href="https://play.google.com/store/apps/details?id=com.newurtopia&hl=zh&gl=US">
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/appstoreandroiddownload-1646637295136_1200x.png?v=1646637299" alt="Get it on Google Play" loading="lazy">
    </a>
  </section>
</article>
