  <div
        class="background-image er-aspect-[3.5/1] er-text-white er-flex er-flex-col er-justify-center er-items-center er-font-base er-text-center mb:er-aspect-square er-px-12">
         <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/infopagecouch-1652166608649.jpg?v=1652166610" loading="lazy" alt="Klarna hero image" width="1920" height="1080">
        <div class="background-mask er-bg-black/60"></div>
        <h1 class="er-text-8xl mb:er-text-6xl er-text-white er-m-0">
            Shop now, pay with Klarna.
        </h1>
        <p class="er-text-5xl er-mt-12 mb:er-text-3xl">
            <span>
                We've partnered with Klarna to give you a better shopping experience.
            </span>
        </p>
    </div>

<article class="er-max-w-screen-md er-px-12 er-py-24 mb:er-py-12 mb:er-px-6 prose-headings:er-font-base mb:prose-h2:er-leading-snug mb:prose-ul:er-text-2xl mb:prose-blockquote:er-text-2xl mb:prose-th:er-px-2 mb:prose-td:er-px-2 mb:er-prose-base mb:prose-table:er-text-xl mb:prose-h3:er-text-[17.5px] mb:prose-h2:er-text-4xl mb:prose-p:er-leading-relaxed mb:prose-p:er-text-[16px] er-prose-2xl er-mx-auto er-font-base prose-ul:er-font-medium prose-blockquote:er-text-dark/75 prose-blockquote:er-text-3xl prose-a:er-font-semibold prose-table:er-text-dark/80 prose-table:er-text-2xl prose-th:er-font-bold prose-th:er-bg-border/75 even:prose-tr:er-bg-background prose-td:er-border-solid prose-th:er-border-solid prose-th:er-border-[#ddd] prose-td:er-border-[#ddd] prose-th:er-border prose-td:er-border prose-th:er-p-3 prose-td:er-p-3 prose-td:er-text-center prose-th:er-text-center prose-table:er-w-full prose-table:er-border-collapse prose-headings:er-text-black/80 prose-a:er-text-primary prose-a:er-underline hover:prose-a:er-opacity-75 prose-p:er-text-3xl prose-ul:er-text-3xl prose-ul:er-leading-[1.8] prose-p:er-leading-[1.8] prose-h2:er-tracking-wide prose-ul:er-tracking-wider prose-ul:er-text-black/60 prose-p:er-tracking-wider prose-p:er-font-normal prose-p:er-text-black/60">
  <section>
    <h2>It's smoooth and simple</h2>
    <p>
      Klarna helps you elevate your shopping game. When you choose Klarna at checkout, you'll get the option to shop
      now and pay later for your purchase. It's shopping the way it should be. Effortless, safe and fun.
    </p>
    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/pi4_1120x1120-1652166895096.jpg?v=1652166896" loading="lazy" alt="Klarna shopping overview" width="1120" height="1120">
  </section>

  <section>
    <h2>4 interest-free payments</h2>
    <p>
      Split your purchase into 4 payments so you can spread the cost of your purchase over time. Enter the credit or
      debit card of your choice for automatic payments every two weeks. No interest or added fees when you pay on time.
    </p>
  </section>

  <section>
    <h2>Monthly financing</h2>
    <p>
      Apply for easy monthly financing directly in the checkout. A simple, 2-step application will provide an instant
      decision. Once you've been approved, you'll receive reminders and can manage your payments directly in the
      <a href="https://www.klarna.com/us/klarna-app/" target="_self">Klarna app</a>. Monthly financing products are
      offered by WebBank, member FDIC.
    </p>
  </section>

  <section>
    <h2>How to shop with Klarna</h2>
    <div class="er-grid er-grid-cols-3 er-gap-12 mb:er-gap-6">
      <div class="er-flex er-flex-col er-items-center er-gap-6 er-justify-between">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/one-1652167399538.jpg?v=1652167400" loading="lazy" alt="Step 1 with Klarna" width="50" height="50">
        <span>Add item(s) to your cart and head to the checkout.</span>
      </div>
      <div class="er-flex er-flex-col er-items-center er-gap-6 er-justify-between">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/klarna-marketing-badge-pink-rgbsvg-1652167133773.png?v=1652167134" loading="lazy" alt="Klarna checkout badge" width="100" height="50">
        <span>Select Klarna at the checkout to pay as you like for your purchase.</span>
      </div>
     <div class="er-flex er-flex-col er-items-center er-gap-6 er-justify-between">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/two-1652167442906.jpg?v=1652167444" loading="lazy" alt="Step 3 with Klarna" width="40" height="50">
        <span>Manage your orders and payments in the Klarna app.</span>
      </div>
    </div>
  </section>

  <section>
    <h2>The best way to shop.</h2>
    <p>
      See all of your purchases in one place, pay any open balances and much more in the
      <a href="https://www.klarna.com/us/klarna-app/" target="_self">Klarna app</a>. You can also log into your
      Klarna account at
      <a href="https://app.klarna.com/login" target="_self">https://app.klarna.com/login</a>. If you need any help,
      our <a href="https://www.klarna.com/us/customer-service/" target="_self">Customer Service</a> is there for
      you.
    </p>
  </section>

  <section>
    <h2>Safe and secure.</h2>
    <p>Klarna uses the latest safeguards and security to protect your information and prevent unauthorized purchases.</p>
    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/infopageapp-1652167993755.jpg?v=1652167995" loading="lazy" alt="Klarna app security" width="1100" height="680">
  </section>

  <section>
    <h2>We're always here to help!</h2>
    <p>
      Don't see your question here? Check out Klarna's full FAQ page. You can reach Klarna anytime at
      <a href="https://www.klarna.com/us/customer-service/" target="_self">https://www.klarna.com/us/customer-service/</a>
      or by downloading the <a href="https://www.klarna.com/us/klarna-app/" target="_self">Klarna app</a>.
    </p>

    <h3>What happens if I make a return?</h3>
    <p>
      If you need to return part or all of your order, Klarna will issue you with a new statement. Simply follow the
      retailer's return instructions and make sure to take note of the tracking number. Log into your Klarna account
      and select "report a return", and we'll pause your statement. As soon as the retailer has processed your return,
      we will send an adjusted invoice.
    </p>

    <h3>There's something wrong with my order. Do I still need to pay for it?</h3>
    <p>
      You do not need to pay for goods that are received damaged, broken, or defective. Follow the retailer's dispute
      instructions and "report a problem" in your Klarna account to pause your statement until the issue is resolved.
      As soon as the retailer has registered your return, the refund will be processed within 5-7 business days.
    </p>

    <h3>I have not received my order. What happens to my statement?</h3>
    <p>
      You do not need to pay the statement until you have received your order. Contact the retailer for a delivery
      update, log into your Klarna account, and "report a problem" to pause your statement until you've received your
      order.
    </p>

    <h3>My statement is incorrect. What should I do?</h3>
    <p>
      If your statement does not match your order details, please contact the retailer directly to correct your
      statement. Log into your Klarna account and "report a problem" to pause your statement until the details have
      been corrected.
    </p>

    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/infopagelobby-1652168003105.png?v=1652168004" loading="lazy" alt="Klarna support" width="1100" height="680">
  </section>

  <section>
    <h2>About Klarna</h2>
    <p>
      We're on a mission to reshape shopping, by elevating the entire shopping experience from browsing to owning. We
      do this by giving you the benefits of convenience, perks and inspiration.
    </p>
    <p>
      Founded in Stockholm, Sweden, Klarna is one of Europe's fastest-growing companies and a leading alternative
      payment provider. We have 3,500 employees across 17 countries, and are leading the way for alternative payments by
      serving 90 million consumers and 250,000 retailers' payment solutions.
    </p>
    <p>
      <a href="https://www.klarna.com/international/about-us/" target="_blank">https://www.klarna.com/international/about-us/</a>
    </p>
  </section>

  <section>
    <p>
      *However, according to the policy of the payment method, once a "Buy Now Pay Later" (BNPL) transaction is
      "captured", meaning that a loan is approved/processed, a transaction fee of 13% is not refundable. We will send
      you special notifications of this issue before the cancellation takes effect.
    </p>
  </section>

  <section>
    <h2>Business Info</h2>
    <p>Legal name: New Urtopia Holdings HK Limited</p>
    <p>Business Registration Number: 73174373</p>
    <p>Registered address: Unit 507 5/F, New East Ocean Centre 9 Science Museum Road, Hong Kong</p>
  </section>
</article>
