{{ 'feel.scss.css' | asset_url | stylesheet_tag: preload: true }}


<h1 class="visuallyhidden">Urtopia Ebike Review from Celebrities, Top Medias, Online Professional Reviewers and Real Customers</h1>
<div class="banner">
        <h2 class="u48Medium_v2">Feel the Love From</h2>
        <p class="u30Medium_v2">
            <span>
                Celebrities, Top Medias, Professional Online Reviewers and Real Customers
            </span>
        </p>
    </div>
    <div class="successsss" style="--swiper-theme-color: #000;--swiper-pagination-color: #000;">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">A Resounding Success!</h2>
            <h3 class="u30Light_v2">Media Reviews from Top Agencies</h3>
        </div>
        <div>
            <div class="centeral-content">
                <div class="swiperrrrrqq">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18872_2x_109bbad3-32ee-4436-8e2f-b3fac6e2fe2e.png?v=1709018442"
                                alt="">
                            <span class="u17Light_v2">Leading newspaper</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Its range and torque are stellar for such a lightweight bike, and
                                the torque sensor aims to make your ride smoother and more efficient.”</span>
                            <a class="my-link" target="_blank" href="https://reviewed.usatoday.com/features/ces-2024-editors-choice-award-winners">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18912_2x_432bd681-09cc-415c-b22f-8f05221c67f7.png?v=1709018449"
                                alt="">
                            <span class="u17Light_v2">World leader in cycling</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“The Urtopia carbon e-bike allows you to have a more efficient and
                                sustainable way of travelling.”</span>
                            <a class="my-link" target="_blank" href="https://www.cyclingnews.com/features/new-urtopia-carbon-e-bike-boasts-a-13kg-weight-and-a-host-of-innovative-high-tech-features/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18873_2x_62b1a40b-72b0-4ebd-811e-b0f16a085f69.png?v=1709018456"
                                alt="">
                            <span class="u17Light_v2">Leading popular tech site</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Urtopia e-bike is basically a computer on wheels”</span>
                            <a class="my-link" target="_blank" href="https://www.engadget.com/urtopia-ebike-is-the-most-tech-heavy-weve-seen-140046298.html">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18874_2x_b0b31666-5414-40bf-85e2-eb25817ded05.png?v=1709018464"
                                alt="">
                            <span class="u17Light_v2">World’s leading technology and web development news site</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Even if it didn’t pack any fancy smart features, I’d argue the
                                Urtopia would be worth its price on the weight and ride quality alone.”</span>
                            <a class="my-link" target="_blank" href="https://thenextweb.com/news/hands-on-urtopias-13-kg-carbon-fiber-ebike-promises-big-smarts">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18875_2x_ad69df9a-12cc-4a13-ab79-d7d2f40ec82e.png?v=1709018476"
                                alt="">
                            <span class="u17Light_v2">World’s leading news site focused on information technology</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“It’s incredibly fun to ride.”</span>
                            <a class="my-link" target="_blank" href="https://techcrunch.com/2021/12/01/urtopia-e-bike-is-basically-a-computer-on-wheels">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18900_2x_d7d13de2-546c-4334-8fa4-699ae1623e4b.png?v=1709018483"
                                alt="">
                            <span class="u17Light_v2">The most comprehensive consumer electronics review site.</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“You won’t find a bike much lighter with more tech baked in than
                                the Urtopia. ”</span>
                            <a class="my-link" target="_blank" href="https://www.cnet.com/roadshow/news/black-friday-deals-on-electric-scooters-and-e-bikes/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18902_2x_61eb545d-85b9-453c-98b1-b33bfc743d0a.png?v=1709018490"
                                alt="">
                            <span class="u17Light_v2">Known worldwide for its lists and top rankings</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“It’s a game changer in terms of safety.”</span>
                            <a class="my-link" target="_blank" href="https://www.forbes.com/sites/billroberson/2022/05/23/innovative-new-urban-utropia-all-carbon-ebike-looks-amazing-weighs-just-30-pounds">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18903_2x_635cb641-3120-45e0-9159-379fc0022cd9.png?v=1709018497"
                                alt="">
                            <span class="u17Light_v2">the most authoritative independent review for ebike</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“It’s neat to see an electric bike that’s trying new things and
                                really thinking about safety and sustainability.“</span>
                            <a class="my-link" target="_blank" href="https://electricbikereview.com/urtopia/2022-carbon-e-bike/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18901_2x_226d0d88-60f2-4c91-92d9-8fc9ade2540f.png?v=1709018504"
                                alt="">
                            <span class="u17Light_v2">One of the largest online technical publications</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">"The Urtopia feels like something five years ahead of its
                                time."</span>
                            <a class="my-link" target="_blank" href="https://www.makeuseof.com/urtopia-carbon-fiber-ebike-review/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18904_2x_36f71900-d4bd-4c3f-b775-f2a8eb0ad263.png?v=1709018509"
                                alt="">
                            <span class="u17Light_v2">Digital trends pioneering media</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“This e-bike does phone tech better than some phones”</span>
                            <a class="my-link" target="_blank" href="https://www.digitaltrends.com/mobile/urtopia-ebike-with-smartphone-features/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18906_2x_36fd37b4-8295-4d46-b842-9d1cc9c37ce4.png?v=1709018515"
                                alt="">
                            <span class="u17Light_v2">International benchmark for technology media</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“The Urtopia Carbon E-Bike is a work of art that you can
                                ride”</span>
                            <a class="my-link" target="_blank" href="https://www.zdnet.com/article/urtopia-carbon-electric-bike-review/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18907_2x_036d7f55-03ff-489b-a62c-7c4ede75d4e6.png?v=1709018521"
                                alt="">
                            <span class="u17Light_v2">Leading online science and technology website</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“All in all, I found the Urtopia to be a fun, cool and capable
                                alternative to more traditional commuter ebikes.”</span>
                            <a class="my-link" target="_blank" href="https://newatlas.com/bicycles/review-urtopia-ebike/">Read the post</a>
                        </div>
                    </div>
                </div>
                <img class="swiper-button-prev mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
                <img class="swiper-button-next mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
                <div class="swiper-pagination pcHide"></div>
            </div>
        </div>
    </div>
    <div class="successsss">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">What Professional Reviewers Say</h2>
            <h3 class="u30Light_v2">True reviews over the web</h3>
            <div class="items">
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/T-0A-EUwUfM-HD_2x_2a09e8b4-56b5-4868-989d-67a7c54eeaa0.jpg?v=1717551888')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240605-094530.jpg?v=1717551953"
                                alt="">
                            <span class="u24Medium_v2">
                                Jon Imperial
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                “I have been wanting to get an e-bike for a while now, and this seems like the perfect e-bike for me. The smart function is killer.”
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/T-0A-EUwUfM?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/r9TD6cPYCxc-HD_2x_f37ec21e-b45b-417d-a669-19bd24d1b227.jpg?v=1717551882')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240605-094824.png?v=1717552125"
                                alt="">
                            <span class="u24Medium_v2">
                                Area 13
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                “It’s 37 lbs, lighter than many e-bikes, possibly by half. And the Carbon 1 Pro’s peak power is 748 watts. I am so surprised by this result!”
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/r9TD6cPYCxc?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240327-174505.jpg?v=1711532910')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240327-174454.png?v=1711532784"
                                alt="">
                            <span class="u24Medium_v2">
                                ebecca Brand
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                It's an ebike anybody can handle although it's lightweight it's powerful it gets me up a very steep hill.
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/SB3_ljU4OEU?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_1_2x_56ab152d-dcaa-4e87-a043-e86cae0717ee.jpg?v=1709024081')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_1_2x_8bd76ada-1082-4b5d-bc09-fb41ee35a845.png?v=1709024072"
                                alt="">
                            <span class="u24Medium_v2">
                                KhanFlicks
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                It’s one of the most sophisticated e-bikes I’ve ever seen. And it’s really easy to use.
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/SkIMk2IDD_w?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_4_2x_de2a32a9-4f91-4219-930d-83e13742fd10.jpg?v=1709026434')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/channels4_profile_2x_83f835b7-7e0c-4427-8b14-7ac7fbb0c939.png?v=1709026441"
                                alt="">
                            <span class="u24Medium_v2">
                                Electric Revolution
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                I’m super impressed with it. The motor reaction time is fantastic. It’s got an awesome range
                                and can climb some steep hills for a long period of time.
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/D5CoBnFX3Ss?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_2_2x_6d57fc76-932a-4a3c-86e5-0d607daf0ab6.jpg?v=1709029307')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_2_2x_9ce330bc-4eb0-4598-85ca-150ad37de4bb.png?v=1709029357"
                                alt="">
                            <span class="u24Medium_v2">
                                TechTablets
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                The bike is using a torque sensor not a speed sensor so the power delivery is very good very
                                fast and it cuts out straight away too when you don’t need it.
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/K8FwcaRTYzk?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_6_2x_5e2a7b2b-1298-445a-84db-0b6353d7798d.jpg?v=1709029650')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_4_2x_b6b3dd73-5cfb-4981-9a5b-dae7081d8c5d.png?v=1709029643"
                                alt="">
                            <span class="u24Medium_v2">
                                TechMagnet
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                It looks awesome, it is so light, the handling is great and of course the build quality is
                                more than top-notch.
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/28wHF3WwG9w?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/maxresdefault_5_2x_2608b6ba-9afa-43b0-8e25-1dc09d51fd36.jpg?v=1709108032')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_1_2x_318f56ae-a13a-4fbc-ae2c-caa5f600f208.png?v=1709109299"
                                alt="">
                            <span class="u24Medium_v2">
                                photoshopCAFE
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                One of the things I like about this bike compared to other ebike is the integrated design. Instead of everything being bolted on, everything’s very sleek and streamlined.
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/C_W4U4MenS8?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/maxresdefault_2x_820b0094-ba2e-483d-9291-6afa15e75cac.jpg?v=1709108265')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_2x_b31d594f-f7cb-4e4c-954b-dd3f26bcdab0.png?v=1709108300"
                                alt="">
                            <span class="u24Medium_v2">
                                Jacob Dark
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                One of the biggest highlights of this bike is the fact that it is all carbon fiber you won’t
                                find a single weld spot on this entire body and it is super light and easy to pick up.
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/6qEdZrgR-lc?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/maxresdefault_3_2x_de1909b6-fde3-4051-ab7d-aac8bccebd60.jpg?v=1709109448')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/unnamed_3_2x_47fd8e7a-19d5-4117-b7f4-9c50f93e6e19.png?v=1709109441"
                                alt="">
                            <span class="u24Medium_v2">
                                ElectricBikeReview.com
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                It feels good it’s my type of bike i’m sort of a sporty lightweight guy and that’s how i would describe this bike as well.
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/tmjAYoKvzHM?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/maxresdefault_1_2x_e656e7e5-5ca5-4c0c-93f2-28403afa90d6.jpg?v=1709109582')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_1_2x_cff45ea3-df69-4149-8597-19808794895c.png?v=1709109572"
                                alt="">
                            <span class="u24Medium_v2">
                                6 Months Later
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                It is one of the most technologically advanced bikes I’ve ever encountered.
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/tBcH__ZQaOg?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/maxresdefault_2x_6e284ada-52bf-4ef5-87db-474f69f53d2e.jpg?v=1709109711')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/unnamed_2x_d5fa09e9-b8ea-4366-abbc-6706ef044971.png?v=1709109704"
                                alt="">
                            <span class="u24Medium_v2">
                                Now Let’s Review
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                I really like the minimalness of all the wires and cables, and they hid the battery very well, I really don’t think many people are even going to notice that this is an e-bike.
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/Iv0bZuS2OLA?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="my-button my-button-black moreeee">See More</div>
        </div>
    </div>
    <div class="successsss successsssc">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Love From Celebrities and Athletes</h2>
            <h3 class="u30Light_v2">Urtopia e-bikes are the choice of celebrities and athletes from around the world.</h3>
            <div class="lowwww">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/OdzjlfHdd8A?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23903_2x_f89c2785-a647-4cfe-a862-04c67c9ed8a0.jpg?v=1719216336');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23905_2x_d37753c0-daa7-46f5-8a23-954410f4776a.jpg?v=1719217671')">
                        {% comment %} <span class="flex-1"></span> {% endcomment %}
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        {% comment %} <span class="flex-1"></span> {% endcomment %}
                        <span class="u24DemiBold_v2">Jennifer Jolly</span>
                        <span class="u17Light_v2">Emmy Award-Winning Tech Journalist</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/n6KJzVYgqbs?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23901_2x_f4307a27-08a1-4edf-9ac9-c13891ad76a2.jpg?v=1719216570');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23765_2x_febc8cb8-e0ef-42f0-a5e8-438d6266d2a8.jpg?v=1709115490')">
                        {% comment %} <span class="flex-1"></span> {% endcomment %}
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        {% comment %} <span class="flex-1"></span> {% endcomment %}
                        <span class="u24DemiBold_v2">Linus Tech Tips</span>
                        <span class="u17Light_v2">15.5M Subscriber Youtube</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/cEuUJ0EQJaA?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23902_2x_adaf5825-de9d-42e8-a3d7-3f7d2a55afe1.jpg?v=1719216698');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23908_2x_174ef483-d6d6-48fc-87e2-b14961b137dc.jpg?v=1719219725')">
                        {% comment %} <span class="flex-1"></span> {% endcomment %}
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        {% comment %} <span class="flex-1"></span> {% endcomment %}
                        <span class="u24DemiBold_v2">Olaf Hajek</span>
                        <span class="u17Light_v2">German Lengedary Artist</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/OK8cz5u8rZg?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23904_2x_361ca568-6299-425e-853d-4c743ce66ae0.jpg?v=1719216803');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23910_2x_6cb3ee18-1a01-4a67-9939-2bba7f841dc5.jpg?v=1719219790')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Tracy MacGrady</span>
                        <span class="u17Light_v2">NBA Hall of Fame</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/T1aUscy73S4?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23890_2x_1396967b-5394-4217-9034-c5e77bae15c8.jpg?v=1719217014');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23915_2x_2445aca2-05f1-41c1-9212-ef4e05cca03c.jpg?v=1719219835')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Smash Mouth</span>
                        <span class="u17Light_v2">Choice Award for Favorite Band</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/gjYMDVGv_C4?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23882_2x_e978cbb1-7d37-4d73-bc21-1e1631d1d6cf.jpg?v=1719217143');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23780_2x_e5b410e2-a752-41fa-84f2-11b42514ef76.jpg?v=1709123581')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Maksim Mrvica</span>
                        <span class="u17Light_v2">The world’s fastest pianists</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://player.vimeo.com/video/799468067?api=1&autoplay=false&loop=false&mute=false&controls=true&portrait=false&byline=false&title=false')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23888_2x_f1fef46a-a89a-4a17-996e-83edca7cafa3.jpg?v=1719217149');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23770_2x_4b63b769-e9b1-4b41-ab4d-b7f7af45aab0.jpg?v=1709115513')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Ben Baller</span>
                        <span class="u17Light_v2">Best Jewelers in the World</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/GoZU9kP3cNk?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23889_2x_829d4a0a-2d2b-4e34-9627-44e2740ed16b.jpg?v=1719217158');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23773_2x_52c6710a-141b-407d-9bd5-a451ad3e5af4.jpg?v=1709115532')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Franz Loeschke</span>
                        <span class="u17Light_v2">5x German champion triathlete</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/GoZU9kP3cNk?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23889_2x_829d4a0a-2d2b-4e34-9627-44e2740ed16b.jpg?v=1719217158');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23773_2x_52c6710a-141b-407d-9bd5-a451ad3e5af4.jpg?v=1709115532')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Franz Loeschke</span>
                        <span class="u17Light_v2">5x German champion triathlete</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/GoZU9kP3cNk?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23889_2x_829d4a0a-2d2b-4e34-9627-44e2740ed16b.jpg?v=1719217158');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23773_2x_52c6710a-141b-407d-9bd5-a451ad3e5af4.jpg?v=1709115532')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Franz Loeschke</span>
                        <span class="u17Light_v2">5x German champion triathlete</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/GoZU9kP3cNk?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23889_2x_829d4a0a-2d2b-4e34-9627-44e2740ed16b.jpg?v=1719217158');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23773_2x_52c6710a-141b-407d-9bd5-a451ad3e5af4.jpg?v=1709115532')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Franz Loeschke</span>
                        <span class="u17Light_v2">5x German champion triathlete</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/GoZU9kP3cNk?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23889_2x_829d4a0a-2d2b-4e34-9627-44e2740ed16b.jpg?v=1719217158');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23773_2x_52c6710a-141b-407d-9bd5-a451ad3e5af4.jpg?v=1709115532')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Franz Loeschke</span>
                        <span class="u17Light_v2">5x German champion triathlete</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/GoZU9kP3cNk?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_24189_2x_bea8fcd8-750e-427e-8c13-37b7e03a2fb4.jpg?v=1720750387');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_24178_2x_ebdc3d21-bfee-41d1-a51e-54e565e602dd.jpg?v=1720750380')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Max Lemke</span>
                        <span class="u17Light_v2">2021 Canoeing Olympic Champion</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/PUxGSKJoEG8?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_24193_2x_c0e40dd6-a7db-43a3-bdf5-16c345300b8a.jpg?v=1720750184');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_24190_2x_38e482b3-8914-4343-806e-6f05a3cd14bf.jpg?v=1720750178')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Jerry Tachoir</span>
                        <span class="u17Light_v2">Berklee grad Grammy-nominated jazz artist</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/GoZU9kP3cNk?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_24191_2x_9d48c091-ab31-48b4-b248-64c1820abaca.jpg?v=1720749970');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_24192_2x_1b50d702-d3a7-4f15-ae35-7617baf32c0a.jpg?v=1720750053')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u24DemiBold_v2">Chris McCormack</span>
                        <span class="u17Light_v2">Legendary Triathlete 2x Ironman World Champion</span>
                    </div>
                </div>
            </div>
            <div class="my-button my-button-black moreeeee pcHide">See More</div>
        </div>
    </div>
    <div class="judmeeeeeeeee">
            <div class="centeral-content">
                <h2 class="u48Medium_v2">What our real customers say</h2>
                {% include "judgeme_all_reviews", widget_type: "judgeme_all_review_widget", concierge_install: false %}
            </div>
    </div>


<script>
  new Swiper('.successsss .swiperrrrrqq', global_config.is_mobile ? {
        slidesPerView: 1,
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        pagination: { el: '.successsss .swiper-pagination' },
        speed: 300
  } : {
        slidesPerView: 4,
        spaceBetween: '5%',
        navigation: {
            nextEl: '.successsss:not(.successsssc) .swiper-button-next',
            prevEl: '.successsss:not(.successsssc) .swiper-button-prev',
        },
    })

    // global_config.is_pc && new Swiper('.successsssc .lowwww', {
    //         // direction: 'vertical',
    //         slidesPerView: 3.5,
    //         spaceBetween: 30,
    //         // slidesOffsetAfter: 400,
    //         navigation: {
    //             nextEl: '.successsssc .swiper-button-next',
    //             prevEl: '.successsssc .swiper-button-prev',
    //         },
    //         // effect: 'fade',
    //         // fadeEffect: {
    //         //     crossFade: true
    //         // },
    //         // pagination: { el: '.successsss .swiper-pagination' },
    //         // speed: 300
    //     })

    $('.successsss .moreeee').on('click', e => {
        const items = $('.successsss .items .item:hidden')
        if (items[0]) {
            $(items[0]).css('display', 'grid')
        } else {
            $('.successsss .moreeee').hide()
        }

        if (items[1]) {
            $(items[1]).css('display', 'grid')
        }
    })

    $('.successsss .moreeee').click()

    $('.successsssc .moreeeee').on('click', e => {
        const items = $('.successsssc .swiper-slide:hidden')
        if (items[0]) {
            $(items[0]).css('display', 'flex')
        } else {
            $('.successsssc .moreeeee').hide()
        }

        if (items[1]) {
            $(items[1]).css('display', 'flex')
        }

        if (items[2]) {
            $(items[2]).css('display', 'flex')
        }
    })

    $('.successsssc .moreeeee').click()
</script>