{{ 'feel.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
        <h2 class="u48Medium_v2">Feel the Love From</h2>
        <p class="u30Medium_v2">
            <span>
                Celebrities, Top Medias, Online Reviewers and Real Customers
            </span>
        </p>
    </div>
    <div class="successsss" style="--swiper-theme-color: #000;--swiper-pagination-color: #000;">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">A Resounding Success!</h2>
            <h3 class="u30Light_v2">Media Reviews from Top Agencies</h3>
        </div>
        <div>
            <div class="centeral-content">
                <div class="swiperrrrrqq">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18872_2x_109bbad3-32ee-4436-8e2f-b3fac6e2fe2e.png?v=1709018442"
                                alt="">
                            <span class="u17Light_v2">Leading newspaper</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Its range and torque are stellar for such a lightweight bike, and
                                the torque sensor aims to make your ride smoother and more efficient.”</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18912_2x_432bd681-09cc-415c-b22f-8f05221c67f7.png?v=1709018449"
                                alt="">
                            <span class="u17Light_v2">World leader in cycling</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“The Urtopia carbon e-bike allows you to have a more efficient and
                                sustainable way of travelling.”</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18873_2x_62b1a40b-72b0-4ebd-811e-b0f16a085f69.png?v=1709018456"
                                alt="">
                            <span class="u17Light_v2">Leading popular tech site</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Urtopia e-bike is basically a computer on wheels”</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18874_2x_b0b31666-5414-40bf-85e2-eb25817ded05.png?v=1709018464"
                                alt="">
                            <span class="u17Light_v2">World’s leading technology and web development news site</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Even if it didn’t pack any fancy smart features, I’d argue the
                                Urtopia would be worth its price on the weight and ride quality alone.”</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18875_2x_ad69df9a-12cc-4a13-ab79-d7d2f40ec82e.png?v=1709018476"
                                alt="">
                            <span class="u17Light_v2">World’s leading news site focused on information technology</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“It’s incredibly fun to ride.”</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18900_2x_d7d13de2-546c-4334-8fa4-699ae1623e4b.png?v=1709018483"
                                alt="">
                            <span class="u17Light_v2">The most comprehensive consumer electronics review site.</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“You won’t find a bike much lighter with more tech baked in than
                                the Urtopia. ”</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18902_2x_61eb545d-85b9-453c-98b1-b33bfc743d0a.png?v=1709018490"
                                alt="">
                            <span class="u17Light_v2">Known worldwide for its lists and top rankings</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“It’s a game changer in terms of safety.”</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18903_2x_635cb641-3120-45e0-9159-379fc0022cd9.png?v=1709018497"
                                alt="">
                            <span class="u17Light_v2">the most authoritative independent review for ebike</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“It’s neat to see an electric bike that’s trying new things and
                                really thinking about safety and sustainability.“</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18901_2x_226d0d88-60f2-4c91-92d9-8fc9ade2540f.png?v=1709018504"
                                alt="">
                            <span class="u17Light_v2">One of the largest online technical publications</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">"The Urtopia feels like something five years ahead of its
                                time."</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18904_2x_36f71900-d4bd-4c3f-b775-f2a8eb0ad263.png?v=1709018509"
                                alt="">
                            <span class="u17Light_v2">Digital trends pioneering media</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“This e-bike does phone tech better than some phones”</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18906_2x_36fd37b4-8295-4d46-b842-9d1cc9c37ce4.png?v=1709018515"
                                alt="">
                            <span class="u17Light_v2">International benchmark for technology media</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“The Urtopia Carbon E-Bike is a work of art that you can
                                ride”</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18907_2x_036d7f55-03ff-489b-a62c-7c4ede75d4e6.png?v=1709018521"
                                alt="">
                            <span class="u17Light_v2">Leading online science and technology website</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“All in all, I found the Urtopia to be a fun, cool and capable
                                alternative to more traditional commuter ebikes.”</span>
                            <a class="my-link" href="">Read the post</a>
                        </div>
                    </div>
                </div>
                <img class="swiper-button-prev mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
                <img class="swiper-button-next mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
                <div class="swiper-pagination pcHide"></div>
            </div>
        </div>
    </div>
    <div class="successsss">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">What Online Reviewers Say</h2>
            <h3 class="u30Light_v2">True review over the web</h3>
            <div class="items">
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_1_2x_56ab152d-dcaa-4e87-a043-e86cae0717ee.jpg?v=1709024081')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_1_2x_8bd76ada-1082-4b5d-bc09-fb41ee35a845.png?v=1709024072"
                                alt="">
                            <span class="u24Medium_v2">
                                KhanFlicks
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                It’s one of the most sophisticated e-bikes I’ve ever seen. And it’s really easy to use.
                            </span>
                        </p>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_4_2x_de2a32a9-4f91-4219-930d-83e13742fd10.jpg?v=1709026434')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/channels4_profile_2x_83f835b7-7e0c-4427-8b14-7ac7fbb0c939.png?v=1709026441"
                                alt="">
                            <span class="u24Medium_v2">
                                Electric Revolution
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                I’m super impressed with it. The motor reaction time is fantastic. It’s got an awesome range
                                and can climb some steep hills for a long period of time.
                            </span>
                        </p>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_2_2x_6d57fc76-932a-4a3c-86e5-0d607daf0ab6.jpg?v=1709029307')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_2_2x_9ce330bc-4eb0-4598-85ca-150ad37de4bb.png?v=1709029357"
                                alt="">
                            <span class="u24Medium_v2">
                                TechTablets
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                The bike is using a torque sensor not a speed sensor so the power delivery is very good very
                                fast and it cuts out straight away too when you don’t need it.
                            </span>
                        </p>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_6_2x_5e2a7b2b-1298-445a-84db-0b6353d7798d.jpg?v=1709029650')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_4_2x_b6b3dd73-5cfb-4981-9a5b-dae7081d8c5d.png?v=1709029643"
                                alt="">
                            <span class="u24Medium_v2">
                                TechMagnet
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                It looks awesome, it is so light, the handling is great and of course the build quality is
                                more than top-notch.
                            </span>
                        </p>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_6_2x_5e2a7b2b-1298-445a-84db-0b6353d7798d.jpg?v=1709029650')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_4_2x_b6b3dd73-5cfb-4981-9a5b-dae7081d8c5d.png?v=1709029643"
                                alt="">
                            <span class="u24Medium_v2">
                                photoshopCAFE
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                One of the things I like about this bike compared to other ebike is the integrated design.
                                Instead of everything being bolted on, everything’s very sleek and streamlined.
                            </span>
                        </p>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_6_2x_5e2a7b2b-1298-445a-84db-0b6353d7798d.jpg?v=1709029650')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_4_2x_b6b3dd73-5cfb-4981-9a5b-dae7081d8c5d.png?v=1709029643"
                                alt="">
                            <span class="u24Medium_v2">
                                Jacob Dark
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                One of the biggest highlights of this bike is the fact that it is all carbon fiber you won’t
                                find a single weld spot on this entire body and it is super light and easy to pick up.
                            </span>
                        </p>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="my-button my-button-black moreeee">See More</div>
        </div>
    </div>
    <div class="successsss successsssc">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Love From Celebrities and Athletes</h2>
            <h3 class="u30Light_v2">Utopia e-bikes are the choice of Celebrities and athletes from around the world.</h3>
            <div class="lowwww">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23757_2x_50010e86-bfe3-4762-9163-a97712d01850.jpg?v=1709091301')">
                        <span class="flex-1"></span>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="flex-1"></span>
                        <span class="u30DemiBold_v2">Tracy MacGrady</span>
                        <span class="u20Light_v2">Emmy Award-Winning Tech Journalist</span>
                    </div>
                    <div class="swiper-slide" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23757_2x_50010e86-bfe3-4762-9163-a97712d01850.jpg?v=1709091301')">
                        <span class="flex-1"></span>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="flex-1"></span>
                        <span class="u30DemiBold_v2">Tracy MacGrady</span>
                        <span class="u20Light_v2">Emmy Award-Winning Tech Journalist</span>
                    </div>
                    <div class="swiper-slide" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23757_2x_50010e86-bfe3-4762-9163-a97712d01850.jpg?v=1709091301')">
                        <span class="flex-1"></span>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="flex-1"></span>
                        <span class="u30DemiBold_v2">Tracy MacGrady</span>
                        <span class="u20Light_v2">Emmy Award-Winning Tech Journalist</span>
                    </div>
                    <div class="swiper-slide" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23757_2x_50010e86-bfe3-4762-9163-a97712d01850.jpg?v=1709091301')">
                        <span class="flex-1"></span>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="flex-1"></span>
                        <span class="u30DemiBold_v2">Tracy MacGrady</span>
                        <span class="u20Light_v2">Emmy Award-Winning Tech Journalist</span>
                    </div>
                    <div class="swiper-slide" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23757_2x_50010e86-bfe3-4762-9163-a97712d01850.jpg?v=1709091301')">
                        <span class="flex-1"></span>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="flex-1"></span>
                        <span class="u30DemiBold_v2">Tracy MacGrady</span>
                        <span class="u20Light_v2">Emmy Award-Winning Tech Journalist</span>
                    </div>
                    <div class="swiper-slide" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23757_2x_50010e86-bfe3-4762-9163-a97712d01850.jpg?v=1709091301')">
                        <span class="flex-1"></span>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="flex-1"></span>
                        <span class="u30DemiBold_v2">Tracy MacGrady</span>
                        <span class="u20Light_v2">Emmy Award-Winning Tech Journalist</span>
                    </div>
                </div>
            </div>
            <div class="my-button my-button-black moreeeee pcHide">See More</div>
            <img class="swiper-button-prev mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
                <img class="swiper-button-next mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
        </div>
    </div>


<script>
  new Swiper('.successsss .swiperrrrrqq', {
        // direction: 'vertical',
        slidesPerView: 1,
        spaceBetween: '5%',
        navigation: {
            nextEl: '.successsss .swiper-button-next',
            prevEl: '.successsss .swiper-button-prev',
        },
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        pagination: { el: '.successsss .swiper-pagination' },
        speed: 300
    })

    if (document.body.clientWidth > 768) {
        new Swiper('.successsssc .lowwww', {
            // direction: 'vertical',
            slidesPerView: 3.35,
            spaceBetween: '2%',
            navigation: {
                nextEl: '.successsssc .swiper-button-next',
                prevEl: '.successsssc .swiper-button-prev',
            },
            // effect: 'fade',
            // fadeEffect: {
            //     crossFade: true
            // },
            // pagination: { el: '.successsss .swiper-pagination' },
            // speed: 300
        })
    }

    $('.successsss .moreeee').on('click', e => {
        const items = $('.successsss .items .item:hidden')
        if (items[0]) {
            $(items[0]).css('display', 'grid')
        }

        if (items[1]) {
            $(items[1]).css('display', 'grid')
        }
    })

    $('.successsss .moreeee').click()

    $('.successsssc .moreeeee').on('click', e => {
        const items = $('.successsssc .swiper-slide:hidden')
        if (items[0]) {
            $(items[0]).css('display', 'flex')
        }

        if (items[1]) {
            $(items[1]).css('display', 'flex')
        }
    })

    $('.successsssc .moreeeee').click()
</script>