{{ 'greenest.scss.css' | asset_url | stylesheet_tag }}

<div class="greenest">
        <div class="banner">
            <div class="centeral-content u60Medium_v2">Green Deserves Rewards</div>
        </div>
        <div class="centeral-content annually">
            <div class="u17Light_v2">
                Every year, the world generates a staggering 5.2 billion metric tons of carbon pollution. However, by opting for the Urtopia e-bike, renowned for its eco-friendliness, you have the power to reduce 2832.25 grams of CO2 emissions per 100 km when using the Carbon 1 e-bike model. Join us in pedaling towards a greener future, where you can earn carbon credits and unlock attractive rewards for a sustainable ride.
            </div>
        </div>
        <div class="centeral-content gray-background-color exchange">
            <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18800_2x_6498519a-383d-4f31-be83-4dda388fbdac.png?v=1691833461"
                alt="">
            <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18818_2x_dcfaa889-fa0e-4600-8707-4fb143880594.png?v=1691992473" alt="">

            <div>
                <div class="u36Medium_v2">Redeem Carbon Credits for Gifts</div>
                <div class="u17Light_v2">Carbon credits are non-monetary rewards earned through activities like daily cycling and referrals in Urtopia App. These credits can be redeemed for cool products related to Urtopia. We aim to offer users practical and fun items that further showcase the lifestyle Urtopia advocates.</div>
            </div>
        </div>
        <div class="record">
            <div class="u42Medium_v2">Urtopia 2nd Anniversary Green Ride Milestone</div>
            <div class="swiper-wrapper">
                <div class="swiper-slide rade">
                    <div class="u24Light_v2">The Urtopians rode a total distance of</div>
                    <div class="u72DemiBold_v2">1,331,608.88 <span class="u36Medium_v2">km</span></div>
                </div>
                <div class="swiper-slide planting">
                    <div class="u24Light_v2">Urtopian’s joint effort is equivalent to planting</div>
                    <div class="u72DemiBold_v2">8,646 <span class="u36Medium_v2">trees</span></div>
                </div>
                <div class="swiper-slide saved">
                    <div class="u24Light_v2">The reduction in CO2 emissions amounted to</div>
                    <div class="u72DemiBold_v2">37,714,350 <span class="u36Medium_v2">grams</span></div>
                </div>
            </div>
            <div class="centeral-content">
                <img class="swiper-button-prev"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18608_2x_10966514-e838-45c3-8f3d-029c79a44d25.png?v=1691836122" />
                <img class="swiper-button-next"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18608_2x_10966514-e838-45c3-8f3d-029c79a44d25.png?v=1691836122" />
            </div>
        </div>
        <div class="centeral-content why">
            <div class="u60Medium_v2">Why is Urtopia the <br>Most Sustainable E-Bike?</div>
            <div class="boxs">
                <div>
                    <div class="u30Medium_v2">Eco-Friendly <br>Manufacturing</div>
                    <div class="u17Light_v2">Certified by BV (BUREAU VERITAS), a globally recognized top three certifier, our product boasts an impressive sustainability achievement. Materials contribute to 68.38% of the total carbon emissions, with carbon fiber alone accounting for 27.64%. By achieving a remarkably low total carbon footprint of just 276.58 kg CO2, our product surpasses the emissions of numerous ordinary bicycles with aluminum frames. This demonstrates our commitment to environmental responsibility and sets us apart in the industry.</div>
                    <img class="logo mobileHide"
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21615_2x_e5079b9f-9a62-47ea-84a5-19ee4b4dc310.png?v=1691982611"
                        alt="">
                </div>
                <img class="mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22701_2x_cde4a696-2540-402b-a69d-c7fcbcc6c48f.jpg?v=1691978353"
                    alt="">
                <img class="pcHide"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22514_2x_1c8613a8-4242-4526-bc69-66d0e0a39fb4.jpg?v=1691981508"
                    alt="">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22719_2x_2fa45c7a-1481-4345-9349-5551b2c04be5.jpg?v=1691982365" alt="">
                <div>
                    <div class="u30Medium_v2">Greener <br>Mobility Choice</div>
                    <div class="u17Light_v2">The Urtopia Carbon 1 e-bike is undeniably a champion of sustainability. Its lifecycle emissions surpass those of shared bikes by 1.5x and motorcycles by an impressive 4.5x. Even more remarkable, Urtopia emits only 1/5 of Germany’s transport standard and even less than long-distance trains. By choosing the Urtopia Carbon 1 e-bike, you’re not only experiencing the thrill of riding, but also making a significant contribution to reducing carbon emissions and creating a greener future.</div>
                </div>
                <div>
                    <div class="u30Medium_v2">Riding 154 km on Urtopia <br>= Planting 1 Tree</div>
                    <div class="u17Light_v2">In the context of Germany, every 100 km ridden on the Urtopia e-bike can result in a reduction of 2832.25 grams of CO2 emissions, which is equivalent to offsetting the carbon footprint by planting approximately 0.65 trees.</div>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18824_2x_bb412dda-2707-4a9a-b87f-d9827b7c720d.jpg?v=1691978477"
                    alt="">
            </div>
        </div>
        <div class="gray-background-color">
            <div class="centeral-content green">
                <div class="u60Medium_v2">Green Deserves Rewards</div>
                <div class="u17Light_v2">Urtopia pioneers in accurately measuring and rewarding green levels, thanks to our cutting-edge technological capabilities. As the first e-bike brand to embrace this initiative, we are dedicated to advancing carbon neutrality through our smart technology and wholeheartedly embracing the Environmental, Social, and Governance (ESG) pillars.</div>
                <div class="boxs">
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22698_2x_d4169288-acb2-4a16-bb6d-1779b5bc5e71.jpg?v=1691983244"
                            alt="">
                        <div class="u24Medium_v2">Daily Riding</div>
                        <div class="u17Light_v2">Urtopians can earn 1 carbon point for every 100g of carbon reduced. This is calculated by comparing the carbon emissions from your trip’s electricity consumption to the emissions generated by general travel methods.</div>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22697_2x_2cd5ad93-7200-4989-aa26-e805991e3228.jpg?v=1691983237"
                            alt="">
                        <div class="u24Medium_v2">CO2 Neutrality Rewards</div>
                        <div class="u17Light_v2">When the daily rides you take on your e-bike offset more carbon emissions than the production emissions generated by the bike itself, you will be entitled to receive a valuable one-time reward of 10,000 carbon credits.</div>
                    </div>
                </div>
                <div class="referal">
                    <div>
                        <div class="u30Medium_v2">Referal Rewards</div>
                        <div class="u17Light_v2">When you make a successful referral that leads to a purchase, both the referrer and the referee will be rewarded with 10,000 Urtopia carbon credits as a one-time bonus.</div>
                    </div>
                    <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22699_2x_8a08fa7b-8e86-4345-a78f-e8e42913f571.png?v=1691984066"
                        alt="">
                    <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18847_2x_4f5508d1-dc06-41c2-9732-000a6df533a4.png?v=1691991382" alt="">
                </div>
                <div class="app">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_22700_2x_b254cd9c-73dd-4e09-abd1-b3c2357051a3.png?v=1691984470"
                        alt="">
                    <div>
                        <div class="u30Medium_v2">Exchange <br>Carbon Credits in the App</div>
                        <div class="u17Light_v2">Experience the convenience of tracking your carbon credit points with the Urtopia e-bike. Simply open the app and explore your journey history, from the very first ride to your latest routes.</div>
                        <div class="images">
                            <a target="_blank" href="https://apps.apple.com/de/app/urtopia/id1592975789"><img
                                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/321_2x_7167a7d7-09a2-44fc-9d44-641a87b19f0f.png?v=1691985130"
                                    alt=""></a>
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.newurtopia"><img
                                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/get-it-on-google-play-badge-1_2x_b67cdb74-bc55-44ac-8b53-544c78903b8c.png?v=1691985137"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
  new Swiper('.greenest .record', {
        autoplay: {
            disableOnInteraction: false,
            pauseOnMouseEnter: false,
            delay: 5000,
        },
        loop: true,
        speed: 1000,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    })
</script>