{{ 'greenest_v2.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
        <div class="u60Medium_v2">Sustainability: Ride Greener</div>
        <div class="u20Medium_v2">Sustainability at the Heart of Urtopia</div>
    </div>
    <div class="watch">
        <div class="u17Light_v2">Each year, five point two billion metric tons of carbon dioxide are released. Climate
            change is threatening the planet, urging a change in the way we live. Urtopia is a leading provider of
            environment-friendly technology. Our proprietary IOT system and AI algorithm make riding an e-bike the greenest
            way to travel, revolutionizing short-range transport and reducing carbon emissions by 99%.</div>
        <div onclick="showVideoDialog('https://www.youtube.com/embed/1QeHMEYk9wQ?autoplay=1&cc_load_policy=1')" class="my-button my-button-origin">Watch Video <img
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231011-143053.png?v=1697005879"
                alt=""></div>
    </div>
    <div class="gray-background-color">
        <div class="watch owen">
            <div class="u30DemiBold_v2">“Urtopia is dedicated to using technology to enhance users’ riding experience,
                leading us toward a greener ride.”</div>
            <div class="u17DemiBold_v2">-Owen Zhang, CEO of Urtopia</div>
        </div>
    </div>
    <div class="centeral-content veritas">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC9858_2x_24243638-73f4-42e5-b6b0-711b9f8732a0.jpg?v=1696921860"
            alt="">
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22873_2x_f5d91232-6a2a-414f-8779-510dd54202bc.png?v=1696921972"
                alt="">
            <div class="u36Medium_v2">Certified by BUREAU VERITAS</div>
            <div class="u17Light_v2">Certified by BV (BUREAU VERITAS), a globally recognized top three certifier, our
                product boasts an impressive sustainability achievement.</div>
        </div>
    </div>
    <div class="gray-background-color why">
        <div class="centeral-content">
            <div class="u48Medium_v2">Why is Urtopia the <br>Most Sustainable E-Bike?</div>
            <div class="boxs">
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230520-untitled-8826_2x_3d6c0726-f210-410e-b198-13a8fe845516.jpg?v=1696922618"
                        alt="">
                    <div class="u24Medium_v2">Eco-Friendly Manufacturing</div>
                    <div class="u17Light_v2">By achieving a remarkably low total carbon footprint of just 276.58 kg CO2,
                        Carbon 1 surpasses the emissions of numerous ordinary bicycles.</div>
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220620-untitled-2729_2x_795cd3c1-03fc-4e7f-84c8-13ab15e2a6d2.jpg?v=1696923335"
                        alt="">
                    <div class="u24Medium_v2">Greener Mobility Choice</div>
                    <div class="u17Light_v2">The Urtopia Carbon 1 e-bike excels in sustainability, emitting only 1/5 of
                        Germany’s standard traffic emissions, and even 2/3 of the emissions of a shared bicycle.</div>
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Urtopia_-_Auto_Rack_-_Original_Size_-_RAW-77_2x_750643df-a507-4d36-882d-f169e6f608cb.jpg?v=1696923342"
                        alt="">
                    <div class="u24Medium_v2">Riding 154 km on Urtopia = Planting 1 Tree</div>
                    <div class="u17Light_v2">Riding the Urtopia e-bike in Germany for 100 km cuts 2832.25 g CO2, like
                        planting 0.65 trees.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="centeral-content how">
        <div class="u48Medium_v2">How We Make Ride Greener</div>
        <div class="boxs">
            <div>
                <div class="u30Medium_v2">Urtopians worldwide</div>
                <div class="u17Light_v2">Over 10,000 Urtopians worldwide are passionate about green riding with Urtopia
                    ebikes, and their total ride data is impressive, equivalent to planting a total of 13,000 trees.</div>
                <div class="texts">
                    <div>
                        <span class="u14Light_v2">The Urtopians rode a total distance of</span>
                        <span class="u36DemiBold_v2">2,000,000+ <span class="u20Medium_v2">km</span></span>
                    </div>
                    <div>
                        <span class="u14Light_v2">The reduction in CO2 emissions amounted to</span>
                        <span class="u36DemiBold_v2">56000+ <span class="u20Medium_v2">kg</span></span>
                    </div>
                    <div>
                        <span class="u14Light_v2">Urtopian’s joint effort is equivalent to planting</span>
                        <span class="u36DemiBold_v2">13,100+ <span class="u20Medium_v2">trees</span></span>
                    </div>
                </div>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221005-untitled-0075_2x_b9f777ce-e202-4811-b7ba-2f21e5fa0a17.jpg?v=1696924359"
                alt="">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC0210_2x_9a3ab568-d45d-471b-9ed7-34ac8553c0f0.jpg?v=1696925509"
                alt="">
            <div>
                <div class="u30Medium_v2">AIOT Platforms</div>
                <div class="u20Medium_v2">For Energy Saving and Carbon Emission Reduction</div>
                <div class="u17Light_v2">Our Smart IoT system and controlling algorithms enable our bikes to intelligently
                    adjust the power model according to users need and boosts energy efficiency by more than 15%. Higher
                    efficiency means less battery volume and lighter weight, reducing carbon emissions during production.
                </div>
            </div>
            <div>
                <div class="u30Medium_v2">Recycling Packaging</div>
                <div class="u17Light_v2">We will continue to use recyclable cardboard packaging and minimize the use of
                    single-use plastic waste.</div>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230317-untitled-8223-_2x_855d1e43-ae4e-4a24-b24c-02d90dea7d9a.jpg?v=1696925519"
                alt="">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22893_2x_7300cd64-287a-4170-81d0-abeb48d08cf1.jpg?v=1696925527"
                alt="">
            <div>
                <div class="u30Medium_v2">Cooperation with LEVA-EU</div>
                <div class="u17Light_v2">Joined LEVA-EU, partnering with users for a greener future, developing cutting-edge
                    e-bikes, and prioritizing sustainability through innovative technology.</div>
            </div>
            <div>
                <div class="u30Medium_v2">100% Green</div>
                <div class="u20Medium_v2">Urtopia x Bluetti</div>
                <div class="u17Light_v2">With BLUETTI’s expandable power station, you can charge your Urtopia e-bikes with
                    clean, solar energy. Ride 100% green and leave no carbon footprint.</div>
                <a class="my-button my-button-black" target="_blank" href="/products/bluetti-eb70-pv200-solar-generator-kit">Shop Bluetti</a>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18856_2x_0eb599db-026c-4255-8b61-e4904aa86e90.jpg?v=1696925535"
                alt="">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22697_2x_dd2ee9ed-95ee-4763-803c-c4ef59e0bbb1.jpg?v=1696925544"
                alt="">
            <div>
                <div class="u30Medium_v2">Green Deserves Rewards</div>
                <div class="u17Light_v2">Carbon credits are non-monetary rewards earned through activities like daily
                    cycling and referrals in Urtopia App. These credits can be redeemed for cool products related to
                    Urtopia. We aim to offer users practical and fun items that further showcase the lifestyle Urtopia
                    advocates.</div>
            </div>
        </div>
    </div>
    <div class="centeral-content app">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22700_2x_517b8b0c-6801-47e9-abc0-9dc429e6287c.png?v=1696932550"
            alt="">
        <div>
            <div class="u30Medium_v2">Exchange <br>Carbon Credits in the App</div>
            <div class="u17Light_v2">Experience the convenience of tracking your carbon credit points with the Urtopia
                e-bike. Simply open the app and explore your journey history, from the very first ride to your latest
                routes.</div>
            <div class="images">
                <a target="_blank" href="https://apps.apple.com/de/app/urtopia/id1592975789"><img
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/321_2x_7167a7d7-09a2-44fc-9d44-641a87b19f0f.png?v=1691985130"
                        alt=""></a>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.newurtopia"><img
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/get-it-on-google-play-badge-1_2x_b67cdb74-bc55-44ac-8b53-544c78903b8c.png?v=1691985137"
                        alt=""></a>
            </div>
        </div>
    </div>