{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}

<section class="er-bg-background">
  <div class="er-mx-auto er-max-w-screen-2xl er-flex">
    <div class="filters er-flex-1">
    </div>
    <div class="ebike-products er-max-w-screen-xl">
      {% render "product-cards" %}
    </div>
  </div>
</section>
