<style>
:root {
    --local-color: #D08E14;
    ;
}

.c {
    color: var(--local-color);
}

.mycard {
    transition: all 0.3s;
}

.mycard:hover {
    opacity: 1;
}

.mycard img[class="er-rounded-3xl"] {
    transition: all 0.3s;
}

.mycard:hover img[class="er-rounded-3xl"] {
    filter: blur(1px) brightness(75%);
}

.mycard:hover img[width="80"] {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.mycard img[width="80"] {
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all .3s;
}

.fold {
    bottom: 5%;
    width: 37.5%;
    transform: translateX(15%);
    position: absolute;
}

.tab-pane {
    display: none;
}

.tab-nav {
    display: flex;
    gap: 20px;
}

.tab-nav a {
    flex: 1;
    display: block;
    background: #fff;
    color: #000;
    border-radius: 10px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s;
}

.tab-nav a.active {
    background-color: #000;
    color: #fff;
}


@media (max-width: 768px) {

    .mycard:hover img[class="er-rounded-3xl"],
    .mycard img[class="er-rounded-3xl"] {
        filter: blur(0px) brightness(75%);
    }

    .mycard img[width="80"] {
        opacity: 1;
        transform: translate(-50%, -50%);
        max-width: 70px;
    }

    .tab-nav {
        gap: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .tab-pane {
        overflow-x: scroll;
        padding-bottom: 30px;
    }

    .tab-pane>a {
        min-width: 75vw;
    }

    .tab-nav a {
        font-size: 14px;
        flex: auto;
        height: 42px;
        line-height: 42px;
    }
}
</style>

<template>
    <section class="background-image er-aspect-[1920/750] mb:er-aspect-[375/500]">
        <picture>
            <source media="(min-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/champ_choice-_2x_1d5b1442-da30-4c54-b2a3-308da32c0bc5.jpg?v=1752636053">
            <source media="(max-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/cc_2x_ac1067d3-572d-4d47-857d-a4ce4f8e81f8.jpg?v=1752636385">
            <img src="" alt="" loading="lazy">
        </picture>
    </section>
    <section class="er-bg-background er-py-48 mb:er-py-24">
        <div class="centeral-content mb:er-px-6">
            <h1 class="text-size48 c er-text-center mb:er-text-4xl">Why Champions Choose Urtopia</h1>
            <p class="text-size18 er-text-center er-mt-10 er-mb-28 mb:er-text-2xl mb:er-mt-4 mb:er-mb-12">Engineered by
                Carbon Experts. Endorsed by Champions.
            </p>
            <div
                class="cards er-grid lg:er-grid-cols-4 md:er-grid-cols-3 er-grid-cols-1 er-gap-x-4 er-gap-y-24 mb:er-gap-y-12">
                <div class="er-text-center">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
                <div class="er-text-center mb:er-hidden">
                    <a href="https://www.youtube.com/watch?v=pLJlv-sP_JQ" target="_blank"
                        class="background-image er-aspect-[315/375] mb:er-aspect-[345/200] er-flex er-flex-col er-items-center er-justify-end er-pb-10 er-text-center er-cursor-pointer mycard mb:er-pb-6">
                        <img loading="lazy" class="er-rounded-3xl"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fff_2x_c4ca7611-ddcc-4fc8-8c49-12e508493d19.jpg?v=1752637234"
                            alt="">
                        <img width="80" height="56" loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/yt_icon_rgb.png?v=1743577722&width=80"
                            alt="">
                        <span class="text-size18 er-text-white er-font-bold">Max Lemke</span>
                    </a>
                    <h3 class="text-size18 er-font-bold c er-mt-6 er-mb-4 mb:er-mt-4">Canoeing Olympic Champion</h3>
                    <i class="text-size16 er-opacity-80 mb:er-text-2xl">
                        “It’s the lightest and smartest carbon e-bike I’ve ever seen.”
                    </i>
                </div>
            </div>
        </div>
        <button class="md:!er-hidden er-button er-button-dark er-mx-auto !er-block er-my-12 seemore">See More</button>
    </section>
    <section class="er-bg-background er-pt-20 mb:er-py-0">
        <div class="centeral-content mb:er-px-6 er-relative  er-h-full">
            <h2 class="text-size48 c er-text-center mb:er-text-4xl er-mb-40 mb:er-mb-12">Top Media & Awards Pick Urtopia
                as the Best
            </h2>
            <div class="background-image er-aspect-[1280/400] er-rounded-3xl mb:er-aspect-auto mb:er-py-10 er-px-6">
                <img loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250716-150832.jpg?v=1752649731"
                    alt="">
                <div class="er-grid er-grid-cols-2 er-h-full mb:er-grid-cols-1">
                    <div>
                    </div>
                    <div class="er-flex er-flex-col er-items-center er-justify-center er-h-full">
                        <img class="md:er-hidden"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19686_2x_ffaf010f-5771-47ae-bd36-12fe4f5c9323.png?v=1752648103"
                            alt="">
                        <h4 class="text-size20 mb:er-text-2xl">Carbon Fold 1</h4>
                        <h3 class="c text-size24 er-mt-2 mb:er-text-3xl">Best Folding Electric Bike</h3>
                        <img class="er-my-12 mb:er-my-0 mb:er-order-1" width="535" loading="lazy" height="144"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250716-145637.jpg?v=1752649011"
                            alt="">
                        <a class="er-button er-button-dark er-button-outline mb:er-my-6"
                            href="https://newurtopia.com/products/urtopia-carbon-fold?variant=45838852129016"
                            target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
            <img class="fold mb:er-hidden"
                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19686_2x_ffaf010f-5771-47ae-bd36-12fe4f5c9323.png?v=1752648103"
                alt="">
        </div>
    </section>
    <section class="er-bg-background er-pb-48 er-pt-8">
        <div class="centeral-content mb:er-px-6">
            <div class="er-grid er-grid-cols-2 er-gap-8 mb:er-grid-cols-1">
                <div
                    class="er-grid er-grid-cols-2 er-bg-white er-rounded-3xl er-py-16 er-items-center er-text-center mb:er-py-6">
                    <img loading="lazy" class="er-max-w-[115%]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/4-1_2x_0df08c54-4650-4231-bb86-29aee44aa3a5.jpg?v=1752650466"
                        alt="">
                    <div class="er-flex er-flex-col er-items-center er-justify-center er-px-12 mb:er-px-0">
                        <img loading="lazy" width="180" height="100" class="mb:er-max-w-[115px]"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/395_2x_0bc1dd39-38d2-46ea-a190-a1c95ccb5a0a.jpg?v=1752650495"
                            alt="">
                        <h4 class="text-size20 mb:er-text-2xl er-mt-8 mb:er-mt-4">Carbon 1 Pro</h4>
                        <h3 class="text-size24 er-mt-2 mb:er-text-2xl er-mb-12 mb:er-mb-4">Best Carbon Ebike</h3>
                        <a class="er-button er-button-dark er-button-outline mb:er-my-0"
                            href="https://newurtopia.com/products/urtopia-carbon-1-pro-ebike" target="_blank">Learn
                            More</a>
                    </div>
                </div>
                <div
                    class="er-grid er-grid-cols-2 er-bg-white er-rounded-3xl er-py-16 er-items-center er-text-center mb:er-py-6">
                    <img loading="lazy" class="er-max-w-[115%]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3-1_2x_825cb46e-de36-4f9b-8943-e3b81cc20bf7.jpg?v=1752652187"
                        alt="">
                    <div class="er-flex er-flex-col er-items-center er-justify-center er-px-12 mb:er-px-0">
                        <img loading="lazy" width="105" height="114" class="mb:er-max-w-[60px]"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/394_2x_c00416dc-6b9b-4a72-8896-5c2c27549afd.jpg?v=1752652661"
                            alt="">
                        <h4 class="text-size20 mb:er-text-2xl er-mt-8 mb:er-mt-4">Carbon 1 ST</h4>
                        <h3 class="text-size24 er-mt-2 mb:er-text-2xl er-mb-12 mb:er-mb-4">Billboard: Best E-Bike</h3>
                        <a class="er-button er-button-dark er-button-outline mb:er-my-0"
                            href="https://newurtopia.com/products/urtopia-carbon-1-pro-ebike" target="_blank">Learn
                            More</a>
                    </div>
                </div>
                <div
                    class="er-grid er-grid-cols-2 er-bg-white er-rounded-3xl er-py-16 er-items-center er-text-center mb:er-py-6">
                    <img loading="lazy" class="er-max-w-[115%]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1-1_2x_f2ece47c-a6bb-4436-8189-fb8fe931a0e2.jpg?v=1752652182"
                        alt="">
                    <div class="er-flex er-flex-col er-items-center er-justify-center er-px-12 mb:er-px-0">
                        <img loading="lazy" width="105" height="95" class="mb:er-max-w-[65px]"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/397_2x_b0b9c9cb-fa72-41ce-8ad1-faa066e01777.jpg?v=1752652473"
                            alt="">
                        <h4 class="text-size20 mb:er-text-2xl er-mt-8 mb:er-mt-4">Carbon Joy</h4>
                        <h3 class="text-size24 er-mt-2 mb:er-text-2xl er-mb-12 mb:er-mb-4">Best of CES</h3>
                        <a class="er-button er-button-dark er-button-outline mb:er-my-0"
                            href="https://newurtopia.com/products/urtopia-carbon-1-pro-ebike" target="_blank">Learn
                            More</a>
                    </div>
                </div>
                <div
                    class="er-grid er-grid-cols-2 er-bg-white er-rounded-3xl er-py-16 er-items-center er-text-center mb:er-py-6">
                    <img loading="lazy" class="er-max-w-[115%]"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19688_2x_f7c74a73-f731-4de0-8621-b68259c6877f.jpg?v=1752652177"
                        alt="">
                    <div class="er-flex er-flex-col er-items-center er-justify-center er-px-12 mb:er-px-0">
                        <img loading="lazy" width="80" height="110" class="mb:er-max-w-[42px]"
                            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Honoree_2x_d2b5ac65-3df4-4d2e-98f9-04fca16f1ac1.jpg?v=1752652463"
                            alt="">
                        <h4 class="text-size20 mb:er-text-2xl er-mt-8 mb:er-mt-4">Fusion Pro</h4>
                        <h3 class="text-size24 er-mt-2 mb:er-text-2xl er-mb-12 mb:er-mb-4">Best of CES 2025</h3>
                        <a class="er-button er-button-dark er-button-outline mb:er-my-0"
                            href="https://newurtopia.com/products/urtopia-carbon-1-pro-ebike" target="_blank">Learn
                            More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="er-bg-background er-py-48 mb:er-py-24">
        <div class="centeral-content mb:er-px-8">
            <h2 class="text-size48 er-text-center mb:er-text-4xl">What Professional Reviewers Say</h2>
            <p class="text-size18 er-text-center er-mt-10 er-mb-28 mb:er-text-2xl mb:er-mt-4 mb:er-mb-12">True reviews
                over the web</p>
            <div class="tabs">
                <div class="tab-nav">
                    <a href="#content1" class="active">Carbon Fold 1</a>
                    <a href="#content2">Carbon 1 Pro</a>
                    <a href="#content3">Carbon 1 ST</a>
                    <a href="#content4">Carbon Joy</a>
                    <a href="#content5">Fusion Pro</a>
                    <a href="#content6">Fusion GT</a>
                </div>
                <div class="tab-content">
                    <div id="content1"
                        class="tab-pane er-grid er-grid-cols-4 er-mt-16 mb:er-grid-cols-1 mb:er-mt-10 er-gap-y-8 er-gap-x-6">
                        <a class="er-flex er-flex-col er-items-start" href="https://www.youtube.com/watch?v=bZduNKXScvA"
                            target="_blank"
                            onclick="showVideoDialog('https://www.youtube.com/embed/bZduNKXScvA?autoplay=1&amp;cc_load_policy=1');return false;">
                            <img class="er-rounded-2xl"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250625-142813.jpg?v=1750832954&amp;width=500"
                                alt="Carbon Fusion Pro E-Bike">
                            <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                                <span>
                                    Surprisingly light for its size, and the build quality feels solid the moment you
                                    hop on. It rides smooth, quiet, and looks absolutely stunning—totally stands out!
                                </span>
                            </p>
                            <span class="er-flex-1"></span>
                            <div class="er-flex er-items-center">
                                <img width="28" height="28" class="er-mr-4 er-rounded-full"
                                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/unnamed_1.jpg?v=1750833093"
                                    alt="Carbon Fusion Pro E-Bike">
                                <span class="text-size16 er-font-medium mb:er-text-2xl">Monkey Wrench Mike</span>
                            </div>
                        </a>
                        <a class="er-flex er-flex-col er-items-start" href="https://www.youtube.com/watch?v=2kyU-qE4esU"
                            target="_blank"
                            onclick="showVideoDialog('https://www.youtube.com/embed/2kyU-qE4esU?autoplay=1&amp;cc_load_policy=1');return false;">
                            <img class="er-rounded-2xl"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250603-182251.jpg?v=1748946331&amp;width=500"
                                alt="Carbon Fusion Pro E-Bike">
                            <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                                <span>
                                    I love the lightweight carbon frame, cool design, and comfy upright ride. Great
                                    value for the price!
                                </span>
                            </p>
                            <span class="er-flex-1"></span>
                            <div class="er-flex er-items-center">
                                <img width="28" height="28" class="er-mr-4 er-rounded-full"
                                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250603-182641.jpg?v=1748946403"
                                    alt="Carbon Fusion Pro E-Bike">
                                <span class="text-size16 er-font-medium mb:er-text-2xl">Mobile with M@</span>
                            </div>
                        </a>
                        <a class="er-flex er-flex-col er-items-start" href="https://www.youtube.com/watch?v=WgMrBYJZug8"
                            target="_blank"
                            onclick="showVideoDialog('https://www.youtube.com/embed/WgMrBYJZug8?autoplay=1&amp;cc_load_policy=1');return false;">
                            <img class="er-rounded-2xl"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250612-185609.jpg?v=1749725870&amp;width=500"
                                alt="Carbon Fusion Pro E-Bike">
                            <p class="text-size16 er-mt-6 er-mb-8 mb:er-text-2xl mb:er-mb-6">
                                <span>
                                    A well-built, carbon fiber eBike with unique design and great value. Definitely a
                                    standout I’d consider buying.
                                </span>
                            </p>
                            <span class="er-flex-1"></span>
                            <div class="er-flex er-items-center">
                                <img width="28" height="28" class="er-mr-4 er-rounded-full"
                                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/channels4_profile_2.jpg?v=1749725969"
                                    alt="Carbon Fusion Pro E-Bike">
                                <span class="text-size16 er-font-medium mb:er-text-2xl">Chris Crossed</span>
                            </div>
                        </a>
                    </div>
                    <div id="content2" class="tab-pane">内容二</div>
                    <div id="content3" class="tab-pane">内容三</div>
                    <div id="content4" class="tab-pane">内容一</div>
                    <div id="content5" class="tab-pane">内容二</div>
                    <div id="content6" class="tab-pane">内容三</div>
                </div>
            </div>

        </div>
    </section>
    <section class="er-bg-background er-py-16 mb:er-py-0">
        <div class="centeral-content mb:er-px-4">
            <h2 class="text-size48 er-text-center mb:er-text-4xl">Love From Urtopians</h2>
            <p class="text-size18 er-text-center er-mt-10 er-mb-32 mb:er-text-2xl mb:er-mt-4 mb:er-mb-12">Urtopians
                worldwide showed deep love—we’ll answer with excellence.</p>
            <img class="er-max-w-screen-lg er-mx-auto er-block mb:er-max-w-full" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/23919_2x_6ee17600-1d7d-490f-8a73-192699679b8e.png?v=1752656593" alt="">
        </div>
    </section>

<script type="module">
      const isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

    $('.seemore').on('click', function () {
        // 显示所有 mb:er-hidden 元素
        $(`.cards > div[class="er-text-center mb:er-hidden"]`).show();
        // 隐藏当前按钮
        $(this).addClass('mb:!er-hidden');
    });

    // jQuery Tab 切换
    $('.tab-nav a').on('click', function (e) {
        e.preventDefault();
        $('.tab-nav a').removeClass('active');
        $(this).addClass('active');
        $('.tab-pane').hide();
        $($(this).attr('href')).css('display', isMobile ? 'flex' : 'grid');
    });
    // 默认显示第一个
    $('.tab-pane').hide();
    $('#content1').css('display', isMobile ? 'flex' : 'grid');
</script>