{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<section class="er-bg-background">
  <div class="er-mx-auto er-max-w-screen-2xl er-flex">
    <div class="filters er-w-[28rem] er-flex-shrink-0 er-px-[2rem] er-py-[2rem] er-bg-white">
      {% render 'collection-filters' %}
    </div>
    <div class="ebike-products er-flex-1">
      {% render "product-cards" %}
    </div>
  </div>
</section>
