{% liquid
  assign product = all_products['urtopia-chord-ebike']
  assign variant = product.variants | where: "id", 43694976663800 | first
%}

<script>
  console.log(JSON.parse(JSON.stringify({{ product | json }})))
  // console.log(JSON.parse(JSON.stringify({{  }})))
</script>


<section class="er-max-w-screen-xl er-mx-auto er-flex er-justify-between er-px-12 er-m-48">
  <div class="er-w-24 er-shrink-0">
    <div class="er-aspect-video">
      {% for variant_image in variant.metafields.custom.variant_image.value %}
        {{ variant_image | image_url: width: 64 | image_tag }}
      {% endfor %}
    </div>
  </div>
  <div class="er-flex-1 er-px-[5%]">
    <div class="er-aspect-video">
      {% for variant_image in variant.metafields.custom.variant_image.value %}
        {{ variant_image | image_url: width: 640 | image_tag }}
      {% endfor %}
    </div>
  </div>
  <div class="er-min-w-[400px] er-shrink-0">
    <h1>{{ product.title }}</h1>
    <div class="er-flex er-flex-col er-place-y-4">
      <button class="er-button">Add To Cart</button>
      <button class="er-button er-button-dark">Process Checkout</button>
    </div>
  </div>
</section>
