{{ 'ces.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
        <div class="centeral-content">
            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231211-191255.png?v=1702293218"
                alt="">
            <div class="u48DemiBold_v2">CES 2024 <br>Welcome to the <br class="pcHide">era of AI E-BIke <img
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231209-133038_2x_def54c1d-6cc8-40bc-9209-4bc8b07ee538.png?v=1702265190"
                    alt=""></div>
            <div class="u17Light_v2 mobileHide">Subscribe now to get ahead with the latest new on CES from events to
                cutting-edge
                product launches, and early-order details.</div>
            <form class="emaillllllllllllll mobileHide" accept-charset="UTF-8">
                <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                <button class="my-button my-button-black" type="submit">Subscribe</button>
                <span class="u17DemiBold_v2">Thanks for subscribing!</span>
            </form>
        </div>
    </div>
    <div class="centeral-content unnnn pcHide">
        <div class="u17Light_v2">Subscribe now to get ahead with the latest new on CES from events to cutting-edge product
            launches, and early-order details.</div>
        <form class="emaillllllllllllll" accept-charset="UTF-8">
            <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
            <button class="my-button" type="submit">Subscribe</button>
            <span class="u17DemiBold_v2">Thanks for subscribing!</span>
        </form>
    </div>
    <div class="wow">
        <div class="centeral-content">
            <div>
                <div class="u30Light_v2">Carbon 1 Pro</div>
                <div class="u48DemiBold_v2">“Wow” the World Once Again</div>
                <div class="u17Light_v2">Follow by the success Carbon 1, we work with award winning former BMW designer to
                    refine and innovate.
                    It will be a groundbreaking e-bike again! <br><br>Subscribe now to be the first to know!</div>
                <form class="emaillllllllllllll" accept-charset="UTF-8">
                    <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                    <button class="my-button" type="submit">Subscribe</button>
                    <span class="u17DemiBold_v2">Thanks for subscribing!</span>
                </form>
            </div>
        </div>
    </div>
    <div class="wow fusion">
        <div class="centeral-content">
            <div>
                <div class="u30Light_v2">Fusion</div>
                <div class="u48DemiBold_v2">Worlds First <br>Dual-Motor, <br class="pcHide">Dual-Battery Bicycle</div>
                <div class="u17Light_v2">It will be an all-rounder suite your every need. An Innovation and luxury pioneer a
                    groundbreaking endeavor, perfectly interpreting style and performance. <br><br>Subscribe now to be the
                    first to know!</div>
                <form class="emaillllllllllllll" accept-charset="UTF-8">
                    <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                    <button class="my-button" type="submit">Subscribe</button>
                    <span class="u17DemiBold_v2">Thanks for subscribing!</span>
                </form>
            </div>
        </div>
    </div>
    <div class="wow ring">
        <div class="centeral-content">
            <div>
                <div class="u30Light_v2">Smart Ring</div>
                <div class="u48DemiBold_v2">It is Not Just another Ring</div>
                <div class="u17Light_v2">Say goodbye to manual adjustments—our ecosystem automates everything, providing the
                    ultimate efficiency for your training and safeguarding against injury risks by monitoring your workouts.
                    <br><br>Subscribe now to be the first to know!
                </div>
                <form class="emaillllllllllllll" accept-charset="UTF-8">
                    <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                    <button class="my-button" type="submit">Subscribe</button>
                    <span class="u17DemiBold_v2">Thanks for subscribing!</span>
                </form>
            </div>
        </div>
    </div>
    <div class="feture">
        <div class="centeral-content">
            <div class="u48DemiBold_v2">Introducing the Future of Interaction</div>
            <div class="icons">
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231211-191303.png?v=1702293218"
                        alt="">
                    <span class="u30Medium_v2">Remote Control</span>
                </div>
                <div class="mobileHide"></div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231211-191318.png?v=1702293218"
                        alt="">
                    <span class="u30Medium_v2">Riding Advice</span>
                </div>

                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231211-191310.png?v=1702293218"
                        alt="">
                    <span class="u30Medium_v2">Real Time <br>Health Tracking</span>
                </div>
                <div class="mobileHide"></div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231211-191322.png?v=1702293218"
                        alt="">
                    <span class="u30Medium_v2">Auto Asist power<br> Adjustment</span>
                </div>
            </div>
        </div>
    </div>
    <div class="your">
        <div class="centeral-content">
            <div>
                <div class="u72Medium_v2">Your All in One <br class="pcHide">Health Coach</div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18987_2x_2d452730-e518-4f14-828a-2660285ef03f.png?v=1702285205"
                    class="pcHide" alt="">
                <div>
                    <div class="u17Light_v2">Your rides and daily activities offer personalized insights. Our AI companion
                        tailors accurate
                        recommendations exclusively for you—no more generic advice. <br><br>Subscribe now to be the first to
                        know!
                    </div>
                    <form class="emaillllllllllllll" accept-charset="UTF-8">
                        <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                        <button class="my-button my-button-black" type="submit">Subscribe</button>
                        <span class="u17DemiBold_v2">Thanks for subscribing!</span>
                    </form>
                </div>
            </div>
            <img class="mobileHide"
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_1171275468_2x_e9b7cb14-5cd5-402a-acb8-a1f69706f41e.png?v=1702278548"
                alt="">
        </div>
    </div>
    <div class="waiting">
        <div class="u48DemiBold_v2">We are Here Waiting for You</div>
        <div class="u24DemiBold_v2">Jan 9 - 12, 2024<br>Booth No. #55826</div>
        <div class="u24Light_v2">Venetian Expo Las Vegas</div>
        <form class="emaillllllllllllll" accept-charset="UTF-8">
            <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
            <button class="my-button my-button-black" type="submit">Subscribe</button>
            <span class="u17DemiBold_v2">Thanks for subscribing!</span>
        </form>
    </div>

<script>
  $('.emaillllllllllllll').on('submit', function (event) {
        $(this).find('.u17DemiBold_v2').hide()
        fetchBuried('emailpop', 'submit', { email: $(this).find('input').val(), tag: `US,POPUP,CES2024` }).finally(() => $(this).find('.u17DemiBold_v2').show())

        event.preventDefault();
        return false;
    })
</script>