{{ 'blog.scss.css' | asset_url | stylesheet_tag: preload: true }}

<article>
  <header style="--background-image-pc: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_a1f83361-71dd-4043-9b52-08d3b46d6063.jpg?v=1721633014');">
    <div class="background-blur"></div>
    <section class="flex flex-center flex-column text-center height-600 mb-height-420">
      <h1 class="color-white mb-font-size-24">Urtopia X MoMA | A New Modern Classic is Born</h1>
    </section>
  </header>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <p class="margin-bottom-40 font-weight-600 mb-margin-bottom-20">
      <u>Urtopia Carbon 1 Pro is set to join the MoMA Design Store, becoming the first e-bike ever sold there. We are incredibly honored to collaborate with the prestigious MoMA, marking a profound fusion of technology and art.</u><br>
    </p>
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">Introducing MoMA and MoMA design store</h2>
    <p class="margin-bottom-40">
      <span>
        The Museum of Modern Art (MoMA) in New York City is a world-renowned institution dedicated to modern and contemporary art. Established in 1929, MoMA boasts an extensive collection that spans various mediums, including painting, sculpture, photography, film, design, and digital media. The museum is home to iconic masterpieces such as Van Gogh's "The Starry Night," Picasso's "Les Demoiselles d'Avignon," Warhol's "Campbell's Soup Cans," and Pollock's "One: Number 31, 1950." In addition to its impressive galleries, MoMA offers dynamic exhibitions, educational programs, and film screenings, fostering a deep appreciation for modern art's evolving landscape. The museum's sleek, modernist architecture provides a stunning backdrop for its diverse and innovative displays, solidifying its status as a premier cultural destination.
      </span>
    </p>

    <div class="grid-box grid-columns-2 grid-column-gap-20 margin-bottom-60 mb-margin-bottom-40 mb-grid-columns-1 mb-grid-row-gap-20">
      <img
      alt=""
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_2_b44ffdb9-250f-4478-998e-e30c788c0ba3.png?v=1721633319"
      class="fade"
    />
    <img
      alt=""
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_3_32ec9fe2-eb28-4105-99a1-48612d440b56.png?v=1721633319"
      class="fade"
      style="height: 100%;object-fit: cover;"
    />
    </div>

    <p class="margin-bottom-40">
      <span>
        The MoMA Design Store offers a carefully curated selection of design products, including home goods, books, stationery, and art reproductions, reflecting the same spirit of innovation and creativity as the museum. The design store is an ideal place to find unique, high-quality design items, making it an essential part of the MoMA experience.
      </span>
    </p>

    <div class="grid-box grid-columns-2 grid-column-gap-20 margin-bottom-60 mb-margin-bottom-40 mb-grid-columns-1 mb-grid-row-gap-20">
      <img
      alt=""
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_4_000751b8-d9f8-450a-8cf2-5038aaf22361.png?v=1721633741"
      class="fade"
      style="height: 100%;object-fit: cover;"
    />
    <img
      alt=""
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_5_19b205a3-2516-4e19-a5da-12ba7f5cafa2.png?v=1721633741"
      class="fade"
    />
    </div>
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">Why MoMA Design Store Chose to Partner with Urtopia</h2>

    <p class="margin-bottom-40">
      <span>
        
The first encounter happened at the CES 2024 show, where Urtopia Carbon 1 Pro made a sensational debut. The world’s first e-bike integrated with ChatGPT voice control garnered a lot of attention, and MoMA's representatives were no exception. Fascinated by our innovative Carbon 1 Pro, they continued to follow our progress through various tech media reports. 
      </span>
    </p>

    <p class="margin-bottom-40 font-weight-600">
      <span>
        <i>“A unique design combined with cutting-edge AI technology in an e-bike—it's hard to forget!”</i>
      </span>
    </p>

    <img
      alt=""
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_1f2c806e-73ee-401e-b52b-7e885a1b4df9.jpg?v=1721634097"
      class="fade margin-bottom-60 mb-margin-bottom-32"
    >


    <p class="margin-bottom-40">
      <span>
        Soon, MoMA reached out to us. But initial interest is one thing; proving it’s a perfect fit for MoMA, and that Urtopia genuinely offers valuable user experiences, especially with the ChatGPT integration, is another. MoMA put Urtopia through a rigorous evaluation process to ensure its suitability.
      </span>
    </p>

  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">MoMA Design Store Selection Process is Unlike Any Other</h2>

    <p class="margin-bottom-40 font-weight-600">
      <i>“MoMA Design Store is an experience.”</i>
    </p>

    <p class="margin-bottom-40">
      <span>
        At MoMA Design Store, the word “experience” is ingrained in every staff member’s DNA. Their mission is to bring fresh, diverse design cultures to customers, seeking out items that surprise and delight. When it comes to selecting products, MoMA is extremely rigorous. Founded in 1932, The Museum of Modern Art established the world's first curatorial department devoted to architecture and design.
      </span>
    </p>

    
    <div class="grid-box grid-columns-2 grid-column-gap-20 margin-bottom-60 mb-margin-bottom-40 mb-grid-columns-1 mb-grid-row-gap-20">
      <img
      alt=""
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/7fc25ba1-acff-4d27-b4f6-e299b24a8f81.png?v=1721634289"
      class="fade"
    />
    <img
      alt=""
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/e274e5c9-53ea-4f14-a6b5-328ad8f476a4.png?v=1721634289"
      class="fade"
    />
    </div>


    <p class="margin-bottom-40">
      <span>
        MoMA assesses potential new products using their design filters, a set of eight criteria ensuring each item aligns with MoMA's vision of good design. Each proposed product is then evaluated by MoMA's curatorial department. Only those that pass both stages can become part of MoMA's collection.
      </span>
    </p>

    <p class="margin-bottom-40">
      <span>
        Urtopia was honored to pass this stringent selection process. The seamless frame design and the comprehensive upgrade to the riding experience left a strong impression on the judges.
      </span>
    </p>

    <p class="margin-bottom-40 font-weight-600">
      <i>“The GPS security and anti-theft feature, the smooth pedaling experience from the torque sensor, the convenience of fingerprint unlocking, multifunction button control, and voice command capabilities—Carbon 1 Pro provides an outstanding experience. Carbon 1 Pro will be the first e-bike to be featured in our MoMA Design Store.”</i>
    </p>

  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">MoMA X Urtopia | Becoming a Modern Classic</h2>

    <p class="margin-bottom-40">
      <span>For Urtopia, this partnership breaks new ground, bringing our e-bikes to the attention of art lovers. For MoMA, they seek out products that push the boundaries of technology and design, and Urtopia fits the bill perfectly. MoMA believes that Urtopia can become a new modern classic. We share this excitement, confident that Urtopia will set new trends and define the future of e-bikes.</span>
    </p>


    <p class="margin-bottom-40 opacity-65">
      <i>PS: Artists interested in our products are warmly invited to collaborate with Urtopia. Let's create something extraordinary together!</i>
    </p>

    <div class="flex flex-center margin-top-40 margin-bottom-60">
      <a class="my-button my-button-origin" href="/products/urtopia-carbon-1-pro-ebike" target="_blank">Order Now</a>
    </div>
  </section>
</article>

<script>
  window.addEventListener("scroll", throttle(() => {
    $('article .fade').each((i, item) => {
      let { top } = item.getBoundingClientRect();
        let s = window.innerHeight - top;
        if (s > 0) {
          item.classList.add("fade-in-show")
        }
    })
  }, 50))
  $('article').append(`{% render 'blog-common-footer' %}`)
  {% for article in blogs.blog.articles %}
    {% if forloop.index <= 3 %}
        console.log(JSON.parse(JSON.stringify({{ article | json }})))
    {% endif %}
  {% endfor %}
</script>
