{% liquid
  assign product = all_products['urtopia-chord-ebike']
%}

<section class="er-max-w-screen-xl er-mx-auto er-flex">
  <div class="er-bg-dark er-max-w-24 er-shrink-0">1</div>
  <div class="er-max-w-3xl er-flex-1">
    <div class="er-aspect-video">

    </div>
  </div>
  <div class="er-bg-white er-min-w-96 er-shrink-0 er-grow">
    <h1>{{ product.title }}</h1>
  </div>
</section>
