<div class="prose-headings:er-font-base mb:prose-h2:er-leading-snug mb:prose-ul:er-text-2xl mb:prose-blockquote:er-text-2xl mb:prose-th:er-px-2 mb:prose-td:er-px-2 mb:er-prose-base mb:prose-table:er-text-xl mb:prose-h3:er-text-[17.5px] mb:prose-h2:er-text-4xl mb:prose-p:er-leading-relaxed mb:prose-p:er-text-[16px] er-prose-2xl er-mx-auto er-font-base prose-ul:er-font-medium prose-blockquote:er-text-dark/75 prose-blockquote:er-text-3xl prose-a:er-font-semibold prose-table:er-text-dark/80 prose-table:er-text-2xl prose-th:er-font-bold prose-th:er-bg-border/75 even:prose-tr:er-bg-background prose-td:er-border-solid prose-th:er-border-solid prose-th:er-border-[#ddd] prose-td:er-border-[#ddd] prose-th:er-border prose-td:er-border prose-th:er-p-3 prose-td:er-p-3 prose-td:er-text-center prose-th:er-text-center prose-table:er-w-full prose-table:er-border-collapse prose-headings:er-text-black/80 prose-a:er-text-primary prose-a:er-underline hover:prose-a:er-opacity-75 prose-p:er-text-3xl prose-ul:er-text-3xl prose-ul:er-leading-[1.8] prose-p:er-leading-[1.8] prose-h2:er-tracking-wide prose-ul:er-tracking-wider prose-ul:er-font-normal prose-ul:er-text-black/60 prose-p:er-tracking-wider prose-p:er-font-normal prose-p:er-text-black/60">
  <section
    class="background-image er-aspect-[3/1] mb:er-aspect-square er-px-12 er-text-center er-flex er-flex-col er-justify-center er-items-center"
  >
    {{ article | image_url: width: 1920 | image_tag: sizes: "(max-width: 768px) 50vw, 100vw", widths: '640, 1024, 1280, 1920', preload: true, loading: "eager", fetchpriority: "high" }}
    <div class="background-mask er-bg-black/50"></div>
    <h1 class="er-not-prose er-text-white er-max-w-screen-xl er-leading-tight er-text-8xl er-font-base mb:er-text-5xl mb:er-leading-tight">
      {{ article.title }}
    </h1>
  </section>
  {{ article.content }}
</div>
