<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/laydatev3.css">
<link rel="preload" href="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/20230607-142007.jpg?v=1686118943" as="image">
{{ 'testride.scss.css' | asset_url | stylesheet_tag }}

<div class="testride">
    <div class="banner">
        <div class="centeral-content">
            <div class="u48DemiBold_v2">Golf & Bike</div>
            <div class="u17Medium_v2">The sporting challenge, the love of nature, enthusiasm for perfection and design - there are many things that connect golf and the design e-bikes from Urtopia. That’s why we have organized a very special test ride opportunity for you:</div>
            <div class="u20Medium_v2">
                <div>Date: 18 June, 2023</div>
                <div>Time: 9 a.m. to 4p.m.</div>
                <div>Venue: Golfclub Hösel</div>
                <div>Address: Höseler Str. 147, 42579 Heiligenhaus, Germany</div>
            </div>
            <div class="my-button my-button-origin">Test-Ride Now</div>
        </div>
    </div>
    <div class="map" id="map">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">Choose your location</div>
            <div id="storepoint-container" data-tags="de,Test Ride" data-map-id="162f21804990ff"></div>
        </div>
    </div>
    <div class="explained">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">Test ride <br>options explained</div>
            <div class="item">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/IMG_0884_2x_8bbd4ebe-02ed-45b5-9d98-34d41a1c9a9f.jpg?v=1680586879"
                    alt="">
                <div class="title">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/shop_2x_21db8206-c4af-4fe9-98e5-a23ed770e4e8.png?v=1680587063"
                        alt="">
                    <span class="u20DemiBold_v2">Partner Store</span>
                </div>
                <div class="u17Light_v2">There you can view and test ride our e-bike models, get in-person advice from
                    our e-bike experts.
                    We even have in-stock models ready for immediate purchase.</div>
            </div>
            <div class="item">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221005-untitled-9056_2x_1a6940cb-42b6-4047-9c86-b70dda745f36.jpg?v=1680587516"
                    alt="">
                <div class="title">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/user_2x_1ee32fa1-d94b-4eda-be5e-deb33536a73b.png?v=1680587584"
                        alt="">
                    <span class="u20DemiBold_v2">Ambassadors</span>
                </div>
                <div class="u17Light_v2">Ambassadors are Urtopia representatives who are passionate about our e-bikes.
                    While an ambassador may not have every model on hand they are there to meet you to show you the ins
                    and outs of our bikes. They offer real insight into the benefits of being a daily e-bike user.<br><a class="my-link" href="#stories">Read the story</a></div>
            </div>
        </div>
    </div>
    <div class="howto">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">How to Test Ride</div>
            <div class="items">
                <div class="item">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/booking-2_2x_9223282e-c6ac-4785-87d7-f8fa9bdeb492.png?v=1680588590"
                        alt="">
                    <span class="u20DemiBold_v2">Book It</span>
                    <span class="u17Light_v2">Choose a location and pick the date, you will receive an email to welcome
                        and confirm.</span>
                </div>
                <div class="item">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/users_2x_2becf589-29a4-4869-a3ec-a43f56f637f6.png?v=1680588585"
                        alt="">
                    <span class="u20DemiBold_v2">Meet us</span>
                    <span class="u17Light_v2">Bring nothing other than your curiosity. Meet our Local experts in your
                        city.</span>
                </div>
                <div class="item">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/bike_2x_b310fe93-d3f0-4623-9ffd-91265fb9abf2.png?v=1680588485"
                        alt="">
                    <span class="u20DemiBold_v2">Ride it out</span>
                    <span class="u17Light_v2">Learn all about Urtopia bikes, make the most of your test ride. Trust us, you'll want all the time that you can get.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="stories" id="stories">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">Ambassadors‘ Stories</div>
            <div class="content">
                <div>
                    <div class="u20DemiBold_v2">Henky’s Sightseeing Adventure</div>
                    <div class="u17Light_v2">He’s all about showing locals the Urtopia e-bike. living in a city with two thousand years of history, home to world-renowned landmarks like the Catholic Cologne Cathedral and a plethora of cultural and artistic hubs, Henky has a thing for pedaling his Urtopia through the city, eyes wide open for the best views. He loves to snap pictures of his Urtopia, perfectly posed against gorgeous landscapes.</div>
                    <a class="my-link" href="/blogs/blog/henky-s-story">Read the story</a>
                </div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="whatto">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">What to experience</div>
            <div class="u17Light_v2">From the effortless power of the electric motor to the comfortable and stylish
                design, experience the thrill for yourself by booking a test ride today!</div>
            <div class="videos">
                <div>
                    <video muted playsinline autoplay loop
                        src="https://player.vimeo.com/progressive_redirect/playback/814462353/rendition/1080p/file.mp4?loc=external&signature=11383a8e982e4f086f6b10b252f533c2841151e1cf6f9f5feeefaf79431cd15c"></video>
                </div>
                <div>
                    <span class="u20DemiBold_v2 mobileHide">Full Carbon Fiber <br> Weight only 15 kg</span>
                    <span class="u20DemiBold_v2 pcHide">Full Carbon Fiber <br> Weight only 15 kg</span>
                    <span class="u20DemiBold_v2">Try the advantage <br> of a lightweight e-bike</span>
                    <video muted playsinline autoplay loop
                        src="https://player.vimeo.com/progressive_redirect/playback/814462300/rendition/1080p/file.mp4?loc=external&signature=35b1c5e5b7c43b3e18e042ebe5593b25890c8d8af27c31f0cb73ca5dd9483dd7"></video>
                    <span class="u20DemiBold_v2">The riding experience <br> will not let you down</span>
                </div>
            </div>
        </div>
    </div>
    <div class="smart">
        <div class="centeral-content">
            <div>
                <span class="u20DemiBold_v2">Smart</span>
                <span class="u36DemiBold_v2">Elevate<br class="mobileHide"> Your Ride</span>
                <span class="u17Light_v2">Explore with a customized smart partner: talk, navigate, and never lose track
                    of the bike.</span>
                <a class="my-button my-button-black" href="#map">Book a free test ride</a>
            </div>
            <img class="pcHide"
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20473_2x_ec77d911-5440-468e-a1c9-9b50497550e5.jpg?v=1680597546"
                alt="">
            <div class="mobileHide">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20834_2x_e92f1711-9e53-401b-a684-f9d6babe870b.png?v=1680595868"
                    alt="">
                <div></div>
            </div>
        </div>
    </div>
    <div class="notin">
        <div style="background-color: rgba(0, 0, 0, 0.65);flex: 1;">
            <div class="centeral-content">
                <span class="u36DemiBold_v2">Not in your city?</span>
                <span class="u17Light_v2">We got you covered, contact us for more test ride opportunity, or just visit
                    one of our partner store to test ride.</span>
                <div class="buttons">
                    <a class="my-button" href="/pages/contactus">Contact us</a>
                    <a class="my-button" href="/pages/find-a-dealer">Find a dealer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="faqs">
        <div class="centeral-content">
            <div class="faq">
                <div class="titlee">Test-ride FAQs</div>
                <div class="swiper swiper-no-swiping faq-list">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="urtopia-calendar"></div>
</div>

{{ 'shopInfoList-de-4.js' | asset_url | script_tag }}
{{ 'laydatev4-de.js' | asset_url | script_tag }}
<script>

    let last_select_city = ''
    let last_select_store = ''
    let select_city_count = 0
    let select_store_count = 0

    const getData = function (date = new Date()) {
        if (typeof date !== 'object') {
            if (typeof date === 'string') {
                date = date.replace(/-/g, '/')
            }

            date = new Date(date)
        }

        date.setHours(0)
        date.setMinutes(0)
        date.setSeconds(0)

        return date
    }

    const getDateString = function (date) {
        return `${date.getFullYear()}/${date.getMonth() + 1}/${date.getDate()}`
    }

    const findOffset = ([nowWeek, vailableWeek]) => {
                    if (nowWeek === vailableWeek) {
                      return 0
                    }
    
                    return vailableWeek > nowWeek ? vailableWeek - nowWeek : 7 - (nowWeek - vailableWeek)
                  }
    
    const oneDay = 24 * 60 * 60 * 1000
    
    const findStore = name => {
            for (const city of testRides) {
                for (const store of city.stores) {
                  const businessHours = store.businessHours
                  const disableDate = store.disableDate || []
                  // 查找可预约到星期几
                  const findAvailableWeek = d => businessHours[d] ? d : findAvailableWeek(d === 6 ? 0 : ++d)
                  // 可用日期计算
                  const findAvalibaleDate = date => {
                      const str = getDateString(getData(date))
                      const timestamp = +getData(str)
                      const currentWeek = getData(str).getDay()
                      const AvailableWeek = findAvailableWeek(currentWeek)
    
                      const findDisable = disableDate.find(i => getDateString(getData(i)) === str)    
                      if (findDisable) {
                        // console.log(str, timestamp, find, getNowDate(find))
                        return findAvalibaleDate(timestamp + oneDay)
                      }
    
                      return currentWeek === AvailableWeek ? str : findAvalibaleDate(timestamp + (oneDay * findOffset([currentWeek, AvailableWeek])))
                  }
    
                  store.findAvalibaleDate = () => {
                    const time = getData(findAvalibaleDate(getData())).toString().split(' ')

                    // console.log(time)
    
                    return `${time[2]}. ${time[1]}`
                  }
    
                    if (store.name.replace(/ /g, '') === name.replace(/ /g, '')) {
                        return store
                    }
                }
            }
        }
    
      function CalendarOpen(shopPoint, shop, isSpecDay = false, timetp = 0) {
        console.log(arguments)
    
        laydate.render({
          elem: '#urtopia-calendar',
          lang: 'en',
          min: 0,
          max: 90,
          showBottom: false,
          position: "static",
          showSide: true,
          showInfoBottom: true,
          type: 'date',
          shopList: typeof shop === 'string' ? JSON.parse(shop.replace(/'/g, '"')) : shop,
          isSpecDay,
          TimePeriodization: timetp,
          //  shopInfo: shopInfo
        });
      }
    
    
      function booknow (name) {
        const store = typeof name === 'object' ? name : findStore(name)
    
        if (!store) {
          return
        }

        
        CalendarOpen(store.testrideSpot, { [store['phone']]: store })

        fetchBuried('testride', 'booknow', { store_name: name })
      }


      const faqs = [
        {
            title: 'How to book a test ride?',
            content: `We know how important it is for you to test out the bike before you purchase it, therefore we build a system that you can easily book a test ride or find a test ride spot that best suit you.<br><br> Navigate to the below pages:<br> <a href="#map">Test Ride</a> <br><a href="/pages/find-a-dealer">Find a Store</a> <br><br> In the test ride page, you start with choosing your city, we are doing our best try to expand the our test ride locations, then fill in your informations and select a time that suit you the best. That’s all you need to book a test ride. After that you will receive a confirmation email, and you might receive a call from us to collect more details for your best experience. <br><br>In the Find a Store page, you can find all the Test Ride spot by choosing “Test Ride” in Store Service, you don’t need to book while going to these spot, but we highly recommend you to give the store a call before you go.<br><br> If you can not find a spot that works for you, please contact us at support@newurtopia , we will try our best to organise you a test ride.`
        },
        {
            title: 'What to expect when attending a test ride?',
            content: `The step is fairly simple, all our test ride spot is trained to answer any of your questions and will guide you through the process, the general step is like list below:<br><br>
                        <ul style="padding-inline-start: 5%;">
                        <li>Meet our expert: Bring nothing other than your curiosity. </li>
                        <li>Have fun riding the bike, and try all the functions, experience the bike in and out.</li>
                        </ul>`
        }
    ]

    $('.faqs .swiper-slide').html(faqs.map(faq => `
      <div class="faq-item">
         <div class="faq-title">
           <span>${faq.title}</span>
           <i class="faq-content-plus"></i>
         </div>
         <div class="faq-content">${faq.content}</div>
      </div>`).join(''))


    setTimeout(() => {
        $('.faq-title').click(function () {
            $(this)
                .siblings('.faq-content')
                .slideToggle()
                .parent()
                .siblings()
                .find('.faq-content')
                .slideUp();
            $(this).children('i').toggleClass('faq-content-plus');
            $(this)
                .parent()
                .siblings()
                .find('.faq-title')
                .children('i')
                .addClass('faq-content-plus');
        });
    }, 300)


    const a = document.createElement("script");
    a.type = "text/javascript";
    // a.async = !0;
    a.src = "https://cdn.storepoint.co/api/v1/js/162f21804990ff.js";
    const b = document.getElementsByTagName("script")[0];
    b.parentNode.insertBefore(a, b);

    function reset() {
        // STOREPOINT.set_tags(['DE'])
        STOREPOINT.reset()
        document.querySelector('.storepoint-tag-checkbox[value="de"]').click()
        document.querySelector('.storepoint-tag-checkbox[value="test%20ride"]').click()
    }

    function refresh(tags = []) {
        tags.push('DE', 'Test Ride')

        STOREPOINT.set_tags(tags)
        STOREPOINT.reload_locations()
    }


    const observerElement = (selector, callback) => {
        // 观察器的配置（需要观察什么变动）
        const config = { childList: true };
        const targetNode = document.querySelector(selector)

        return new Promise(resolve => {
            // 创建一个观察器实例并传入回调函数
            (new MutationObserver((mutationsList, observer) => {
                // 是否回调函数，如果有需要持续监听，如果没有就中断
                if (callback) {
                    callback(mutationsList)
                } else {
                    observer.disconnect()
                }

                resolve(targetNode)
            })).observe(targetNode, config);
        })
    }

    function onSelect(e) {
        e.srcElement && reset()

        const city = e.target.value

        // const items = Array.from(document.querySelectorAll('#storepoint-panel .items .item'))

        // for (const iterator of items) {
        //     iterator.style.display = !city || iterator.getAttribute('city') === city ? 'block' : 'none'
        // }

        city ? refresh([city]) : refresh()

        e.target.style.color = city ? '#000' : '#a1a1a1'

        if (city) {
            last_select_city = city
            select_city_count += 1
        }
    }

    function onInput(e) {
        const select = document.querySelector('#storepoint-search .forms select')

        if (select.value) {
            select.value = ''
            select.style.color = '#a1a1a1'
            onSelect({
                target: select
            })
        }

        const value = e.target.value

        console.log('value', value)
    }

    function onFocus() {
        // const input = document.querySelector('.mapboxgl-ctrl-geocoder--input')

        // if (!input.value) {
        //     reset()
        // }
    }

    function insertCustomElements(target) {
        target.style.opacity = 0
        const stores = Array.from(target.querySelectorAll('.storepoint-location'))

        const storeList = document.createDocumentFragment()
        const forms = document.createDocumentFragment()

        // 商店列表
        const items = document.createElement("div")
        items.classList.add('items')

        // 搜索父表单
        const form = document.createElement("div")
        form.classList.add('forms')

        // 选择框
        const select = document.createElement('select')
        select.setAttribute('placeholder', '')
        select.style.color = '#a1a1a1'

        // 输入框
        // const input = document.createElement('input')
        // input.setAttribute('placeholder', 'Search…')

        // 首选项
        const option = document.createElement('option')
        // option.setAttribute('disabled', true)
        option.setAttribute('selected', true)
        option.setAttribute('value', '')
        option.innerText = '--- Select your city ---'

        select.appendChild(option)
        // option 选项，作为排序所用
        const options = []

        // form.appendChild(input)
        form.appendChild(select)

        select.addEventListener('change', onSelect)
        document.querySelector('button[aria-label="Clear"]').addEventListener('click', reset)
        document.querySelector('.mapboxgl-ctrl-geocoder--input').addEventListener('input', debounce(onInput, 300))
        document.querySelector('.mapboxgl-ctrl-geocoder--input').addEventListener('focus', onFocus)

        for (const store of stores) {
            const elem = $(store).find('.storepoint-name')

            const name = elem.text()
            const info = findStore(name)
            // 如果搜不到 店铺
            if (!info) {
                continue
            }



            const item = document.createElement("div")
            const option = document.createElement('option')

            item.classList.add('item')
            item.setAttribute('index', $(store).attr('id'))
            item.setAttribute('city', info.testrideSpot)
            item.setAttribute('name', info.name)

            option.innerText = info.testrideSpot
            option.setAttribute('city', info.testrideSpot)

            item.innerHTML = `
                <div class="name">${info.name}<span>${info.isPartner ? ' - Ambassadors' : ' - Partner Store'}</span><i><svg class="icon" style="width: 1em;height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5533"><path d="M748.3 533.3c0.1-0.2 0.3-0.4 0.4-0.6 0.2-0.3 0.5-0.7 0.7-1 0.1-0.1 0.2-0.3 0.2-0.4 0.3-0.4 0.5-0.8 0.8-1.2l0.1-0.1c2.6-4.6 4.1-9.6 4.6-14.7v-0.2c0-0.5 0.1-0.9 0.1-1.4v-0.6-1-1-0.6c0-0.5-0.1-0.9-0.1-1.4v-0.2c-0.4-5.1-2-10.1-4.6-14.7l-0.1-0.1c-0.2-0.4-0.5-0.8-0.8-1.3-0.1-0.1-0.2-0.3-0.2-0.4-0.2-0.3-0.4-0.7-0.7-1-0.1-0.2-0.3-0.4-0.4-0.6-0.2-0.3-0.4-0.5-0.6-0.8-0.2-0.2-0.4-0.5-0.6-0.7-0.1-0.1-0.2-0.2-0.3-0.4-0.1-0.1-0.2-0.2-0.2-0.3-0.2-0.3-0.5-0.5-0.7-0.8-0.2-0.2-0.4-0.4-0.5-0.6l-0.7-0.7-0.6-0.6c-0.2-0.2-0.5-0.4-0.7-0.7l-0.6-0.6-0.3-0.3-414.6-347.6c-15.2-12.7-38-10.7-50.7 4.4-12.7 15.2-10.7 38 4.4 50.7L663.2 512 281.6 832.2c-15.2 12.7-17.2 35.6-4.4 50.7 12.7 15.2 35.6 17.2 50.7 4.4l414.4-347.7 0.3-0.3 0.6-0.6c0.2-0.2 0.5-0.4 0.7-0.7l0.6-0.6 0.7-0.7c0.2-0.2 0.4-0.4 0.5-0.6 0.2-0.3 0.5-0.5 0.7-0.8 0.1-0.1 0.2-0.2 0.2-0.3 0.1-0.1 0.2-0.2 0.3-0.4 0.2-0.2 0.4-0.5 0.6-0.7 0.4-0.1 0.6-0.4 0.8-0.6z" fill="#333333" p-id="5534"></path></svg></i></div>
                <div class="address gray">${info.add}</div>
                <div class="available">Available Model:</div>
                <ul>
                    ${info.availableSizes ? info.availableSizes.map(i => `<li class="gray">${i}</li>`).join('') : `<li class="gray">Carbon One Size ${info.testRideSize}</li>`}
                </ul>
                <div class="time gray"><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/calendar_2x_af8d9192-1ff9-43f0-aba6-3547b1129854.jpg?v=1680938382"/> Earliest available time: <div>&nbsp;${info.findAvalibaleDate()}</div></div>
            `

            // 点击item 代理到真实的store
            item.addEventListener('click', e => {
                const active = document.querySelector('#storepoint-panel .items .item[active="true"]')
                const locations = Array.from(document.querySelectorAll('#storepoint-results-container .storepoint-location'))

                if (active) {
                    active.setAttribute('active', false)
                }

                for (const iterator of locations) {
                    iterator.classList.remove('selected')

                    if (item.getAttribute('name') === iterator.querySelector('.storepoint-name').innerText) {
                        iterator.classList.add('selected')
                        iterator.click()

                        break
                    }
                }

                item.setAttribute('active', true)

                document.body.clientWidth < 768 && $('html').scrollTop($('.map').offset().top)

                last_select_store = item.getAttribute('name')
                select_store_count += 1
            })

            items.appendChild(item)

            

            if (!options.find(option => option.getAttribute('city') === info.testrideSpot )) {
                options.push(option)
                {% comment %} select.appendChild(option) {% endcomment %}
            }
        }

        // 首字母排序
        options.sort((a, b) => a.getAttribute('city').localeCompare(b.getAttribute('city')))

        for (const option of options) {
            select.appendChild(option)
        }

        storeList.appendChild(items)
        forms.appendChild(form)

        target.parentNode.appendChild(storeList)
        document.querySelector('#storepoint-search').appendChild(forms)

        // const popup = document.createElement('div')
        // popup.classList.add('mapboxgl-popup')

        // document.querySelector('#storepoint-map').appendChild(popup)
    }

    function observerItems(mutationsList) {
        const results = Array.from(document.querySelectorAll('#storepoint-results-container .storepoint-location'))
        const items = Array.from(document.querySelectorAll('#storepoint-panel .items .item'))

        for (const iterator of items) {
            iterator.style.display = 'none'

            for (const result of results) {
                const name1 = result.querySelector('.storepoint-name').innerText
                const name2 = iterator.getAttribute('name')

                if (name1 === name2) {
                    iterator.style.display = 'block'
                    break
                }
            }
        }
    }

    function observerPopup() {
        const popup = document.querySelector('#storepoint-map .mapboxgl-popup')

        if (!popup) {
            return
        }

        const name = document.querySelector('#storepoint-map .storepoint-location-popup b').innerText
        const store = findStore(name)

        if (!store) {
            return
        }


        document.querySelector('.mapboxgl-popup .mapboxgl-popup-content').style.display = 'none'
        const href = document.querySelector('#storepoint-map .storepoint-location-popup .storepoint-popup-directions').getAttribute('href')

        $(popup).append(`
            <div class="map-popup">
                <img src="${store.imgUrl}"/>
                <div class="infos">
                    <div class="name">${store.name}</div>
                    ${store.stories? `<a href="${store.stories.blogUrl}" class="address gray my-link">${store.stories.urlText}</a><div class="available" style="margin-bottom: -6px;">Add:</div>` : ''}
                    <div class="address gray">${store.add}</div>
                    <div class="available">Available Model:</div>
                    <ul>
                        ${store.availableSizes ? store.availableSizes.map(i => `<li class="gray">${i}</li>`).join('') : `<li class="gray">Carbon One Size ${store.testRideSize}</li>`}
                    </ul>
                    <div class="time gray"><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/calendar_2x_af8d9192-1ff9-43f0-aba6-3547b1129854.jpg?v=1680938382"/> Earliest available time: <div>&nbsp;${store.findAvalibaleDate()}</div></div>
                    <div class="buttons">
                        <a class="my-button my-button-black" onclick="booknow('${store.name}')">Book Now</a>
                        <a class="my-button my-button-white" style="margin-left: 6px;" target="_blank" href="${href}">Direction</a>
                    </div>
                </div>
            </div>
        `)
    }

    observerElement('#storepoint-container').then(r => {
        observerElement('#storepoint-container #storepoint-results')
            .then(insertCustomElements)
            .then(() => {
                observerElement('#storepoint-container #storepoint-results', debounce(observerItems, 100))
                observerElement('#storepoint-map', debounce(observerPopup, 100))
            })
    })


    


    if (!sessionStorage.isPreviewTestRide) {
        fetchBuried('testride', 'pageview')
    }

    // 记录来过这个页面
    sessionStorage.isPreviewTestRide = 'isPreviewTestRide'

    window.onbeforeunload = () => {
        // 只要其中一个有值
        (last_select_city || last_select_store) && fetchBuried('testride', 'select', {
            last_select_city,
            last_select_store,
            select_city_count,
            select_store_count
        })
    }



    let search = {}
    const u = new URL(location.href)

    for (const [k, v] of u.searchParams.entries()) {
        search[k] = v
    }

    search.name && booknow(search.name)


    const sale_store = {
        name: 'Golf & Bike',
        phone: '+4917632496651',
        email: 'info@golfclubhosel.de',
        timezone: "Mainz, Germany (GMT+1)",
        add: "Höseler Str. 147, 42579 Heiligenhaus, Germany",
        imgUrl: "https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/20230607-142007.jpg?v=1686118943",
        testrideSpot: "Berlin",
        testRideSize: "M, Chord",
        isPartner: true,
        availableSizes: [
          'Carbon One Size M',
          'Chord'
        ],
        isAutoSelected: true,
        businessHours: [
          "09:00-16:00",
          "",
          "",
          "",
          "",
          "",
          "",
        ],
        disableDate: createdisableDates(100, ['2023-6-18']),
      }

    // banner 按钮
    $('.testride .banner .my-button').on('click', () => {
        booknow(sale_store)
    })

    search.from_home_page && booknow(sale_store)
    </script>