<div class="background-image er-aspect-[1920/750] mb:er-aspect-auto">
        <picture>
            <source media="(min-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_-_2x_8926803c-f8b3-4563-a7db-fb03e49957e6.jpg?v=1739005220">
            <source media="(max-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_-_2x_ac36c147-b894-4f06-88c3-49d063084f5f.jpg?v=1739006917">
            <img src="" alt="" class="mb:!er-static">
        </picture>
        <div
            class="centeral-content er-h-full er-flex er-flex-col er-items-start er-justify-center er-text-white mb:er-text-black mb:er-pt-12 mb:er-pb-20">
            <h2 class="text-size48 mb:er-text-4xl">Smartest and Lightest E-Bike</h2>
            <p class="text-size16 er-my-8 er-opacity-80 md:er-hidden mb:er-leading-snug">
                <span>Built with Toray carbon fiber, renowned for its use in Formula 1 and by leading bicycle
                    manufacturers, the Carbon 1 Step-thru ebike features an innovative low-step frame that not only
                    elevates the bike’s sleek design but also ensures a smooth, reliable, and long-lasting ride.</span>
            </p>
            <div
                class="er-grid er-grid-cols-2 er-my-20 er-drop-shadow-lg er-gap-8 mb:er-w-full mb:er-mb-12 mb:er-mt-4 mb:er-text-center">
                <div class="er-flex er-flex-col">
                    <span class="text-size24 mb:er-text-2xl"><span class="text-size60 mb:er-text-6xl">15</span>
                        kg</span>
                    <span class="text-size18 mb:er-text-2xl mb:er-mt-2">Net Weight</span>
                </div>
                <div class="er-flex er-flex-col">
                    <span class="text-size24 mb:er-text-2xl"><span class="text-size60 mb:er-text-6xl">100</span>
                        km</span>
                    <span class="text-size18 mb:er-text-2xl mb:er-mt-2">Per Charge</span>
                </div>
                <div class="er-flex er-flex-col">
                    <span class="text-size24 mb:er-text-2xl"><span class="text-size60 mb:er-text-6xl">4</span>
                        levels</span>
                    <span class="text-size18 mb:er-text-2xl mb:er-mt-2">Net Weight</span>
                </div>
                <div class="er-flex er-flex-col">
                    <span class="text-size24 mb:er-text-2xl"><span class="text-size60 mb:er-text-6xl">360</span>
                        Wh</span>
                    <span class="text-size18 mb:er-text-2xl mb:er-mt-2">Battery</span>
                </div>
            </div>
            <div class="er-grid er-grid-cols-3 er-gap-4 mb:er-grid-cols-2 mb:er-w-full">
                <div
                    class="text-size20 er-flex er-flex-col er-items-center er-text-center er-justify-center er-bg-dark/20 mb:er-bg-dark/5 er-rounded-2xl er-p-6 mb:er-text-2xl">
                    <b>100%</b>
                    <span>Carbon Fiber</span>
                </div>
                <div
                    class="text-size20 er-flex er-flex-col er-items-center er-text-center er-justify-center er-bg-dark/20 mb:er-bg-dark/5 er-rounded-2xl er-p-6 mb:er-text-2xl">
                    <b>Anti-theft</b>
                    <span>GPS Tracking</span>
                </div>
                <div
                    class="text-size20 er-flex er-flex-col er-items-center er-text-center er-justify-center er-bg-dark/20 mb:er-bg-dark/5 er-rounded-2xl er-p-6 mb:er-text-2xl">
                    <b>Removable</b>
                    <span>Samsung Battery</span>
                </div>
                <div
                    class="text-size20 er-flex er-flex-col er-items-center er-text-center er-justify-center er-bg-dark/20 mb:er-bg-dark/5 er-rounded-2xl er-p-6 mb:er-text-2xl">
                    <b>90%</b>
                    <span>Assembled</span>
                </div>
                <div
                    class="text-size20 er-flex er-flex-col er-items-center er-text-center er-justify-center er-bg-dark/20 mb:er-bg-dark/5 er-rounded-2xl er-p-6 mb:er-text-2xl">
                    <b>Magnetic</b>
                    <span>Torque Sensor</span>
                </div>
                <div
                    class="text-size20 er-flex er-flex-col er-items-center er-text-center er-justify-center er-bg-dark/20 mb:er-bg-dark/5 er-rounded-2xl er-p-6 mb:er-text-2xl">
                    <b>hydraulic</b>
                    <span>Disc Brakes</span>
                </div>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto">
        <picture>
            <source media="(min-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19722_2x_20b54e6d-b9d2-4289-8e28-b306d37b29cb.jpg?v=1739008630">
            <source media="(max-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/19725_2x_1c07f75b-b8fa-41cb-972d-cfc0cc484868.jpg?v=1739009212">
            <img src="" alt="" class="mb:!er-static">
        </picture>
        <div
            class="centeral-content er-h-full er-grid er-grid-cols-2 er-text-white er-items-center mb:er-text-dark mb:er-grid-cols-1 mb:er-pt-12 mb:er-pb-20">
            <span></span>
            <div>
                <h2 class="text-size48 mb:er-text-4xl">Design is the Soul</h2>
                <p class="text-size18 er-my-12 er-opacity-80 er-max-w-3xl mb:er-text-2xl mb:er-mt-8 mb:er-leading-snug">
                    <span>Formerly a designer for BMW and Siemens, and inspired by the Möbius strip, Mr. Heller built a
                        stunning frame shape that symbolizes sustain- ability and interconnectedness.</span>
                </p>
                <button
                    class="er-button er-button-white er-mt-12 mb:er-m-0 mb:[--er-btn-bg-color:theme(colors.dark)] mb:[--er-btn-text-color:theme(colors.white)] mb:er-text-white">Watch
                    video
                    <svg class="er-scale-150 er-translate-x-1/3 er-fill-dark mb:er-fill-white"
                        xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                        <path
                            d="m380-300 280-180-280-180v360ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="er-bg-background er-py-60 mb:er-py-0">
        <div class="centeral-content mb:er-px-0">
            <div class="er-grid er-grid-cols-2 er-rounded-3xl er-overflow-hidden er-bg-white mb:er-grid-cols-1 mb:er-rounded-none">
                <div class="er-flex er-flex-col er-justify-center er-px-28 mb:er-p-12 mb:er-order-1">
                    <h3 class="text-size36 mb:er-text-4xl">Carbon 1</h3>
                    <h4 class="text-size24 er-font-medium er-mb-12 er-opacity-80 er-mt-4 mb:er-text-3xl mb:er-mb-8">Perfect for urban commuters
                    </h4>
                    <ul class="text-size20 er-font-medium er-space-y-4 er-ml-8 marker:er-text-primary mb:er-text-3xl">
                        <li>Gates carbon belt drive</li>
                        <li>Cleaner, quieter and smoother</li>
                        <li>30,000 km Maintenance free</li>
                    </ul>
                    <p
                        class="text-size18 er-my-12 er-opacity-80 er-max-w-3xl mb:er-text-2xl mb:er-mt-8 mb:er-leading-snug">
                        <span>
                            Carbon 1 is great for commuters because you’ll never get a grease mark on your nice slacks.
                            If you enjoy quiet rides in the morning while enjoying nature and the birds’ singing, you
                            may want to opt for a belt drive.
                        </span>
                    </p>
                </div>
                <img loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/DSC0263_Kopie_2x_2b0c7a54-d4b1-4e01-a5da-cea302c899ad.jpg?v=1739010133&width=640"
                    alt="">
                <img loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221009-untitled-6784_2x_8cbe6fb4-75e7-4114-ad69-5e6615883381.jpg?v=1739011513&width=640"
                    alt="" class="mb:er-order-2">
                <div class="er-flex er-flex-col er-justify-center er-px-28 mb:er-p-12 mb:er-order-3">
                    <h3 class="text-size36 mb:er-text-4xl">Effortless to Carry</h3>
                    <h4 class="text-size24 er-font-medium er-opacity-80 er-mt-4 er-mb-6 mb:er-text-3xl">Full Carbon (Only 15kg)</h4>
                    <p
                        class="text-size18 er-my-12 er-opacity-80 er-max-w-3xl mb:er-text-2xl mb:er-mt-4 mb:er-leading-snug">
                        <span>
                            Literally, an e-bike single-handedly manageable. Just a fraction of the weight compared to
                            peer e-bikes, thanks to a full carbon body of frame, handlebar, seat post, and forks.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto">
        <picture>
            <source media="(min-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25363_2x_1059ae54-00a7-4867-ad91-fb6548121da2.jpg?v=1739152643">
            <source media="(max-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221008-untitled-4661_2x_de438dd4-6e36-4c27-b70d-2fa109448136.jpg?v=1739152903">
            <img src="" alt="" class="mb:!er-static">
        </picture>
        <div
            class="centeral-content er-h-full er-grid er-grid-cols-2 er-text-white er-items-center mb:er-text-dark mb:er-grid-cols-1 mb:er-pt-12 mb:er-pb-20">
            <div>
                <h2 class="text-size48 mb:er-text-4xl">Ride Farther, Smarter</h2>
                <p class="text-size18 er-my-12 er-opacity-80 er-max-w-3xl mb:er-text-2xl mb:er-mt-8 mb:er-leading-snug">
                    <span>The custom motor and torque sensor work in harmony for peak efficiency, delivering an impressive 100 km range per charge. Start your e-bike tour today.</span>
                </p>
                <p class="text-size24 er-font-medium mb:er-text-3xl">
                    <span>Up to <span class="text-size60 mb:er-text-6xl">100</span> km</span>
                </p>
            </div>
        </div>
    </div>
    <div class="er-bg-background er-py-60 mb:er-py-0">
        <div class="centeral-content mb:er-px-0">
            <div class="er-grid er-grid-cols-2 er-rounded-3xl er-overflow-hidden er-bg-white mb:er-grid-cols-1 mb:er-rounded-none">
                <div class="er-flex er-flex-col er-justify-center er-px-28 mb:er-p-12 mb:er-order-1">
                    <h3 class="text-size36 mb:er-text-4xl">A bike you never lose</h3>
                    <p
                        class="text-size18 er-my-12 er-opacity-80 er-max-w-3xl mb:er-text-2xl mb:er-mt-8 mb:er-leading-snug">
                        <span>
                            Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s position, even in the worst scenario of theft, for as long as 30 days. <br><br>We have helped users all over the world to retreat their beloved bike.
                        </span>
                    </p>
                </div>
                <video class="lozad" src="https://cdn.shopify.com/videos/c/o/v/c23ca3676fed437e93806da4a0eba036.mp4"></video>
                <img loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/smartbar_2x_c1d0ad5b-b1e8-4afe-a35f-40d9eb60a698.jpg?v=1739153541&width=640"
                    alt="" class="mb:er-order-2">
                <div class="er-flex er-flex-col er-justify-center er-px-28 mb:er-p-12 mb:er-order-3">
                    <h3 class="text-size36 mb:er-text-4xl">Navigation without Cellphone</h3>
                    <p
                        class="text-size18 er-my-12 er-opacity-80 er-max-w-3xl mb:er-text-2xl mb:er-mt-4 mb:er-leading-snug">
                        <span>
                            Bright screen shows navigation clearly under daylight, no more ugly phone holder.<br><br> Let you explore the unknown safe and free.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>