{{ 'blog.scss.css' | asset_url | stylesheet_tag: preload: true }}

<style>
    @media (max-width: 767px) {
        article header {
            background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_2_537d12b7-46c0-4a72-9b2f-3e4fa4c33d1c.jpg?v=1712659911');
            }
    }
</style>

<article>
  <header style="--background-image-pc: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/6b2bc020-9cf3-452c-85ef-285ff04646d0.jpg?v=1712659638');">
    <div class="background-blur"></div>
    <section class="flex flex-center flex-column text-center height-600 mb-height-420">
      <h1 class="color-white mb-font-size-24">Design Story | One and Only</h1>
    </section>
  </header>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <div class="video margin-top-60">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/V_YWOzAZdBg?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=0&amp;enablejsapi=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen=""
      >
      </iframe>
    </div>
  </section>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <i style="color: #555;" class="font-weight-700 mb-font-size-16">"Designing an e-bike isn't a complex task"</i>
    <p class="margin-top-40 margin-bottom-40 mb-margin-top-20 mb-margin-bottom-20">
      <span>
        Says Carbon Series designer Mathis Heller. He doesn't mean to suggest that designing a bike is easy, but rather that with the triangular structure that bicycles have had for centuries and countless existing models flooding the market, if you're just designing an e-bike, the market will tell you that all you need to do is reassemble existing parts. This has led to a serious problem of homogeneity in the e-bike market.
      </span>
    </p>
    <i style="color: #555;" class="font-weight-700 mb-font-size-16">"The world doesn't need yet another e-bike."</i>
    <p class="margin-top-40 mb-margin-top-20">
      <span>As a conceptual designer, Mathis Heller hopes that Urtopia e-bikes are unique.</span>
    </p>
    
  </section>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <img
      alt="Jennifer Jolly and Urtopia CEO"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_3dd01a50-e9bc-42c4-a1a6-a2db5d314360.jpg?v=1712652581"
      class="fade"
    >
  </section>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <p class="margin-bottom-20">
      <span>
        If you're not familiar with Mathis Heller, let me introduce you to this design maestro. With 30 years of product design experience, he's a former BMW designer, serving significant clients like Siemens. Based in Amsterdam, his independent studio excels at blending trends and cutting-edge tech into innovative design solutions. His work has garnered numerous international accolades, including the Red Dot Design Award's "Best of the Best" and multiple iF Product Design Awards.
      </span>
    </p>
    <p>
        <span>
            Achievements:
        </span>
    </p>
    <ul class="font-weight-600 mb-font-size-16">
      <li class="margin-top-20 mb-margin-top-4">
        Red Dot Award 2009 Best of Best
      </li>
      <li class="margin-top-20 mb-margin-top-4">Red Dot Design Award 2011</li>
      <li class="margin-top-20 mb-margin-top-4">iF Product Design Award 2005</li>
      <li class="margin-top-20 mb-margin-top-4">iF Product Design Award 2006</li>
      <li class="margin-top-20 mb-margin-top-4">iF Product Design Award 2008</li>
      <li class="margin-top-20 mb-margin-top-4">iF Product Design Award 2009</li>
      <li class="margin-top-20 mb-margin-top-4">iF Product Design Award 2010</li>
      <li class="margin-top-20 mb-margin-top-4">iF Product Design Award 2011 - Gold</li>
      <li class="margin-top-20 mb-margin-top-4">iF Product Design Award 2012</li>
      <li class="margin-top-20 mb-margin-top-4">iF Product Design Award 2017</li>
      <li class="margin-top-20 mb-margin-top-4">iF Product Design Award 2018</li>
    </ul>
  </section>
  <section class="margin-top-80 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <h3 class="margin-bottom-24 font-size-24 mb-font-size-20">How the Carbon Series Came About</h3>
    <p class="margin-bottom-40 mb-margin-bottom-20">
      <span>
        The initial concept aimed to tackle two common issues with e-bikes: bad looking and heavyweight. Right from the start, Mr. Heller took a bold step, drawing inspiration from the graceful loop of the Mobius, which lends the frame an incredibly sleek appearance. He began by refining the bike's fundamental structure, eliminating the central tube to reduce weight and create a sharp, defined silhouette when viewed from the side. Drawing inspiration from automotive design, Mr. Heller sought to achieve a cohesive, smooth, yet distinctive aesthetic across the entire frame.
      </span>
    </p>
    <p class="margin-bottom-40 mb-margin-bottom-20">
      <span>Now, addressing the issue of weight, carbon fiber emerged as the perfect solution.</span>
    </p>
    <p class="margin-bottom-40 mb-margin-bottom-20">
      <span>This high-quality material was the ideal choice to capture the essence of the Mobius loop frame design, seamlessly blending strength with exceptional lightness. Carbon fiber proved crucial in doing all mechanical tests, despite the unconventional frame lacking a central tube. Moreover, its durability and resistance to corrosion ensure a longer lifespan for this e-bike.</span>
    </p>
    <p class="margin-bottom-40 mb-margin-bottom-20">
      <span>With such outstanding material properties, it was only natural to utilize carbon fiber throughout the entire bike. Thus, our handlebars, seatpost, and fork—all all boast Carbon fiber construction.</span>
    </p>
    <p class="margin-bottom-20 mb-margin-bottom-4">
      <span>
        The Urtopia Carbon Series has given birth to its first e-bike - Carbon 1.
      </span>
    </p>
    <img
      alt="Standing Out Among Thousands at CES to Win CES 2024 Reviewed Award"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_1_4253af42-7dd4-4551-b4c6-d84478442c02.jpg?v=1712654090"
      class="margin-top-40 mb-margin-top-40 margin-bottom-40 mb-margin-bottom-40 fade"
    >
  </section>
  <section class="margin-top-80 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <h3 class="margin-bottom-24 font-size-24 mb-font-size-20">Add "Pro" to Carbon 1</h3>
    <p class="margin-bottom-40 mb-margin-bottom-20">
      <span>
        After two years since the introduction of the Carbon Series, Carbon 1's unique design has gained the trust of the market. Within just one month of its release, it clinched the top spot for e-bike sales in the Indiegogo 2021-2022 category. It has since garnered prestigious accolades like the G Mark, among others, showcasing its remarkable achievements and bringing joy to the Urtopia team.
      </span>
    </p>
    <p class="margin-bottom-40 mb-margin-bottom-20">
      <span>However, it also revealed numerous areas for improvement within the Carbon Series. Over these two years, the team has accumulated valuable feedback from users, enhanced our IoT technological capabilities, and welcomed more industry talents. The Urtopia team is united and poised for action.</span>
    </p>
    <i style="color: #555;" class="font-weight-700">"We can make it better."</i>

    <p class="margin-bottom-40 margin-top-40 mb-margin-top-20 mb-margin-bottom-20">
        <span>
            Mr. Heller is confident in this endeavor. He believes that Carbon 1 has many areas where design optimization is possible.
        </span>
    </p>

    <i style="color: #555;" class="font-weight-700 mb-font-size-16">"Design is like a puzzle. Every piece must fit perfectly to create a satisfying picture. So, it can be really puzzling as well. Trends, aesthetics, technical constraints, user-friendliness, and now I believe we have found every single piece of the puzzle."</i>

    <p class="margin-top-40 mb-margin-top-20">
        <span>
            "Pro" added to Carbon 1, this project is officially approved.
        </span>
    </p>
    
    <img
      alt="Standing Out Among Thousands at CES to Win CES 2024 Reviewed Award"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/721807a9-2860-4d90-a7c7-30599eb1378b.jpg?v=1712654620"
      class="margin-top-40 mb-margin-top-40 margin-bottom-40 mb-margin-bottom-40 fade height-560 mb-height-300"
      style="object-fit: cover;"
    >
    
    
  </section>
  <section class="margin-top-80 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <h3 class="margin-bottom-24 font-size-24 mb-font-size-20">"Skillful, Playful, Powerful, Graceful"</h3>
    <p class="margin-bottom-40 mb-margin-bottom-20">
      <span>
        There are improvements in product definition. The Carbon 1's city e-bike has transformed into the Carbon 1 Pro's gravel e-bike, capable of covering more diverse terrains with higher playability.
      </span>
    </p>
    <p class="margin-bottom-40">
      <span>
        <i style="color: #555;" class="font-weight-700">"Skillful, Playful, Powerful, Graceful"</i>
        – Mr. Heller proposed these four optimized concepts, corresponding to four key areas: structural enhancements, improved adaptablility, upgraded gearing with 8-speed options, and a refined minimalist color design.
      </span>
    </p>
    
    <div class="grid-box grid-columns-2 grid-column-gap-24 mb-grid-column-gap-12">
        <img class="fade" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/94ece800-a48a-480a-a41e-76d1b6cced72.png?v=1712654937" alt="">
        <img class="fade height-fill" style="object-fit: cover;" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/814f1d7a-c1c1-46f0-8417-009a0ef997b1.png?v=1712654937" alt="">
      </div>

      <p class="margin-top-40">
        <span>
            First off, let's talk about structural enhancements, which is all about making the Carbon 1 Pro more skillful. We've adjusted the angle of the crossbar, boosting the bike's load-bearing structure. This allows for a greater range of seat post adjustments, and the handlebar stem can now accommodate height adjustments with the addition of spacers. These changes mean the Carbon 1 Pro can cater to a wider range of rider heights and riding styles. The bike's sleek lines have been further refined with sharper angles, giving it a more dynamic look from the side and enhancing the sense of speed. We've stuck with carbon fiber material but upgraded to high-quality Toray™ Carbon Fiber, known for its excellence in racing. This material ensures better stability, resilience, and overall quality. With a progressive frame geometry, force distribution is even, resulting in improved stability, superior aerodynamics, and better damping performance. After extensive testing, we've achieved a 15% improvement in stability and a 20% increase in aerodynamic efficiency. Despite all these optimizations, the whole bike still weighs just 17kg, making it 50% lighter than your average gravel e-bike. Lightweight will always be synonymous with the Carbon 1 Pro.
        </span>
      </p>

      <p class="margin-top-40">
      <span>
        <i style="color: #555;" class="font-weight-700">"Carbon 1 Pro is born to be playful!"</i>
        - We've enhanced its adaptablility, making it perfect for your adventures on various terrains. Versatile accessory mounting points maximize carrying capacity, giving you the flexibility to customize your ride with a new saddle, larger tires, or even a suspension fork. Wide tires designed for both gravel and off-road terrain ensure comfort no matter where you ride. And with the battery now located under the bike, there's no need to worry about water damage. This is an e-bike that you can truly make your own, with plenty of room for customization. We've left plenty of space on the bike frame visually, so even with lots of accessories, it won't feel overwhelming. If you're a hands-on enthusiast, the Carbon 1 Pro is your DIY dream.
      </span>
    </p>

    <p class="margin-top-40 margin-bottom-40">
      <span>
        Longer range, more speed. The Carbon 1 Pro has become more powerful. It's hard to believe that this agile and lightweight e-bike can now achieve up to 80 miles of range. The Urtopia team has put in tremendous effort to make this happen, from the 8-speed SHIMANO gear to the custom motor and torque sensor with intelligent algorithms, ensuring maximum efficiency and energy savings. We've achieved up to 26% more torque and 30% more range.
      </span>
    </p>
    
    <div class="grid-box grid-columns-2 grid-column-gap-24 mb-grid-column-gap-12">
        <img class="fade" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/0f6e637d-0c1d-42e8-b2fe-219ca64d3d45_1.png?v=1712656133" alt="">
        <img class="fade height-fill" style="object-fit: cover;" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/5869fcb7-ed2e-466c-afd9-a3305d08f0a9_1.jpg?v=1712656132" alt="">
      </div>
    
      <p class="margin-top-40">
        <i style="color: #555;" class="font-weight-700">"Let the frame speak for itself."</i>
        <span>
        - We've made some changes to the frame's graphic design, giving it a sharper, more angular look. And when it comes to the paint job, we've opted for simplicity and purity. We've tested countless shades of gray and black to find the perfect one that highlights the material's texture and conveys quality. Sometimes, less is more, but achieving that "less" isn't easy. We've tested how the color looks in different lighting conditions, indoors and outdoors, to ensure it looks just right. In the end, we settled on a "graceful" color, striving for a matte finish that emphasizes the material's texture and showcases quality. We're thrilled with the result, letting the Carbon 1 Pro's frame design speak for itself.
        </span>
    </p>

    <img
      alt="Standing Out Among Thousands at CES to Win CES 2024 Reviewed Award"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/5106cf8a-e01c-450c-898c-97f026d0bed6.jpg?v=1712656274"
      class="margin-top-40 mb-margin-top-40 margin-bottom-40 mb-margin-bottom-40 fade height-600 mb-height-300"
      style="object-fit: cover;"
    >
    
  </section>
  <section class="margin-top-80 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <h3 class="margin-bottom-24 font-size-24 mb-font-size-20">Carbon 1 Pro - One and Only</h3>
    <p class="margin-bottom-40">
      <span>
        Of course, in practice, things weren't always smooth sailing. Adhering to Mr. Heller's design concept, the Urtopia Team put in a lot of effort in many invisible areas. Every adjustment to the frame was challenging, and through mechanical and load tests, we fine-tuned the Carbon 1 Pro's frame by about 3 degrees, making it stronger and allowing for greater adjustability. We replaced the handlebars with the Urtopia's two-year self-developed smart box, which offers better data signal and higher battery life, and can now be easily installed and removed by users. Each adjustment underwent rigorous testing to ensure a failure rate of less than one in ten thousand, making after-sales maintenance of the Carbon 1 Pro more cost-effective and easier.
      </span>
    </p>
    <div class="video margin-top-60">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/8haN5tLyhIk?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=0&amp;enablejsapi=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen=""
      >
      </iframe>
    </div>
    <p class="margin-bottom-40 margin-top-40">
      <span>
        In line with our commitment to environmental protection, we insist on using recyclable packaging. We've changed the packaging solution three times to ensure users experience the surprise of opening the box as soon as possible. Additionally, superior carbon fiber materials don't necessarily mean 100% reliability. We subject them to at least three days of mechanical testing to ensure they can bear weight without any issues.
      </span>
    </p>
    <p>
      <span>
        After two years of development, we're thrilled that the Carbon 1 Pro has finally come to fruition and entered mass production. In the eyes of the Urtopia Team, this isn't just about adding "pro" to the Carbon Series; it's about creating a product that's close to perfection. We're proud to present the Carbon 1 Pro as the culmination of the Carbon Series - One and only.
      </span>
    </p>
    <div class="flex flex-center margin-top-40 margin-bottom-60">
      <a href="/products/urtopia-carbon-1-pro-ebike" class="my-button my-button-origin" target="_blank">Order Now</a>
    </div>
  </section>
</article>

<script>
  window.addEventListener("scroll", throttle(() => {
    $('article .fade').each((i, item) => {
      let { top } = item.getBoundingClientRect();
        let s = window.innerHeight - top;
        if (s > 0) {
          item.classList.add("fade-in-show")
        }
    })
  }, 50))
  $('article').append(`{% render 'blog-common-footer' %}`)
  {% for article in blogs.blog.articles %}
    {% if forloop.index <= 3 %}
        console.log(JSON.parse(JSON.stringify({{ article | json }})))
    {% endif %}
  {% endfor %}
</script>
