{% liquid
  assign product = all_products['urtopia-chord-ebike']
%}

<section class="er-max-w-screen-xl er-mx-auto er-grid er-grid-cols-3">
  <div class="er-bg-blue"></div>
  <div></div>
  <div class="er-bg-dark">
    
  </div>
</section>
