{{ 'blog.scss.css' | asset_url | stylesheet_tag: preload: true }}

<article>
  <header style="--background-image-pc: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_c0109ba5-b5ad-47f3-9738-48474b4dc791.png?v=1724399410');">
    <div class="background-blur"></div>
    <section class="flex flex-center flex-column text-center height-600 mb-height-420">
      <h1 class="color-white mb-font-size-24">When Mythology Meets Urtopia</h1>
    </section>
  </header>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <p class="margin-bottom-40">
      <span>
        We were blown away when we first laid eyes on it. Who would’ve thought that the timeless art of Mythology could
        blend so perfectly with the sleek frame of the Urtopia Carbon 1 Pro? This incredible creation, named Urban
        Bestiary, comes from the talented hands of award-winning contemporary artist Anna.
      </span>
    </p>
    <img
      class="fade"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_2_6160eeb4-4c83-442c-bdff-42970dd59eba.jpg?v=1724399471"
      alt=""
    >
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">
      Meet Anna: Europe’s High-End Artist
    </h2>
    <p class="margin-bottom-40">
      <span>
        Anna is a celebrated European artist with a list of accolades as impressive as her work. Her pieces have been
        showcased in major cities like New York, Berlin, and Los Angeles, and she’s a favorite among top luxury brands
        like Maison Margiela and Netflix. Anna’s art is all about mixing traditional and modern techniques, creating
        pieces that are intricate, layered, and oozing with a sense of luxury and storytelling.
      </span>
    </p>
    <img
      class="fade margin-bottom-40"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_3_fd69af1f-bec3-4076-a095-9e23a4722c66.jpg?v=1724399629"
      alt=""
    >

    <p class="margin-bottom-24">
      <span> A Few of Anna’s Awards and Honors: </span>
    </p>
    <ul class="font-weight-600 mb-font-size-16 padding-left-20 margin-bottom-60 mb-margin-bottom-32">
      <li class="margin-top-20 mb-margin-top-4">Exhibitions in New York, Berlin, Los Angeles, and more.</li>
      <li class="margin-top-20 mb-margin-top-4">Features in renowned media outlets.</li>
      <li class="margin-top-20 mb-margin-top-4">
        3x3 International Illustration Show (Merit Award, Honorable Mention).
      </li>
      <li class="margin-top-20 mb-margin-top-4">AOI World Illustration Awards (First Place).</li>
      
      <li class="margin-top-20 mb-margin-top-4">ABT Pastel Colors (First Place).</li>
      <li class="margin-top-20 mb-margin-top-4">ABT Primary (First Place).</li>
      <li class="margin-top-20 mb-margin-top-4">The ForeWork Initiative (First Place).</li>
      <li class="margin-top-20 mb-margin-top-4">Society of Illustrators 64th Annual Exhibition (Silver Medal).</li>
      <li class="margin-top-20 mb-margin-top-4">Finalist in Hiii International Competition.</li>
    </ul>


    <div class="grid-box grid-columns-2 grid-column-gap-16 mb-grid-columns-1 mb-grid-row-gap-16 margin-bottom-40">
      <img
        class="fade"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3a0a5284-45de-4dd0-bc66-e3acfe9c962d.jpg?v=1724399946"
        alt=""
      >
      <img
        class="fade"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1b105f7b-c012-4e89-b66d-4776ee9ba32c.jpg?v=1724399947"
        alt=""
      >
    </div>
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">A Collaboration Born Out of Passion for Design</h2>
    <p class="margin-bottom-40">
      <span>
        This collaboration with Anna happened naturally, as both sides share a deep passion for design excellence. Anna, who’s a member of the NYC Society of Illustrators, often works with international and local professionals on unique projects. Having already worked with several luxury brands, she sees something special in Urtopia.
      </span>
    </p>
    <p class="margin-bottom-40">
      <b><i>"Urtopia has the potential of a top-tier brand, with an extraordinary commitment to design and confidence in their vision," </i></b><span>&nbsp;says Anna.</span></b>
    </p>
    <img
        class="fade margin-bottom-40"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/eb675266-5da2-41a5-b676-928f03958b5f.jpg?v=1724400275"
        alt=""
      >
      <p class="margin-bottom-40">
      <span>With that shared vision, we set out to infuse her sophisticated style into the Carbon 1 Pro. The bike’s frame became her canvas, and Anna’s artistry added a new level of vibrancy to its smooth, flowing curves.</span>
    </p>
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">Urban Bestiary: Where Myth Meets Modern</h2>
    <p class="margin-bottom-40">
      <span>
        The piece is called Urban Bestiary, inspired by mythology and urban legends. In her signature modern Delft blue style, Anna brought mythological creatures to life—symbols of speed, strength, and courage. Winged lions, griffins, and other beasts are seamlessly integrated with the bike’s design, creating a striking visual contrast. The artwork’s idyllic scenes, tinged with a subtle dark edge, invite you to take a closer look and discover more. Anna’s style, with its mix of beauty and a touch of mystery, shines through in this project for Urtopia.
      </span>
    </p>
    <div class="grid-box grid-columns-2 grid-column-gap-16 margin-bottom-16 mb-grid-columns-1 mb-grid-row-gap-16">
      <img
        class="fade"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3b7e0d9d-34a1-49f4-819e-3b7d9e4081c4.jpg?v=1724400421"
        alt=""
      >
      <img
        class="fade"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2733dcf2-209e-4381-b001-527cc35c648f.jpg?v=1724400421"
        alt=""
      >
    </div>
    <img
        class="fade margin-bottom-40"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/c9cd63bb-2630-4ad3-8fef-dcf93228ef7a.jpg?v=1724400522"
        alt=""
      >
      <p class="margin-bottom-40">
      <span>
        And now, we proudly present this stunning piece of art. In my honest opinion, It’s not just a bike—it’s a masterpiece.
      </span>
    </p>
    <p class="margin-bottom-40">
      <span>
        Thank you, Anna, for bringing your artistic magic to Urtopia.
      </span>
    </p>
    <img
    class="fade margin-bottom-40"
    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/5c850bf7-4140-4b2e-ab76-2eca0ccbeb55.jpg?v=1724400590"
    alt=""
  >
    <p class="margin-bottom-60">
      <span>
        We’re thrilled by this passionate blend of creativity and design. If you’re an artist who loves Urtopia e-bikes as much as we do, we’d love to see more international artists join the Urtopia family and create even more amazing works.
      </span>
    </p>
    <div class="flex flex-center margin-top-40 margin-bottom-60">
      <a class="my-button my-button-origin" href="/products/urtopia-carbon-1-pro-ebike" target="_blank">Order Now</a>
    </div>
  </section>
</article>

<script>
  window.addEventListener("scroll", throttle(() => {
    $('article .fade').each((i, item) => {
      let { top } = item.getBoundingClientRect();
        let s = window.innerHeight - top;
        if (s > 0) {
          item.classList.add("fade-in-show")
        }
    })
  }, 50))
  $('article').append(`{% render 'blog-common-footer' %}`)
  {% for article in blogs.blog.articles %}
    {% if forloop.index <= 3 %}
        console.log(JSON.parse(JSON.stringify({{ article | json }})))
    {% endif %}
  {% endfor %}
</script>
