{{ 'blog.scss.css' | asset_url | stylesheet_tag: preload: true }}

<article>
  <header style="--background-image-pc: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_4_86012ee6-6a71-437f-9b0d-3b34efd5a502.png?v=1727422147');">
    <div class="background-blur"></div>
    <section class="flex flex-center flex-column text-center height-600 mb-height-420">
      <h1 class="color-white mb-font-size-16">Einführung der Urtopia GPTs</h1>
    </section>
  </header>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <p class="margin-bottom-40">
      <b><i>„Das erste ChatGPT-E-Bike der Welt“ </i></b>
    </p>
    <p class="margin-bottom-40">
      <span>
        
Auf der letztjährigen EUROBIKE stellte Urtopia das erste E-Bike der Welt mit ChatGPT vor. Viele hielten es für einen Hype und sagten: „Es ist nur eine DEMO“, und einige zweifelten sogar und behaupteten: „Das wird nie eine echte Funktion für Urtopia sein. DEMO ist DEMO.“
      </span>
    </p>

    <p class="margin-bottom-40">
      <span
        >Es ist keine DEMO mehr. Wir haben es Wirklichkeit werden lassen! Urtopia GPTs sind jetzt offiziell in der Urtopia APP Version 2.9.6 und höher verfügbar.</span
      >
    </p>

    <p class="margin-bottom-40">
      <b>
        <span> Das bedeutet, dass alle Urtopianer jetzt das KI-Reiterlebnis mit Urtopia GPTs genießen können!</span>
      </b>
    </p>
    <p class="margin-bottom-40">
      <span>
        Bevor wir Ihnen erklären, wie Sie Urtopia GPTs aktivieren können, möchte ich Ihnen einen kurzen Überblick darüber geben, was GPTs für Ihr Fahrerlebnis bedeuten können.
      </span>
    </p>
    <img
      class="fade"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_4_86012ee6-6a71-437f-9b0d-3b34efd5a502.png?v=1727422147"
      alt=""
    >
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h5 class="font-size-20 mb-font-size-16 margin-bottom-20">Ein echtes KI-E-Bike Dieses Fahrrad kann sich selbst einweisen</h5>
    <p class="margin-bottom-40">
      <span>
        Urtopia GPTs haben ein umfangreiches Training durchlaufen, um Ihr persönlicher Fahrassistent zu werden. Es kann sich selbst vorstellen und sofort Antworten auf alle Fragen geben, die Sie über Urtopia oder das Radfahren haben. Es ist jetzt Ihre persönliche Enzyklopädie für alles, was mit dem Fahren in Urtopia zu tun hat.
      </span>
    </p>
    <h5 class="font-size-20 mb-font-size-16 margin-bottom-20">
        Einwandfreie Sprachinteraktion erinnert sich an Sie und reist mit Ihnen
    </h5>
    <p class="margin-bottom-40">
      <span>
        Urtopia GPTs bieten jetzt Echtzeit-Sprachfeedback mit verbesserter Spracherkennung. Mit einfachen Sprachbefehlen können Sie Funktionen wie Gangschaltung und Licht schnell steuern. Sie erhalten hilfreiche Tipps und Navigationshinweise für eine reibungslosere und angenehmere Fahrt.
      </span>
    </p>
    <h5 class="font-size-20 mb-font-size-16 margin-bottom-20">
      Genuine Human-Bike Interaction Understands You, Empowers You
    </h5>
    <p class="margin-bottom-40">
      <span>
        Urtopia GPTs bieten jetzt Echtzeit-Sprachfeedback mit verbesserter Spracherkennung. Mit einfachen Sprachbefehlen können Sie Funktionen wie Gangschaltung und Licht schnell steuern. Sie erhalten hilfreiche Tipps und Navigationshinweise für eine reibungslosere und angenehmere Fahrt.
      </span>
    </p>
    <p class="margin-bottom-28">
      <span> Wir haben auch ein unterhaltsames Video vorbereitet, das zeigt, wie man Urtopia GPTs benutzt. </span>
    </p>
    <div class="video">
      <iframe
        title="YouTube video player"
        src="https://www.youtube.com/embed/T1ymCuxzSyI?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=0&amp;enablejsapi=1"
        height="100%"
        width="100%"
        allowfullscreen=""
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        frameborder="0"
      ></iframe>
    </div>
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-16 mb-margin-bottom-28">
        Anleitung zum Aktivieren und Abonnieren von Urtopia GPTs
    </h2>
    <h5 class="font-size-20 mb-font-size-16 margin-bottom-20">Voraussetzungen:</h5>
    <p class="margin-bottom-40">
      <span> Es ist an der Zeit, Ihre KI-Reise zu aktivieren!</span>
    </p>
    <p class="margin-bottom-20"><span class="">1. Die Urtopia APP wurde auf 2.9.6 oder höher aktualisiert.</span><br></p>
    <p class="margin-bottom-16">
      <span>
        Klicken Sie auf der Seite „Mein-Profil“ der Urtopia APP auf das Einstellungssymbol in der oberen rechten Ecke und wählen Sie „Über Urtopia“, um die APP-Version anzuzeigen.
      </span>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_5_29924db4-5f1e-4280-8963-0787a661884f.png?v=1727422989"
      alt=""
    >
    <p class="margin-bottom-20 margin-top-60">
      <span class="">2. Die Firmware-Version wurde auf 1.3.8 oder höher aktualisiert.</span><br>
    </p>
    <p class="margin-bottom-16">
      <span>
        Sie können die Firmware-Version anzeigen, indem Sie auf das Symbol für die Geräteinformationen auf der Seite „Gerät“ der Urtopia APP klicken.
      </span>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_6_c9872746-e329-4cd1-8114-767a757147cf.png?v=1727423205"
      alt=""
    >

    <p class="margin-bottom-20 margin-top-60">
      <span class="">3. Stellen Sie sicher, dass die eSIM gültig ist und 4G verfügbar ist.</span><br>
    </p>
    <p class="margin-bottom-16">
      <span>
        Sie können die Gültigkeit in der Urtopia APP auf der Seite „Gerät“ überprüfen, indem Sie auf „IOT Dienste“ klicken und „SIM Services“ auswählen.
      </span>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_7_5646d887-43aa-4782-b499-b7e66be5682e.png?v=1727423312"
      alt=""
    >

    <p class="margin-bottom-20 margin-top-60">
      <span class="">4. Aktivieren Sie Bluetooth und verbinden Sie mit dem Rad.</span><br>
    </p>
    <p class="margin-bottom-16">
      <span> Klicken Sie auf der Seite „Gerät“ der Urtopia APP auf das Bluetooth-Symbol, um eine Verbindung herzustellen. </span>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/b82778ac-c528-44f4-bc81-12bd038fc346.png?v=1727423312"
      alt=""
    >
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h5 class="font-size-20 mb-font-size-16">Abonnieren Sie GPTs Service:</h5>
    <p class="margin-bottom-20 margin-top-32">
      <span class=""
        >1. Klicken Sie auf der Seite „Gerät“ der Urtopia APP auf „IOT Dienste“, wählen Sie „GPTs Dienste“, um die Seite „GPTs Dienste“ aufzurufen, und klicken Sie dann auf die Schaltfläche „Abonnieren “, um die Seite „GPTs Abonnement“ aufzurufen.</span
      ><br>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/e973e159-def1-485b-bdf0-0a5459a7e366.png?v=1727423624"
      alt=""
    >

    <p class="margin-bottom-20 margin-top-60">
      <span>
        2. Setzen Sie auf der Seite „GPTs-Abonnement“ ein Häkchen bei „Ich habe die ‚Nutzungsvereinbarung‘ und die ‚Servicevereinbarung zur automatischen Verlängerung‘ gelesen und stimme ihnen zu“, und klicken Sie dann auf die Schaltfläche „Zum Abonnement gehen“, um mit der Zahlung fortzufahren.
      </span>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_3_fcd34935-9931-42d9-8a64-6e497ca2e250.png?v=1727423634"
      alt=""
    >

    <p class="margin-bottom-20 margin-top-60">
      <span>
        3. Kehren Sie nach erfolgreicher Zahlung zur Seite „GPTs Dienste“ der Urtopia APP zurück, um zu überprüfen, ob das Abonnement des GPTs-Diensts erfolgreich war.
      </span>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2c07b85c-63ee-4195-b74b-da0493066797.png?v=1727423624"
      alt=""
    >
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h5 class="font-size-20 mb-font-size-16">Verwendung von GPTs Service:</h5>
    <p class="margin-bottom-20 margin-top-32">
      <span>
        1. Klicken Sie auf der Seite „Gerät“ der Urtopia APP auf „Erweitern“, um sicherzustellen, dass die Online-Sprachsteuerung aktiviert ist.</span><br>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/output_3_2b95d9f6-d6be-4250-8348-5fcf291bf010.png?v=1727424511"
      alt=""
    >

    <p class="margin-bottom-20 margin-top-60">
      <span>
        2. Drücken Sie die runde Taste lang und sprechen Sie. Lassen Sie die runde Taste los, um die GPTs auszulösen.
      </span>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/3f1193d0-7b63-44c7-acb4-208b8c6de13a.png?v=1727424511"
      alt=""
    >

    <p class="margin-bottom-20 margin-top-60">
      <span>
        3. Während des Wartens auf die Antwort des Servers wird ein Laufbalken angezeigt. Die typische Wartezeit beträgt einige Sekunden. Bei einer langen Antwort kann sie länger sein.
      </span>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/cc966a0d-d923-4a2b-b009-074d2e93defa.png?v=1727424511"
      alt=""
    >


    <p class="margin-bottom-20 margin-top-60">
      <span>
        4. GPTs Antworten sind in Bearbeitung. Um die Antwort zu unterbrechen, drücken Sie einfach einmal die runde Taste.
      </span>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/6a149db9-6927-47ba-ae4c-950beaa3006a.png?v=1727424511"
      alt=""
    >
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h5 class="font-size-20 mb-font-size-16">Umschalten der GPTs Sprache:</h5>
    <p class="margin-bottom-20 margin-top-32">
      <span>1. Die Standardantwortsprache für GPTs ist Englisch. Um die Sprache zu ändern, gehen Sie in der Urtopia APP auf die Seite „Gerät“ - „IOT-Dienste“ - „GPTs-Dienst“ und klicken Sie auf die Sprachoption. Derzeit werden nur Englisch und Deutsch unterstützt.</span><br>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/output_3_20b8c2c4-846b-407c-8397-9dde91772a96.png?v=1727424823"
      alt=""
    >


    <h5 class="font-size-20 mb-font-size-16 margin-top-60">GPTs Service-Abonnement kündigen:</h5>
    <p class="margin-bottom-20 margin-top-32">
      <span>1. Klicken Sie auf der Seite „GPTs Dienste“ der Urtopia APP auf die Schaltfläche „Abonnement kündigen“ und bestätigen Sie das Pop-up-Fenster mit „OK“, um den automatischen Verlängerungsdienst abzubrechen.Die Abmeldung hat keinen Einfluss auf die Gültigkeit des aktuellen Dienstes; die automatische Verlängerung wird ab dem nächsten Monat eingestellt.</span><br>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/output_3_f47843af-c21f-4ae3-9756-40dc92df7920.png?v=1727425297"
      alt=""
    >

    <h5 class="font-size-20 mb-font-size-16 margin-top-60">Erneuerung des GPTs Dienste-Abonnements:</h5>
    <p class="margin-bottom-20 margin-top-32">
      <span>1. Wenn Sie den GPTs-Dienste abonnieren, wird die automatische Erneuerung automatisch aktiviert.</span><br>
    </p>

    <p class="margin-bottom-20 margin-top-32">
      <span>
        2. Wenn Sie Ihr Abonnement verlängern möchten, nachdem Sie es gekündigt haben, gehen Sie auf die Seite „GPTs Dienste“ der Urtopia APP, klicken Sie auf die Schaltfläche „Jetzt abonnieren“, um die Seite „GPTs Abonnement“ aufzurufen, und klicken Sie dann auf die Schaltfläche „Jetzt abonnieren“, um die Verlängerung zu aktivieren. Für die Erneuerung ist keine zusätzliche Zahlung erforderlich.
      </span>
    </p>
    <img
      class="fade"
      style="width: auto;max-width: 100%;"
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/output_4_2bb7f342-c22f-406d-afd1-fade76bafe94.png?v=1727424928"
      alt=""
    >

    <div class="flex flex-center margin-top-80 margin-bottom-80">
      <a class="my-button my-button-origin" href="/products/urtopia-carbon-1-pro-ebike" target="_blank">Order Now</a>
    </div>
  </section>
</article>

<script>
  window.addEventListener("scroll", throttle(() => {
    $('article .fade').each((i, item) => {
      let { top } = item.getBoundingClientRect();
        let s = window.innerHeight - top;
        if (s > 0) {
          item.classList.add("fade-in-show")
        }
    })
  }, 50))
  $('article').append(`{% render 'blog-common-footer' %}`)
  {% for article in blogs.blog.articles %}
    {% if forloop.index <= 3 %}
        console.log(JSON.parse(JSON.stringify({{ article | json }})))
    {% endif %}
  {% endfor %}
</script>
