{{ 'blog.scss.css' | asset_url | stylesheet_tag: preload: true }}

<article>
  <header style="--background-image-pc: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/bec81012-58f8-4dff-9f53-31c32215d961.jpg?v=1722589760');">
    <div class="background-blur"></div>
    <section class="flex flex-center flex-column text-center height-600 mb-height-420">
      <h1 class="color-white mb-font-size-24">Nun können Sie die Gangschaltung personalisieren!</h1>
    </section>
  </header>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <p class="margin-bottom-40">
      <span>
        Mit neuestem App-Update 2.9.3 können Sie jetzt Ihre Schalteinstellungen personalisieren. Sobald Sie sich mit dem Fahren in Urtopia vertraut gemacht haben, können Sie die Motorleistung von 1 % bis 100 % einstellen, um die Beschleunigung an Ihre Vorlieben anzupassen und Ihre Fahrt einzigartig zu machen.
      </span>
    </p>
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">Möchten Sie die Reichweite auf bis zu 200 km erhöhen? </h2>
    <p class="margin-bottom-40">
      <span>
        Verringern Sie die Motorleistung auf 5 % oder belassen Sie sie bei 100 %, um mühelos bergauf zu fahren. Es liegt ganz an Ihnen.<br>
        Urtopia bietet jetzt vier Fahrmodi. Nehmen wir das Carbon 1 Pro als Beispiel:<br>
        Die Testdaten der Reichweiten des Carbon 1 Pro (begrenzte Geschwindigkeit von 25km/h)<br>
      </span>
    </p>

    <ul class="font-weight-600 mb-font-size-16 padding-left-20 margin-bottom-40">
      <li class="margin-top-20 mb-margin-top-4">
        - Eco-Modus - 15% Motorleistung, mit einer Last von 70kg, Gang 6, begrenzte Geschwindigkeit von 25km/h, die Reichweite einer vollen Ladung beträgt 127km.
      </li>
      <li class="margin-top-20 mb-margin-top-4">
        - Komfort-Modus - 58% Motorleistung, mit einer Last von 70kg, Gang 7, begrenzte Geschwindigkeit von 25km/h, die Reichweite einer vollen Ladung beträgt 80km.
      </li>
      <li class="margin-top-20 mb-margin-top-4">
        - Sport-Modus - 100% Motorleistung, bei einer Last von 70kg, Gang 7, begrenzte Geschwindigkeit von 25km/h, die Reichweite einer vollen Ladung beträgt 70km.
      </li>
      <li class="margin-top-20 mb-margin-top-4">
        - Turbo-Modus - 100% Motorleistung (kein Treten des Fahrers erforderlich), mit einer Last von 70kg, Gang 7, begrenzte Geschwindigkeit von 25km/h, die Reichweite einer vollen Ladung beträgt 70km.
      </li>
    </ul>


    <p class="margin-bottom-40">
      <span>
        Wenn Sie eine lange Fahrt planen und eine sanfte, gleichmäßige Beschleunigung ohne plötzliche Ausbrüche bevorzugen, können Sie Ihre Einstellungen wie folgt anpassen:
      </span>
    </p>
    <ul class="font-weight-600 mb-font-size-16 padding-left-20 margin-bottom-40">
      <li class="margin-top-20 mb-margin-top-4">
        - Eco-Modus - 5% Motorleistung, Reichweite ≈ 200km
      </li>
      <li class="margin-top-20 mb-margin-top-4">
        - Komfort-Modus - 50% Motorleistung, Reichweite ≈ 90km
      </li>
      <li class="margin-top-20 mb-margin-top-4">
        - Sport-Modus - 80% Motorleistung, Reichweite ≈ 75km
      </li>
      <li class="margin-top-20 mb-margin-top-4">
        - Turbo-Modus - 100% Motorleistung (kein Treten des Fahrers erforderlich), Reichweite ≈ 70km
      </li>
    </ul>
    <img
      alt=""
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_273c1581-ea85-4166-9c2e-92421d979614.jpg?v=1722589268"
      class="fade margin-bottom-60 mb-margin-bottom-32"
    >
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">So passen Sie Ihre Gangschaltung in der App an:</h2>
    <p class="margin-bottom-40">
      <span>
        Aktualisieren Sie Ihre App auf Version 2.9.3 oder neuer. Öffnen Sie die App und klicken Sie auf das mittlere Symbol "Smartbar" und dann auf die Schaltfläche "Assist Tune". Jetzt können Sie den Schieberegler ziehen, um die Getriebeeinstellungen anzupassen.
      </span>
       
    </p>
    <img
      alt=""
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_1_c84e6a97-3044-4936-8578-43cc35b9cce6.jpg?v=1722589347"
      class="fade margin-bottom-60 mb-margin-bottom-32"
    >
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">Benutzerdefinierte Szenen</h2>
    <h4 class="margin-bottom-28 font-size-20 mb-font-size-16">Anpassung an unterschiedliche Terrains</h4>
    <p class="margin-bottom-40">
      <span>
        Passen Sie Ihre Gangschaltung an das Terrains an. Wenn Ihre Route überwiegend bergauf führt, erhöhen Sie die Motorleistung für jeden Gang. Für eine lange, flache Fahrt können Sie die Gänge so einstellen, dass die Reichweite maximiert wird. Für die Stadtfahrt können Sie die Einstellungen an Ihre gewohnten Strecken anpassen und die Gänge für den Stop-and-go-Verkehr niedriger einstellen.
      </span>
    </p>
    <img
      alt=""
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/ridee.jpg?v=1722589695"
      class="fade margin-bottom-60 mb-margin-bottom-32"
    >
    <h4 class="margin-bottom-28 font-size-20 mb-font-size-16">Persönliche Fitnessziele</h4>
    <p class="margin-bottom-40">
      <span>
        Passen Sie die Motorleistung an Ihre Fitnessziele an. Wenn Sie ein leichtes Training absolvieren möchten, stellen Sie den ersten Gang auf 5-10 % Leistung ein, um die Reichweite zu erhöhen und gleichzeitig gerade genug Unterstützung zu erhalten. Wenn Sie das Urtopia als Fitnessgerät verwenden, beginnen Sie mit höheren Gängen und verringern Sie diese schrittweise, wenn Sie an Kraft gewinnen.
      </span>
       
    </p>
    <img
      alt=""
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/bec81012-58f8-4dff-9f53-31c32215d961.jpg?v=1722589760"
      class="fade margin-bottom-60 mb-margin-bottom-32"
    >
    <h4 class="margin-bottom-28 font-size-20 mb-font-size-16">Der Fahrstil</h4>
    <p class="margin-bottom-40">
       <span>
        Ihr Fahrstil kann sich von Tag zu Tag ändern. Vielleicht haben Sie heute Lust auf eine intensive Fahrt, aber Morgen bevorzugen Sie eine gemütliche Fahrt. Jetzt können Sie Ihren Unterstützungsmodus anpassen. Für einen aktiven Tag: Wählen Sie eine niedrige Unterstützung für flache Strecken, um Ihren Körper in Schwung zu halten, und eine hohe Unterstützung für Pausen oder Steigungen, um Ihre Trittfrequenz und Herzfrequenz aufrechtzuerhalten. Für einen entspannten Tag: Eine hohe Unterstützung erleichtert das Anfahren und Steigen und lässt Sie die Fahrt genießen. Behandeln Sie Ihr Urtopia E-Bike wie zwei verschiedene Fahrräder für den täglichen Gebrauch.
       </span>
    </p>
    <h4 class="margin-bottom-28 font-size-20 mb-font-size-16">Die Wetterlage</h4>
    <p class="margin-bottom-40">
      <span>
        Wählen Sie an windigen oder regnerischen Tagen eine niedrige Unterstützungsstufe, um sicheres Fahren auf rutschigen Straßen zu gewährleisten. Stellen Sie bei starkem Gegenwind die Unterstützung auf hoch ein, um eine stabile Geschwindigkeit und eine gleichmäßige Trittfrequenz beizubehalten.
      </span>
    </p>
    <div class="grid-box grid-columns-2 grid-column-gap-16">
      <img class="fade" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/302407ce-3f4f-4dfe-8253-5aa736eb6985.jpg?v=1722589923" alt="">
      <img class="fade" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/424969b4-0640-44c4-b45c-932ed2787390.jpg?v=1722589923" alt="" style="height: 100%;object-fit: cover;">
    </div>
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">Ihr Großspielzeug, Ihre Art</h2>
    <p class="margin-bottom-40">
      <span>
        Mit Urtopia können Sie Ihren Unterstützungsmodus frei wählen und sich so an verschiedene Bedingungen und Vorlieben anpassen. Egal, ob Sie unter blauem Himmel fahren, durch die Straßen der Stadt navigieren oder ländliche Wege erkunden, wir hoffen, dass das Urtopia E-Bike Ihr perfekter Begleiter sein wird.
      </span>
    </p>
    <div class="flex flex-center margin-top-40 margin-bottom-60">
      <a class="my-button my-button-origin" href="/products/urtopia-carbon-1-pro-ebike" target="_blank">Order Now</a>
    </div>
  </section>
</article>

<script>
  window.addEventListener("scroll", throttle(() => {
    $('article .fade').each((i, item) => {
      let { top } = item.getBoundingClientRect();
        let s = window.innerHeight - top;
        if (s > 0) {
          item.classList.add("fade-in-show")
        }
    })
  }, 50))
  $('article').append(`{% render 'blog-common-footer' %}`)
  {% for article in blogs.blog.articles %}
    {% if forloop.index <= 3 %}
        console.log(JSON.parse(JSON.stringify({{ article | json }})))
    {% endif %}
  {% endfor %}
</script>