{{ 'blog.scss.css' | asset_url | stylesheet_tag: preload: true }}

<article>
  <header style="--background-image-pc: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/output_8bcad7e5-b4b4-47e2-ad1c-10294b8a019e.png?v=1716519285');">
    <div class="background-blur"></div>
    <section class="flex flex-center flex-column text-center height-600 mb-height-420">
      <h1 class="color-white mb-font-size-24">Ride on to anywhere you want to </h1>
    </section>
  </header>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <div class="video margin-top-60">
      <iframe
        title="YouTube video player"
        src="https://www.youtube.com/embed/T1aUscy73S4?start=0&amp;autoplay=0&amp;loop=0&amp;mute=0&amp;controls=0&amp;enablejsapi=1"
        height="100%"
        width="100%"
        allowfullscreen=""
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        frameborder="0"
      >
      </iframe>
    </div>

    <p class="margin-bottom-40">
      <span>
        When spring blooms, where should you head for an unforgettable experience? Look no further than a DIY outdoor
        creative exhibition.
      </span>
    </p>
    <p class="margin-bottom-40">
      <span>
        Urtopia proudly participated in Löbauer Spring 2024, from April 6th to April 7th, in collaboration with our
        esteemed partner, Autohaus Löbau GmbH. As sponsors of this annual consumer goods fair, we were thrilled to
        showcase our innovative range of products amidst the diverse offerings of the event. Against the picturesque
        backdrop of Löbau's fair and event park, attendees were invited to dive into a realm of creativity and
        inspiration.
      </span>
    </p>
    <div class="grid-box grid-columns-2 grid-column-gap-24 mb-grid-columns-1 mb-grid-row-gap-12">
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_1_53115b2d-06ab-4348-acbe-9b305822d432.jpg?v=1714102260"
        class="fade"
      >
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_2_3b71668c-cd8d-4d71-ab21-2d5406a09ebe.jpg?v=1714102256"
        class="fade"
      >
    </div>
  </section>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <p class="margin-bottom-40">
      <span>
        At this year's Löbauer Spring, the fair boasted a broad spectrum of themes, spanning from garden design to
        leisure activities, travel, modernization, construction, and renovation. Fashion, jewelry, and culinary delights
        also took the spotlight, providing insights into current trends and offering visitors firsthand experiences with
        the latest offerings. And of course, Urtopia's newest ebikes were available for test rides.
      </span>
    </p>
    <p class="margin-bottom-40">
      <span>
        Urtopia's booth quickly became the center of attention. Those who love DIY creative projects were equally drawn
        to Urtopia ebikes. We felt incredibly welcomed at this exhibition! Visitors eagerly explored our full range of
        ebike models. One feature that stole the show was the GPS Tracking functionality on Urtopia ebikes, providing
        riders with unmatched security and peace of mind.
      </span>
    </p>
    <p class="margin-bottom-40 font-weight-700"><i>"GPS tracking is a game-changer!"</i></p>
    <div class="grid-box grid-columns-2 grid-column-gap-24 mb-grid-columns-1 mb-grid-row-gap-12">
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_3_96712a86-372e-46ea-87d1-68d9ba6a8185.jpg?v=1714102515"
        style="object-fit: cover;"
        class="fade height-fill"
      >
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/output_b29cc545-b776-4f21-ad93-386a12370977.jpg?v=1714102514"
        class="fade"
      >
    </div>
    <p class="margin-bottom-40 margin-top-40">
      <span>
        Many visitors were attracted by the GPS tracking labels on Urtopia ebikes. Some even heard music and were
        curious where it was coming from. When they approached our booth, they discovered it was from the Bluetooth
        speakers on the Urtopia Carbon 1 Pro. Families also visited our booth, but when children couldn't ride the
        adult-sized Urtopia bikes, our thoughtful staff showcased the magic of Urtopia Ebikes. They showed how kids
        could play games like Snake on the Urtopia handlebar, much to the visitors' delight.
      </span>
    </p>
    <div class="grid-box grid-columns-3 grid-column-gap-12 mb-grid-columns-1 mb-grid-row-gap-12">
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_4_1e92284f-06ed-44fe-aa43-cc65e8276cb5.jpg?v=1714102696"
        style="object-fit: cover;"
        class="fade height-fill"
      >
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_f4ddac61-a865-422f-9209-312ad22be107.png?v=1714102697"
        class="fade"
      >
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_1_8be9b1d1-b319-42ff-b047-f22c78e95b06.png?v=1714102696"
        class="fade"
      >
    </div>
    <p class="margin-bottom-40 margin-top-40">
      <span>
        But the allure of Urtopia ebikes didn't end with their advanced features – it was also about the pure joy of
        riding. Families flocked to our booth, relishing the opportunity to test ride our ebikes and revel in the smooth
        speed and agility they offered.
      </span>
    </p>
    <p class="margin-bottom-40">
      <span>
        As visitors explored the fair's attractions, they delighted in discovering the unique blend of style,
        functionality, and innovation embodied by Urtopia ebikes. Our presence wasn't just about showcasing products –
        it was a testament to our dedication to delivering cutting-edge solutions that enrich lives.
      </span>
    </p>
    <div class="grid-box grid-columns-2 grid-column-gap-24 mb-grid-columns-1 mb-grid-row-gap-12">
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_5.jpg?v=1714102897"
        class="fade"
      >
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1280X1280_6.jpg?v=1714102897"
        class="fade"
      >
    </div>
    <p class="margin-bottom-40 margin-top-40">
      <span>
        Visitors immersed themselves in the creative atmosphere of Löbauer Spring and found a kindred spirit in Urtopia.
        Just like DIY enthusiasts are drawn to creative projects, they were equally captivated by the ingenuity and
        innovation of Urtopia ebikes. It was a match made in heaven – Urtopia and Löbauer Spring were indeed soulmates.
      </span>
    </p>
    <p class="margin-bottom-40">
      <span>
        The Löbauer Spring wasn't just an event – it was a celebration of creativity, innovation, and community. We were
        honored to be part of this vibrant occasion and to share our passion for ebikes with attendees from near and
        far. As we eagerly anticipate future events and opportunities to engage with our customers, we remain committed
        to pushing the boundaries of what's possible and delivering exceptional experiences through our Urtopia ebikes.
      </span>
    </p>
    <p class="margin-bottom-40">
      <span>
        A special shoutout to our incredible staff, whose dedication and enthusiasm kept the excitement alive throughout
        the event. Here's to more water breaks next time – you've earned it, haha!
      </span>
    </p>
    <p class="margin-bottom-40">
      <span>
        As we bid farewell to Löbauer Spring, we look back with fondness and gratitude for the opportunity to share our
        passion for ebikes with attendees from near and far. We're excited for the future and the chance to continue
        spreading joy and inspiration through our Urtopia ebikes. Until next time, Löbauer Spring – it's been a
        pleasure!
      </span>
    </p>
    <div class="flex flex-center margin-top-40 margin-bottom-60">
      <a class="my-button my-button-origin" href="/products/urtopia-carbon-1-pro-ebike" target="_blank">Order Now</a>
    </div>
  </section>
</article>

<script>
  window.addEventListener("scroll", throttle(() => {
    $('article .fade').each((i, item) => {
      let { top } = item.getBoundingClientRect();
        let s = window.innerHeight - top;
        if (s > 0) {
          item.classList.add("fade-in-show")
        }
    })
  }, 50))
  $('article').append(`{% render 'blog-common-footer' %}`)
  {% for article in blogs.blog.articles %}
    {% if forloop.index <= 3 %}
        console.log(JSON.parse(JSON.stringify({{ article | json }})))
    {% endif %}
  {% endfor %}
</script>
