{% assign carbon1_Sirius = "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230630-181731.png?v=1688120408" %}
{% assign carbon1_Paris = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18150_2x_63ea456b-69c1-4d96-988f-efa931148bc1.png?v=1677640442" %}
{% assign carbon1_Lyra = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18139_2x_ee2cf1ae-8693-42a3-ab99-d53ea78e2802.png?v=1677640511" %}
{% assign carbon1_Vanilla = "https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230420-182731.jpg?v=1681986478" %}

{% assign chord_white = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1_1_2x_3f9f6132-5cac-4f49-bac7-ce6258edad1c.jpg?v=1689154301" %}
{% assign chord_black = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3_1_2x_c75e6ef5-a3ac-49af-bb2f-c19dd565cfad.jpg?v=1689154308" %}
{% assign chordx_white = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/chordX_2x_fe86f1a1-6d47-4dd4-b1b9-80ee149da0fe.jpg?v=1689154670" %}
{% assign chordx_black = "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231009-150822.png?v=1696835332" %}

{{ 'outlet_v4.scss.css' | asset_url | stylesheet_tag: preload: true }}
{% assign carbon = all_products["outlet-carbon-1-1s"] %}

<style>
  .banner {
        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24157_2x_59551246-60ca-4ac4-8575-c6dead7ed844.jpg?v=1720402439');
  }

      @media (max-width: 767px) {
         .banner {
            background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1-12_2x_7b56f1d5-606d-4d14-b9ec-3fedb103e742.jpg?v=1720402432');

        }

        .banner .centeral-content {
            justify-content: flex-start;
            padding-top: 20px;
                    color: #fff;
        }
    }
</style>

<div class="banner">
    <div class="centeral-content">
        <div class="u48DemiBold_v2">{{ settings.sale_name }}</div>
        {% if true %}
            <div class="xxxxxxxx">
            <!--<div class="u17Medium_v2">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/vat_2x_73621f8d-ae55-4d81-ab06-78f559ac1d5e.png?v=1698736324" alt="">
                <span>VAT</span>
                <span>Included</span>
            </div>-->
            <div class="u17Medium_v2">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17959_2x_c8719cb1-7053-4b89-81b2-7a6de481016c.png?v=1698736330" alt="">
                <span>14-Day</span>
                <span>Returns</span>
            </div>
            <div class="u17Medium_v2">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17958_2x_e50155e3-9acf-40a8-a806-438b266bfc57.png?v=1698736335" alt="">
                <span>2-Year</span>
                <span>Warranty</span>
            </div>
            <div class="u17Medium_v2">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18916_2x_30f00db4-223f-411c-8523-7ced3de1c1dd.png?v=1698736341" alt="">
                <span>Free</span>
                <span>Shipping</span>
            </div>
            <div class="u17Medium_v2">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/credit-card_2x_5e83a5a5-e4a7-45b9-8370-7ff18aa7619d.png?v=1698736348" alt="">
                <span>Flexible</span>
                <span>Payment</span>
            </div>
            <div class="u17Medium_v2">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/placeholder_2x_720784c2-b144-4dfc-aa61-607f5ac06385.png?v=1698736357" alt="">
                <span>Local</span>
                <span>Service</span>
            </div>
        </div>
        {% else %}
        <div class="xxxxxxxx">
            <div class="u17Medium_v2">
                <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17959_2x_c8719cb1-7053-4b89-81b2-7a6de481016c.png?v=1698736330" alt="">
                <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18914_2x_7f2b9aff-6657-43b2-86a1-72de18ae1886.png?v=1698837287" alt="">
                <span>14-Day</span>
                <span>Returns</span>
            </div>
            <div class="u17Medium_v2">
                <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_17958_2x_e50155e3-9acf-40a8-a806-438b266bfc57.png?v=1698736335" alt="">
                <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18915_2x_f1484da6-2909-4ba3-8c93-6a991c07d6fe.png?v=1698837294" alt="">
                <span>2-Year</span>
                <span>Warranty</span>
            </div>
            <div class="u17Medium_v2">
                <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18916_2x_30f00db4-223f-411c-8523-7ced3de1c1dd.png?v=1698736341" alt="">
                <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18917_2x_aac5e357-f5cd-46c7-9943-f45c0cc9a227.png?v=1698837301" alt="">
                <span>Free</span>
                <span>Shipping</span>
            </div>
            <div class="u17Medium_v2">
                <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/credit-card_2x_5e83a5a5-e4a7-45b9-8370-7ff18aa7619d.png?v=1698736348" alt="">
                <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/credit-card_2x_525d2b3e-d6a9-49e6-aa6f-9c916854cce2.png?v=1698837308" alt="">
                <span>Flexible</span>
                <span>Payment</span>
            </div>
            <div class="u17Medium_v2">
                <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/placeholder_2x_720784c2-b144-4dfc-aa61-607f5ac06385.png?v=1698736357" alt="">
                <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/placeholder_2x_2da9c5cc-c953-470b-9522-245afe75532b.png?v=1698837314" alt="">
                <span>Local</span>
                <span>Service</span>
            </div>
        </div>
        {% endif %}
        
    </div>
</div>
<div class="centeral-content ebike-products">
    <div class="product-grid">
        {% assign product = all_products["urtopia-carbon-1-pro-ebike"] %}
        {% assign product_variants = product.variants | where: "available" %}
        {% assign product_reviews_count = 0 %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_variant_options_find_sort: "M,L,S",
            product_name: 'Carbon 1 Pro',
            product_tags: "<span>New</span>",
            product_description: 'Sporty, light and nimble e-bike for everyday transport, fitness and fun.',
            product_discount_price: settings.carbon1_ebike_discount_price,
            product_reviews_count: product_reviews_count,
            product_url: "/products/urtopia-carbon-1-pro-ebike",
        %}
        
        {% comment %} <div class="gray-background-color u30DemiBold_v2 lozad mobileHide" data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22829_2x_82531e4b-8b9c-40c7-822f-c58f9db7d477.jpg?v=1695625176">Full Carbon Lightweight Sporty</div>
        <div class="gray-background-color u30DemiBold_v2 lozad mobileHide" data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22830_2x_8c178fff-ea2f-4b60-99c8-a44937213f1f.jpg?v=1695625131">Casual Comfortable Elegant</div> {% endcomment %}
        {% assign product = all_products["urtopia-chord-ebike"] %}
        {% assign product_variants = product.variants | where: "option1", "High-Step" | where: "available" %}
        {% assign product_reviews_count = 112 %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_name: 'Chord',
            product_description: 'Elegantly zip around town for meet-ups, errands, or Sunday fun.',
            product_discount_price: settings.chord_ebike_discount_price,
            product_reviews_count: product_reviews_count,
            product_url: product.url,
        %}
        {% assign product_variants = product.variants | where: "option1", "Step-Through" | where: "available" %}
        {% assign product_reviews_count = 125 %}
        {% render 'product-card-2',
            product_variants: product_variants,
            product_name: 'Chord X',
            product_description: 'Easily kickstart your ride for workouts, city cruising, and pure enjoyment.',
            product_discount_price: settings.chord_ebike_discount_price,
            product_reviews_count: product_reviews_count,
            product_url: product.url,
        %}
    </div>
</div>

<script>
    $('.top-area .dots > div').on('click', e => {
        const target = $(e.target)

        const variant = target.attr('data-variant')
        const image = target.attr('data-img')

        target.siblings().removeClass('active')
        target.addClass('active')

        const item = target.closest('.item')
        item.find('img').attr('src', image)

        const button = item.find('.my-button')
        button.attr('href', `${button.attr('href').split('?').shift()}?variant=${variant}`)
    })
</script>
<script>
    $('.product-card .dots > div').on('click', e => {
        const target = $(e.target)
        const product_card = target.closest('.product-card')

        // 先取消 其它兄弟元素的active, 再设置active
        target.siblings().removeClass('active')
        target.addClass('active')

        const price = Number(target.attr('data-price'))
        const compare_at_price = Number(target.attr('data-compare-at-price'))
        const discount_price = Number(target.attr('data-product-discount-price'))
        const variant_id = target.attr('data-variant')
        const variant_image = target.attr('data-img')

        // outlet 车型
        if (discount_price === 0) {
            product_card.find('.product_price .u20DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
            product_card.find('.tags > span:first-child').text(`${getPriceFormat(compare_at_price - price, true)} OFF`)

            if (price === compare_at_price) {
                product_card.find('.product_price .u20DemiBold_v2').attr('data-price', '')
                product_card.find('.tags > span:first-child').hide()
            }
        } else {
            product_card.find('.product_price .u20DemiBold_v2').text(getPriceFormat(price - discount_price, true)).attr('data-price', getPriceFormat(price, true))
            product_card.find('.product_price .u14Light_v2 > span').text(getPriceFormat((price - discount_price) / 24))
            product_card.find('.tags > span:first-child').text(`${getPriceFormat(discount_price, true)} OFF`)
        }

        product_card.find('.variant-image').attr('src', variant_image)
        product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
        product_card.find('.stars a').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}#judgeme_product_reviews`)
    })

    setTimeout(() => {
        $('.product-card .dots > div:first-child').click()

        $('.product-card .variant-image').on('click', e => {
            const button = $(e.target).closest('.product-card').find('.my-button')

            if (button.length) {
                button[0].click()
            }
        })
    })
</script>