.about-us {

    .banner {
        height: calc(100vh - 111px);
        background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20710.jpg?v=1678861240') center center/cover no-repeat;
        color: #fff;

        .centeral-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .u17Light_v2 {
                max-width: 400px;
                margin-top: 50px;
            }
        }
    }

    .swiper1 {
        /* 设置按钮大小 */
        overflow-x: hidden;
        cursor: auto;
        color: #000;
        padding: 80px 0;

        & > .u42DemiBold_v2 {
            text-align: left;
            max-width: 1280px;
            margin: 0 auto 60px;
        }

        .swiper-slide {
            box-shadow: 3px 3px 30px #00000010;
            border-radius: 15px;
            overflow: hidden;

            .image {
                position: relative;

                .name {
                    position: absolute;
                    bottom: 2vh;
                    color: #fff;
                    left: 9%;
                }

                .static {
                    position: relative;
                    color: #000;
                    margin-top: 5vh;
                }
            }

            .u17Light_v2 {
                padding: 9% 11%;
            }
        }

        .buttons {
            max-width: 1280px;
            margin: auto;
            display: flex;
            justify-content: end;

            .swiper-button-prev,
            .swiper-button-next {
                margin-left: 20px;
                margin-top: 20px;
                position: static;
                background-color: #666;
                border-radius: 50%;
                padding: 20px;
                box-sizing: border-box;
                opacity: .5;
                z-index: 2;
            }

            .swiper-button-disabled {
                opacity: .25;
            }
        }

        .swiper-scrollbar {
            display: none;
            height: 2px;
            width: calc(100% - 60px);
            position: static;
            margin: 30px auto;
        }
    }


    .blue {
        background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20865_2x_f6265519-8cd3-47eb-b7fe-6eae137b8b31.jpg?v=1681468030') center center/cover no-repeat;
        height: 700px;

        .centeral-content {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;

            .u42DemiBold_v2 {
                color: #fff;
            }
        }
    }

    .boxs {
        margin: 80px 0 160px;
        color: #fff;

        .centeral-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            &>div {
                padding-bottom: 72%;
                position: relative;
                background: center center/cover no-repeat;

                span {
                    position: absolute;
                    top: 70%;
                    left: 9%;
                }

                &:nth-child(1) {
                    background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20687_2x_b0630d1e-362e-4268-8ade-637ae4e9f1e9.jpg?v=1681473445');
                }

                &:nth-child(2) {
                    background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20690_2x_eb4cb387-f4cd-4fdf-9a7d-f137535363f0.jpg?v=1681474408');
                }

                &:nth-child(3) {
                    background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20688_2x_c0f44571-e8f7-40da-a76f-6193b7033b61.jpg?v=1681474448');
                }

                &:nth-child(4) {
                    background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20689_2x_49ead4c9-6eaa-4ea2-b18e-c3c69fb2882c.jpg?v=1681474429');
                }
            }
        }
    }

    .tech {
        .centeral-content {
            &>div {
                &:last-child {
                    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/DSC9877_2x_42b64ea7-f6eb-4bfb-963f-4df7ac0aa5cc.jpg?v=1681475838') center center/cover no-repeat;
                    height: 555px;
                }
            }
        }
    }

    .system {
        margin: 80px 0;

        .centeral-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .u17Light_v2 {
                padding-right: 30%;
            }

            &>div {

                &:nth-child(2) {
                    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230317-untitled-8223-_2x_e271749b-c3b3-45cd-8ff5-efebc2a6bdc9.jpg?v=1681476206') center center/cover no-repeat;
                }
            }
        }
    }

    .together {
        background-color: #F7F8FA;
        padding: 100px 0;

        .centeral-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            &>div {
                &>img {
                    width: 63.75%;
                }
            }

            &>div {
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            &>div {
                &:first-child {
                    align-items: flex-start;
                }

                &:last-child {
                    position: relative;

                    &>div {
                        width: 210px;
                        box-shadow: 3px 3px 20px #0000000F;
                        border-radius: 15px;
                        background-color: #fff;
                        padding: 23px 18px;
                        position: absolute;

                        &:first-child {
                            left: 0;
                            top: 25%;
                        }

                        &:last-child {
                            right: 0;
                            top: 50%;
                        }

                        &>img {
                            width: 77px;
                            margin: 10px 0;
                        }
                    }
                }
            }

            .u17Light_v2 {
                margin: 160px 0 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .about-us {

        .banner {
            height: 600px;
            background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18375.jpg?v=1678862658') center center/cover no-repeat;
            justify-content: flex-start;

            .centeral-content {
                justify-content: flex-start;
                padding-top: 6vw;

                .u17Light_v2 {
                    line-height: 20px;
                    margin-top: 20px;
                    font-size: 14px;
                }

                .u72DemiBold_v2 {
                    font-size: 36px;
                    line-height: 42px;
                }
            }
        }

        .swiper1 {
            padding: 40px 0;


            & > .u42DemiBold_v2 {
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 30px;
                padding: 0 30px;
            }

            .swiper-slide {
                .u17Light_v2 {
                    padding: 8% 5%;
                }

                .image {
                    .u42DemiBold_v2 {
                        font-size: 24px;
                        padding: 8% 5%;
                        bottom: 0;
                        left: 0;
                    }
                }
            }

            .buttons {
                display: none;
            }

            .swiper-scrollbar {
                display: block;
            }
        }

        .blue {
            background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20866_2x_1e3c473b-a378-455c-a5a0-97852a68382a.jpg?v=1681468370') center center/cover no-repeat;
            height: 75vh;

            .centeral-content {
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                height: 100%;
                padding-bottom: 13%;

                .u42DemiBold_v2 {
                    font-size: 30px;
                    line-height: 36px;
                }
            }
        }

        .boxs {
            margin: 60px 0;

            .centeral-content {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);

                &>div {
                    padding-bottom: 100%;

                    .u24DemiBold_v2 {
                        font-size: 18px;
                        line-height: 24px;
                        top: 75%;
                        left: 7%;
                    }
                }
            }
        }

        .tech {
            .centeral-content {
                .u42DemiBold_v2 {
                    font-size: 24px;
                    line-height: 30px;
                }

                &>div {
                    &:last-child {
                        background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18377_2x_5c4279b7-63f7-4292-8290-09fe30f3bdf9.jpg?v=1681477211') center center/cover no-repeat;
                        height: 84vw;
                    }
                }
            }
        }

        .system {
            margin: 0;

            .centeral-content {
                grid-template-columns: 1fr;

                .u17Light_v2 {
                    padding: 10vw 0;
                    padding-right: 0;
                    font-size: 15px;
                }

                &>div {
                    &:nth-child(2) {
                        height: 84vw;
                    }
                }
            }
        }

        .together {
            padding: 60px 0 150px;

            .centeral-content {
                grid-template-columns: 1fr;

                .u42DemiBold_v2 {
                    font-size: 24px;
                }


                .u17Light_v2 {
                    font-size: 15px;
                    margin: 25px 0;
                }

                .u60DemiBold_v2 {
                    font-size: 36px;
                }

                .u30Medium {
                    font-size: 24px;
                }

                &>div {
                    &>img {
                        width: 100%;
                    }

                    .u17DemiBold_v2 {
                        font-size: 16px;
                    }

                    .u11Light_v2 {
                        font-size: 10px;
                    }

                    &:last-child {
                        margin-top: 100px;
                        &>div {
                            padding: 16px;

                            &:first-child {
                                right: 0;
                                left: unset;
                                top: 0;
                                transform: translateY(-50%);
                            }

                            &:last-child {
                                right: unset;
                                top: unset;
                                left: 0;
                                bottom: 0;
                                transform: translateY(50%);
                            }

                            &>img {
                                margin: 5px 0;
                            }
                        }
                    }
                }
            }
        }

    }
}