.u72Medium_v2 {
    font-size: 80px;
}

.u14Medium_v2 {
    opacity: 0.78;
}

.u17Light_v2,
.u17DemiBold_v2 {
    opacity: 0.78;
    
    @media (max-width: 767px) {
        font-size: 15px;
    }
}

.banner {
    color: #fff;
    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23227_2x_f868ffe2-0e1d-47e1-8d6b-07aa7f277c69.jpg?v=1701740866') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 120vh;
    padding-top: 10vh;

    .u20Medium_v2 {
        margin: 1.5vh 0 3vh;
    }

    .my-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 6px 8px 6px 24px;
        flex-direction: row;

        &:hover {
            opacity: 1;
            background-color: #fff;
        }

        img {
            max-width: 35px;
            margin-left: 12px;
        }
    }

    .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5%;

        & > div {
            img {
                margin-bottom: 3vh;
                height: 80px;
                width: auto;
            }
        }
    }

    @media (max-width: 767px) {
        padding: 8vw;
        text-align: left;
        align-items: flex-start;
        height: calc(100vh - 102px);
        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18950_2x_217f4a0c-4034-45e8-bf47-4b56c78394d2.jpg?v=1701764334');
        // box-sizing: content-box;

        .u72Medium_v2 {
            font-size: 36px;
        }

        .u20Medium_v2 {
            font-size: 15px;
            font-weight: 300;
            margin: 5vw 0 7vw;
        }

        .my-button {
            padding: 6px 2.5vw 6px 4.5vw;

            img {
                max-width: 28px;
            }
        }
    }
}

.software {
    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23220_2x_eee4eafd-3995-4a9a-aa33-8bfaa27ecbd1.jpg?v=1701744277') center center/cover no-repeat;
    height: 125vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    // align-items: center;

    .u72Medium_v2 {
        margin: 20vh 0 20vh;
    }

    .my-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 6px 8px 6px 24px;
        flex-direction: row;

        &:hover {
            opacity: 1;
            background-color: #fff;
        }

        img {
            max-width: 35px;
            margin-left: 12px;
        }
    }

    .box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 5%;
        
        & > div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            max-width: 440px;

            .u17Light_v2 {
                margin: 3vh 0 6vh;
            }
        }

        & > img {
            height: 100px;
            width: auto;
        }
    }

    @media (max-width: 767px) {
        padding: 0 8vw;
        text-align: left;
        height: 815px;
        background: #000 url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23384_2x_51c68b17-11e4-4fdc-acf8-bf8afc1ac96b.jpg?v=1701766308') center bottom/contain no-repeat;

        .u72Medium_v2 {
            font-size: 36px;
            margin: 24vw 0;
        }

        .box {
            flex-direction: column-reverse;

            .u30Medium_v2 {
                font-size: 24px;
            }

            & > div {
                .u17Light_v2 {
                    margin: 5vw 0 6vw;
                }
            }

            & > img {
                max-width: 150px;
                height: auto;
              margin: auto;
            }

          .my-button {
            padding: 6px 2.5vw 6px 4.5vw;
            margin-bottom: 15vw;

            img {
                max-width: 28px;
            }
        }
            
        }
    }
}

.also {
    background-color: #000;
    color: #fff;
    padding: 6vh 0;

    .centeral-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0;
        align-items: center;

        & > img {
            max-width: 85%;
            place-self: flex-end;
            align-self: center;
        }
    }


    @media (max-width: 767px) {
        padding: 13.5vw 0;

        .centeral-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & > img {
                height: 50px;
                width: auto;
                margin-top: 8vw;
            }

            .u30Medium_v2 {
                font-size: 20px;
            }
        }
    }
}

.ring {
    background-image: linear-gradient(180deg, #333438, #000000);
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        gap: 5%;
        margin-top: 20vh;

        & > div {
            max-width: 460px;

            .u54Medium_v2 {
                margin-bottom: 4vh;
            }
        }

        img {
            max-width: 420px;
        }
    }

    @media (max-width: 767px) {
        height: unset;
        text-align: left;
        padding: 32vw 8vw 20vw;

        .u72Medium_v2 {
            font-size: 36px;
        }

        .image {
            flex-direction: column;
            margin-top: 0;

            img {
                margin: 30vw 0 15vw;
            }

            .u30Medium_v2 {
                font-size: 24px;
            }

            .u54Medium_v2 {
                font-size: 42px;
            }
        }
    }
}

.just {
    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23221_2x_d312959d-6b00-46c4-a10b-c217f41c43f3.jpg?v=1701754879') center center/cover no-repeat;
    height: 700px;
    color: #fff;

    .centeral-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;

        .u17Light_v2 {
            max-width: 450px;
            margin-top: 4vh;
        }
    }

    @media (max-width: 767px) {
        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23237_2x_5e436a38-f31d-4838-9444-fbd36b07a2d1.jpg?v=1701767611');
        height: 550px;

        .centeral-content {
            justify-content: flex-end;
            padding-bottom: 20vw;
        }
    }
}


.health {
    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23222_2x_025b449a-78d4-4425-8268-4b09533cd4d0.jpg?v=1701755389') center center/cover no-repeat;
    color: #fff;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 700px;

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .u17Light_v2 {
                max-width: 450px;
                margin-top: 4vh;
            }
        }
    }

    @media (max-width: 767px) {
        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18964_2x_ff2c4069-7361-4468-b1c9-bba5a9b203d6.jpg?v=1701767851');

        .centeral-content {
            grid-template-columns: 1fr;
            height: 600px;

            .u30Medium_v2 {
                font-size: 24px;
            }
        }
    }
}

.smart {
    color: #fff;
    background-color: #000;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1.8fr;
        max-width: calc(1280px + ((100vw - 1280px) / 2));
        margin-right: 0;
        padding-right: 0;
        margin-left: calc((100vw - 1280px) / 2);
        align-items: center;
        padding-top: 7vh;

        .u17Light_v2 {
            max-width: 450px;
            margin-top: 4vh;
        }
    }

    @media (max-width: 767px) {

        .centeral-content {
            padding: 0 8vw;
            margin: 0;
            display: flex;
            flex-direction: column-reverse;

            img {
                max-width: 220px;
            }

            .u30Medium_v2 {
                font-size: 24px;
            }

            .u54Medium_v2 {
                font-size: 42px;
            }
        }
    }
}

.helmet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #000;
    padding: 12vh 0 27vh;
    color: #fff;
    align-items: center;

    .u17Light_v2 {
        max-width: 450px;
        margin: 4vh 0 8vh;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        padding: 15vw 0 30vw;

        & > div {
            & > div {
                padding: 0 8vw;
            }

            .u17Light_v2 {
                margin: 8vw 0;
            }

            .u30Medium_v2 {
                font-size: 24px;
            }
        }
    }
}

.revolution {
    background: #000 url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231205-154804.jpg?v=1701762511') center center/cover no-repeat;
    height: 150vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .u48Medium_v2 {
        margin: 20vh 0 4vh;
    }

    .u17Light_v2 {
        max-width: 450px;
    }

    @media (max-width: 767px) {
        text-align: left;
        padding: 0 8vw;
        background: #000 url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231205-182741.jpg?v=1701772076') center bottom/contain no-repeat;
        height: 775px;
        align-items: flex-start;

        .u72Medium_v2 {
            font-size: 36px;
        }

        .u48Medium_v2 {
            font-size: 20px;
            margin: 32vw 0 8vw;
        }
    }
}


.smooth {
    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23225_2x_5912a679-deb4-47ad-9241-68c2ddb9baf9.jpg?v=1701758922') center center/cover no-repeat;
    color: #fff;

    .centeral-content {
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .u17Light_v2 {
            max-width: 450px;
            margin-top: 4vh;
        }
    }

    @media (max-width: 767px) {
        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18962_2x_8a466469-a28c-4b40-b818-73253a3f03e6.jpg?v=1701769386');

        .centeral-content {
            justify-content: flex-end;
            padding-bottom: 25vw;
            height: 750px;

            .u30Medium_v2 {
                font-size: 24px;
            }

            .u54Medium_v2 {
                font-size: 42px;
            }

            .u17Light_v2 {
                margin-top: 4vw;
            }
        }
    }
}

.learn {
    background: #000 url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23223_2x_6c0a312f-081a-4994-823a-e2b36746d18d.jpg?v=1701759344') center center/cover no-repeat;
    color: #fff;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .u17Light_v2 {
        max-width: 450px;
        margin-top: 4vh;
    }

    @media (max-width: 767px) {
        background: #000 url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23218_2x_37781f26-dc8c-48ea-ad9c-e4aebd24461e.jpg?v=1701769703') center top/contain no-repeat;
        grid-template-columns: 1fr;
        padding: 0 8vw;
        height: 640px;

        .u30Medium_v2 {
            font-size: 24px;
        }

        .u17Light_v2 {
            margin-top: 8vw;
        }
    }
}

.ota {
    background: #000 url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23224_2x_5f236dfe-f5b3-4280-aab5-b60f88855170.png?v=1701760332') center center/cover no-repeat;
    color: #fff;

    .centeral-content {
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .u17Light_v2 {
            max-width: 480px;
            margin-top: 4vh;
        }
    }

    @media (max-width: 767px) {
        background: #000 url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18963_2x_c121f60c-71cd-477e-879b-80b1d352c101.png?v=1701770180') center top/cover no-repeat;

        .centeral-content {
            justify-content: flex-end;

            .u30Medium_v2 {
                font-size: 24px;
            }

            .u17Light_v2 {
                margin-top: 8vw;
            }
        }
    }
}

.aiot {
    background-color: #000;
    padding: 12vh 0 20vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .xxxx {
        margin: 4vh 0 8vh;
    }

    .mobileHide {
        border-radius: 25px;
        overflow: hidden;
    }

    img {
        max-width: 100vw;
    }

    @media (max-width: 767px) {
        padding: 18.5vw 0;

        & > div {
            text-align: left;
        }

        .u30Medium_v2 {
            font-size: 24px;
            margin-top: 16vw;
        }

        .u48Medium_v2 {
            font-size: 36px;
        }

        .xxxx {
            margin: 10vw 0 0;
        }
    }
}


.mediaes {
    padding: 12vw 0;
    background-color: #000;
    color: #fff;

        .centeral-content {
            .swiper-wrapper {
                display: flex;
                justify-content: unset;
                overflow: hidden;
                box-sizing: content-box;
                padding: unset;
                grid-gap: unset;

                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    img {
                        max-height: 60px;
                        width: auto;
                        margin-bottom: 4vw;
                    }
                }
            }
        }

        .swiper-pagination {
            position: static;
            margin-top: 30px;


            .swiper-pagination-bullet {
                height: 6px;
                width: 6px;
                background-color: #fff;
                color: #fff;
                opacity: 0.3333;
            }

            .swiper-pagination-bullet-active {
                width: 30px;
                height: 6px;
                border-radius: 5px;
                transition: all .3s;
                opacity: 1;
            }
        }
}