$color: #ffdf48;
$backround-color: #fff;

h1,
h2,
h3,
h4 {
    color: inherit;
    margin: 0;
}

/* 旋转动画 */
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.banner {
    background: #fff url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24938_2x_acfb27a4-cbc3-4ddf-b2f0-33872841087e.jpg?v=1736233352") center center/cover no-repeat;

    .centeral-content {
        height: 750px;
        display: grid;
        grid-template-columns: minmax(640px, 1fr) 1fr;
        grid-column-gap: 10%;
        color: #fff;
        align-items: center;

        .swiperrrr {
            max-width: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;


            .top {
                .swiper-slide {
                    aspect-ratio: 16 / 9;
                    border-radius: 8px;
                    overflow: hidden;
                }
            }

            .bottom {
                position: relative;
                overflow: hidden;
                width: 90%;
                max-width: 90%;
                margin: auto;
                margin-top: 5vh;

                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    display: flex;
                    opacity: 0.5;
                    height: 75px;
                    cursor: pointer;
                    border-radius: 6px;
                    overflow: hidden;
                    transition: opacity 0.3s;
                    box-sizing: border-box;

                    img {
                        user-select: none;
                        object-fit: cover;
                        overflow: hidden;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }

                .swiper-slide-thumb-active {
                    border: 2px solid #fff;
                    opacity: 1;
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                height: auto;
                width: auto;
                color: #ddd;
                margin: 0;
                transform: translateY(-50%);

                &::after {
                    font-size: 24px;
                }
            }

            .swiper-button-next {
                right: 0;
            }

            .swiper-button-prev {
                left: 0;
            }
        }

        &>div:not(.swiperrrr) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &>div {
                ul {
                    padding-left: 20px;
                    text-align: left;

                    li+li {
                        margin-top: 1.5vh;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        background-image: none;
        background-color: transparent;
        background-position: bottom;

        .centeral-content {
            grid-template-columns: 1fr;
            height: auto;
            padding: 0;

            &>div:not(.swiperrrr) {
                padding: 8vw 0 0;
                transform: unset;
                align-items: flex-start;
                background: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24973_2x_22f19949-2ae3-44d0-ba84-a57fa07d945c.jpg?v=1736233726') center bottom/cover no-repeat;

                img {
                  align-self: center;
                }

                &>div {
                    padding: 0 8vw;
                    text-align: left;
                    width: 100%;
                    padding-bottom: 60px;
                    text-align: center;

                    .u48DemiBold_v2 {
                        font-size: 24px;
                        text-align: center;
                    }

                    .u24DemiBold_v2 {
                        font-size: 18px;
                    }

                    .u17Light_v2 {
                        font-size: 14px;
                        text-align: center;
                        list-style: none;
                        padding: 0;


                        &::marker {
                           
                        }
                    }
                }
            }


            .swiperrrr {
                .top {
                    .swiper-slide {
                        border-radius: 0;
                    }
                }

                iframe {
                    // pointer-events: none;
                }
            }
        }
    }
}

#buyany {
    margin-bottom: 11vh;

    @media (max-width: 767px) {
        margin-bottom: 65px;
    }
}

.buyany {
    margin: 0 0 13vh;


    div {
        box-sizing: border-box;
    }

    .centeral-content {
        .promo-banner {
            background-color: #FFDF48;
            text-align: center;
            color: #fff;
            padding-left: 5%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;

            .u36DemiBold_v2 {
                padding: 40px 0;
                background-color: #000;
                border-top-left-radius: 100px;

                span {
                    color: #fff;
                }
            }
        }


        .two {
            display: grid;
            grid-template-columns: 1fr 30px 1fr 1fr;
            background-color: #F7F8FA;
            padding-left: 30px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            overflow: hidden;


            .plus {
                /* place-content: center; */
                display: flex;
                flex-direction: column;
                justify-content: center;
                transform: translateX(-25px);
            }


            &>div:not(.total):not(.plus) {
                padding-top: 30px;
                padding-right: 12%;

                .selectttttttt {
                    select {
                        appearance: none;
                        background-color: transparent;
                        border: none;
                        margin: 0;
                        font-family: inherit;
                        font-size: inherit;
                        cursor: inherit;
                        line-height: inherit;
                        padding: 8px 40px 8px 28px;
                        width: 100%;

                        &:focus-visible {
                            outline-offset: unset;
                            box-shadow: unset;
                            outline: unset;
                        }
                    }


                    font-size: 17px;
                    font-weight: 500;
                    border-radius: 30px;
                    transition: all .3s;
                    border: 2px solid #ddd;
                    width: 55%;
                    position: relative;
                    background-color: #fff;
                    overflow: hidden;
                    cursor: pointer;
                    transition: all .3s;
                    box-sizing: border-box;

                    &:hover {
                        border-color: #666;

                        &::after {
                            opacity: 0.75;
                        }
                    }

                    /* &::after {
                        content: "";
                        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBjbGFzcz0ic2l6ZS02Ij4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im0xOS41IDguMjUtNy41IDcuNS03LjUtNy41IiAvPgo8L3N2Zz4K') center center/cover no-repeat;
                        height: 24px;
                        width: 24px;
                        opacity: 0.5;
                        display: block;
                        position: absolute;
                        right: 7.5%;
                        top: 50%;
                        transform: translateY(-50%);
                    } */
                }


                .card {
                    background-color: #fff;
                    border-radius: 10px;
                    border: 1px solid #E3E3E3;
                    margin-top: 24px;
                    padding: 20px 0 30px;
                    height: auto;

                    &>div {
                        padding: 12px 24px 0;


                        .u17Light_v2 {
                            opacity: 0.77;
                        }


                        .u20Light_v2 {
                            opacity: 0.53;
                            margin-left: 5px;
                        }

                        .sizes {
                            display: flex;
                            margin: 5px 0 20px;

                            .u17Medium_v2 {
                                color: #000;
                                border: 1px solid #0000004D;
                                background-color: transparent;
                                padding: 3px 30px;
                                margin-right: 10px;
                                border-radius: 20px;
                                transition: all .3s;
                                cursor: pointer;
                            }

                            .active {
                                color: #fff;
                                background-color: #000;
                            }
                        }


                        // div+div {
                        //     margin-top: 40px;
                        // }
                    }
                }
            }


            .total {
                background-color: #E9ECF2;
                display: flex;
                flex-direction: column;

                &>div {
                    display: flex;
                    flex-direction: column;
                    padding: 7.5% 7.5% 10%;
                    align-items: flex-start;


                    .yellow {
                        background-color: #000;
                        color: $color;
                        padding: 8px 20px;
                        border-radius: 10px;
                        margin: 20px 0 10px;
                    }

                    .u17Light_v2 {
                        margin-bottom: 24px;
                    }



                    .my-button {
                        position: relative;
                        user-select: none;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 25px;
                            height: 25px;
                            border: 3px solid #000;
                            border-radius: 50%;
                            border-top-color: transparent;
                            animation: spin 0.8s linear infinite;
                            transform: translate(-50%, -50%);
                            visibility: hidden;
                        }
                    }

                    .loading {
                        cursor: not-allowed;
                        color: transparent !important;
                        // pointer-events: none;

                        &::after {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }


    @media (max-width: 767px) {
        margin: 0 0 60px;

        .centeral-content {
            padding: 0 15px;

            .promo-banner {
                padding: 0 4vw 0 0;

                .u36DemiBold_v2 {
                    font-size: 20px;
                    border-top-left-radius: 0;
                    border-bottom-right-radius: 100px;
                    text-align: left;
                    padding: 24px 15px;
                }
            }

            .two {
                grid-template-columns: 1fr;
                padding: 15px;

                &>div:not(.total):not(.plus) {
                    padding: 0;


                    .selectttttttt {
                        font-size: 14px;

                        select {
                            padding: 6px 30px 6px 20px;
                        }
                    }


                    .card {
                        margin-top: 12px;
                        padding-bottom: 20px;

                        &>div {
                            padding: 12px 24px 0;

                            .u17Medium_v2,
                            .u17Light_v2 {
                                font-size: 14px;
                            }


                            .u24DemiBold_v2 {
                                font-size: 20px;
                            }

                            .u20Light_v2 {
                                font-size: 16px;
                                margin-left: 5px;
                            }

                            // div+div {
                            //     margin-top: 16px;
                            // }
                        }
                    }
                }

                .plus {
                    align-items: center;
                    transform: none;
                    line-height: 1.1em;
                }


                .total {
                    background-color: transparent;


                    &>div {
                        padding: 20px 0;

                        .u24DemiBold_v2 {
                            font-size: 15px;
                        }

                        .u48DemiBold_v2 {
                            font-size: 36px;
                        }

                        .u17Light_v2 {
                            font-size: 15px;
                            margin-bottom: 20px;
                        }

                        .yellow {
                            font-size: 18px;
                            margin: 16px 0 8px;
                        }
                    }
                }
            }
        }
    }
}



.timeeeeeeeeeee {
    margin-top: 100px;

    &>div {
        background: #F4F5F7 url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19696_2x_e2ff1848-8101-4013-886f-c1228dabb369.jpg?v=1736234167') center center/cover no-repeat;
        padding: 50px 0 50px 70px;
        color: #fff;
        border-radius: 10px;
        overflow: hidden;

        .u30DemiBold_v2 {
            color: #fff;
        }

        .u17Light_v2 {
            max-width: 450px;
            margin: 24PX 0 60px;
        }
    }


    @media (max-width: 767px) {
        padding: 0 15px;
        margin: 60px auto;

        &>div {
            background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25268_2x_137f9b77-fe05-43f6-a2e1-4dedeb12e857.jpg?v=1736234304');
            padding: 32px 16px;
            height: 142vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .u30DemiBold_v2 {
                font-size: 20px;
            }

            .u17Light_v2 {
                margin: 12px 0 30px;
                font-size: 14px;
            }
        }
    }
}




.professional {
    background-color: $backround-color;
    // padding: 10vh 0 2vh;

    .centeral-content {
        overflow: hidden;

        .u36Medium_v2 {
            margin-bottom: 5.5vh;
            text-align: center;
        }

        .videos {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // grid-column-gap: 30px;

            &>div {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                height: auto;

                img {
                    cursor: pointer;
                }


                .u17Light_v2 {
                    margin: 12px 0 30px;
                }

                .u17Medium_v2 {
                    display: flex;
                    align-items: center;

                    img {
                        max-width: 28px;
                        width: 28px;
                        margin-right: 10px;
                    }
                }
            }


        }


        .swiper-scrollbar {
            position: static;
            margin-top: 5vh;
            width: 100%;
            background-color: #DEDEDE;
            z-index: unset;

            .swiper-scrollbar-drag {
                background-color: $color;
            }
        }



        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 5vh;

            .swiper-button-prev,
            .swiper-button-next {
                position: static;
                color: #fff;
                background-color: #000;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                margin-left: 15px;
                z-index: unset;


                &::after {
                    font-size: 18px;
                }
            }
        }
    }


    @media (max-width: 767px) {
        padding: 0;

        .centeral-content {
            padding: 0 15px;

            .u36Medium_v2 {
                font-size: 24px;
                text-align: left;
                margin-bottom: 30px;
            }

            .videos {
                display: flex;
                grid-column-gap: 0;

                &>div {

                    .u17Light_v2 {
                        font-size: 14px;
                        margin-bottom: 4vw;
                    }
                }
            }

            .swiper-scrollbar {
                margin-top: 24px;
            }
        }
    }
}


.findbikeshop {
    margin: 15vh auto 6vh;

    &>div {
        background: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25017_2x_fe3a5b63-aa22-4093-9e56-9f3120d86873.jpg?v=1731479648&width=1280') center center/cover no-repeat;
        color: #fff;
        padding: 100px 0 100px calc(50% + 70px);
        border-radius: 10px;
        overflow: hidden;

        .u17Light_v2 {
            max-width: 450px;
            margin: 24PX 0 60px;
        }
    }


    @media (max-width: 767px) {
        margin: 60px auto 40px;
        padding: 0 15px;

        &>div {
            background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25013_2x_d61ce1ec-b2d5-4eb9-ab13-beab0401abad.jpg?v=1731494043');
            padding: 0 15px 40px;
            height: 166vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            text-align: left;

            .u30DemiBold_v2 {
                font-size: 20px;
            }


            .u17Light_v2 {
                font-size: 14px;
                margin: 20px 0 40px;
            }
        }
    }
}


.test-ride {
    margin-bottom: 15vh;

    .centeral-content {
        padding: 0;

        .u20DemiBold_v2 {
            margin: 20px 0 12px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 20vw;
        padding: 0 15px 0;

        .centeral-content {
            .u20DemiBold_v2 {
                font-size: 17px;
            }
        }
    }
}


.ebike-products {
    margin-bottom: 0;

    & > .u17Light_v2 {
        margin: 10px 0 50px;
    }

}


.klarna {
    margin-bottom: 13vh;
    .centeral-content {
        &>div {
            background: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25129_2x_a52fd38b-1bbe-4cd8-931c-faf6dbb27460.jpg?v=1736235124') center left/cover no-repeat;
            color: #fff;
            padding: 40px 0 30px 21%;
            border-radius: 15px;
            overflow: hidden;
            

            .u36DemiBold_v2 {
                margin: 10px 0;
            }
        }
    }


    @media (max-width: 767px) {
        margin-bottom: 60px;

        .centeral-content {
            padding: 0 15px;

            & > div {
                background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25135_2x_5b8adf88-f160-4c8d-ab39-4a698d34ed20.jpg?v=1736235325');
                padding: 0 15px 10vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                height: 75vw;

                .u24Medium_v2 {
                    font-size: 18px;
                }

                .u36DemiBold_v2 {
                    font-size: 20px;
                    margin: 10px 0 20px;
                }

                .u20Light_v2 {
                    font-size: 15px;
                }
            }
        }
    }
}

.win {
    margin: 12.5vh auto;

    & > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #F7F8FA;
        border-radius: 15px;
        overflow: hidden;
        padding: 5%;
        grid-column-gap: 15%;
        align-items: center;

        & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .u17Light_v2 {
                margin: 30px 0 50px;
            }
        }
    }

    @media (max-width: 767px) {
        margin: 50px auto;
        padding: 0 15px;

        & > div {
            grid-template-columns: 1fr;
            padding: 8vw 4vw;
            grid-row-gap: 8vw;

            & > div {
                order: 1;

                .u30DemiBold_v2 {
                    font-size: 20px;
                }


                .u17Light_v2 {
                    font-size: 15px;
                    margin: 20px 0 40px;
                }
            }
        }

    }
}