$color: #ffdf48;
$backround-color: #fff;

h1,
h2,
h3,
h4 {
    color: inherit;
    margin: 0;
}

/* 旋转动画 */
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.bannerrrrrr {
    .centeral-content {
        height: 750px;
        display: grid;
        grid-template-columns: minmax(640px, 1fr) 1fr;
        grid-column-gap: 10%;
        color: #fff;
        align-items: center;

        .swiperrrr {
            max-width: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;


            .top {
                .swiper-slide {
                    aspect-ratio: 16 / 9;
                    border-radius: 8px;
                    overflow: hidden;
                }
            }

            .bottom {
                position: relative;
                overflow: hidden;
                margin: auto;
                margin-top: 4vh;

                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    display: flex;
                    opacity: 0.5;
                    height: 60px;
                    cursor: pointer;
                    border-radius: 6px;
                    overflow: hidden;
                    transition: opacity 0.3s;
                    box-sizing: border-box;

                    img {
                        user-select: none;
                        object-fit: cover;
                        overflow: hidden;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }

                .swiper-slide-thumb-active {
                    border: 2px solid #fff;
                    opacity: 1;
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                height: auto;
                width: auto;
                color: #ddd;
                margin: 0;
                transform: translateY(-50%);

                &::after {
                    font-size: 24px;
                }
            }

            .swiper-button-next {
                right: 0;
            }

            .swiper-button-prev {
                left: 0;
            }
        }

        &>div:not(.swiperrrr) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &>div {
                ul {
                    padding-left: 20px;
                    text-align: left;

                    li+li {
                        margin-top: 1.5vh;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .centeral-content {
            grid-template-columns: 1fr;
            height: auto;
            padding: 0;

            &>div:not(.swiperrrr) {
                padding: 8vw 0 0;
                transform: unset;
                align-items: flex-start;

                img {
                  align-self: center;
                }

                &>div {
                    padding: 0 8vw;
                    text-align: left;
                    width: 100%;
                    padding-bottom: 60px;
                    text-align: center;

                    .u48DemiBold_v2 {
                        font-size: 24px;
                        text-align: center;
                    }

                    .u24DemiBold_v2 {
                        font-size: 18px;
                    }

                    .u17Light_v2 {
                        font-size: 14px;
                        text-align: center;
                        list-style: none;
                        padding: 0;


                        &::marker {
                           
                        }
                    }
                }
            }


            .swiperrrr {
                .top {
                    .swiper-slide {
                        border-radius: 0;
                    }
                }

                iframe {
                    // pointer-events: none;
                }
            }
        }
    }
}



.timeeeeeeeeeee {
    margin-top: 100px;

    &>div {
        padding: 50px 0 50px 70px;
        border-radius: 10px;
        overflow: hidden;
    }


    @media (max-width: 767px) {
        padding: 0 15px;
        margin: 60px auto;

        &>div {
            padding: 32px 16px;
            height: 142vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
}




.professional {
    // background-color: $backround-color;
    // padding: 10vh 0 2vh;

    .centeral-content {
        overflow: hidden;

        .u36Medium_v2 {
            margin-bottom: 5.5vh;
            text-align: center;
        }

        .videos {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // grid-column-gap: 30px;

            &>div {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                height: auto;

                & > img {
                    cursor: pointer;
                    border-radius: 15px;
                    aspect-ratio: 80 / 43;
                }


                .u17Light_v2 {
                    margin: 12px 0 30px;
                }

                .u17Medium_v2 {
                    display: flex;
                    align-items: center;

                    img {
                        max-width: 28px;
                        width: 28px;
                        margin-right: 10px;
                    }
                }
            }


        }


        .swiper-scrollbar {
            position: static;
            margin-top: 5vh;
            width: 100%;
            background-color: #DEDEDE;
            z-index: unset;

            .swiper-scrollbar-drag {
                background-color: $color;
            }
        }



        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 5vh;

            .swiper-button-prev,
            .swiper-button-next {
                position: static;
                color: #fff;
                background-color: #000;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                margin-left: 15px;
                z-index: unset;


                &::after {
                    font-size: 18px;
                }
            }
        }
    }


    @media (max-width: 767px) {
        padding: 0;

        .centeral-content {
            padding: 0 15px;

            .u36Medium_v2 {
                font-size: 24px;
                text-align: left;
                margin-bottom: 30px;
            }

            .videos {
                display: flex;
                grid-column-gap: 0;

                &>div {

                    .u17Light_v2 {
                        font-size: 14px;
                        margin-bottom: 4vw;
                    }
                }
            }

            .swiper-scrollbar {
                margin-top: 24px;
            }
        }
    }
}


.findbikeshop {
    margin: 15vh auto 6vh;

    &>div {
        color: #fff;
        padding: 100px 0 100px calc(50% + 70px);
        border-radius: 10px;
        overflow: hidden;

        .u17Light_v2 {
            max-width: 450px;
            margin: 24PX 0 60px;
        }
    }


    @media (max-width: 767px) {
        margin: 60px auto 40px;
        padding: 0 15px;

        &>div {
            padding: 0 15px 40px;
            height: 166vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            text-align: left;

            .u30DemiBold_v2 {
                font-size: 20px;
            }


            .u17Light_v2 {
                font-size: 14px;
                margin: 20px 0 40px;
            }
        }
    }
}


.test-ride {
    margin-bottom: 15vh;

    .centeral-content {
        padding: 0;

        .u20DemiBold_v2 {
            margin: 20px 0 12px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 20vw;
        padding: 0 15px 0;

        .centeral-content {
            .u20DemiBold_v2 {
                font-size: 17px;
            }
        }
    }
}


.ebike-products {
    margin-bottom: 0;

    & > .u17Light_v2 {
        margin: 10px 0 50px;
    }

}


.klarna {
    margin-bottom: 13vh;
    .centeral-content {
        &>div {
            color: #fff;
            padding: 40px 0 40px 21%;
            border-radius: 15px;
            overflow: hidden;

          img {
            object-fit: contain;
          }
            

            .u36DemiBold_v2 {
                margin: 10px 0;
            }
        }
    }


    @media (max-width: 767px) {
        margin-bottom: 60px;

        .centeral-content {
            padding: 0 15px;

            & > div {
                padding: 0 15px 10vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                height: 75vw;

              img {
              object-fit: cover;
            }

                .u24Medium_v2 {
                    font-size: 18px;
                }

                .u36DemiBold_v2 {
                    font-size: 20px;
                    margin: 10px 0 20px;
                }

                .u20Light_v2 {
                    font-size: 15px;
                }
            }
        }
    }
}

.win {
    margin: 12.5vh auto;

    & > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #F7F8FA;
        border-radius: 15px;
        overflow: hidden;
        padding: 5%;
        grid-column-gap: 15%;
        align-items: center;

        & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .u17Light_v2 {
                margin: 30px 0 50px;
            }
        }
    }

    @media (max-width: 767px) {
        margin: 50px auto;
        padding: 0 15px;

        & > div {
            grid-template-columns: 1fr;
            padding: 8vw 4vw;
            grid-row-gap: 8vw;

            & > div {
                order: 1;

                .u30DemiBold_v2 {
                    font-size: 20px;
                }


                .u17Light_v2 {
                    font-size: 15px;
                    margin: 20px 0 40px;
                }
            }
        }

    }
}