/* 导航条样式（pc） */
.shopify-section-header-sticky {
    position: static;
}

#shopify-section-announcement-bar>div>a>p>span {}

.stickyNavigation {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba(29, 29, 31, 0.72);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0px 3px 6px #00000014;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.stickyNavigation .smenu-container .row {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-title {
    font: normal normal 600 18px/50px urbane;
    letter-spacing: 0px;
    color: #dedede;
}

.column {
    margin: 0;
    margin-left: 15px;
}

.column:first-child {
    margin: 0;
}

.column a {
    color: #fff;
    opacity: 0.9;
    font: normal normal 500 12px/22px urbane;
}

.column a:hover {
    color: #fff;
    opacity: 1;
}

#overview {
    color: #fd4b17;
}

#ordernowBtn:hover {
    background: #fd4b17;
}

.smenu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#ordernowBtn {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    width: 120px;
    text-align: center;
    background: #fd4b17cc;
    border-radius: 15px;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .column a {
        font-size: 14px;
    }

    .menu-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    .menu-title {
        margin-left: 0px;
    }
}

/* 修改ebike导航条样式 */
.header__active-menu-item {
    color: #dedede;
}

.announcement-bar.gradient {
    background: #fd4b17;
}

.gradient {
    background: #000;
}

.header__menu-item,
.header svg {
    color: #f5f5f7;
}

.header__menu-item {
    opacity: 0.8;
}

.header__menu-item:hover {
    color: #fff;
    opacity: 1;
}

.header__heading-link {
    padding: 0;
}

#ordernowBtn,
.list-menu__item {
    color: #fff;
}

.swiper-container .swiper-wrapper {
    -webkit-transition-timing-function: linear;
    /*之前是ease-out*/
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}

/* 页面样式开始 */
:root {
    --myHeight: calc(100vh - 60px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000 !important;
}

section {
    position: relative;
    width: 100% !important;
    min-width: 1248px;
    min-height: 612px;
    height: var(--myHeight);
    overflow: hidden;
    background-color: black;
}

@media screen and (max-width: 1024px) {
    section {
        min-width: unset;
        min-height: unset;
    }
}

section.mobile-sporty,
section.sporty,
section.limitation,
section.record,
section.power,
section.mobile-ebike-content,
section.mobile-record {
    transform: translateY(60px);
}

section.mobile-more {
    padding: 80px 0px;
    height: auto;
}

section.mobile-power {
    height: 300px;
    margin-top: 250px;
    overflow: visible;
}

.pc-maxW {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.mobile-wrap {
    width: 100%;
    height: 100%;
    padding: 0 8%;
    margin: 0 auto;
    position: relative;
}

img {
    width: 100%;
}

.splitBar {
    height: 83px;
}

.detailsModal,
.movieModal {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background: #000;
    z-index: 999;
    overflow-y: auto;
    display: none;
}

.movieModal {
    background: #0b0b0bb0;
    z-index: 2999;
}

.movieModal .movieBox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieModal .movieBox .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    width: 30px;
    height: 30px;
    background: #0c0c0ccc;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

.detailsModal .closebox {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 9;
    padding: 24px 8%;
    text-align: right;
}

.detailsModal .closeModalBtn {
    padding: 2px 50px;
    background-color: #707070;
    font: normal normal 600 17px/28px urbane;
    color: #cbcbcb;
    border-radius: 20px;
    cursor: pointer;
}

.detailsModal .detailsModalBanner .detailsModalBox {
    height: 510px;
    position: relative;
    justify-content: flex-end;
}

.detailsModal .detailsModalBanner .details-text-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(270deg, #000000 0%, #000000cb 40%, #00000000 75%, #000000 100%);
}

.detailsModal#mobile-anti-modal .detailsModalBanner .detailsModalBox,
.detailsModal#mobile-ride-modal .detailsModalBanner .detailsModalBox {
    height: auto;
}

.detailsModal#mobile-anti-modal .closeModalBtn,
.detailsModal#mobile-ride-modal .closeModalBtn {
    padding: 0;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
}

.detailsModal#mobile-anti-modal .detailsModalBanner .details-text-layer,
.detailsModal#mobile-ride-modal .detailsModalBanner .details-text-layer {
    position: static;
    display: block;
    height: auto;
}

.detailsModal#mobile-anti-modal .detailsModalBanner .details-text-box,
.detailsModal#mobile-ride-modal .detailsModalBanner .details-text-box {
    padding-right: 0;
    margin-bottom: 80px;
    width: 100%;
}

.detailsModal#mobile-anti-modal .detailsModalBanner .details-text-box h2,
.detailsModal#mobile-ride-modal .detailsModalBanner .details-text-box h2 {
    margin: 15px 0px;
    font: 600 24px/30px urbane;
}

.detailsModal#mobile-anti-modal .detailsModalBanner .details-text-box p,
.detailsModal#mobile-ride-modal .detailsModalBanner .details-text-box p {
    margin-top: 0px;
    font-size: 16px;
    line-height: 24px;
}

.detailsModal .detailsModalBanner .details-text-layer.details-text-layer-left {
    justify-content: flex-start;
    background-image: linear-gradient(90deg, #000000 0%, #000000cb 40%, #00000000 75%, #000000 100%);
}

.detailsModal .detailsModalBanner .details-text-box {
    width: 50%;
    height: 100%;
    padding-right: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailsModal .detailsModalBanner .details-text-box h2 {
    font: 600 36px/45px urbane;
    color: #fff;
}

.detailsModal .detailsModalBanner .details-text-box p {
    margin-top: 40px;
    color: #cbcbcb;
    font-size: 24px;
    line-height: 33.6px;
}

.mobile-humen .mobile-humen-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-humen .human-layer {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #000000, #000000, #00000000, #00000000, #000000cb);
}

.mobile-humen .human-img-layer {
    margin-top: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mobile-humen .human-img-layer>.human-img-top {
    margin-bottom: 15px;
}

.mobile-humen .human-layer .human-container img {
    width: 320px;
}

.mobile-humen .human-layer .human-container .human-box {
    position: relative;
}

.mobile-humen .human-layer .human-container .human-text {
    width: 320px;
    position: absolute;
    bottom: 0px;
}

.mobile-humen .human-layer .human-container .human-text-des p {
    margin-top: 18px;
    width: 320px;
}

.mobile-humen .human-layer .human-container h2 {
    font: 600 30px/42px urbane;
    color: #fff;
}

.mobile-humen .human-layer .human-container p {
    font-size: 15px;
    line-height: 21px;
    color: #dedede;
}

.ebike-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 4% 0;
}

.ebike-content .ebike-content-container {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.ebike-content-container .ebike-videobox {
    width: 100%;
    height: 100%;
}

.ebike-content-container img,
.ebike-content-container .ebike-videobox video {
    height: 702px;
    width: 1248px;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.ebike-content-layer h2 {
    color: #fff;
    font: 600 48px/60px urbane;
}

.ebike-content-layer p {
    color: #cbcbcb;
    font: 500 24px/28px urbane;
}

.ebike-content-layer {
    position: relative;
    margin-top: 40px;
    z-index: 2;
}

.ebike-content-layer .ebike-layer-box:nth-child(1) {
    opacity: 0;
    transform: translateY(100px);
}

.ebike-content-layer .ebike-layer-box:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100px);
    opacity: 0;
}

.ebike-content-layer {
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    min-height: unset;
}

.ebike-layer-box>p {
    color: #cbcbcb;
    font-size: 20px;
    line-height: 28px;
}

.ebike-layer-box>h1 {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
}

.limitation {
    margin: 50px 0px;
    position: relative;
    width: 100vw;
    height: var(--myHeight);
    overflow: hidden;
}

.limitation .big-text-shadow {
    margin-top: 20px;
    font: 600 90px/60px urbane;
    text-shadow: 3px 3px 10px #3385d7;
}

.limitation-content {
    height: 100%;
}

.limitation-img-float {
    width: 120%;
    height: 100%;
    display: flex;
    transform: translateX(-10%);
    background-color: #000;
}

.limitation-img-float .limitation-img-left,
.limitation-img-float .limitation-img-right {
    display: flex;
    align-items: center;
}

.limitation-img-float .limitation-img-left {
    flex: 0 0 60%;
}

.limitation-img-float .limitation-img-right {
    flex: 0 0 40%;
}

.limitation-img-float .img-float-box {
    padding: 0 20px;
    transform: translateY(50%);
}

.limitation-img-float .limitation-img-left .img-float-box {
    flex: 0 0 33.33%;
}

.limitation-img-float .limitation-img-right .img-float-box {
    flex: 0 0 50%;
}

.limitation-img-float .limitation-img-left>.img-float-box:nth-child(1) {
    transform: translateY(235%);
}

.limitation-img-float .limitation-img-left>.img-float-box:nth-child(2) {
    transform: translateY(115%);
}

.limitation-img-float .limitation-img-left>.img-float-box:nth-child(3) {
    transform: translateY(225%);
}

.limitation-img-float .limitation-img-right>.img-float-box:nth-child(1) {
    transform: translateY(100%);
}

.limitation-img-float .limitation-img-right>.img-float-box:nth-child(2) {
    transform: translateY(125%);
}

.limitation-img-float .img-float-box img {
    width: 100%;
    margin-top: 20px;
}

.limitation .limitation-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.limitation .limitation-layer::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(180deg, #000000, #00000076, #0000007e, #000);
    z-index: -1;
}

.limitation-text {
    color: white;
    transform: translateY(200px);
}

.limitation-text h2 {
    margin: 0;
    color: #cbcbcb;
    font: normal normal 500 30px/28px urbane;
}

.limitation-text p {
    width: 100%;
    color: #fff;
    font: normal normal 600 60px/72px urbane;
}

section.more {
    height: auto;
    padding: 80px 0px;
    padding-top: 0;
}

.more .more-container>h2 {
    margin: 40px 0px;
    width: 100%;
    padding: 0 8%;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    font: normal normal 600 60px/84px urbane;
}

.more .more-container {
    position: relative;
}

.more .more-container .myswiper-btn {
    position: absolute;
    top: 50%;
    color: #fff;
    display: flex;
    transform: translateY(-50%);
    justify-content: space-between;
    width: 100%;
    padding: 0 1%;
    z-index: 2;
    font-size: 30px;
    cursor: pointer;
}

.more .more-container .myswiper-btn>div {
    width: 50px;
    height: 50px;
    background: #000000bf;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

.more .more-container .swiper-slide {
    height: 495px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 28px 24px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    border-radius: 16px;
}

.more .more-container .omni-container {
    display: flex;
    justify-content: space-between;
}

.more .more-container .omni_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 0 0 calc(50% - 25px);
    overflow: hidden;
    height: 520px;
    padding: 28px 24px;
    background-color: #1f1f1f;
    border-radius: 16px;
}

.more .more-container .omni_item h2 {
    color: #fff;
    font: normal normal 600 36px/50.4px urbane;
}

.more .more-container .omni_item p {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 33.6px;
    color: #cbcbcb;
}

.more .more-container .omni_item img {
    width: auto;
    height: 200px;
    margin: 24px 0px;
}

.more .more-container .omni_item .omni-btn,
.mobile-more .omni-btn {
    width: 200px;
    display: inline-block;
    height: 43px;
    text-align: center;
    font: normal normal 500 16px/3px urbane;
    line-height: 43px;
    background-color: #fff;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
}

.omni-btn:hover {
    color: #fff !important;
    background: #fd4b17 !important;
}

.navigation {
    position: relative;
    width: 100vw;
    height: var(--myHeight);
    overflow: hidden;
}

.navigation-videobox {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.navigation video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navigation .navigation-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.navigation-text {
    position: absolute;
    left: 0%;
    top: 8%;
    color: white;
    transform: translateY(100px);
    opacity: 0;
}

.navigation-text h2 {
    margin: 0;
    color: #fff;
    font: normal normal 600 48px/67.2px urbane;
}

.navigation-text p {
    display: inline-block;
    /* background-image: linear-gradient(90deg, #fd4b17 0%, #ffb11f 100%); 	-webkit-background-clip: text; 	*/
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    color: #cbcbcb;
}

.humen .human-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-image: linear-gradient(90deg, #000000, #000000, #00000000, #00000069, #000000cb);
}

.humen .human-img-layer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.humen .human-img-layer>.human-img-top {
    margin-bottom: 15px;
}

.humen .human-layer .human-container img {
    width: 320px;
}

.humen .human-layer .human-container .human-box {
    position: relative;
}

.humen .human-layer .human-container .human-text {
    width: 320px;
    position: absolute;
    bottom: 0px;
}

.humen .human-layer .human-container .human-text-des p {
    margin: 0 auto;
    margin-top: 18px;
    width: 320px;
}

.humen .human-layer .human-container h2 {
    color: #fff;
    font: 600 30px/42px urbane;
}

.humen .human-layer .human-container p {
    font: 17px/23.8px;
    color: #dedede;
}

.mobile-record-container {
    width: 100%;
    height: 100%;
    padding: 20px 8% 0 8%;
    box-sizing: border-box;
}

.mobile-record-container .mobile-record-top-text:nth-child(1) {
    position: relative;
    z-index: 999;
    transform: translateY(100px);
    opacity: 0;
}

.mobile-record-container .mobile-record-top-text:nth-child(2) {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translateY(100px);
    z-index: 9;
}

.mobile-record-container .mobile-record-top-text h2 {
    color: #cbcbcb;
    font: normal normal 500 24px/28px urbane;
}

.mobile-record-container .mobile-record-top-text p {
    color: #fff;
    font: normal normal 600 36px/40px urbane;
}

.mobile-record-container .mobile-record-bottom-img img {
    width: 180px;
    position: relative;
    z-index: 1;
    object-fit: contain;
}

.mobile-record-container .mobile-record-bottom-img img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
}

.mobile-record-container .mobile-record-bottom-img .mobile-record-img-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
}

.mobile-record-container .mobile-record-bottom-img .mobile-record-img-layer img {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    left: 50%;
    opacity: 0;
}

.mobile-record-container .mobile-record-bottom-img .mobile-record-img-layer img:nth-child(1) {
    width: 122px;
}

.mobile-record-container .mobile-record-bottom-img .mobile-record-img-layer img:nth-child(2) {
    width: 200px;
}

.mobile-record-container .mobile-record-bottom-img .mobile-record-img-layer img:nth-child(3) {
    width: 280px;
}

.mobile-record-container .mobile-record-bottom-img .mobile-record-img-layer img:nth-child(4) {
    width: 135px;
}

.mobile-record-container .community-bottom-img,
.mobile-record-container .mobile-record-bottom-img {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mobile-record-container .community-bottom-img img {
    width: 250px;
    position: relative;
    z-index: 1;
    object-fit: contain;
    transform: translateY(100px);
    opacity: 0;
}

.mobile-record-container .community-bottom-img .community-img-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

.mobile-record-container .community-bottom-img .community-img-layer img {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.agility {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
}

.agility-container {
    width: 100%;
    height: 100%;
    padding: 0 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agility-container>h2,
.agility-container>p,
.agility-container>.agility-videobox {
    position: relative;
    overflow: hidden;
    z-index: 999;
}

.agility-container>.agility-videobox {
    position: static;
    z-index: 0;
    flex: 0 0 55%;
}

.agility-container>.agility-videobox video {
    position: absolute;
    width: 84%;
    height: 100%;
    top: 0%;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%) scale(0.8);
}

.agility-container h2,
.agility-container p:nth-child(2) {
    transform: translateY(200%);
    opacity: 0;
}

.agility-container>.agility-videobox {
    opacity: 0;
}

.agility-container p:nth-child(4) {
    transform: translateY(-200%);
    opacity: 0;
}

.agility-container h2 {
    color: #fff;
    font: normal normal 600 30px/42px urbane;
}

.agility-container p:nth-child(2) {
    margin-bottom: 40px;
    display: inline-block;
    background-image: linear-gradient(90deg, #178afd 0%, #1ffff6 100%);
    -webkit-background-clip: text;
    color: transparent;
    font: normal normal 600 36px/45px urbane;
}

.agility-container>p:nth-child(4) {
    margin-top: 20px;
    width: 550px;
    color: #CBCBCB;
    font: normal normal 300 20px/28px urbane;
    text-align: center;
}

.agility-container p>span {
    font-size: 50px;
}

.wbike-top {
    position: relative;
    width: 100vw;
    height: calc(100vh - 154px);
    overflow: hidden;
}

.wbike-top-videobox {
    width: 100%;
    height: 100%;
    position: relative;
}

.wbike-top video,
.wbike-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wbike-top img#endPoster {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.wbike-top .wbike-top-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #00000080, transparent);
}

.wbike-top .wbike-top-text .wike-logo {
    height: 58px;
    width: auto;
    margin-top: 60px;
}

.wbike-top .wbike-top-text .wbike-txt h3 {
    color: #fff;
    font: 700 60px/72px urbane;
}

.wbike-top .wbike-top-text .wbike-txt h2 {
    margin: 20px 25px 50px 0px;
    color: #cbcbcb;
    font: 200 36px/20px urbane;
}

.wbike-top .wbike-top-text .wbike-txt h2::after {
    display: inline-block;
    content: "";
    background: linear-gradient(45deg, #1362e0, transparent);
    height: 2px;
    width: 100%;
}

.wbike-top .wbike-top-text .details-full-btn {
    width: 240px;
    height: 48px;
    font-size: 20px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}

.wbike-top .wbike-top-text #wbike-volume {
    position: absolute;
    bottom: 100px;
    right: 0;
    cursor: pointer;
    opacity: 0;
}

.wbike-top svg {
    width: 32px;
    height: 32px;
}

.wbike-top .bike-light-box {
    display: flex;
}

.wbike-top .wbike-top-text .wbike-txt h2::after {
    display: inline-block;
    content: "";
    background: linear-gradient(45deg, #1362e0, transparent);
    height: 2px;
    width: 100%;
}

.wbike-top .wbike-top-text .wbike-txt h2:nth-child(2)::after {
    background: linear-gradient(45deg, #13d0e0, transparent);
}

.wbike-top .wbike-top-text .wbike-txt h2:nth-child(3)::after {
    background: linear-gradient(45deg, #13e01b, transparent);
}

.power-container,
.mobile-power-container {
    height: 100%;
    box-sizing: border-box;
    transform-origin: center;
    transform: scale(0.8);
    opacity: 0.5;
}

.power-container .power-videobox {
    width: 100%;
    height: 100%;
}

.power-container .power-videobox video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.power-text-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.power-text-layer p {
    color: #cbcbcb;
    font: normal normal 500 30px/28px urbane;
}

.power-text-layer h1 {
    color: #fff;
    font: normal normal 600 60px/72px urbane;
}

.gate .gate-text-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.gate .gate-text-layer h1 {
    color: #fff;
    font: normal normal 600 36px/45px urbane;
}

.gate .gate-text-layer p {
    margin-top: 48px;
    width: 40%;
    color: #cbcbcb;
    font-size: 24px;
    line-height: 33.6px;
}

.gate-container {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.gate-container img {
    height: 80%;
    object-fit: contain;
}

.torque .torque-text-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

.torque .torque-text-layer .torque-text-container {
    width: 40%;
}

.torque .torque-text-layer h1 {
    color: #fff;
    font: normal normal 600 36px/45px urbane;
}

.torque .torque-text-layer p {
    margin-top: 24px;
    color: #cbcbcb;
    font-size: 24px;
    line-height: 33.6px;
}

.torque-container {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.torque-container img {
    height: 80%;
    object-fit: contain;
}

.range-container {
    display: flex;
}

.range-container .range-left-box,
.range-container .range-right-box {
    flex: 0 0 50%;
    /* border-top: 2px solid #555; 	border-bottom: 2px solid #555; 	*/
    box-sizing: border-box;
    overflow: hidden;
}

.range-container .range-left-box {
    padding: 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.range-container .range-left-box h2 {
    color: #fff;
    font-size: 36px;
    line-height: 42px;
    font: normal normal 600 36px/45px urbane;
}

.range-container .range-left-box p {
    margin-top: 40px;
    color: #cbcbcb;
    font-size: 24px;
    line-height: 33.6px;
}

.range-container .range-right-box {
    border-left: 2px solid #555;
}

.motor-container {
    display: flex;
}

.range {
    border-top: 2px solid #555;
}

.range,
.motor {
    border-bottom: 2px solid #555;
}

.motor-container .motor-left-box,
.motor-container .motor-right-box {
    flex: 0 0 50%;
    overflow: hidden;
}

.motor-container .motor-right-box {
    padding: 8%;
    box-sizing: border-box;
    border-left: 2px solid #555;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.motor-container .motor-right-box h2 {
    color: #fff;
    font: normal normal 600 36px/45px urbane;
}

.motor-container .motor-right-box h3 {
    margin-top: 12px;
    color: #dedede;
    font: normal normal 500 24px/30px urbane;
}

.motor-container .motor-right-box p {
    margin-top: 24px;
    color: #cbcbcb;
    font-size: 24px;
    line-height: 33.6px;
}

section.mobile-navigation,
section.range,
section.motor {
    height: auto;
    min-height: unset;
}

section.gate,
section.torque {
    height: auto;
    min-height: unset;
    padding: 240px 0px;
}

section.gate {
    padding-bottom: 120px;
}

.mobile-ebike-title {
    height: auto;
    padding: 0px 8% 50px 8%;
    box-sizing: border-box;
    min-height: unset;
    opacity: 0;
    transform: translateY(100px);
}

.mobile-ebike-title>p {
    color: #cbcbcb;
    font-size: 16px;
    line-height: 20px;
}

.mobile-ebike-title>h1 {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
}

.mobile-ebike-content .mobile-ebike-content-container {
    flex: 1;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: -1;
}

.mobile-ebike-content .mobile-ebike-content-container img,
.mobile-ebike-content .mobile-ebike-content-container video {
    width: 960px;
    height: 540px;
    max-width: none;
    object-fit: cover;
    transform: translateX(-10%);
}

.mobile-ebike-content .mobile-ebike-content-container .mobile-ebike-videobox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
}

.mobile-ebike-text-layer,
.ebike-text-layer {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 540px;
    max-width: 1248px;
    transform: translateX(-50%);
}

.ebike-text-layer {
    bottom: unset;
    top: 0;
    height: 702px;
}

.mobile-ebike-text-layer {
    bottom: unset;
    top: 0;
}

.mobile-ebike-text-layer>.mobile-ebike-layer1,
.mobile-ebike-text-layer>.mobile-ebike-layer2,
.mobile-ebike-text-layer>.mobile-ebike-layer3,
.ebike-text-layer>.ebike-layer1,
.ebike-text-layer>.ebike-layer2,
.ebike-text-layer>.ebike-layer3 {
    opacity: 0;
    transform: translateY(100px);
}

.mobile-ebike-text-layer>.mobile-ebike-layer1 {
    width: 70%;
    position: absolute;
    top: 5%;
    left: calc(50% - 96px);
}

.ebike-text-layer>.ebike-layer1 {
    width: 25%;
    position: absolute;
    top: 8%;
    left: 50%;
}

.mobile-ebike-text-layer>.mobile-ebike-layer2 {
    width: 70%;
    position: absolute;
    top: 5%;
    right: calc(50% + 118px);
    transform: translate(100%, 100px);
}

.mobile-ebike-text-layer>.mobile-ebike-layer3 {
    width: 70%;
    position: absolute;
    top: 5%;
    right: calc(50% - 96px);
    text-align: right;
}

.ebike-text-layer>.ebike-layer2 {
    width: 20%;
    bottom: 45%;
    right: 17%;
    position: absolute;
    transform: translateY(100%);
}

.ebike-text-layer>.ebike-layer3 {
    width: 20%;
    top: 0%;
    right: calc(50% - 288px);
    position: absolute;
    text-align: center;
    transform: translate(50%, 195px);
}

.ebike-text-layer>.ebike-layer3 p,
.ebike-text-layer>.ebike-layer3 h2 {
    text-align: left;
}

.ebike-text-layer>.ebike-layer3 p {
    width: 165%;
}

.ebike-text-layer>.ebike-layer3:nth-child(2) {
    right: unset;
    left: calc(50% - 288px);
    transform: translate(-50%, 195px);
}

.ebike-text-layer>.ebike-layer2 h2,
.ebike-text-layer>.ebike-layer3 h2 {
    white-space: nowrap;
}

.ebike-text-layer>.ebike-layer3:nth-child(3) p {
    width: 120%;
}

.mobile-ebike-text-layer>.mobile-ebike-layer1::after,
.mobile-ebike-text-layer>.mobile-ebike-layer3::after,
.ebike-text-layer>.ebike-layer1::after,
.ebike-text-layer>.ebike-layer2::after,
.ebike-text-layer>.ebike-layer3::after {
    content: "";
    display: inline-block;
    background-color: #eb5a2d;
    height: 88px;
    width: 1px;
}

.mobile-ebike-text-layer>.mobile-ebike-layer2::after {
    content: "";
    display: inline-block;
    background-color: #eb5a2d;
    height: 70px;
    width: 1px;
}

.mobile-ebike-text-layer h2 {
    color: #fff;
    font: normal normal 600 16px/20px Urbane;
}

.mobile-ebike-text-layer p {
    margin: 10px 0;
    color: #cbcbcb;
    font-size: 15px;
    line-height: 21px;
}

.ebike-text-layer h2 {
    color: #fff;
    font: normal normal 600 20px/28px Urbane;
}

.ebike-text-layer p {
    width: 120%;
    margin: 10px 0;
    color: #cbcbcb;
    font-size: 17px;
    line-height: 23.8px;
}

.mobile-ebike-content .mobile-ebike-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.mobile-ebike-content .mobile-ebike-content-layer {
    position: relative;
}

.mobile-ebike-content .mobile-ebike-content-layer .mobile-ebike-layer-box:nth-child(1) {
    opacity: 0;
    transform: translateY(100px);
}

.mobile-ebike-content .mobile-ebike-content-layer .mobile-ebike-layer-box:nth-child(1),
.mobile-ebike-content .mobile-ebike-content-layer .mobile-ebike-layer-box:nth-child(2) {
    padding: 8%;
}

.mobile-ebike-content .mobile-ebike-content-layer .mobile-ebike-layer-box:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: translateY(100px);
}

.mobile-ebike-content .mobile-ebike-content-layer h2 {
    color: #fff;
    font: normal normal 600 30px/48px Urbane;
}

.mobile-ebike-content .mobile-ebike-content-layer p {
    color: #cbcbcb;
    font: normal normal 500 16px/28px Urbane;
}

.mobile-limitation-img-float {
    width: 150%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(-15%);
    overflow: hidden;
}

.mobile-limitation-img-float .img-float-box {
    padding: 0 20px;
    flex: 0 0 33%;
}

.mobile-limitation-img-float .img-float-box:nth-child(1) {
    transform: translateY(50%);
}

.mobile-limitation-img-float .img-float-box:nth-child(2) {
    transform: translateY(30%);
}

.mobile-limitation-img-float .img-float-box:nth-child(3) {
    transform: translateY(40%);
}

.mobile-limitation-img-float .img-float-box img {
    width: 100%;
    object-fit: contain;
    margin-top: 10px;
}

.mobile-limitation .mobile-limitation-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.mobile-limitation .mobile-limitation-layer::after {
    content: "";
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(180deg, #000000, #00000076, #0000007e, #000);
    z-index: -1;
}

.mobile-limitation-text {
    color: white;
    padding: 0 8%;
    transform: translateY(100px);
    opacity: 0;
}

.mobile-limitation-text h2 {
    margin: 0;
    color: #cbcbcb;
    font: normal normal 500 24px/30px Urbane;
}

.mobile-limitation-text p {
    width: 100%;
    color: #fff;
    font: normal normal 600 48px/60px Urbane;
}

section.mobile {
    margin-top: 140px;
    height: auto;
    padding-bottom: 40px;
}

section.mobile-more {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobile-more .mobile-more-container>h2 {
    margin: 20px 0px;
    width: 100%;
    padding: 0 8%;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    font: normal normal 600 42px/45px urbane;
}

.mobile-more-swiperbox .swiper-container-horizontal>.swiper-pagination-progress {
    width: 84%;
    left: 8%;
}

.mobile-more .mobile-more-container .swiper-slide {
    height: 435px;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.mobile-more .swiper-container-horizontal>.swiper-pagination-progress {
    bottom: 0;
    top: unset;
    background: #909090;
}

.mobile-more .swiper-container-horizontal>.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #dedede;
}

.mobile-more .mobile-more-container .swiper-slide .swiper-slide-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 28px 24px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    border-radius: 16px;
}

.mobile-more .mobile-more-container .swiper-slide h2 {
    color: #fff;
    font: normal normal 600 24px/28px urbane;
}

.mobile-more .mobile-more-container .swiper-slide p {
    color: #cbcbcb;
    font: normal normal 500 15px/21px urbane;
}

.mobile-more .mobile-more-container .swiper-slide img {
    width: auto;
    height: 120px;
}

.mobile-more .mobile-more-container .swiper-slide .mobile-more-content {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
}

.mobile-navigation-videobox {
    height: 80vh;
    display: flex;
    align-items: flex-end;
}

.mobile-navigation video {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.mobile-navigation .mobile-navigation-layer {
    margin-top: 80px;
    width: 100%;
    padding: 0 8%;
    box-sizing: border-box;
}

.mobile-navigation-text {
    color: white;
    transform: translateY(140px);
    opacity: 0;
}

.mobile-navigation-text h2 {
    margin: 0;
    color: #fff;
    font: normal normal 600 30px/36px Urbane;
}

.mobile-navigation-text p {
    display: inline-block;
    color: #cbcbcb;
    font: normal normal 500 16px/28px Urbane;
}

.record-container {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
}

.record-container .record-top-text:nth-child(1) {
    position: relative;
    z-index: 999;
    transform: translateY(100px);
    opacity: 0;
}

.record-container .record-top-text:nth-child(2) {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translateY(100px);
}

.record-container .record-top-text h2 {
    color: #cbcbcb;
    font: normal normal 500 24px/28px urbane;
}

.record-container .record-top-text p {
    color: #fff;
    font: normal normal 600 36px/50.4px urbane;
}

.record-container .record-bottom-img img {
    width: 250px;
    position: relative;
    z-index: 1;
    object-fit: contain;
}

.record-container .record-bottom-img img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
}

.record-container .record-bottom-img .record-img-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
}

.record-container .record-bottom-img .record-img-layer img {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    left: 50%;
    opacity: 0;
}

.record-container .record-bottom-img .record-img-layer img:nth-child(1) {
    width: 292px;
}

.record-container .record-bottom-img .record-img-layer img:nth-child(2) {
    width: 380px;
}

.record-container .record-bottom-img .record-img-layer img:nth-child(3) {
    width: 520px;
}

.record-container .record-bottom-img .record-img-layer img:nth-child(4) {
    width: 218px;
}

.record-container .community-bottom-img,
.record-container .record-bottom-img {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.record-container .community-bottom-img img {
    width: 250px;
    position: relative;
    z-index: 1;
    object-fit: contain;
    transform: translateY(100px);
    opacity: 0;
}

.record-container .community-bottom-img .community-img-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

.record-container .community-bottom-img .community-img-layer img {
    position: absolute;
    width: 176px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.getDetails>div.pc-maxW>div {
    position: relative;
}

.getDetails>div.pc-maxW>div.anti-theft {
    margin-right: 15px;
}

.getDetails .text-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.getDetails .text-layer h2 {
    color: #cbcbcb;
    font: normal normal 500 24px/28px urbane;
}

.getDetails .text-layer h3 {
    color: #fff;
    font: normal normal 600 30px/37.5px urbane;
}

.getDetails .text-layer p {
    margin-top: 20px;
    width: 300px;
    color: #cbcbcb;
    font: normal normal 500 17px/23.8px;
}

.details-btn,
.details-full-btn {
    width: 200px;
    height: 36px;
    line-height: 34px;
    border: 2px solid #fd4b17;
    border-radius: 20px;
    color: #fd4b17;
    font: normal normal 500 17px/28px urbane;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.details-btn {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    font-size: 30px;
}

.details-full-btn {
    background-color: #fd4b17;
    color: #fff;
}

.details-btn:hover {
    color: #fff;
    background-color: #fd4b17;
}

.details-full-btn:hover {
    background-color: #fd4b17f2;
    border-color: #fd4b17f2;
}

section.mobile-community {
    margin: 40px 0px;
}

.mobile-community-container {
    width: 100%;
    height: 100%;
    padding: 0 8%;
    box-sizing: border-box;
}

.mobile-community-container .mobile-community-top-text {
    position: absolute;
    z-index: 999;
}

.mobile-community-container .mobile-community-top-text h2 {
    color: #cbcbcb;
    font: normal normal 500 16px/20px Urbane;
}

.mobile-community-container .mobile-community-top-text p {
    color: #fff;
    font: normal normal 600 30px/36px Urbane;
}

.mobile-community-container .mobile-community-bottom-img {
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
}

.mobile-community-container .mobile-community-bottom-img img {
    width: 250px;
    position: relative;
    z-index: 1;
    object-fit: contain;
}

.mobile-community-container .mobile-community-bottom-img .mobile-community-img-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
}

.mobile-community-container .mobile-community-bottom-img .mobile-community-img-layer img {
    position: absolute;
    width: 176px;
    top: 20%;
    right: 0;
}

.mobile-community-container .mobile-community-bottom-img .mobile-community-img-layer img:nth-child(1) {
    top: 20%;
    left: calc(50% - 528px);
}

.mobile-community-container .mobile-community-bottom-img .mobile-community-img-layer img:nth-child(2) {
    top: calc(20% + 281px);
    left: calc(50% - 454px);
}

.mobile-community-container .mobile-community-bottom-img .mobile-community-img-layer img:nth-child(3) {
    top: calc(20% - 20px);
    left: calc(50% - 322px);
}

.mobile-community-container .mobile-community-bottom-img .mobile-community-img-layer img:nth-child(4) {
    top: calc(20% + 261px);
    left: calc(50% - 253px);
}

.mobile-community-container .mobile-community-bottom-img .mobile-community-img-layer img:nth-child(5) {
    top: calc(20% - 10px);
    right: calc(50% - 263px);
}

.mobile-community-container .mobile-community-bottom-img .mobile-community-img-layer img:nth-child(6) {
    top: calc(20% + 261px);
    right: calc(50% - 313px);
}

.mobile-community-container .mobile-community-bottom-img .mobile-community-img-layer img:nth-child(7) {
    top: calc(20% - 60px);
    right: calc(50% - 483px);
}

.mobile-community-container .mobile-community-bottom-img .mobile-community-img-layer img:nth-child(8) {
    top: calc(20% + 241px);
    right: calc(50% - 533px);
}

.mobile-getDetails>.mobile-wrap>div {
    position: relative;
}

.mobile-getDetails .text-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.mobile-getDetails .text-layer h2 {
    color: #cbcbcb;
    font: normal normal 500 16px/20px urbane;
}

.mobile-getDetails .text-layer h3 {
    color: #fff;
    font: normal normal 600 30px/36px urbane;
}

.mobile-getDetails .text-layer p {
    margin-top: 20px;
    width: 300px;
    color: #cbcbcb;
    font-size: 15px;
    line-height: 21px;
}

.mobile-getDetails .details-btn {
    border: 2px solid #fd4b17;
    border-radius: 20px;
    color: #fd4b17;
    font: normal normal 500 17px/28px urbane;
    cursor: pointer;
}

.mobile-safe-container .left-content>img {
    margin-top: 14px;
    width: 50%;
    cursor: pointer;
}

.mobile-sporty-text,
.mobile-sporty-human {
    flex: 0 0 25%;
    overflow: hidden;
    position: relative;
    transform: translateY(100px);
    opacity: 0;
}

.mobile-sporty-text {
    display: flex;
    align-items: center;
}

.mobile-sporty-human img {
    width: 200px;
}

.mobile-sporty-text>p {
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #dedede;
}

.mobile-sporty video {
    max-width: unset;
}

.mobile-text-show-container h2 {
    color: #cbcbcb;
    font: normal normal 600 20px/28px Urbane;
}

.mobile-text-show-container h2:last-child {
    font-size: 20px;
    line-height: 28px;
    color: #fd4b17;
}

.mobile-sporty-layer2 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.mobile-agility-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mobile-agility-container .mobile-agility-top,
.mobile-agility-container .mobile-agility-bottom {
    padding: 0 8%;
    flex: 0 0 25%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-agility-container .mobile-agility-bottom {
    padding-bottom: 8%;
}

.mobile-agility-container .mobile-agility-videobox2 {
    flex: 0 0 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mobile-agility-videobox2 {
    opacity: 0;
}

.mobile-agility-videobox2 video {
    height: 120%;
}

.mobile-agility-container h2 {
    color: #fff;
    font: normal normal 600 42px/48px Urbane;
    white-space: nowrap;
}

.mobile-agility-container .mobile-agility-top {
    text-align: center;
    opacity: 0;
    transform: translateY(100px);
}

.mobile-agility-container .mobile-agility-top p:nth-child(2) {
    margin-top: 20px;
    display: inline-block;
    background-image: linear-gradient(90deg, #178afd 0%, #1ffff6 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 14px;
}

.mobile-agility-container .mobile-agility-bottom h2 {
    margin-bottom: 12px;
    color: #fff;
    text-align: center;
    font: normal normal 600 24px/30px Urbane;
}

.mobile-agility-container .mobile-agility-bottom {
    opacity: 0;
    transform: translateY(100px);
}

.mobile-agility-container .mobile-agility-bottom>p:nth-child(2) {
    color: #dedede;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}

.mobile-agility-container p>span {
    font: normal normal 500 24px/28px Urbane;
}

.mobile-wbike-top {
    position: relative;
    width: 100vw;
    height: var(--myHeight);
    overflow: hidden;
}

.mobile-wbike-top-videobox {
    width: 100%;
    height: 100%;
    position: relative;
}

.mobile-wbike-top video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-wbike-top img#mobileEndPoster {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.mobile-wbike-top .mobile-wbike-top-layer {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 30px 8%;
    z-index: 1;
    box-sizing: border-box;
    background: linear-gradient(180deg, #00000080, transparent);
}

.mobile-wbike-top-text {
    color: white;
}

.mobile-wbike-top-text h3 {
    margin: 0;
    color: #fff;
    font: normal normal 700 42px/52px Urbane;
}

.mobile-wbike-top-text span#mobile-wbike-volume {
    position: absolute;
    bottom: 60px;
    left: 8%;
    opacity: 0;
}

#mobile-wbike-volume svg {
    width: 25px;
    height: 25px;
}

.mobile-wbike-top-text .details-full-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    width: 84%;
    height: 37px;
}

.mobile-wbike-top-text .mobile-bike-light-box {
    display: inline-block;
}

.mobile-wbike-top-text .mobile-bike-light-box h2 {
    margin: 10px 10px 0px 0px;
    font: 200 24px/16px urbane;
    color: #cbcbcb;
}

.mobile-bike-light-box h2::after {
    display: inline-block;
    content: "";
    background: linear-gradient(45deg, #1362e0, transparent);
    height: 2px;
    width: 100%;
}

.mobile-bike-light-box h2:nth-child(2)::after {
    background: linear-gradient(45deg, #13d0e0, transparent);
}

.mobile-bike-light-box h2:nth-child(3)::after {
    background: linear-gradient(45deg, #13e01b, transparent);
}

.mobile-power-container {
    height: 100%;
    box-sizing: border-box;
}

.mobile-power-container .mobile-power-videobox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.mobile-power-container .mobile-power-videobox video {
    height: 100%;
    object-fit: cover;
}

.mobile-power-text-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
}

.mobile-power-text-layer p {
    color: #cbcbcb;
    transform: translateY(-125px);
    font: normal normal 500 16px/20px Urbane;
}

.mobile-power-text-layer h1 {
    transform: translateY(-125px);
    color: #fff;
    font: normal normal 600 42px/45px Urbane;
}

section.mobile-gate,
section.mobile-torque {
    height: auto;
    min-height: unset;
}

.mobile-gate .mobile-gate-text-layer {
    position: absolute;
    padding: 24px 8%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.mobile-gate .mobile-gate-text-layer h1 {
    color: #fff;
    font-size: 24px;
    line-height: 45px;
}

.mobile-gate .mobile-gate-text-layer p {
    margin-top: 12px;
    width: 80%;
    color: #cbcbcb;
    font-size: 16px;
    line-height: 24px;
}

.mobile-gate-container {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.mobile-gate-container img {
    height: 80%;
    object-fit: contain;
}

.mobile-torque .mobile-torque-text-layer {
    position: absolute;
    padding: 0px 8% 0 8%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.mobile-torque .mobile-torque-text-layer h1 {
    color: #fff;
    font-size: 24px;
    line-height: 45px;
    font: normal normal 600 30px/36px urbane;
}

.mobile-torque .mobile-torque-text-layer p {
    margin-top: 30px;
    color: #cbcbcb;
    font-size: 20px;
    line-height: 21px;
    font: normal normal 500 16px/20px;
}

.mobile-torque .mobile-torque-text-layer p .u17Light_v2 {
    margin-top: 10px !important;
    font-size: 16px;
    font-weight: 300;
}

.mobile-torque-container {
    display: flex;
    height: 100%;
    padding-top: 35%;
    align-items: flex-end;
}

.mobile-torque-container img {
    height: 80%;
    object-fit: contain;
}

.mobile-range-container .mobile-range-left-box {
    padding: 80px 8% 8% 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-range-container .mobile-range-left-box h2 {
    color: #fff;
    font: normal normal 600 30px/36px urbane;
}

.mobile-range-container .mobile-range-left-box p {
    margin-top: 12px;
    color: #cbcbcb;
    font-size: 15px;
    line-height: 21px;
}

.mobile-motor-container .mobile-motor-left-box,
.mobile-motor-container .mobile-motor-right-box {
    padding: 0 8%;
}

.mobile-motor-container .mobile-motor-left-box {
    padding: 80px 8% 8% 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-motor-container .mobile-motor-left-box h2 {
    color: #fff;
    font: normal normal 600 30px/36px urbane;
}

.mobile-motor-container .mobile-motor-left-box h3 {
    color: #cbcbcb;
    font: normal normal 600 24px/45px urbane;
}

.mobile-motor-container .mobile-motor-left-box p {
    margin-top: 16px;
    color: #cbcbcb;
    font-size: 15px;
    line-height: 21px;
}

section.mobile-humen {
    height: auto;
}

section.power,
section.mobile-humen,
section.mobile-getDetails {
    margin-top: 80px;
}

section.navigation {
    padding-top: 80px;
}

section.mobile-getDetails,
section.getDetails,
section.mobile-range,
section.mobile-motor {
    height: auto;
    min-height: unset;
}

.vanmoof {
    display: flex;
    align-items: center;
}

.vanmoof .centeral-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    color: #fff;
}

.vanmoof .centeral-content > div {
    border-radius: 25px;
    overflow: hidden;
}

.vanmoof .centeral-content > div  > div {
    background-color: #1F1F1F;
    padding: 40px 30px;
}

.vanmoof .centeral-content > div .u24Light_v2 {
    margin: 28px 0 40px;
    color: #CBCBCB;
}

@media (max-width: 767px) {
    .vanmoof {
        margin-top: 30vw;
        height: 800px;
    }

    .vanmoof .centeral-content {
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
    }

    .vanmoof .centeral-content > div > div {
        padding: 8vw;
    }

    .vanmoof .centeral-content > div  > div .u36DemiBold_v2 {
        font-size: 24px;
    }

    .vanmoof .centeral-content > div  > div .u24Light_v2 {
        font-size: 14px;
        margin: 15px 0 30px;
    }
}