$pc-full-height: calc(100vh - 106px);
$mobile-full-height: calc(100vh - 102px);
$backround-color: #F9F7F6;


h1,
h2,
h3,
h4 {
    color: inherit;
    margin: 0;
}

.mb24 {
    margin-bottom: 24px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb8 {
    margin-bottom: 8px;
}



@mixin scrool-bar {
    &::-webkit-scrollbar {
        height: 4px;
        background-color: #DEDEDE;
        /* 设置滚动条的宽度 */
    }

    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
        background-color: #FD4B17;
        /* 滚动条滑块的颜色 */
        border-radius: 15px;
    }
}


.u17Light_v2 {
    @media (max-width: 767px) {
        font-size: 15px;
    }
}

.makes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $backround-color;
    padding: 18vh 0 10vh;

    .u36Medium_v2 {
        margin-bottom: 6vh;
    }

    img {
        max-width: 950px;
    }

    img+img {
        margin-top: 8vh;
    }

    @media (max-width: 767px) {
        padding: 16vw 0 0;

        .centeral-content {
            padding: 0 4vw;

            .u36Medium_v2 {
                font-size: 24px;
                margin-bottom: 10vw;
            }

            img+img {
                margin-top: 0;
            }
        }
    }
}


.quality {
    background-color: $backround-color;
    padding: 14vh 0;

    .centeral-content {
        overflow: hidden;
        position: relative;

        .u36Medium_v2 {
            margin-bottom: 4vh;
        }

        .items {
            &>div {
                display: flex;
                flex-direction: column;
                cursor: grab;
                user-select: none;

                img {
                    border-radius: 5px;

                }

                .u20Medium_v2 {
                    margin: 20px 0 16px;
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 5vh;

            .swiper-button-prev,
            .swiper-button-next {
                position: static;
                color: #fff;
                background-color: #000;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                margin-left: 15px;
                z-index: unset;


                &::after {
                    font-size: 18px;
                }
            }
        }

        .swiper-scrollbar {
            position: static;
            margin-top: 6vh;
            width: 100%;
            background-color: #DEDEDE;
            z-index: unset;

            .swiper-scrollbar-drag {
                background-color: #FD4B17;
            }
        }
    }

    @media (max-width: 767px) {
        padding: 0 0 20vw;

        .centeral-content {

            .u36Medium_v2 {
                font-size: 24px;
                margin-bottom: 6vw;
            }

            .items {

                &>div {

                    .u20Medium_v2 {
                        font-size: 15px;
                        margin: 4vw 0;
                    }

                    .u14Light_v2 {
                        font-size: 12px;
                    }
                }
            }

            .swiper-scrollbar {
                margin-top: 8vw;
            }
        }
    }
}



.sleek {
    display: flex;
    position: relative;
    overflow: hidden;
    background: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25033_2x_f330d683-6036-4cdc-a188-f49302caa441.jpg?v=1730973173') center center/cover no-repeat;
    aspect-ratio: 1920 / 750;
    // height: $pc-full-height;

    &>div {
        position: absolute;
        left: 54%;
        color: #000;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .u17Light_v2 {
            max-width: 450px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            span {
                margin: 3.5vh 0 0;
            }
        }

        .my-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            padding: 6px 8px 6px 24px;
            flex-direction: row;

            &:hover {
                opacity: 1;
                background-color: #fff;
            }

            img {
                max-width: 35px;
                margin-left: 12px;
            }

        }
    }

    @media (max-width: 767px) {
        flex-direction: column;

        &>div {
            color: #000;
            position: static;
            transform: unset;
            padding: 8vw 8vw 0;


            .u36Medium_v2 {
                font-size: 24px;
            }

            .u17Light_v2 {
                // margin: 8vw 0;

                span {
                    margin: 8vw 0;
                }
            }

            .my-button {
                background-color: #000;
                color: #fff;
            }
        }

        // & > {}
    }
}

.judmeeeeeeeee {
    @media (max-width: 767px) {
        .centeral-content {
            padding: 0 4vw;
        }
    }
}


.step_folding {
    background-color: #F7F8FA;
    padding: 6vh 0 14vh;

    .centeral-content {
        display: grid;
        grid-template-columns: 2fr 4fr;
        overflow: hidden;

        &>div:not(.swiper) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 2;


            .u17Light_v2 {
                margin: 5vh 0;
                opacity: 0.78;
            }

            .progress {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 10px;

                &>div {
                    background-color: #ddd;
                    height: 5px;
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;

                    &::after {
                        content: "";
                        display: block;
                        height: 5px;
                        width: 0%;
                        background-color: #FFC400;
                        border-radius: 5px;

                    }
                }

                .active {
                    &::after {
                        width: 100%;
                        transition: width 2s linear;
                    }
                }
            }
        }

        .swiper {
            width: 100%;
            max-width: 100%;
            // margin: 0 -150px;
            // transform: translateX(150px);

            .swiper-wrapper {
                overflow: hidden;
                cursor: grab;

                img {
                    scale: 1.15;
                }
            }
        }
    }


    @media (max-width: 767px) {
        padding: 12vw 0;

        .centeral-content {
            padding: 0;
            grid-template-columns: 1fr;
            text-align: center;

            .u48Medium_v2 {
                font-size: 30px;
            }


            &>div:not(.swiper) {
                margin-bottom: 0;
                order: 1;
                padding: 4vw 8vw 0;
                text-align: left;

                .u17Light_v2 {
                    font-size: 15px;
                    margin: 25px 0;
                }

                .progress {
                    /* grid-template-columns: 1fr 1fr; */
                    // margin: 0 10vw;
                }
            }
        }
    }
}


.TakeItEasywithFold1 {
    background-color: transparent;
    padding: 14vh 0 0;

    @media (max-width: 767px) {
        padding: 0;
    }
}

.TakeItEasywithFold1 .centeral-content .items>div {
    aspect-ratio: 376 / 273;
}

.TakeItEasywithFold1 .centeral-content .items>div img {
    border-radius: 0;
    height: 100%;
    object-fit: cover;
}