$pc-full-height: calc(100vh - 106px);
$mobile-full-height: calc(100vh - 102px);
$backround-color: #F9F7F6;


h1,
h2,
h3,
h4 {
    color: inherit;
    margin: 0;
}

.mb24 {
    margin-bottom: 24px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb8 {
    margin-bottom: 8px;
}



@mixin scrool-bar {
    &::-webkit-scrollbar {
        height: 4px;
        background-color: #DEDEDE;
        /* 设置滚动条的宽度 */
    }

    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
        background-color: #FD4B17;
        /* 滚动条滑块的颜色 */
        border-radius: 15px;
    }
}


.u17Light_v2 {
    @media (max-width: 767px) {
        font-size: 15px;
    }
}

.professional {
    background-color: $backround-color;
    padding: 10vh 0 2vh;

    .centeral-content {
        overflow: hidden;

        .u36Medium_v2 {
                margin-bottom: 5.5vh;
                text-align: center;
        }

        .videos {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // grid-column-gap: 30px;

            &>div {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                height: auto;

                img {
                    cursor: pointer;
                    border-radius: 15px;
                }


                .u17Light_v2 {
                    margin: 12px 0 30px;
                }

                .u17Medium_v2 {
                    display: flex;
                    align-items: center;

                    img {
                        max-width: 28px;
                        width: 28px;
                        margin-right: 10px;
                    }
                }
            }


        }


        .swiper-scrollbar {
            position: static;
            margin-top: 5vh;
            width: 100%;
            background-color: #DEDEDE;
            z-index: unset;
            
            .swiper-scrollbar-drag {
                background-color: #FD4B17;
            }
        }



        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 5vh;

            .swiper-button-prev,
            .swiper-button-next {
                position: static;
                color: #fff;
                background-color: #000;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                margin-left: 15px;
                z-index: unset;
                

                &::after {
                    font-size: 18px;
                }
            }
        }
    }


    @media (max-width: 767px) {
        padding: 8vw 0 0;

        .centeral-content {

            .u36Medium_v2 {
                font-size: 24px;
                text-align: left;
            }

            .videos {
                display: flex;
                grid-column-gap: 0;

                &>div {

                    .u17Light_v2 {
                        font-size: 14px;
                        margin-bottom: 4vw;
                    }
                }
            }
        }
    }
}


.build {
    aspect-ratio: 1920 / 750;
    color: #000;
    display: flex;
    align-items: center;

    .centeral-content {
        flex: 1;

        .u17Light_v2 {
            margin-top: 3.5vh;
            max-width: 450px;
        }
    }

    @media (max-width: 767px) {
        color: #000;
        height: auto;
        padding-top: 88vw;
        aspect-ratio: unset;

        .centeral-content {
            padding-bottom: 8vw;

            .u17Light_v2 {
                margin-top: 8vw;
            }

            .u36Medium_v2 {
                font-size: 24px;
            }
        }
    }
}



.boxs {
    background-color: $backround-color;
    padding: 12vh 0;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #fff;
        background-clip: content-box;
        align-items: center;


        &>div {
            padding: 12%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;


            .u17Light_v2 {
                margin: 30px 0;
                max-width: 450px;
            }

            .u48Medium_v2 {
                color: #FD4B17;
            }
        }
    }

    @media (max-width: 767px) {
        padding: 13.5vw 0;

        .centeral-content {
            grid-template-columns: 1fr;
            padding: 0 4vw;

            &>div {
                padding: 8vw 4vw 10vw;

                &:nth-of-type(2) {
                    order: 1;
                }

                .u30Medium_v2 {
                    font-size: 24px;
                }

                .u48Medium_v2 {
                    font-size: 36px;

                    .u24Medium_v2 {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.faq {
    margin: 11vh 0;
    $gap: 2vh;

    .centeral-content {
        .u36Medium_v2 {
            margin-bottom: 3.5vh;
        }

        .items {

            .item {
                .u24Medium_v2 {
                    border-bottom: 1px solid #ccc;
                    padding-bottom: $gap;
                    cursor: pointer;
                    user-select: none;
                    display: flex;
                    align-items: center;

                    & > img {
                        margin-right: 10px;
                        max-width: 25px;
                        rotate: 180deg;
                        transition: all .5s;
                    }
                }

                .u17Light_v2 {
                    padding: 1.5vh 40px 2vh;
                    display: none;
                }
            }

            .item+.item {
                margin-top: $gap
            }

            .active {
                .u17Light_v2 {
                    display: block;
                }

                .u24Medium_v2 {
                    & > img {
                        rotate: 0deg;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        margin: 0 0 14vw;

        .centeral-content {
            padding: 0 8vw;

            .u36Medium_v2 {
                font-size: 24px;
            }

            .items {

                .item {
                    .u24Medium_v2 {
                        font-size: 17px;
                        display: flex;
                        padding-bottom: $gap * 0.66;

                        & > img {
                            max-width: 17.5px;
                        }
                    }

                    .u17Light_v2 {
                        padding: $gap 0;
                    }
                }

                .item+.item {
                    margin-top: $gap * 0.66;
                }
            }
        }
    }
}

.users {
    background-color: $backround-color;
    padding: 7.5vh 0;

    .centeral-content {
        overflow: hidden;

        .u36Medium_v2 {
            text-align: center;
            margin-bottom: 7vh;
        }

        .sipwers {

            .swiper-wrapper {
                transition-timing-function: linear;

                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    cursor: grab;

                    .u17Light_v2 {
                        display: flex;
                        margin-top: 2vh;
                        font-size: 15px;
                    }
                }
            }


        }
    }


    @media (max-width: 767px) {
        padding: 13.5vw 0;

        .centeral-content {

            .u36Medium_v2 {
                font-size: 24px;
                text-align: left;
                white-space: nowrap;
                margin-bottom: 8vw;
            }

            .sipwers {
                .swiper-wrapper {
                    .swiper-slide {

                        .u17Light_v2 {
                            margin-top: 5vw;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}



.never {
    padding-top: 12vh;

    .u48Medium_v2 {
        display: flex;
        justify-content: center;
        align-items: baseline;
        text-align: center;

        img {
            max-width: 40px;
            margin-right: 16px;
        }
    }

    .u60Medium_v2 {
        text-align: center;
        margin-bottom: 12vh;
    }

    .boxsxzczxc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 6.25%;
        margin-top: 7vh;
        overflow: hidden;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .u30Medium_v2 {
                margin: 4.5vh 0 2.5vh;
            }

            .u17Light_v2 {
                max-width: 400px;
                opacity: 0.78;

            }

            &:nth-child(3),
            &:nth-child(4) {
                height: 1px;
                background-color: #707070;
                margin: 0 -10%;
            }
        }

        .my-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
            padding: 6px 8px 6px 24px;
            flex-direction: row;

            &:hover {
                opacity: 1;
                background-color: #000;
            }

            img {
                max-width: 35px;
                margin-left: 12px;
            }
        }
    }

    @media (max-width: 767px) {
        padding-top: 13.5vw;

        .centeral-content {
            padding: 0;

            .u48Medium_v2 {
                img {
                    max-width: 25px;
                    margin-right: 2.5vw;
                }
            }

            .u48Medium_v2,
            .u60Medium_v2 {
                font-size: 24px;
                text-align: left;
                margin-left: 8vw;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .u60Medium_v2 {
                margin-bottom: 8vw;
            }

            .boxsxzczxc {
                grid-template-columns: 1fr;
                margin: 0;

                .u30Medium_v2,
                .u17Light_v2 {
                    padding: 0 8vw;
                    ;
                }

                .u30Medium_v2 {
                    margin: 8vw 0 5vw;
                    font-size: 24px;
                }

                .u17Light_v2 {
                    margin-bottom: 13.5vw;
                }
            }
        }
    }
}


.everything {
    margin: 10vh 0 18vh;

    .centeral-content {
        .boxqwewqeqs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3% 2.5%;

            &>div {
                background: transparent center center/cover no-repeat;
                color: #000;
                padding: 5% 5%;
                border-radius: 15px;

                &:nth-child(1) {
                    grid-row-start: 1;
                    grid-row-end: 2;
                }

                &:nth-child(2) {
                    grid-row-start: 1;
                    grid-row-end: 3;
                    padding-bottom: 80%;
                }

                &:nth-child(3) {
                    .u17Light_v2 {
                        max-width: 330px;
                    }
                }

                &:nth-child(4) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    padding-bottom: 25%;
                    padding: 7.5% 0 7.5% 53.875%;
                }

                .u17Light_v2 {
                    margin-top: 2.5%;
                    max-width: 66.6%;
                }
            }
        }
    }

    @media (max-width: 767px) {
        margin: 0 0 13.5vw;

        .centeral-content {
            padding: 0;

            &>.u24Medium_v2 {
                font-size: 18px;
                margin-bottom: 2.5vw;
            }

            &>.u48Medium_v2 {
                font-size: 30px;
            }

            .boxqwewqeqs {
                grid-column-gap: 0;
                grid-row-gap: 13.5vw;
                grid-template-columns: 1fr;

                &>div {
                    padding: 85vw 8vw 0 !important;
                    border-radius: 0;
                    background-size: contain;
                    background-position: top;

                    &:nth-child(1) {
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }

                    &:nth-child(2) {
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }

                    &:nth-child(4) {
                        grid-column-end: 1;
                    }

                    .u30Medium_v2 {
                        font-size: 24px;
                    }

                    .u17Light_v2 {
                        max-width: unset;
                        margin-top: 5vw;
                        opacity: 0.77;
                    }
                }
            }
        }
    }
}


.boxs3 {
    margin: 15vh 0;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &>div {
            background-color: #F7F8FA;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10%;
            align-items: flex-start;
            box-sizing: border-box;

            .u17Light_v2 {
                margin: 10% 0;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                div+div {
                    margin-top: 4%;
                }

                img {
                    max-width: 40px;
                    margin-right: 8%;
                }
            }

            &:nth-child(3) {
                .u17Light_v2 {
                    margin: 5% 0;
                }
            }

            .logos {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 25px 25px 25px;
                grid-gap: 25px 40px;
                margin-bottom: 12%;

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .texts {
                div {
                    display: flex;
                    align-items: center;

                    span {
                        &:first-child {
                            max-width: 180px;
                            margin-right: 16px;
                        }
                    }
                }

                div+div {
                    margin-top: 10%;
                }

              margin-bottom: 10%;
            }
        }


        #storepoint-tag-dropdown,
        #storepoint-search,
        #storepoint-panel {
            display: none !important;
        }

        #storepoint-map,
        #storepoint-container,
        #storepoint-map canvas {
            width: 100% !important;
            height: 100% !important;
            max-height: 100% !important;
            border: none;
        }
    }


    @media (max-width: 767px) {
        margin: 0 0 20vw;

        .centeral-content {
            grid-template-columns: 1fr;
            padding: 0 4vw;

            &>div {
                padding: 8vw 4vw;

                &:nth-child(1) {
                    order: 1;
                }


                &:nth-child(2) {
                    order: 2;
                }

                &:nth-child(3) {
                    order: 4;
                }

                &:nth-child(4) {
                    order: 3;
                }

                &:nth-child(5) {
                    order: 5;
                }

                &:nth-child(6) {
                    order: 6;
                }

                .u17Light_v2 {
                    img {
                        margin-right: 6vw;
                    }
                }

                .logos {
                    grid-gap: 6vw 8vw;

                    // img {
                    //     height: auto;
                    //     width: 100%;
                    // }
                }


                .texts {
                    &>div {
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 0;

                        span {
                            &:first-child {
                                max-width: unset;
                                margin-right: unset;
                                font-size: 13px;
                            }
                        }
                    }

                    &>div+div {
                        margin-top: 8vw;
                    }
                }
            }

            .u30DemiBold_v2 {
                font-size: 24px;
            }
        }
    }
}



.judmeeeeeeeee {
    @media (max-width: 767px) {
        .centeral-content {
            padding: 0 4vw;
        }
    }
}

.app {
  .centeral-content {
    display: flex;
    flex-direction: column;
    
    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 5vh;
      grid-column-gap: 8%;

      .u17Light_v2 {
        max-width: 440px;
      }
    }
  }

  @media (max-width: 767px) {
    .centeral-content {
      padding: 0;
      flex-direction: column-reverse;

      & > div {
        grid-template-columns: 1fr;
            padding: 8vw 8vw 0 8vw;
        margin: 0;

        .u48Medium_v2 {
          font-size: 24px;
        }

        .u17Light_v2 {
          margin-top: 5vw;
        }
      }
    }
  }
}

