$pc-full-height: calc(100vh - 106px);
$mobile-full-height: calc(100vh - 102px);
$backround-color: #F9F7F6;


h1,
h2,
h3,
h4 {
    color: inherit;
    margin: 0;
}

.mb24 {
    margin-bottom: 24px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb8 {
    margin-bottom: 8px;
}



@mixin scrool-bar {
    &::-webkit-scrollbar {
        height: 4px;
        background-color: #DEDEDE;
        /* 设置滚动条的宽度 */
    }

    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
        background-color: #FD4B17;
        /* 滚动条滑块的颜色 */
        border-radius: 15px;
    }
}


.u17Light_v2 {
    @media (max-width: 767px) {
        font-size: 15px;
    }
}


.product {
    padding: 40px 0;
    background-color: #fff;

    img,
    video {
        vertical-align: middle;
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    .centeral-content {
        display: grid;
        grid-template-columns: 64px 4% 1fr 8% 400px;
        align-items: flex-start;
        // grid-column-gap: 3% 7%;


        .free {
            display: flex;
            padding: 12px 24px;
            background-color: $backround-color;
            border-radius: 8px;
            align-items: center;
            margin: 12px 0 24px;

            .u17Medium_v2 {
                background-color: #FD4B17;
                padding: 6px 12px;
                color: #fff;
                margin-left: 12px;
                border-radius: 8px;
            }

            .u14Light_v2 {
                color: #555;
            }
        }

        .icons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;

            &>div {
                display: flex;
                align-items: center;

                &>div {
                    margin-left: 8px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-evenly;
                }

                img {
                    max-width: 45px;
                }
            }


            @media (max-width: 1160px) {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
            }

            @media (max-width: 980px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }


        .commonComponent {
            .sale {

                border-radius: 7px;
                background-color: $backround-color;
                overflow: hidden;
                margin-bottom: 24px;
                user-select: none;

                .u14DemiBold_v2 {
                    background: #FD4B17 url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_19266.svg?v=1721983999') left center/contain no-repeat;
                    background-position-x: 5px;
                    color: #fff;
                    padding: 7.5px 42px;
                }

                &>div:not(.u14DemiBold_v2) {
                    color: #FD4B17;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    padding: 12px 0;

                    &>div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        flex-direction: column;

                        span {
                            &:last-child {
                                opacity: 0.5;
                                font-size: 10px;
                                font-weight: 500;
                            }
                        }
                    }

                    div+div {
                        border-left: 1px solid rgba(99, 99, 99, 0.1);
                    }
                }

                @media (max-width: 767px) {
                    .u14DemiBold_v2 {
                        font-size: 12px;
                    }

                    .u36DemiBold_v2 {
                        font-size: 30px;
                    }
                }
            }

            .product-price {
                color: var(--sale-order-page-text-color);
                margin-top: 6px;

                &[data-price]::after {
                    content: attr(data-price);
                    display: inline-block;
                    color: #000;
                    text-decoration: line-through;
                    font-size: 17px;
                    font-weight: 500;
                    transform: translateY(-40%);
                }
            }
        }

        .left-swiper {
            position: sticky;
            top: 125px;
            overflow: hidden;


            .swiper-wrapper {

                .swiper-slide {
                    display: block;
                    height: 42px !important;
                    max-height: 42px !important;
                    transition: all .3s;
                    cursor: pointer;
                }

                .swiper-slide-thumb-active {
                    border: 1px solid #FD4B17;
                    border-radius: 2px;
                    transition: all .3s;
                }
            }
        }

        .product-panel {
            display: flex;
            flex-direction: column;
            min-width: 400px;
            width: 400px;
            padding-bottom: 20px;

            .sale_acc {
                border-radius: 10px;
                box-shadow: 0px 3px 20px #00000015;
                padding: 0 2% 2.5%;
                position: relative;
                overflow: hidden;
                margin-top: 12px;


                .u14Light_v2 {
                    background-image: var(--sale-order-page-sale-background);
                    color: #fff;
                    margin: 0 -2%;
                    padding: 1.6% 3%;
                }

                .accs {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-gap: 5%;

                    .acc {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        text-align: center;

                        img {
                            max-width: 50%;
                        }
                    }
                }

                .accs_1s {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    // grid-column-gap: 5%;
                    // margin: 2.5% 0;

                    &>div {
                        display: flex;
                        align-items: center;
                        line-height: 1.25em;

                        img {
                            max-width: 40%;
                            margin-right: 5%;
                        }

                        .u17DemiBold_v2 {
                            text-decoration: line-through;
                        }
                    }
                }

                .u11Light_v2 {
                    //margin-top: 2.5%;
                }
            }

            .count-down {
                color: var(--sale-order-page-text-color);
                overflow: hidden;
                // margin-top: 12px;

                img {
                    max-width: 70%;
                    transform: translateY(13%);
                }
            }

            .options {
                .option {
                    .u17Light_v2 {
                        color: #555;
                    }
                }

                .Color {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    transition: all .1s;

                    &>div {
                        width: 34px;
                        height: 34px;
                        margin-right: 5%;
                        border-radius: 50%;
                        cursor: pointer;
                        position: relative;
                        border: 2px solid transparent;

                        &::after {
                            content: "";
                            display: inline-block;
                            height: 26px;
                            margin: 2px;
                            width: 26px;
                            border-radius: 100%;
                            
                        }

                        &[attribute="Creme"] {
                            // background-color: #EDECE7;

                            &::after {
                                background-color: #EDECE7;
                            }
                        }

                        &[attribute="Matte Black"] {
                            // background-color: #000;

                            &::after {
                                background-color: #000;
                            }
                        }

                        &[attribute="Gray"] {
                            border-color: #405364;
                            background-color: #405364;
                        }


                        .tooltip {
                            position: absolute;
                            bottom: 150%;
                            /* Position the tooltip above the element */
                            left: 50%;
                            transform: translateX(-50%);
                            background-color: #000;
                            color: #fff;
                            padding: 4px 18px;
                            border-radius: 16px;
                            white-space: nowrap;
                            opacity: 0;
                            visibility: hidden;
                            transition: opacity 0.3s, visibility 0.3s;
                            font-size: 14px;
                            font-weight: 500;
                            z-index: 10;
                            /* Ensure tooltip is above other content */

                            &::before {
                                content: "";
                                position: absolute;
                                bottom: -20px;
                                left: 50%;
                                transform: translateX(-50%);
                                border-width: 10px;
                                border-style: solid;
                                border-color: #000 transparent transparent transparent;
                                z-index: 9;
                            }
                        }

                        &:hover {
                            .tooltip {
                                opacity: 1;
                                visibility: visible;
                            }
                        }


                        &:not(.active):hover {

                            background-color: transparent !important;

                            &[attribute="Matte Black"] {
                                border: 2px solid #DBDBDB;

                                &::after {
                                    background-color: #000;
                                }
                            }

                            &[attribute="Creme"] {
                                border: 2px solid #DBDBDB;

                                &::after {
                                    background-color: #DBDBDB;
                                }
                            }


                        }
                    }

                    .active {
                        background-color: transparent !important;
                        border: 2px solid #000;


                        &[attribute="Creme"]::after {
                            background-color: #DBDBDB;
                        }

                        &[attribute="Matte Black"]::after {
                            background-color: #000;
                        }

                        &[attribute="Gray"]::after {
                            background-color: #405364;
                        }
                    }
                }

                .Style {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &>div {
                        width: 34px;
                        height: 34px;
                        margin-right: 5%;
                        border-radius: 50%;
                        cursor: pointer;

                        &::after {
                            content: "";
                            display: inline-block;
                            height: 26px;
                            margin: 2px;
                            width: 26px;
                            border-radius: 100%;
                        }

                        &[attribute="Sirius"] {
                            background-color: #FA812B;
                        }

                        &[attribute="Lyra"] {
                            background-color: #747474;
                        }

                        &[attribute="Vanilla"] {
                            background-color: #FAF5E7;
                        }

                        &[attribute="Midnight in Paris"] {
                            background-color: #FFEC0B;
                            position: relative;
                        }

                        &[attribute="Midnight in Paris"]::before {
                            content: "";
                            display: inline-block;
                            background-color: #ff6c00;
                            position: absolute;
                            z-index: 1;
                            width: 100%;
                            height: 55%;
                            border-top-right-radius: 100px;
                            border-top-left-radius: 100px;
                        }
                    }

                    .active {
                        background-color: transparent !important;
                        border: 2px solid #666;

                        &[attribute="Sirius"]::after {
                            background-color: #FA812B;
                        }

                        &[attribute="Lyra"]::after {
                            background-color: #747474;
                        }

                        &[attribute="Vanilla"]::after {
                            background-color: #FAF5E7;
                        }

                        &[attribute="Midnight in Paris"]::after {
                            background-color: #FFEC0B;
                        }

                        &[attribute="Midnight in Paris"]::before {
                            left: 2px;
                            top: 2px;
                            right: 2px;
                            height: 14px;
                            width: 26px;
                        }
                    }
                }

                .Size {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &>div {
                        border: 1px solid #0000004D;
                        border-radius: 20px;
                        margin-right: 10px;
                        padding: 6px 30px;
                        cursor: pointer;
                        max-height: 32px;
                        line-height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 500;


                        &:hover {
                            border-color: #000;
                            border-width: 2px;
                            padding: 5px 29px;
                        }
                    }

                    .active {
                        background-color: #000;
                        color: #fff;
                    }
                }

                .Model {
                    display: flex;
                    // align-items: center;
                    justify-content: flex-start;

                    &>div {
                        border-radius: 10px;
                        border: 2px solid #0000004D;
                        opacity: .6;
                        padding: 6px 12px;
                        width: 40%;
                        cursor: pointer;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        align-items: flex-start;
                        justify-content: center;
                        overflow: hidden;

                        span {
                            font-size: 15px;
                            line-height: 1.25em;
                            font-weight: 300;

                            &::before {
                                content: "·";
                            }

                            &:first-child {
                                font-size: 15px;
                                font-weight: 500;
                                margin-bottom: 6px;

                                &::before {
                                    content: "";
                                }
                            }
                        }

                        &:not(:last-child) {
                            margin-right: 12px;
                        }
                    }

                    div[attribute*="350W"],
                    div[attribute*="250W"] {
                        border-color: var(--sale-order-page-text-color);
                    }

                    div[attribute*="350W"]::after,
                    div[attribute*="250W"]::after {
                        content: "Sale";
                        position: absolute;
                        color: #fff;
                        background-color: var(--sale-order-page-text-color);
                        right: 0;
                        transform: rotate(30deg) translate(28%, -250%);
                        font-size: 16px;
                        width: 200px;
                        text-align: center;
                        height: 22px;
                        line-height: 22px;

                    }

                    .active {
                        opacity: 1;
                        border-color: #000;

                        span {
                            font-weight: 600;
                        }
                    }
                }
            }

            .accessories {
                position: relative;
                padding: 0 15px;

                .items {
                    display: flex;
                    flex-direction: row;
                    overflow-x: hidden;
                    max-width: 100%;
                    position: relative;

                    .item {
                        display: flex;
                        min-width: 180px;
                        max-width: 180px;
                        flex-direction: column;
                        border-radius: 10px;
                        border: 1px solid #E0E0E0;
                        margin-right: 6px;
                        padding: 8px 1px 1px 8px;
                        cursor: pointer;

                        .u11Medium_v2,
                        .u17DemiBold_v2 {
                            color: #484848;
                        }


                        &>div {
                            text-align: left;

                            &:last-child {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                img {
                                    max-width: 70px;
                                }

                                div {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    height: 100%;
                                    padding: 4px 0;
                                }
                            }

                            .u11Light_v2 {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background-color: #f7f7f7;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 16px;
                                color: #999;
                                margin: 5px 0;
                            }
                        }

                        &>img {
                            max-width: 80px;
                        }
                    }

                    .active {
                        border-color: rgb(0, 0, 0);
                        background: rgb(240, 240, 240);
                        border-width: 2px;
                        padding: 7px 0 0 7px;
                        // padding: 0 7px 0 0;
                    }
                }

                .prev,
                .next {
                    width: 15px;
                    height: 15px;
                    border-left: 2px solid #aaa;
                    border-top: 2px solid #aaa;
                    cursor: pointer;
                }

                .prev {
                    position: absolute;
                    left: -5px;
                    top: 50%;
                    transform: rotate(-45deg) translateY(50%);
                }

                .next {
                    position: absolute;
                    right: -5px;
                    top: 60%;
                    transform: rotate(135deg) translateY(100%);
                }

                &>.u17DemiBold_v2 {
                    margin-left: -15px;
                }
            }

            .buttons {
                display: flex;
                flex-direction: column;

                .insurance-wrapper {
                    margin-bottom: 16px;
                }

                .addToCartBtn {

                    &:hover {
                        opacity: 1;
                        background-color: #FD4B17CC;
                    }

                    &>i {
                        display: none;
                        margin-right: 10px;
                    }
                }

                .disabled {
                    cursor: not-allowed;
                    opacity: .5;
                    pointer-events: none;
                }

                .orderTestRideBtn {
                    width: 100%;
                    height: 47px;
                    font: normal normal 600 23px/28px Urbane;
                    border-radius: 30px;
                    // transition: all 0.3s;
                    line-height: 47px;
                    text-align: center;
                    border: 2px solid #FD4B17;
                    font-size: 15px;
                    cursor: pointer;
                    line-height: unset;
                    text-align: center;
                    background: #fff;
                    color: #000;
                    display: grid;
                    grid-template-columns: 0.6fr 1fr;
                    grid-column-gap: 12px;
                    align-items: center;
                    justify-items: right;
                    transition: all .3s;

                    &:hover {
                        border-color: #FD4B17CB;
                    }

                    &>span {
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        align-items: flex-start;
                        line-height: 16px;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .oneeee {
                        width: 90px;
                    }

                    .twoooo {
                        max-width: 105px;
                    }
                }

                .loading {
                    opacity: 0.7;
                    cursor: not-allowed;
                }

                .loading {
                    span {
                        flex-direction: row;
                        align-items: center;

                        i {
                            margin-right: 6px;
                        }
                    }
                }
            }

            .contact {
                border: 1px solid #E0E0E0;
                border-radius: 8px;
                padding: 8px;
                line-height: 2.25rem;
            }


            .support {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                &>a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    cursor: pointer;

                    img {
                        max-width: 30px;
                        margin-right: 6px;
                    }

                    .u11Medium_v2 {
                        word-break: break-all;
                    }
                }
            }

            .dialogs {
                display: flex;
                flex-direction: column;

                .u17Medium_v2 {
                    display: flex;
                    padding: 12px 0;
                    border-bottom: 1px solid #eee;
                    justify-content: space-between;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        .featured_image {
            display: flex;
            flex-direction: column;
            position: sticky;
            top: 125px;

            .right-swiper {
                overflow: hidden;
                position: relative;
                border-radius: 10px;

                .swiper-wrapper {
                    .swiper-slide {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100% !important;
                        user-select: none;
                        // padding: 0 3px;

                        img {
                            border-radius: 10px;
                        }
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                color: #000;
                transition: all .3s;
                top: 50%;
                transform: translateY(-50%);
                background: rgba(255, 255, 255, 0.5);
                border-radius: 5px;

                &:hover {
                    color: rgba(0, 0, 0, 0.5);
                }

                &::after {
                    font-size: 30px;
                }
            }

            .swiper-button-disabled {
                opacity: 0.3;
            }


            .medias {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 24px;
                text-align: center;
                transition: all .3s;

                .u17DemiBold_v2 {
                    font-style: italic;
                }

                img {
                    height: 60px;
                    width: auto;
                }
            }
        }

        .parameters {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 20px;
            align-items: flex-start;

            &>div {
                display: flex;
                align-items: center;

                img {
                    max-width: 40px;
                    margin-right: 6px;
                }

                &>span {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }



    @media (max-width: 767px) {
        margin: 0;
        padding: 4vw 0;

        .centeral-content {
            padding: 0 4vw 8vw;
            grid-template-columns: 1fr;

            .product-panel {
                min-width: unset;
                width: 92vw;
                max-width: 92vw;


                .options {
                    .option {
                        .u17DemiBold_v2 {
                            font-size: 15px;
                        }


                        .Color {
                            &>div {
                                .tooltip {
                                    display: none;
                                    opacity: 0;
                                }
                            }
                        }
                    }

                }

                .sale_acc {
                    margin-top: 0;
                    margin-bottom: 12px;

                    .u14Light_v2 {
                        .u20DemiBold_v2 {
                            font-size: 17px;
                        }
                    }

                    .accs_1s {
                        .u14Medium_v2 {
                            font-size: 12px;
                        }
                    }
                }

                .count-down {
                    .u17Medium_v2 {
                        font-size: 12px;
                    }
                }

                .free {
                    margin: 20px 0;
                    padding: 8px;

                    .u14Medium_v2 {
                        padding: 2px 8px;
                        color: #fff;
                        border-radius: 5px;
                        background-color: #FD4B17;
                        margin-right: 12px;
                    }

                    .u11Light_v2 {
                        font-size: 12px;
                    }
                }

                .accessories {
                    padding: 0;
                    margin: 0;

                    .prev,
                    .next {
                        display: none;
                    }

                    .u17DemiBold_v2 {
                        margin-left: 0;
                    }

                    .items {
                        overflow-x: auto;
                        margin: 0;
                    }
                }

                .dialogs {
                    .u17Medium_v2 {
                        font-size: 14px;
                    }
                }

                .buttons {
                    .addToCartBtn {
                        font-size: 14px;
                    }

                    .orderTestRideBtn {
                        span {
                            font-size: 13px;
                        }

                        .oneeee {
                            width: 80px;
                        }

                        .twoooo {
                            width: 85px;
                        }

                    }
                }

                .contact {
                    text-align: center;
                    line-height: 1.75rem;

                    .u14Medium_v2,
                    .u14Light_v2 {
                        font-size: 12px;
                    }
                }

                .support {
                    &>a {
                        img {
                            max-width: 24px;
                        }
                    }
                }
            }

            .featured_image {
                position: static;
                overflow-x: hidden;

                .medias {
                    margin-top: 16px;

                    .u17DemiBold_v2 {
                        font-size: 14px;
                    }

                    img {
                        height: 40px;
                    }
                }

                .swiper-pagination {
                    position: static;
                    // bottom: 5px;
                    transform: translateY(-5px);
                    z-index: 1;
                }

                .swiper-pagination-bullet {
                    height: 6px;
                    width: 6px;
                }

                .swiper-pagination-bullet-active {
                    width: 30px;
                    height: 6px;
                    border-radius: 5px;
                    transition: all .3s;
                }
            }
        }
    }
}


.professional {
    background-color: $backround-color;
    padding: 10vh 0;

    .centeral-content {
        .u36Medium_v2 {
            margin-bottom: 3.5vh;
        }

        .videos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 30px;

            &>div {
                display: flex;
                flex-direction: column;
                cursor: pointer;

                img {
                    cursor: pointer;
                }


                .u17Light_v2 {
                    margin-top: 2vh;
                }
            }


        }
    }


    @media (max-width: 767px) {
        padding: 8vw 0 13.5vw;
        overflow: hidden;

        .centeral-content {

            .u36Medium_v2 {
                font-size: 24px;
            }

            .videos {
                display: flex;
                grid-column-gap: 0;

                &>div {

                    .u17Light_v2 {
                        font-size: 15px;
                    }
                }
            }


            .swiper-scrollbar {
                position: static;
                margin-top: 10vw;
                width: 100%;
                background-color: #DEDEDE;
                z-index: unset;
                
                .swiper-scrollbar-drag {
                    background-color: #FD4B17;
                }
            }
        }
    }
}

.build {
    background: $backround-color url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240716-171008.jpg?v=1722073622') center center/cover no-repeat;
    height: 750px;
    color: #fff;
    display: flex;
    align-items: center;

    .centeral-content {
        flex: 1;

        .u17Light_v2 {
            margin-top: 3.5vh;
            max-width: 450px;
        }
    }

    @media (max-width: 767px) {
        background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240716-171008_2x_905ed734-67ca-42a9-acc2-5e1d40f2cab6.jpg?v=1721701492');
        background-size: contain;
        background-position-y: top;
        color: #000;
        height: auto;
        padding-top: 88vw;

        .centeral-content {
            .u17Light_v2 {
                margin-top: 8vw;
            }

            .u36Medium_v2 {
                font-size: 24px;
            }
        }
    }
}



.boxs {
    background-color: $backround-color;
    padding: 12vh 0;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #fff;
        background-clip: content-box;
        align-items: center;


        &>div {
            padding: 12%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;


            .u17Light_v2 {
                margin: 30px 0;
                max-width: 450px;
            }

            .u48Medium_v2 {
                color: #FD4B17;
            }
        }
    }

    @media (max-width: 767px) {
        padding: 13.5vw 0 0;

        .centeral-content {
            grid-template-columns: 1fr;
            padding: 0 4vw;

            &>div {
                padding: 8vw 4vw 10vw;

                &:nth-of-type(2) {
                    order: 1;
                }

                .u30Medium_v2 {
                    font-size: 24px;
                }

                .u48Medium_v2 {
                    font-size: 36px;

                    .u24Medium_v2 {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}


.quality {
    background-color: $backround-color;
    padding-bottom: 12vh;

    .centeral-content {
        overflow: hidden;
        position: relative;

        .u36Medium_v2 {
            margin-bottom: 4vh;
        }

        .items {
            &>div {
                display: flex;
                flex-direction: column;
                cursor: grab;
                user-select: none;

                img {
                    border-radius: 5px;

                }

                .u20Medium_v2 {
                    margin: 20px 0 16px;
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 5vh;

            .swiper-button-prev,
            .swiper-button-next {
                position: static;
                color: #fff;
                background-color: #000;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                margin-left: 15px;
                z-index: unset;
                

                &::after {
                    font-size: 18px;
                }
            }
        }

        .swiper-scrollbar {
            position: static;
            margin-top: 6vh;
            width: 100%;
            background-color: #DEDEDE;
            z-index: unset;
            
            .swiper-scrollbar-drag {
                background-color: #FD4B17;
            }
        }
    }

    @media (max-width: 767px) {
        padding: 13.5vw 0;

        .centeral-content {

            .u36Medium_v2 {
                font-size: 24px;
                margin-bottom: 6vw;
            }

            .items {

                &>div {

                    .u20Medium_v2 {
                        font-size: 15px;
                        margin: 4vw 0;
                    }

                    .u14Light_v2 {
                        font-size: 12px;
                    }
                }
            }

            .swiper-scrollbar {
                margin-top: 8vw;
            }
        }
    }
}



.sleek {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: $backround-color;
    // height: $pc-full-height;

    &>div {
        position: absolute;
        left: 54%;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .u17Light_v2 {
            max-width: 450px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            span {
                margin: 3.5vh 0 8vh;
            }
        }

        .my-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            padding: 6px 8px 6px 24px;
            flex-direction: row;

            &:hover {
                opacity: 1;
                background-color: #fff;
            }

            img {
                max-width: 35px;
                margin-left: 12px;
            }

        }
    }

    @media (max-width: 767px) {
        flex-direction: column;

        &>div {
            color: #000;
            position: static;
            transform: unset;
            padding: 8vw 8vw 13.5vw;


            .u36Medium_v2 {
                font-size: 24px;
            }

            .u17Light_v2 {
                // margin: 8vw 0;

                span {
                    margin: 8vw 0;
                }
            }

            .my-button {
                background-color: #000;
                color: #fff;
            }
        }

        // & > {}
    }
}



.comfort {
    transform: translateY(-1px);

    &>div {
        color: #000;
        max-width: 1280px;
        margin: auto;
        left: 0;
        right: 0;
        padding: 0 30px;

        .u17Light_v2 {
            span {
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 767px) {
        & > div {
            padding: 8vw 8vw 13.5vw;
        }
    }
}

.city {
    background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/dddd_266c34f6-4b11-4171-a6d1-b54e0d5d44c4.jpg?v=1722073622');
    color: #000;
    height: 750px;
    transform: translateY(-2px);

    .centeral-content {
        overflow: hidden;

        &>div {
            transform: translateX(55%);
        }
    }


    @media (max-width: 767px) {
        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/dddd_2x_a83c68a7-e939-4c64-ba6b-fdd9c366d9f4.jpg?v=1721722404');
        height: auto;
        padding-bottom: 13.5vw;


        .centeral-content {

            &>div {
                transform: none;
            }
        }
    }
}

.faq {
    margin: 11vh 0;
    $gap: 2vh;

    .centeral-content {
        .u36Medium_v2 {
            margin-bottom: 3.5vh;
        }

        .items {

            .item {
                .u24Medium_v2 {
                    border-bottom: 1px solid #ccc;
                    padding-bottom: $gap;
                    cursor: pointer;
                    user-select: none;

                    svg {
                        margin-right: 10px;
                        max-width: 25px;
                        rotate: 180deg;
                        transition: all .5s;
                    }
                }

                .u17Light_v2 {
                    padding: 1.5vh 40px 2vh;
                    display: none;
                }
            }

            .item+.item {
                margin-top: $gap
            }

            .active {
                .u17Light_v2 {
                    display: block;
                }

                .u24Medium_v2 {
                    svg {
                        rotate: 0deg;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        margin: 14vw 0;

        .centeral-content {
            padding: 0 4vw;

            .u36Medium_v2 {
                font-size: 24px;
            }

            .items {

                .item {
                    .u24Medium_v2 {
                        font-size: 17px;
                        display: flex;
                        padding-bottom: $gap * 0.66;

                        svg {
                            max-width: 17.5px;
                        }
                    }

                    .u17Light_v2 {
                        padding: $gap 0;
                    }
                }

                .item+.item {
                    margin-top: $gap * 0.66;
                }
            }
        }
    }
}

.users {
    background-color: $backround-color;
    padding: 7.5vh 0;

    .centeral-content {
        overflow: hidden;

        .u36Medium_v2 {
            text-align: center;
            margin-bottom: 7vh;
        }

        .sipwers {

            .swiper-wrapper {
                transition-timing-function: linear;

                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    cursor: grab;

                    .u17Light_v2 {
                        display: flex;
                        margin-top: 2vh;
                        font-size: 15px;
                    }
                }
            }


        }
    }


    @media (max-width: 767px) {
        padding: 13.5vw 0;

        .centeral-content {

            .u36Medium_v2 {
                font-size: 24px;
                text-align: left;
                white-space: nowrap;
                margin-bottom: 8vw;
            }

            .sipwers {
                .swiper-wrapper {
                    .swiper-slide {

                        .u17Light_v2 {
                            margin-top: 5vw;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}



.never {
    padding-top: 12vh;

    .u48Medium_v2 {
        display: flex;
        justify-content: center;
        align-items: baseline;
        text-align: center;

        img {
            max-width: 40px;
            margin-right: 16px;
        }
    }

    .u60Medium_v2 {
        text-align: center;
        margin-bottom: 12vh;
    }

    .boxsxzczxc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 6.25%;
        margin-top: 7vh;
        overflow: hidden;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .u30Medium_v2 {
                margin: 4.5vh 0 2.5vh;
            }

            .u17Light_v2 {
                max-width: 400px;
                opacity: 0.78;

            }

            &:nth-child(3),
            &:nth-child(4) {
                height: 1px;
                background-color: #707070;
                margin: 0 -10%;
            }
        }

        .my-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
            padding: 6px 8px 6px 24px;
            flex-direction: row;

            &:hover {
                opacity: 1;
                background-color: #000;
            }

            img {
                max-width: 35px;
                margin-left: 12px;
            }
        }
    }

    @media (max-width: 767px) {
        padding-top: 13.5vw;

        .centeral-content {
            padding: 0;

            .u48Medium_v2 {
                img {
                    max-width: 25px;
                    margin-right: 2.5vw;
                }
            }

            .u48Medium_v2,
            .u60Medium_v2 {
                font-size: 24px;
                text-align: left;
                margin-left: 8vw;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .u60Medium_v2 {
                margin-bottom: 8vw;
            }

            .boxsxzczxc {
                grid-template-columns: 1fr;
                margin: 0;

                .u30Medium_v2,
                .u17Light_v2 {
                    padding: 0 8vw;
                    ;
                }

                .u30Medium_v2 {
                    margin: 8vw 0 5vw;
                    font-size: 24px;
                }

                .u17Light_v2 {
                    margin-bottom: 13.5vw;
                }
            }
        }
    }
}


.everything {
    margin: 10vh 0 12vh;

    .centeral-content {
        .boxqwewqeqs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3% 2.5%;

            &>div {
                background: transparent center center/cover no-repeat;
                color: #000;
                padding: 5% 5%;
                border-radius: 15px;

                &:nth-child(1) {
                    grid-row-start: 1;
                    grid-row-end: 2;
                    background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240717-190918_2x_2f5815a0-e830-497a-b2ae-c19c9dfa36b4.jpg?v=1721789771');
                }

                &:nth-child(2) {
                    grid-row-start: 1;
                    grid-row-end: 3;
                    background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_24386_2x_84f8e396-8586-41ba-b191-d0e5162aa892.jpg?v=1721789648');
                    padding-bottom: 80%;
                }

                &:nth-child(3) {
                    background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_24381_2x_ef95665b-0f60-40cb-ab5c-3412ced72fea.jpg?v=1721789643');

                    .u17Light_v2 {
                        max-width: 330px;
                    }
                }

                &:nth-child(4) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    padding-bottom: 25%;
                    background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240724-110412.jpg?v=1721790268');
                    padding: 7.5% 0 7.5% 53.875%;
                }

                .u17Light_v2 {
                    margin-top: 2.5%;
                    max-width: 66.6%;
                }
            }
        }
    }

    @media (max-width: 767px) {
        margin: 0 0 18vw;

        .centeral-content {
            padding: 0;

            &>.u24Medium_v2 {
                font-size: 18px;
                margin-bottom: 2.5vw;
            }

            &>.u48Medium_v2 {
                font-size: 30px;
            }

            .boxqwewqeqs {
                grid-column-gap: 0;
                grid-row-gap: 13.5vw;
                grid-template-columns: 1fr;

                &>div {
                    padding: 85vw 8vw 0 !important;
                    border-radius: 0;
                    background-size: contain;
                    background-position: top;

                    &:nth-child(1) {
                        grid-row-start: 2;
                        grid-row-end: 3;
                        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240717-190918_2x_53073d6f-7545-4387-acf1-4959c809735c.jpg?v=1721791483');
                    }

                    &:nth-child(2) {
                        grid-row-start: 1;
                        grid-row-end: 2;
                        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_24447_2x_a03892c9-b3c4-40e4-9108-de2110dabe8b.jpg?v=1721790996');
                    }

                    &:nth-child(3) {
                        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_24448_2x_5e67777c-cd1a-4e93-9509-d9ffedef6810.jpg?v=1721791535');
                    }

                    &:nth-child(4) {
                        grid-column-end: 1;
                        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_24449_2x_51bf1163-2ec6-411d-a900-66009ca9821b.jpg?v=1721791543');
                    }

                    .u30Medium_v2 {
                        font-size: 24px;
                    }

                    .u17Light_v2 {
                        max-width: unset;
                        margin-top: 5vw;
                        opacity: 0.77;
                    }
                }
            }
        }
    }
}



.test-ride {
    background-color: #fff;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &>div {
            padding-bottom: 78.125%;
            position: relative;

            &>div {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: $backround-color;

                &:first-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0 12%;

                }

                .u17Light_v2 {
                    margin: 3.5vh 0 7vh;
                }
            }

            #storepoint-tag-dropdown,
            .mapboxgl-ctrl-bottom-left,
            .mapboxgl-ctrl-bottom-right,
            .mapboxgl-ctrl-top-right,
            #storepoint-search,
            #storepoint-panel {
                display: none !important;
            }

            #storepoint-map,
            #storepoint-container,
            #storepoint-map canvas {
                width: 100% !important;
                height: 100% !important;
                max-height: 100% !important;
                border: none;
            }
        }
    }

    @media (max-width: 767px) {
        .centeral-content {
            padding: 0 4vw;
            grid-template-columns: 1fr;

            &>div {
                padding: 0;

                &>div {
                    &:first-child {
                        padding: 8vw 4vw;
                        position: static;
                    }
                }

                &:first-child {
                    order: 1;

                    .u30Medium_v2 {
                        font-size: 24px;
                    }

                    .u17Light_v2 {
                        margin: 4vw 0 8vw;
                    }
                }

                &:last-child {
                    height: 350px;
                }
            }
        }
    }
}


.boxs3 {
    padding-bottom: 14vh;
    background-color: #fff;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &>div {
            background-color: $backround-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 12%;
            align-items: flex-start;

            &:nth-child(1) {
                background: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230802-150015_2x_90400ae7-f025-4661-88a0-0ace1e48b675.jpg?v=1721803593') center center/cover no-repeat;
                padding-bottom: 78.125%;
            }

            &:nth-child(4) {
                background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/6T1A8524_2x_aaecef7e-48c0-4776-8947-fa295f1c24b5.jpg?v=1680163598') center center/cover no-repeat;
                padding-bottom: 78.125%;
            }

            .u17Light_v2 {
                margin: 8% 0;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    white-space: nowrap;
                }

                div+div {
                    margin-top: 4%;
                }

                img {
                    max-width: 40px;
                    margin-right: 8%;
                }
            }

            &:nth-child(3) {
                .u17Light_v2 {
                    margin: 5% 0;
                }
            }

            .logos {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 25px 25px;
                grid-gap: 30px 40px;
                margin-bottom: 12%;

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .texts {
                div {
                    display: flex;
                    align-items: center;
                    margin-top: 10%;

                    span {
                        &:first-child {
                            max-width: 180px;
                            margin-right: 16px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding-bottom: 13.5vw;

        .centeral-content {
            grid-template-columns: 1fr;
            padding: 0 4vw;

            &>div {
                padding: 0;

                &:nth-child(1) {
                    order: 1;
                }

                &:nth-child(2) {
                    padding: 8vw 4vw;
                    order: 2;
                }

                &:nth-child(3) {
                    padding: 8vw 4vw;
                    order: 5;
                }

                &:nth-child(4) {
                    order: 3;
                }

                .u17Light_v2 {

                    &>div {
                        white-space: inherit;
                    }

                    img {
                        margin-right: 6vw;
                    }
                }

                .logos {
                    grid-gap: 15vw 8vw;

                    img {
                        height: auto;
                        width: 100%;
                    }
                }

                .texts {
                    &>div {
                        flex-direction: column;
                        align-items: flex-start;

                        span {
                            &:first-child {
                                max-width: unset;
                                margin-right: unset;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            &>img {
                order: 4;
            }

            .u30Medium_v2 {
                font-size: 24px;
            }

            .u17Light_v2 {
                margin: 8vw 0;
            }
        }
    }
}