
.mini-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000b3;
    justify-content: center;
    align-items: center;
    z-index: 100000000;
    overflow: hidden;
    padding: 0 8vw;
    display: none;
    user-select: none;
    box-sizing: border-box;
  }
  
  .mini-dialog>div {
    position: relative;
    z-index: 100000001;
    max-height: 85vh;
    overflow: hidden;
  }

  @media (min-width: 767px) {
    .pcHide {
      display: none !important;
    }
  }

  .u11Medium_v2 {
    font: normal normal 500 11px/1.25em urbane;
  }

  .u24DemiBold_v2 {
    font: normal normal 600 24px/1.25em urbane;
  }

  .u17Medium_v2 {
    font: normal normal 500 17px/1.25em urbane;
  }

  .u20DemiBold_v2 {
    font: normal normal 600 20px/1.25em urbane;
  }

  .klarna {
    display: flex;
    color: #000;
    background-color: #FFB3C7;
    border-radius: 10px;
    padding: 6px 20px;
    align-items: center;
    margin: 12px 0;
    justify-content: flex-start;

    img {
        height: 20px;
        width: auto;
        margin-right: 12px;
    }

    .learn {
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
  }


  .my-button {
    display: inline-block;
    padding: 14px 36px;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    font: normal normal 500 16px/19px urbane;
    cursor: pointer;
    white-space: nowrap;
    transition: all .3s;
    text-align: center;

    &:hover {
      background-color: #F5F6F8;
    }

    &:active {
      opacity: 0.95;
    }
  }

  .my-button-black {
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #2C2C2C;
    }
  }


.klarna-dialog {
    background-color: #F7F8FA;
    border-radius: 10px;
    padding: 24px 40px;
    width: 600px;
    display: flex;
    flex-direction: column;
    color: #000;

    &>.u24DemiBold_v2 {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        img {
            max-width: 67px;
            margin-right: 24px;
        }
    }

    .pay {
        border-radius: 10px;
        background-color: #fff;
        padding: 24px;

        &>.u17Medium_v2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 0;
            border-bottom: 1px solid #eee;

            &>div {
                background-color: #FFB3C7;
                border-radius: 16px;
                padding: 5px 30px;
            }
        }

        .total {
            .u17Medium_v2 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 12px;
            }

            .u11Medium_v2 {
                margin-top: 6px;
                text-align: right;
                color: #8E8E8E;
            }
        }
    }

    .how {
        margin: 24px 0 12px;
    }

    .my-button {
        // width: 100%;
        margin-top: 24px;
    }

    .scroll {
        max-height: calc(85vh - 180px);
        overflow-y: auto;
        border-radius: 10px;
        padding-right: 20px;
        margin-right: -30px;

        &>.u17Medium_v2 {
            margin-bottom: 24px;
        }

        // &::-webkit-scrollbar {
        //     width: 12px;
        // }

        // &::-webkit-scrollbar-track {
        //     background: transparent;
        //     border-radius: 10px;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background: #bfbfbf;
        //     border-radius: 10px;
        // }

        // &::-webkit-scrollbar-corner {
        //     background: #179a16;
        // }

    }

    .works {
        padding: 24px;
        background-color: #fff;
        border-radius: 10px;

        .u17Medium_v2 {
            padding-left: 18px;
            padding-bottom: 40px;
            border-left: 2px solid #FFB3C7;
            position: relative;

            span {
                display: block;
                position: absolute;
                width: 13px;
                height: 13px;
                background-color: #FFB3C7;
                left: 0;
                top: 0;
                transform: translateX(-7.5px);
                border-radius: 50%;
            }

            &:last-child {
                border-color: transparent;
            }
        }
    }

    .close {
        position: absolute;
        right: 30px;
        top: 24px;
        color: #999;
        font-size: 30px;
        font-weight: 100;
        cursor: pointer;
    }
}


@media (max-width: 767px) {
    .klarna-dialog {
        padding: 24px 12px 12px;

        &>.u24DemiBold_v2 {
            font-size: 18px;
            margin-bottom: 12px;

            img {
                max-width: 55px;
                margin-right: 12px;
            }
        }

        .scroll {
            max-height: calc(85vh - 132px);
            padding-right: 12px;
            margin-right: -12px;

            &>.u17Medium_v2 {
                font-size: 15px;
                margin-bottom: 12px;
            }

            .pay {
                padding: 12px 6px;

                &>.u20DemiBold_v2,
                &>.u17Medium_v2 {
                    font-size: 15px;
                    padding: 6px 0;
                    margin-bottom: 6px;

                    &>div {
                        padding: 2px 12px;
                    }
                }


                .total {
                    .u17Medium_v2 {
                        margin: 6px 0 0;
                        font-size: 12px;
                    }
                }
            }

            .how {
                font-size: 20px;
                margin: 12px 0 6px;
            }

            .works {
                padding: 12px;

                .u17Medium_v2 {
                    font-size: 14px;
                    padding-bottom: 24px;
                }
            }


            // &::-webkit-scrollbar {
            //     width: 6px;
            // }
        }

        .my-button {
            margin-top: 12px;
        }

        .close {
            right: 12px;
            top: 6px;
        }
    }


    .my-button {
        padding: 11px 20px;
        font-size: 14px;
        line-height: 17px;
      }


      .mobileHide {
        display: none !important;
      }
}


body aside.sidebar {
    height: unset;
}
  