h1,
h2,
h3,
h4 {
    color: inherit;
    margin: 0;
}

.u17Light_v2 {
    @media (max-width: 767px) {
        font-size: 15px;
    }
}


.banner {
    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24797_2x_8d83bf4d-226d-4ddb-9daa-0fe1d2b92f8a.jpg?v=1728892989') center center/cover no-repeat;
    color: #fff;

    .centeral-content {
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .u48DemiBold_v2 {
            margin: 12px 0 7vh;
        }
    }


    @media (max-width: 767px) {
        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24866_2x_da7af6c3-c27e-470c-95ca-f06768883fe3.jpg?v=1728893854');

        .centeral-content {
            align-items: center;
            text-align: center;
            justify-content: flex-start;

            .u24Medium_v2 {
                font-size: 15px;
            }

            .u48DemiBold_v2 {
                font-size: 30px;
                margin: 6px 0 22px;
            }
        }
    }
}


.careeeee {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F7F8FA;
    background-clip: content-box;
    margin-bottom: 20vh;


    &>div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 11%;


        .u17Light_v2 {
            margin: 30px 0 50px;
            max-width: 484px;
        }
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        padding: 0 4vw;

        &>div {
            padding: 40px 15px 60px;
            order: var(--order);


            .u30Medium_v2 {
                font-size: 24px;
            }

            .u17Light_v2 {
                margin: 20px 0;
            }
        }

        &>img {
            order: var(--order);
        }
    }
}



.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
    color: #fff;

    &>div {
        background: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/19398_2x_3d59a90b-d781-43e7-bb8a-af0766a7c08c.jpg?v=1727260437') center center/cover no-repeat;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        aspect-ratio: 103 / 140;
        padding: 30px;
      border-radius: 15px;
          box-sizing: border-box;


        .u24DemiBold_v2 {
            margin-bottom: 24px;
        }


        &:nth-child(2) {
            background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/IMG_7844_2x_b3ae3bda-3842-4c14-9efa-5e3343c7d9a2.jpg?v=1727260918');
        }

        &:nth-child(3) {
            background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/12333321_2x_c49a5439-1e36-4d61-a381-75fe10832383.jpg?v=1727260932');
        }
    }


    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        padding: 0 4vw;


        &>div {
            .u24DemiBold_v2 {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
    }
}


.Choose {
    margin-bottom: 40px;

    @media (max-width: 767px) {
        font-size: 24px;
        margin-bottom: 24px;
        padding: 0 4vw;
    }
}


.compared {
    // background-color: #F7F8FA;
    padding: 120px 0;

    .centeral-content {
        .items {
            display: flex;
            flex-direction: column;

            .item {
                display: flex;
                padding: 40px 0;

                &+.item {
                    border-top: 1px solid #0006;
                }


                .dimension {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .u20Medium_v2 {
                        margin: 10% 0 20%;
                        opacity: 0.7;
                        padding-right: 15%;
                    }
                }


                .params {
                    flex: 2;
                    display: flex;
                    align-items: center;

                    .param {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        text-align: left;

                        .select {
                            background-color: #fff;
                            border-radius: 30px;
                            padding: 0 40px;
                            margin-top: 30px;
                            height: 60px;
                            border: 2px solid #fff;
                            transition: all .3s;
                            overflow: hidden;
                            box-sizing: border-box;

                            select {
                                width: 100%;
                                height: 100%;
                                font: normal normal 600 20px/1.4em urbane;
                                border: none;



                                &:focus-visible {
                                    outline-offset: unset;
                                    box-shadow: unset;
                                    outline: unset;
                                    border-color: #000;
                                }

                                option[disabled] {
                                    cursor: not-allowed;
                                    color: #ccc;
                                }
                            }

                            &::after,
                            &::before {
                                content: unset;
                            }

                            &:focus-within {
                                border: 2px solid #000;
                            }
                        }


                        .sizes {
                            display: flex;
                            flex-direction: column;
                            margin-top: 36px;

                            &>div {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;

                                span {
                                    &:first-child {
                                        color: #000;
                                    }
                                }

                                &+div {
                                    margin-top: 12px;


                                }
                            }

                        }


                    }

                    .param+.param {
                        margin-left: 16px;
                    }


                    .u17Medium_v2 {
                        color: #000000b3;
                        padding-right: 10%;
                        line-height: 1.6em;
                    }
                }


                .params-dimensions {
                    .u17Medium_v2 {
                        padding-right: 5%;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding: 40px 0;

        .centeral-content {
            padding: 0 4%;

            .items {
                .item {
                    flex-direction: column;
                    padding: 30px 0;

                    .dimension {
                        position: relative;

                        .u42DemiBold_v2 {
                            font-size: 24px;
                        }

                        .u20Medium_v2 {
                            margin: 24px 0;
                            font-size: 14px;
                            padding: 0;
                            line-height: 22px;
                        }

                        i {
                            position: absolute;
                            right: 0;
                        }
                    }

                    .params {
                        .param {
                            .select {
                                height: 45px;
                                padding: 0 15px;

                                select {
                                    font-size: 12px;
                                }
                            }


                        }

                        .u17Medium_v2 {
                            font-size: 12px;
                            padding-right: 0;
                        }
                    }

                    .params-dimensions {
                        flex-direction: column;
                        padding: 0 5%;

                        .param {
                            margin: 20px 0;

                            .u14DemiBold_v2 {
                                margin: 12px 0;
                                color: #000;
                            }

                            .sizes {
                                margin: 0;
                            }
                        }

                        .param+.param {
                            margin-left: 0;
                            margin-bottom: 0;
                        }
                    }

                    .u24DemiBold_v2 {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}


.professional {
    padding: 120px 0 0;

    .centeral-content {
        overflow: hidden;

        .u36DemiBold_v2 {
                margin-bottom: 40px;
                text-align: left;
        }

        .videos {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // grid-column-gap: 30px;

            &>div {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                height: auto;

                img {
                    cursor: pointer;
                }


                .u17Light_v2 {
                    margin: 12px 0 30px;
                }

                .u17Medium_v2 {
                    display: flex;
                    align-items: center;

                    img {
                        max-width: 28px;
                        width: 28px;
                        margin-right: 10px;
                        border-radius: 50%;
                    }
                }
            }


        }


        .swiper-scrollbar {
            position: static;
            margin-top: 5vh;
            width: 100%;
            background-color: #DEDEDE;
            z-index: unset;
            
            .swiper-scrollbar-drag {
                background-color: #FD4B17;
            }
        }



        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 5vh;

            .swiper-button-prev,
            .swiper-button-next {
                position: static;
                color: #fff;
                background-color: #000;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                margin-left: 15px;
                z-index: unset;
                

                &::after {
                    font-size: 18px;
                }
            }
        }
    }


    @media (max-width: 767px) {
        padding: 16vw 0 0;

        .centeral-content {
            padding: 0 4vw;

            .u36DemiBold_v2 {
                font-size: 24px;
                text-align: left;
                margin-bottom: 24px;
            }

            .videos {
                display: flex;
                grid-column-gap: 0;

                &>div {

                    .u17Light_v2 {
                        font-size: 14px;
                        margin-bottom: 4vw;
                    }
                }
            }
        }
    }
}