.banner {
    background: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220619-untitled-9871_2x_c88a24b4-c678-49d1-9e15-425d2adb6268.jpg?v=1686738427') center center/cover no-repeat;
    height: 440px;
    color: #fff;

    .centeral-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .u48DemiBold_v2,
        .u17Medium_v2 {
            max-width: 500px;
            margin-bottom: 24px;
        }
    }
}