$backround-color: #F7F8FA;

h1,
h2,
h3,
h4 {
    color: inherit;
    margin: 0;
}

.mb24 {
    margin-bottom: 24px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb8 {
    margin-bottom: 8px;
}

@mixin video {
    video {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


.u17Light_v2 {
    @media (max-width: 767px) {
        font-size: 15px;
    }
}

.weight {
    aspect-ratio: 1920 / 750;
    color: #fff;
    overflow: hidden;

    .centeral-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;

        .u17Light_v2 {
            max-width: 500px;
            margin: 5vh 0 5vh;
        }


        .u24Medium_v2 {
            padding-inline-start: 25px;
            margin: 0 0 5vh;

            li {
                &::marker {
                    color: #FFC22C;
                }
            }

            li+li {
                margin-top: 2.5vh;
            }
        }
    }

    @media (max-width: 767px) {
        aspect-ratio: unset;
        color: #000;
        background-size: contain;
        background-position: top;
        padding-top: 80vw;

        .centeral-content {
            padding: 8vw 8vw 13.5vw;

            .u48Medium_v2 {
                font-size: 24px;
            }

            .u24Medium_v2 {
                font-size: 17px;
                margin: 0 0 25px;
            }

            .u17Light_v2 {
                margin: 25px 0;
            }
        }
    }
}

.embrace {
    .centeral-content {
        margin-left: 52%;
    }

    @media (max-width: 767px) {

        .centeral-content {
            margin: 0 auto;
        }
    }
}


.boxs {
    background-color: #F7F8FA;
    padding: 15vh 0;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #fff;
        background-clip: content-box;
        align-items: center;


        &>div {
            padding: 12%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;


            .u17Light_v2 {
                margin: 6% 0 12%;
                max-width: 450px;
            }

            .u48Medium_v2 {
                color: #FD4B17;
            }

            .u24Medium_v2 {
                padding-inline-start: 25px;
                margin: 0;

                li+li {
                    margin-top: 2.5vh;
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding: 13.5vw 0;

        .centeral-content {
            grid-template-columns: 1fr;
            padding: 0 4vw;

            &>div {
                padding: 8vw 4vw 10vw;

                &:nth-of-type(2) {
                    order: 1;
                }

                .u30Medium_v2 {
                    font-size: 24px;
                }

                .u17Light_v2 {
                    margin: 8vw 0;
                }

                .u24Medium_v2 {
                    font-size: 17px;

                    li+li {
                        margin-top: 6vw;
                    }
                }

                .u48Medium_v2 {
                    font-size: 36px;

                    .u24Medium_v2 {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}



.boxs3 {
    margin: 15vh 0;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &>div {
            background-color: #F7F8FA;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10%;
            align-items: flex-start;
            box-sizing: border-box;

            .u17Light_v2 {
                margin: 10% 0;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                div+div {
                    margin-top: 4%;
                }

                img {
                    max-width: 40px;
                    margin-right: 8%;
                }
            }

            &:nth-child(3) {
                .u17Light_v2 {
                    margin: 5% 0;
                }
            }

            .logos {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 25px 25px 25px;
                grid-gap: 25px 40px;
                margin-bottom: 12%;

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .texts {
                div {
                    display: flex;
                    align-items: center;

                    span {
                        &:first-child {
                            max-width: 180px;
                            margin-right: 16px;
                        }
                    }
                }

                div+div {
                    margin-top: 10%;
                }

              margin-bottom: 10%;
            }
        }


        #storepoint-tag-dropdown,
        #storepoint-search,
        #storepoint-panel {
            display: none !important;
        }

        #storepoint-map,
        #storepoint-container,
        #storepoint-map canvas {
            width: 100% !important;
            height: 100% !important;
            max-height: 100% !important;
            border: none;
        }
    }


    @media (max-width: 767px) {
        margin: 0 0 20vw;

        .centeral-content {
            grid-template-columns: 1fr;
            padding: 0 4vw;

            &>div {
                padding: 8vw 4vw;

                &:nth-child(1) {
                    order: 1;
                }


                &:nth-child(2) {
                    order: 2;
                }

                &:nth-child(3) {
                    order: 4;
                }

                &:nth-child(4) {
                    order: 3;
                }

                &:nth-child(5) {
                    order: 5;
                }

                &:nth-child(6) {
                    order: 6;
                }

                .u17Light_v2 {
                    img {
                        margin-right: 6vw;
                    }
                }

                .logos {
                    grid-gap: 6vw 8vw;

                    // img {
                    //     height: auto;
                    //     width: 100%;
                    // }
                }


                .texts {
                    &>div {
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 0;

                        span {
                            &:first-child {
                                max-width: unset;
                                margin-right: unset;
                                font-size: 13px;
                            }
                        }
                    }

                    &>div+div {
                        margin-top: 8vw;
                    }
                }
            }

            .u30DemiBold_v2 {
                font-size: 24px;
            }
        }
    }
}


.joy {
    background-color: $backround-color;
    padding: 14vh 0;

    .u60Medium_v2 {
        text-align: center;
        margin-bottom: 10vh;
    }

    .centeral-content {
        &>div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;

            &>div {
                height: 440px;
                background: transparent center center/cover no-repeat;
                grid-column: 1 / 3;
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;


                .u17Light_v2 {
                    max-width: 400px;
                    margin-top: 2.5vh;
                    opacity: 0.78;
                }


                &:first-child {
                    padding-left: 100px;
                }

                &:nth-child(2) {
                    padding-left: calc(50% + 30px);
                }

                &:last-child {
                    padding-left: calc(50% + 30px);
                }

                &:nth-child(3),
                &:nth-child(4) {
                    height: auto;
                    padding: 60px 30px 75%;
                    justify-content: flex-start;
                }

                &:nth-child(3) {
                    grid-column: 1 / 2;
                }

                &:nth-child(4) {
                    grid-column: 2 / 3;
                }

            }
        }
    }

    @media (max-width: 767px) {
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 10vw;

        .u60Medium_v2 {
            font-size: 24px;
            margin-bottom: 10vw;
            text-align: left;
            padding-left: 4vw;
        }

        .centeral-content {
            padding: 0 4vw;

            &>div {
                display: flex;
                flex-direction: column;
                grid-row-gap: 4vw;

                &>div {
                    padding: 8vw !important;
                    height: 120vw !important;
                    justify-content: flex-start !important;

                    &:nth-child(1) {
                        height: 135vw !important;
                    }

                    &:nth-child(3) {
                        height: 145vw !important;
                    }

                    .u36Medium_v2 {
                        font-size: 24px;
                    }

                    .u17Light_v2 {
                        margin-top: 3vw;
                    }
                }
            }
        }
    }
}


.app {
    background-color: $backround-color;

    .centeral-content {
        display: flex;
        flex-direction: column;

        &>div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 5vh;
            grid-column-gap: 8%;

            .u17Light_v2 {
                max-width: 440px;
                opacity: 0.8;
            }
        }
    }

    @media (max-width: 767px) {
        background-color: transparent;

        .centeral-content {
            padding: 0;
            // flex-direction: column-reverse;

            &>div {
                grid-template-columns: 1fr;
                padding: 8vw 8vw 0 8vw;
                margin: 0;

                .u48Medium_v2 {
                    font-size: 24px;
                }

                .u17Light_v2 {
                    margin-top: 5vw;
                }
            }

            img {
                margin-top: 10vw;
            }
        }
    }
}


.judmeeeeeeeee {
    @media (max-width: 767px) {
        .centeral-content {
            padding: 0 4vw;
        }
    }
}



$product-tags-color: #FFE2D9;
#choose {
    background-color: #F7F8FA;
    padding: 100px 0;

    @media (max-width: 767px) {
        padding: 40px 0;
    }
}



.world {
    color: #fff;
    aspect-ratio: 1920 / 750;

    .centeral-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        height: 100%;

        .u17Light_v2 {
            max-width: 450px;
            margin: 4vh 0 6vh;
            opacity: 0.77;
        }

        .u17Medium_v2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 4vh;

            span {
                display: flex;
                align-items: baseline;
            }

            h3 {
                margin-left: 5px;
            }
        }
    }

    @media (max-width: 767px) {
        background-image: none;
        color: #000;
        display: flex;
        flex-direction: column;
        aspect-ratio: auto;
        padding-top: 92vw;

        .centeral-content {
            height: auto;

            & > .u36Medium_v2 {
                font-size: 24px;
            }

            .u17Light_v2 {
                margin: 8vw 0;
            }

            & > div {
                display: flex;
                width: 100%;

                .u17Medium_v2 {
                    font-size: 15px;
                    flex: 1;
                    margin-bottom: 13.5vw;
    
                    .u48Medium_v2 {
                        font-size: 30px;
                        margin: 0;
                    }
                }
            }
        }
    }
}


.beast {
    .centeral-content {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 12%;
        align-items: center;

        .u17Light_v2 {
            max-width: 500px;
            opacity: 0.8;
            margin: 3vh 0 6vh;
        }


        .icons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            div {
                display: flex;
                flex-direction: column;
                grid-column-gap: 5%;
                max-width: 150px;
                cursor: pointer;
                justify-content: center;

                .u14Medium_v2 {
                    opacity: 0.8;
                }

                img {
                    height: 90px;
                    max-height: 90px;
                    width: auto;
                    place-self: center;
                }

                .progress {
                    margin: 10px 0;
                    background-color: #fff;
                    height: 5px;
                    border-radius: 5px;
                    overflow: hidden;
                    opacity: 1;
                    

                    & > div {
                        height: 5px;
                        background-color: #FFDF48;
                        width: 0%;
                        place-self: center;
                        border-radius: 5px;
                        transition: width .3s linear;
                    }
                }

                .u14Medium_v2 {
                    opacity: 0.8;
                }

                &:hover {
                   .progress {
                     opacity: 1;
                     
                     & > div {
                       width: 100%;
                     }
                   }

                  .u14Medium_v2 {
                    opacity: 1;
                }
                }
            }


            .active {
                .progress {
                  
                    /* display: block; */
                }
                
                .u14Medium_v2 {
                    &:last-child {
                        display: block;
                    }
                }
            }
        }
    }


    @media (max-width: 767px) {
        background-image: none;
        background-color: #F7F8FA;
        aspect-ratio: unset;
        color: #000;
        background-size: contain;
        background-position-y: top;
          padding-top: 8vw;

        .centeral-content {
            grid-template-columns: 1fr;

            .u36Medium_v2 {
                font-size: 24px;
            }

            .u17Light_v2 {
                margin: 24px 0 30px;
            }

            .icons {
                margin: 0 -4vw;
                
                div {
                    justify-content: flex-start;

                    img {
                        max-height: 50px;
                        margin-bottom: -10px;
                    }

                  .u14Medium_v2 {
                    &:last-child {
                        display: none;
                    }
                }

                  .progress {
                    display: none;
                  }
                }
            }
        }
    }
}


.ultimate {
    color: #fff;
    position: relative;

    .swiper-wrapper {

        .swiper-slide {
            background: #000 center center/cover no-repeat;
        }
    }


    & > div:not(.swiper-wrapper) {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        margin-left: 55%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        padding: 15vh 0;
        

        .u17Light_v2 {
            max-width: 500px;
            opacity: 0.8;
            margin: 3vh 0 6vh;
        }

        .icons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 5%;

            & > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                height: 200px;

                img {
                    height: 90px;
                    max-height: 90px;
                    width: auto;
                    display: none;
                    margin-bottom: 10px;
                }

                .b {
                    display: block;
                }


                div {
                    background-color: #fff;
                    width: 90%;
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                    height: 0;
                    transition: none;
                    

                    &::after {
                        content: "";
                        display: block;
                        height: 5px;
                        width: 5%;
                        background-color:#FFC400;
                        border-radius: 5px;
                        transition: width 1.88s linear;
                    }
                }

                .u14Medium_v2 {
                    &:last-child {
                        opacity: 0.8;
                        
                        height: 0;
                        overflow: hidden;
                    }
                }
            }


            .active {
                div {
                    margin: 10px 0;
                    height: 5px;
                    transition: all .4s ease-out;

                    &::after {
                        width: 100%;
                    }
                }


                .u14Medium_v2 {
                    &:last-child {
                        height: auto;
                        transition: all .4s ease-out;
                    }
                }


                .a {
                    display: block;
                }

                .b {
                    display: none;
                }
            }
        }
    }


    @media (max-width: 767px) {
        & > div:not(.swiper-wrapper) {
            margin: 0;
            padding: 0 8vw 8vw;
            top: unset;

            .u36Medium_v2 {
                display: none;
            }

            .icons {
                grid-template-columns: 1fr;
                position: relative;

                & > div {
                    align-items: flex-start;
                    text-align: left;
                  height: auto;

                    & > div,
                    .u14Medium_v2 {
                        display: none;
                    }
                }


                .active {
                    .u14Medium_v2 {
                        display: block;
                        margin-bottom: 8px;
                    }
                }
            }


            .swiper-pagination {
                padding: 0 8vw;
                text-align: left;
                bottom: 15px;

                .swiper-pagination-bullet {
                    width: 60px;
                    border-radius: 3px;
                    height: 3px;
                    transition: all .3s linear;
                    background-color: #aaa;
                }

                .swiper-pagination-bullet-active {
                    background-color: #FFDF48;
                }
            }
        }
    }
}



.professional {
    background-color: $backround-color;
    padding: 12vh 0;

    .centeral-content {
        overflow: hidden;

        .u36Medium_v2 {
                margin-bottom: 5.5vh;
                text-align: center;
        }

        .videos {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // grid-column-gap: 30px;

            &>div {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                height: auto;

                & > img {
                    cursor: pointer;
                    border-radius: 15px;
                    aspect-ratio: 80 / 43;
                }


                .u17Light_v2 {
                    margin: 12px 0 30px;
                }

                .u17Medium_v2 {
                    display: flex;
                    align-items: center;

                    img {
                        max-width: 28px;
                        width: 28px;
                        margin-right: 10px;
                        border-radius: 50%;
                    }
                }
            }


        }


        .swiper-scrollbar {
            position: static;
            margin-top: 5vh;
            width: 100%;
            background-color: #DEDEDE;
            z-index: unset;
            
            .swiper-scrollbar-drag {
                background-color: #FD4B17;
            }
        }



        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 5vh;

            .swiper-button-prev,
            .swiper-button-next {
                position: static;
                color: #fff;
                background-color: #000;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                margin-left: 15px;
                z-index: unset;
                

                &::after {
                    font-size: 18px;
                }
            }
        }
    }


    @media (max-width: 767px) {
        padding: 12vw 0;

        .centeral-content {

            .u36Medium_v2 {
                font-size: 24px;
                text-align: left;
                  margin-bottom: 24px;
            }

            .videos {
                display: flex;
                grid-column-gap: 0;

                &>div {

                    .u17Light_v2 {
                        font-size: 14px;
                        margin-bottom: 4vw;
                    }
                }
            }
        }
    }
}