.u17Light_v2 {
    opacity: 0.78;

    @media (max-width: 767px) {
        font-size: 14px;
    }
}

h1,
h2,
h3,
h4 {
    color: inherit;
    margin: 0;
}


.banner {
    background: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/urtopiaebike_an_image_of_an_upcoming_crossover_suv_in_the_style_2x_4c2218f1-71d2-41ac-a178-43f4e53b8c55.jpg?v=1710141041') center center/cover no-repeat;
    height: calc(100vh - 106px);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 7vh;

    .u20Medium_v2 {
        margin: 0.5vh 0 3vh;
    }

    .u60Medium_v2 {
        position: relative;

        &::after {
            content: "NEW";
            color: #FF7F4E;
            font-size: 20px;
            font-weight: 400;
            position: absolute;
            top: -25%;
            word-break: normal;
        }
    }

    @media (max-width: 767px) {
        background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/urtopiaebike_an_image_of_an_upcoming_crossover_suv_in_the_style_2x_40d7592d-4e2d-4454-a535-9c8e427bf51a.jpg?v=1710141632');
        height: calc(100vh - 102px);

        .u60Medium_v2 {
            font-size: 36px;

            &::after {
                font-size: 14px;
                font-weight: 300;
            }
        }

        .u20Medium_v2 {
            margin: 2.5vw 0 8vw;
            font-size: 17px;
        }
    }
}

.chord {
    background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/afa_2x_4d9bbc67-61b2-4b0e-90d2-8eb10c691d03.jpg?v=1710141036');
  margin-top: 2vh;

    .u60Medium_v2 {
        &::after {
            content: "";
        }
    }

    .my-button-white {
        &:hover {
            background-color: transparent;
        }
    }

    @media (max-width: 767px) {
        background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/afa_2x_683b148c-a397-4fd6-98c5-261ef12037e2.jpg?v=1710141625');
      margin-top: 2.5vw;
    }
}


.fusion {
    background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x.jpg?v=1704792522');
  margin-top: 2vh;

    .u60Medium_v2 {
        &::after {
            color: #D1A73E;
        }
    }

    @media (max-width: 767px) {
        background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_0fcbb976-d852-495e-90b0-03cf23582e27.jpg?v=1710141608');
      margin-top: 2.5vw;
    }
}


.mind {
    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20117_2x_3e8162d5-ac80-4fdd-976e-870893377ca7.jpg?v=1704523319') center center/cover no-repeat;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 7vh;
    margin: 0 20px;

    .u17Light_v2 {
        margin: 1.5vh 0 4vh;
    }

    .my-button-white {
        &:hover {
            background-color: transparent;
        }
    }

    @media (max-width: 767px) {
        background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23583_2x_cbe98887-526b-49ab-bb28-34774d6faf80.jpg?v=1704523978');
        height: 120vw;
        padding: 15vw 8vw;
        margin: 0;

        .u36Medium_v2 {
            font-size: 24px;
        }

        .u17Light_v2 {
            margin: 2.5vw 0 8vw;
        }
    }
}

.smart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin: 20px;

    & > div {
        background: transparent center center/cover no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 6% 0 40%;

        .u17Light_v2 {
            max-width: 350px;
            margin: 1.5% 0 4%;
        }

        &:first-child {
            background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23663_2x_6702ea78-831e-48c6-a9c0-21fa3d8bcda5.jpg?v=1704524198');    
        }

        &:last-child {
            background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/DSC9877_2x_2025795b-a6e2-46aa-9eda-22cdbbaee148.jpg?v=1704524193');
        }
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        margin: 10px 0 0 0;

        & > div {
            padding: 0;
            height: 100vw;
            padding-top: 15vw;

            .u36Medium_v2 {
                font-size: 24px;
            }

            &:first-child {
                background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23589_2x_d2d1cbf8-cbda-4809-abe8-272f2df96464.jpg?v=1704525377');
            }

            &:last-child {
                background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/DSC9877_2x_c597ab91-8486-4378-b601-11baa58ebc1c.jpg?v=1704525385');
            }
        }
    }
}

.test-ride {
    margin: 16vh 0;

    .centeral-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1.5%;


        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            cursor: pointer;

            img {
                margin-bottom: 5%;
            }

            .u17Light_v2 {
                margin: 2% 0 5%;
            }

            a {
                display: flex;
                
                &::after {
                    content: ">";
                    margin-left: 10px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        margin: 16vw 0;

        .centeral-content {
            grid-template-columns: 1fr;
            grid-row-gap: 8vw;

            & > div {
                .u36Medium_v2 {
                    font-size: 24px;
                }

                .u17Light_v2 {
                    margin: 10px 0 20px;
                }

                img {
                    margin-bottom: 4vw;
                }
            }
        }
    }
}

.blogs {
    padding: 14vh 0 22vh;
    background-color: #000;
    color: #fff;

    .centeral-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 8vw;
        position: relative;

        & > div {
            background-color: #313131;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 7.5%;
            overflow: hidden;
            cursor: pointer;

            .u20Medium_v2 {
                padding: 7.5%;
                text-align: center;
            }

            img {
                aspect-ratio: 1.325;
                object-fit: cover;
                transition: all .5s ease-out;
            }

            a {
                display: flex;
                color: #fff;
                
                &::after {
                    content: ">";
                    margin-left: 10px;
                }
            }

            &:hover {
                & > img {
                    transform: scale(1.05);
                }
            }
        }


        .gotooooooo {
            position: absolute;
            display: flex;
            right: 30px;
            bottom: -25%;
            background-color: transparent;
            left: 0;
            padding: 0;
            flex-direction: row;
            justify-content: flex-end;
            cursor: pointer;

            .u20Medium_v2 {
                padding: 0;
            }

            img {
                max-width: 48px;
                margin-left: 20px;
                aspect-ratio: 1;
            }

            &:hover {
                & > img {
                    transform: scale(1);
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding: 20vw 0 40vw;
 
        .centeral-content {
            grid-template-columns: 1fr;

            & > div {
                .u20Medium_v2 {
                    font-size: 15px;
                    padding-bottom: 5vw;
                }
            }

            .gotooooooo {
                bottom: -20vw;

                img {
                    max-width: 35px;
                    margin-left: 4vw;
                }
            }
        }
    }
}

@keyframes toTop {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    /* 50% {
      opacity: 0.5;
      transform: translateY(-20px);
    } */

    100% {
        transform: translateY(-40px);
        opacity: 1;
    }
}

@keyframes toBottom {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    /* 50% {
      opacity: 0.5;
      transform: translateY(20px);
    } */

    100% {
        transform: translateY(40px);
        opacity: 0;
    }
}


.page-media {
    .centeral-content {
        .home-page-media {
            display: flex;
            height: 340px;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 75px 0;
            box-sizing: border-box;
        
            .texts {
                flex: 1;
                font: normal normal 600 30px/40px Urbane;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
        
                h2 {
                    animation-duration: 0.5s;
                    animation-timing-function: ease-out;
                }
        
                .toTop {
                    opacity: 1;
                    animation-name: toTop;
                    transform: translateY(-40px);
                }
        
                .toBottom {
                    opacity: 0;
                    animation-name: toBottom;
                    transform: translateY(40px);
                }
            }
        
            .logos {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                flex-wrap: wrap;

                img {
                    width: auto;
                    opacity: 0.5;
                    margin: 0 24px 24px;
                    max-height: 60px;
                    height: unset;
        
                    &[active] {
                        opacity: 1;
                    }
                }
            }
        }
    }


    @media (max-width: 767px) {
        .centeral-content {
            padding: 0;
            
            .home-page-media-mb {
                padding-top: 50px;
                padding-bottom: 50px;
                overflow: hidden;
            
                .swiper-slide {
                    box-sizing: border-box;
                    padding: 0 10%;
                      display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
            
                    img {
                        height: 48px;
                      width: auto;
                    }
            
                    .u20Medium {
                        font-weight: 600;
                        margin: 20px 0 30px;
                        font-size: 22px;
                        line-height: 26px;
                    }
                }
            
                .swiper-pagination {
                    position: static;
                }
            
                .swiper-pagination-bullet {
                    height: 6px;
                    width: 6px;
                }
            
                .swiper-pagination-bullet-active {
                    width: 30px;
                    height: 6px;
                    border-radius: 5px;
                    transition: all .3s;
                }
            }
        }
    }
}


.bannerrrr {
    height: calc(100vh - 106px);
    position: relative;
    color: #fff;
    overflow-x: hidden;

    .centeral-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        &>div {
            &:first-child {
                flex: 1;
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                text-align: left;
            }
        }

        .buttons {
            &>a {
                margin-right: 24px;
            }

            // & > a + a {
            //     margin-top: 12px;
            // }
        }
    }

    .swiper-wrapper {
        .swiper-slide {
            background: center center/cover no-repeat;
        }

        .first {
            background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/urtopiaebike_an_image_of_an_upcoming_crossover_suv_in_the_style_2x_4c2218f1-71d2-41ac-a178-43f4e53b8c55.jpg?v=1710141041');

            .centeral-content {
                .banner {
                    align-items: center;
                    width: 100%;
                    background: none;
                    height: auto;
                    place-self: flex-start;
    
                    .u17Light_v2 {
                        max-width: 450px;
                        margin: 4.5vh 0 5vh;
                        opacity: 0.78;
                    }
        
                    img {
                        &:nth-of-type(1) {
                            max-width: 650px;
                            margin-top: 2.5vh;
                        }

                        &:nth-of-type(2) {
                            max-width: 440px;
                            margin-top: 5vh;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .second {
            background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23341_2x_0bb8978c-fcb9-47f7-a5c2-3842daf08def.jpg?v=1707224266');

          & > div {
            & > div {
              align-items: flex-start;

              .u24Light_v2 {
                max-width: 366px;
                margin: 9vh 0 6vh;
              }
            }

            img {
            &:first-child {
              max-width: 342px;
            }
          }

            .xxx {
              max-width: 408px;
              margin-top: 8vh;
            }
          }

          
        }
    }

    .swiper-pagination {
        z-index: 1;
    }


    .swiper-pagination-bullet {
        height: 6px;
        width: 6px;
        background-color: #d5d5d5;
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
        width: 30px;
        height: 6px;
        border-radius: 5px;
        transition: all .3s;
        opacity: 1;
    }

  @media (max-width: 767px) {
    height: calc(100vh - 102px);

        .centeral-content {
            &>div {
                &:last-child {
                    height: 100%;
                }
            }

            .buttons {
                a {
                     margin:0;
                       width: 100%;
                 }

                & > a + a {
                     margin-top: 12px;
                 }
             }

           
  }

    .swiper-wrapper {
            .swiper-slide {
                background-position-y: top;
            }

             .first {
               background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/urtopiaebike_an_image_of_an_upcoming_crossover_suv_in_the_style_2x_40d7592d-4e2d-4454-a535-9c8e427bf51a.jpg?v=1710141632');
             }

             .second {
               background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/afa_2x_683b148c-a397-4fd6-98c5-261ef12037e2.jpg?v=1710141625');

               & > div {
                 & > div {
                   align-items: center;
                   text-align: center;
                   padding: 6vw 0 13.5vw;

                   img {
                     max-width: 200px !important; 
                   }

                   .u24Light_v2 {
                     font-size: 17px;
                     margin: 5vw 0;
                   }
                 }
               }
             }
           }
  }
}
.bannerrrr2 {
    height: calc(100vh - 106px);
    position: relative;
    color: #fff;
    //overflow-x: hidden;

    .centeral-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        &>div {
            &:first-child {
                flex: 1;
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                text-align: left;
            }
        }

        .buttons {
            &>a {
                margin-right: 24px;
            }

            // & > a + a {
            //     margin-top: 12px;
            // }
        }
    }

    .swiper-wrapper {
        .swiper-slide {
            background: center center/cover no-repeat;
        }

        .first {
          background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23341_2x_0bb8978c-fcb9-47f7-a5c2-3842daf08def.jpg?v=1707224266');
          margin-top: 2vh;

          & > div {
            & > div {
              align-items: flex-start;

              .u24Light_v2 {
                max-width: 366px;
                margin: 9vh 0 6vh;
              }
            }

            img {
            &:first-child {
              max-width: 342px;
            }
          }

            .xxx {
              max-width: 408px;
              margin-top: 8vh;
            }
          }

          
        }
    }

    .swiper-pagination {
        z-index: 1;
    }


    .swiper-pagination-bullet {
        height: 6px;
        width: 6px;
        background-color: #d5d5d5;
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
        width: 30px;
        height: 6px;
        border-radius: 5px;
        transition: all .3s;
        opacity: 1;
    }

  @media (max-width: 767px) {
    height: calc(100vh - 102px);

        .centeral-content {
            &>div {
                &:last-child {
                    height: 100%;
                }
            }

            .buttons {
                a {
                     margin:0;
                       width: 100%;
                 }

                & > a + a {
                     margin-top: 12px;
                 }
             }

           
  }

    .swiper-wrapper {
            .swiper-slide {
                background-position-y: top;
            }

             .first {
               background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23906.jpg?v=1707243389');
               margin-top: 2.5vw;

               & > div {
                 & > div {
                   align-items: center;
                   text-align: center;
                   padding: 6vw 0 13.5vw;

                   img {
                     max-width: 200px !important; 
                   }

                   .u24Light_v2 {
                     font-size: 17px;
                     margin: 5vw 0;
                   }
                 }
               }
             }
           }
  }
}