@keyframes toTop {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    /* 50% {
      opacity: 0.5;
      transform: translateY(-20px);
    } */

    100% {
        transform: translateY(-40px);
        opacity: 1;
    }
}

@keyframes toBottom {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    /* 50% {
      opacity: 0.5;
      transform: translateY(20px);
    } */

    100% {
        transform: translateY(40px);
        opacity: 0;
    }
}

.banner {
    height: calc(100vh - 106px);
    position: relative;
    color: #fff;
    overflow-x: hidden;
    background-color: var(--sale-order-page-text-color);

    .centeral-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        &>div {
            &:first-child {
                flex: 1;
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                text-align: left;
            }
        }

        .buttons {
            &>a {
                margin-right: 24px;
            }

            // & > a + a {
            //     margin-top: 12px;
            // }
        }
    }

    .swiper-wrapper {
        .swiper-slide {
            background: center center/cover no-repeat;
        }

        .summer-sale {
            background-image: var(--sale-banner-background-image-pc);
            color: var(--sale-banner-text-color);

            .centeral-content {
                
                &>div {
                    & > img {
                        max-width: var(--sale-banner-image-max-width);
                    }

                    .u36DemiBold_v2 {
                        margin: 40px 0;
                    }
                }
            }
        }

        .strava {
            background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21253_2x_945b0603-6617-4e75-8180-997dd03fc967.jpg?v=1689664830');

            .centeral-content {
                height: 42%;

                & > div {
                    text-align: center;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-height: 54px;
                        width: auto;
                    }

                    .u24Medium_v2 {
                        margin: 32px 0 40px;
                    }
                }
            }
        }

        .michaeal {
            background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22784_2x_c04d2cff-9be1-4956-8786-269eb56b260d.jpg?v=1693981525');

            .centeral-content {
                & > div {
                    align-items: flex-start;
    
                    .u17Light_v2 {
                        max-width: 450px;
                        margin: 4.5vh 0 5vh;
                        opacity: 0.78;
                    }
        
                    img {
                        &:nth-of-type(1) {
                            max-width: 650px;
                            margin-top: 2.5vh;
                        }

                        &:nth-of-type(2) {
                            max-width: 440px;
                            margin-top: 5vh;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .holiday {
            background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_19228_2x_530a3d76-7847-45ca-8e34-b08c73fdb91d.jpg?v=1695796443');

            .centeral-content {
                align-items: flex-end;

                & > div {
                    align-items: flex-start;
                    height: 70%;
                    padding-bottom: 8vh;

                    img {
                        max-width: 640px;
                        margin-bottom: 40px;
                    }

                    .u14Light_v2 {
                        max-width: 480px;
                        opacity: 0.7;
                    }

                    .u17DemiBold_v2 {
                        border-radius: 12px;
                        padding: 2px 11px;
                        background-image: linear-gradient(90deg, #EE6426, #F4492A);
                        font-size: 16px;
                        margin: 12px 0 24px;
                    }

                    &:first-child {
                        display: none;
                    }
                }
            }
        }

        .chord-sale {
            background-image: var(--chord-sale-banner-background-image-pc);
        }


        .count-down {
            height: 300px;
            width: 400px;
            transform: translateX(-35px);
            overflow: hidden;
            margin-top: -10px;
        }

      .count-down-gif {
            max-width: 370px;
            overflow: hidden;
            margin-top: 20px;

            img {
                transform: translateY(15%);
            }
        }
    }


    .swiper-pagination-bullet {
        height: 6px;
        width: 6px;
        background-color: #d5d5d5;
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
        width: 30px;
        height: 6px;
        border-radius: 5px;
        transition: all .3s;
        opacity: 1;
    }
}

.test-ride {
    margin-bottom: 120px;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &>div {
            padding-bottom: 100%;
            position: relative;

            &>div {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #F7F8FA;

                &:first-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0 10%;

                }

                .u20DemiBold_v2 {
                    margin: 24px 0 48px;
                }
            }

            #storepoint-tag-dropdown,
            #storepoint-search,
            #storepoint-panel {
                display: none !important;
            }

            #storepoint-map,
            #storepoint-container,
            #storepoint-map canvas {
                width: 100% !important;
                height: 100% !important;
                max-height: 100% !important;
                border: none;
            }
        }
    }
}

.page-media {
    background-color: #f7f8fa;

    .centeral-content {
        background-color: #f7f8fa;

        .home-page-media {
            display: flex;
            height: 340px;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 75px 0;
            box-sizing: border-box;
        
            .texts {
                flex: 1;
                font: normal normal bold 30px/40px Urbane;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
        
                div {
                    animation-duration: 0.5s;
                    animation-timing-function: ease-out;
                }
        
                .toTop {
                    opacity: 1;
                    animation-name: toTop;
                    transform: translateY(-40px);
                }
        
                .toBottom {
                    opacity: 0;
                    animation-name: toBottom;
                    transform: translateY(40px);
                }
            }
        
            .logos {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                flex-wrap: wrap;

                img {
                    width: auto;
                    opacity: 0.5;
                    margin: 0 24px 24px;
                    max-height: 60px;
                    height: unset;
        
                    &[active] {
                        opacity: 1;
                    }
                }
            }
        }
    }
}



@media (max-width: 767px) {
    .banner {
        height: calc(100vh - 102px);

        .centeral-content {
            &>div {
                &:last-child {
                    height: 100%;
                }
            }

            .buttons {
                a {
                     margin:0;
                       width: 100%;
                 }

                & > a + a {
                     margin-top: 12px;
                 }
             }
        }


        .swiper-wrapper {
            .swiper-slide {
                background-position-y: top;
            }

            .summer-sale {
                background-image: var(--sale-banner-background-image-mb);
    
                    .centeral-content {
                        height: 100%;
                        align-items: unset;
    
                        &>div {
                            padding: 6vw 0 8vw;
                            align-items: center;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
    
                            & > img {
                                max-width: var(--sale-banner-image-max-width-mb);
                            }
        
                            .u36DemiBold_v2 {
                                font-size: 20px;
                                margin: 20px 0 0;
                            }
                        }
                    }
                }


            .strava {
                .centeral-content {
                    & > div {
                        .u24Medium_v2 {
                            margin: 30px 0;
                        }
                    }
                }
            }

            .michaeal {
                background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18856_2x_d1ef15b4-07cb-462f-b5e8-a894722094d5.jpg?v=1693984442&width=500');

                .centeral-content {
                    & > div {
                        padding: 10vw 0 8vw;

                        .u24Light_v2,
                        .u24DemiBold_v2 {
                            font-size: 15px;
                        }

                        .u17Light_v2 {
                            font-size: 14px;
                            margin-top: 8vw;
                        }

                        img {
                            &:nth-of-type(1) {
                                margin-top: 3vw;
                            }
                        }

                        .buttons {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                        }
                    }
                }
            }

            .holiday {
                background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_19460_2x_af860527-f616-40ef-9dce-9230fc26a56d.jpg?v=1695797764');
                background-position-y: center;

                .centeral-content {
                    & > div {
                        padding: 6vw 0 8vw;
                        height: 100%;

                        .u14Light_v2 {
                            font-size: 12px;
                        }

                        img {
                            height: 52px;
                            width: auto;
                            margin: auto;
                        }

                        .u36DemiBold_v2 {
                            font-size: 20px;
                            margin: auto;
                            text-align: center;
                        }

                        .u17DemiBold_v2 {
                            font-size: 13px;
                            text-align: center;
                            margin: 1vw auto;
                        }

                        .buttons {
                            width: 100%;
                            margin-bottom: 4vw;
                        }
                    }
                }
            }

            .chord-sale {
                background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230927-172346.jpg?v=1695806668')
            }


            .count-down {
                height: 150px;
                width: 180px;
                transform: translate(-17px);
                margin-bottom: unset;
                margin-top: -15px;
            }

          .count-down-gif {
                max-width: 210px;
                margin-top: 15px;
            }

        }
    }


    .test-ride {
        margin-bottom: 60px;

        .centeral-content {
            grid-template-columns: 1fr;

            &>div {

                &>div {
                    &:first-child {
                        padding: 8vw 4vw;
                    }
                }

                &:first-child {
                    order: 1;
                    padding-bottom: 60vw;

                    .u36DemiBold_v2 {
                        font-size: 24px;
                    }

                    .u20DemiBold_v2 {
                        font-size: 16px;
                        margin-top: 6px;
                    }
                }
            }
        }
    }

    .page-media {
        .centeral-content {
            padding: 0;
            
            .home-page-media-mb {
                padding-top: 65px;
                padding-bottom: 65px;
                background-color: #f7f8fa;
                overflow: hidden;
            
                .swiper-slide {
                    box-sizing: border-box;
                    padding: 0 10%;
                      display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
            
                    img {
                        height: 48px;
                      width: auto;
                    }
            
                    .u20Medium {
                        font-weight: 600;
                        margin: 20px 0 40px;
                        font-size: 22px;
                        line-height: 26px;
                    }
                }
            
                .swiper-pagination {
                    position: static;
                }
            
                .swiper-pagination-bullet {
                    height: 6px;
                    width: 6px;
                }
            
                .swiper-pagination-bullet-active {
                    width: 30px;
                    height: 6px;
                    border-radius: 5px;
                    transition: all .3s;
                }
            }
        }
    }

}


.greenest {
    margin: 120px 0;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-clip: content-box;
        align-items: center;

        & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0 10%;

            .u17Light_v2 {
                margin: 30px 0;
            }
        }
    }

    @media (max-width: 767px) {
        margin: 60px 0;

        .centeral-content {
            grid-template-columns: 1fr;

            & > div {
                padding: 8vw 4vw;

                .u36DemiBold_v2 {
                    font-size: 24px
                }

                .u17Light_v2 {
                    font-size: 14px;
                    margin: 15px 0 30px;
                }
            }
        }
    }
}