$background: rgb(247, 247, 247);


#MainContent {
    background-color: $background;
}

.u17Light_v2 {
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

h1,
h2,
h3,
h4 {
    color: inherit;
    margin: 0;
}


.u17Light_v2 {
    @media (max-width: 767px) {
        font-size: 15px;
    }
}


@mixin video {
    video {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


.your {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box !important;
    margin-top: 11vh;
    padding-left: 60px;
    border-radius: 10px;
    overflow: hidden;
    background-color: $background;

    .u17Light_v2 {
        max-width: 440px;
        margin: 24px 0 36px;
    }

    .u36DemiBold_v2 {
        color: white;
    }

    .my-button-black {
        color: #fff;
        background-color: #D50B28;

        &:hover {
            opacity: 1;
            background-color: #D50B28;
        }
    }


    @media (max-width: 767px) {
        box-sizing: content-box !important;
        padding: 0 30px;
        text-align: center;
        align-items: center;
        margin-top: 4vw;
        border-radius: 0;
        height: auto;
        padding: 8vw 8vw;
        height: 115vw;
        justify-content: flex-start;
        text-align: center;
        align-items: center;

        .u36DemiBold_v2 {
            font-size: 24px;
        }

        .my-button-black {
            color: #000;
            background-color: inherit;
    
            &:hover {
                opacity: inherit;
                background-color: inherit;
            }
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
    color: #fff;
    margin-top: 11vh;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        aspect-ratio: 103 / 140;
        padding: 30px;
        border-radius: 15px;
        overflow: hidden;
      box-sizing: border-box;


        .u24DemiBold_v2 {
            margin-bottom: 24px;
        }
    }


    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        margin-top: 13.5vw;
        grid-row-gap: 20px;


        & > div {
            .u24DemiBold_v2 {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
    }
}

.carbon {
    height: 540px;
    margin-top: 11vh;
    box-sizing: border-box !important;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 15px;
    padding-left: 60px;
    position: relative;
    background-color: #000;
  z-index: 0;

    .u17Light_v2 {
        max-width: 440px;
        margin: 24px 0 36px;
    }

    @media (max-width: 767px) {
        border-radius: 0;
        background-image: none;
        text-align: center;
        padding: 40px 30px !important;
        height: auto;
        align-items: center;
        margin-top: 16px;


        .u17Light_v2 {
            margin: 25px 0;
        }

        .u36DemiBold_v2 {
            font-size: 24px;
        }
    }
}

.app {
    aspect-ratio: 1920 / 1000;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .u17Light_v2 {
        max-width: 580px;
        margin: 24px 0 36px;
    }

    video {
      object-fit: contain;
      object-position: bottom;
    }


    @media (max-width: 767px) {
        margin-top: 13.5vw;
        padding: 0;
        aspect-ratio: 375 / 500;

        .u36DemiBold_v2 {
            font-size: 24px;
        }
      
        video {
        object-position: center;
      }

        .u17Light_v2 {
            padding: 0 30px;
        }
    }
}


.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding-top: 17vh;

    &>div {
        aspect-ratio: 9/8;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #fff;
        border-radius: 15px;
        overflow: hidden;
        padding: 40px 0;
        box-sizing: border-box;
        .u24Medium_v2 {
            margin-bottom: 6px;
        }

        .u17Light_v2 {
            margin: 8px 0 36px;
        }
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        padding-top: 23.5vw;
        
        & > div {
            aspect-ratio: 280/315;
            padding: 20px 0;


            .u24Medium_v2 {
                font-size: 17px;
                margin-bottom: -3px;
            }


            .u17Light_v2 {
                margin: 5px 0 10px;
            }

            .u36DemiBold_v2 {
                font-size: 24px;
            }
        }
    }
}


.testride {
    padding: 13vh 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;


    &>a {
        display: flex;
        flex-direction: column;
      box-sizing: border-box;
        color: #fff;
        aspect-ratio: 103 / 140;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 40px;
        text-align: center;
        border-radius: 15px;
      cursor: pointer;

        .u17Light_v2 {
            margin: 10px 0 25px;
        }


        &>a {
            color: #fff;

            &::after {
                content: ">";
                margin-left: 10px;
            }
        }
    }


    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        padding: 23.5vw 8%;


        & > a {
            background-size: contain;
            background-position: top;
            color: #000;
            padding-bottom: 8vw;
            aspect-ratio: 103 / 132;


            &>a {
                color: #000;
            }

            .u36DemiBold_v2 {
                font-size: 24px;
            }

            .u17Light_v2 {
                margin: 10px 0 20px;
                white-space: nowrap;
                font-size: 13px;
            }
        }
    }
}


.blogs {
    padding: 14vh 0 22vh;
    background-color: #000;
    color: #fff;

    .centeral-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 8vw;
        position: relative;

        &>a {
            background-color: #313131;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 7.5%;
            overflow: hidden;
            cursor: pointer;

            .u20Medium_v2 {
                padding: 7.5%;
                text-align: center;
            }

            img {
                aspect-ratio: 1.325;
                object-fit: cover;
                transition: all .5s ease-out;
            }

            &:hover {
                &>img {
                    transform: scale(1.05);
                }
            }
        }


        .gotooooooo {
            position: absolute;
            display: flex;
            right: 30px;
            bottom: -25%;
            background-color: transparent;
            left: 0;
            padding: 0;
            flex-direction: row;
            justify-content: flex-end;
            cursor: pointer;
            align-items: center;

            .u20Medium_v2 {
                padding: 0;
                color: #fff;
            }
        }
    }

    @media (max-width: 767px) {
        padding: 20vw 0 40vw;
        margin-top: 0;

        .centeral-content {
            grid-template-columns: 1fr;

            &>a {
                .u20Medium_v2 {
                    font-size: 15px;
                    padding-bottom: 5vw;
                }
            }

            .gotooooooo {
                bottom: -20vw;
            }
        }
    }
}
