$product-tags-color: #FFE2D9;

@mixin dots {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 6px 0;

    &>div {
        width: 34px;
        height: 34px;
        margin-right: 20px;
        border-radius: 50%;
        cursor: pointer;

        &::after {
            content: "";
            display: inline-block;
            height: 26px;
            margin: 2px;
            width: 26px;
            border-radius: 100%;
        }

        &[data-stye="Sirius"] {
            background-color: #FA812B;
        }

        &[data-stye="Lyra"] {
            background-color: #747474;
        }

        &[data-stye="Vanilla"] {
            background-color: #F0EEDF;
        }

        &[data-stye="Midnight in Paris"] {
            background-color: #FFEC0B;
            position: relative;
        }

        &[data-stye="White"] {
            background-color: #ddd;
        }

        &[data-stye="Black"] {
            background-color: #000;
        }

        &[data-stye="Gray"] {
            border-color: #405364;
            background-color: #405364;
        }

        &[data-stye="Midnight in Paris"]::before {
            content: "";
            display: inline-block;
            background-color: #ff6c00;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 55%;
            border-top-right-radius: 100px;
            border-top-left-radius: 100px;
        }
    }

    .active {
        background-color: transparent !important;
        border: 2px solid #666;

        &[data-stye="Sirius"]::after {
            background-color: #FA812B;
        }

        &[data-stye="Lyra"]::after {
            background-color: #747474;
        }

        &[data-stye="Vanilla"]::after {
            background-color: #F0EEDF;
        }

        &[data-stye="Midnight in Paris"]::after {
            background-color: #FFEC0B;
        }

        &[data-stye="Midnight in Paris"]::before {
            left: 2px;
            top: 2px;
            right: 2px;
            height: 14px;
            width: 26px;
        }

        &[data-stye="White"]::after {
            background-color: #ddd;
        }

        &[data-stye="Black"]::after {
            background-color: #000;
        }

        &[data-stye="Gray"]::after {
            background-color: #405364;
        }
    }

    @media (max-width: 767px) {
        & > div {
            width: 28px;
            height: 28px;
            margin-right: 12px;
            
            &::after {
                width: 20px;
                height: 20px;
            }
        }

        .active {
            &[data-stye="Midnight in Paris"]::before {
                height: 12px;
                width: 20px;
            }
        }
    }
}

@mixin product-card {
    padding: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    .tags {
        display: flex;
        min-height: 28px;
        flex-wrap: wrap;
        flex: 1;

        span {
            background-color: $product-tags-color;
            border-radius: 10px;
            padding: 4px 10px;
        }

        span {
            margin: 0 6px 6px 0;
        }
    }

    .variant-image {
        cursor: pointer;
    }

    .dots {
        @include dots;
    }

    .product_price {
        display: flex;
        align-items: center;
        margin: 10px 0 6px;
        flex-wrap: wrap;

        img {
            max-width: 40px;
            margin-left: 6px;
        }

        .u24DemiBold_v2 {
            margin-right: 5%;

            &[data-price]::after {
                content: attr(data-price);
                display: inline-block;
                color: #161c1f;
                text-decoration: line-through;
                margin-left: 6px;
                font-size: 24px;
                font-weight: 300;
                opacity: 0.53;
            }
        }

        &>.u17Light_v2 {
            display: flex;
        }
    }

    .my-button {
        width: fit-content;
    }

    @media (max-width: 767px) {
        padding: 4vw;

        .product_price {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 12px;
        }
    }
}

.banner {
    background: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22828_2x_c0f61b50-c25c-4c71-87af-c418a453dc8b.jpg?v=1695626156') center center/cover no-repeat;
    height: 470px;
    color: #fff;

    .centeral-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;

        .u48DemiBold_v2 {
            margin-bottom: 50px;
        }

        img {
            max-height: 60px;
            width: auto;
        }
    }

    @media (max-width: 767px) {
        height: 250px;
        background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22873_2x_a94ef472-393d-4a55-84e6-6ac03bc1df5d.jpg?v=1695643475');
        
        .centeral-content {
            align-items: center;

            .u48DemiBold_v2 {
                font-size: 36px;
                margin-bottom: 12px;
            }

            img {
                max-height: 46px;
            }
        }
    }
}

.support {
    .centeral-content {
        display: flex;
        height: 90px;
        align-items: center;

        .u20DemiBold_v2 {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: center;
        }

        img {
            max-width: 45px;
            margin-right: 20px;
        }
    }

    @media (max-width: 767px) {
        .centeral-content {
            height: 55px;

            .u20DemiBold_v2 {
                font-size: 12px;
                line-height: 1.25em;
                flex: auto;
            }

            img {
                max-width: 24px;
                margin-right: 8px;
            }
        }
    }
}

.ebike-products {
    margin: 100px auto;

    .u24Medium_v2 {
        margin: 12px 0 30px;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 22px;

        .product-card {
            @include product-card;
        }

        &>.lozad {
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            overflow: hidden;
            color: #fff;
            display: flex;
            align-items: flex-end;
            padding: 20px 50% 20px 30px;
        }
    }

    @media (max-width: 767px) {
        margin: 40px auto;

        & > .u36DemiBold_v2 {
            font-size: 30px;
        }
        
        & > .u24Medium_v2 {
            font-size: 20px;
        }

        .product-grid {
            grid-template-columns: 1fr;
            grid-row-gap: 12px;
        }
    }
}

.outlet-products {
    padding: 80px 0;

    .centeral-content {
        .u24Medium_v2 {
            margin: 24px 0;
            max-width: 640px;
        }

        .u17Medium_v2 {
            display: flex;
            align-items: center;

            & > div {
                display: flex;
                align-items: center;
                margin-right: 40px;
            }

            img {
                max-width: 30px;
                margin-right: 12px;
            }
        }

        .product-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 22px;
            margin-top: 60px;

            .product-card {
                @include product-card;
                background-color: #fff;
            }
        }
    }

    @media (max-width: 767px) {
        padding: 40px 0;

        .centeral-content {
            .product-grid {
                grid-template-columns: 1fr;
                grid-row-gap: 12px;
                margin-top: 30px;
            }

            .u48DemiBold_v2 {
                font-size: 36px;
            }

            .u24Medium_v2 {
                font-size: 20px;
            }

            .u17Medium_v2 {
                font-size: 12px;

                & > div {
                    margin-right: 20px;
                }
            }
        }
    }
}


.test-ride {
    margin: 100px 0 0;

    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &>div {
            padding-bottom: 100%;
            position: relative;

            &>div {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #F7F8FA;

                &:first-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 0 10%;

                }

                .u20DemiBold_v2 {
                    margin: 24px 0 48px;
                }
            }

            #storepoint-tag-dropdown,
            #storepoint-search,
            #storepoint-panel {
                display: none !important;
            }

            #storepoint-map,
            #storepoint-container,
            #storepoint-map canvas {
                width: 100% !important;
                height: 100% !important;
                max-height: 100% !important;
                border: none;
            }
        }
    }

    @media (max-width: 767px) {
        margin: 60px 0 0;

        .centeral-content {
            padding: 0 4vw;
            grid-template-columns: 1fr;

            &>div {

                &>div {
                    &:first-child {
                        padding: 8vw 4vw;
                    }
                }

                &:first-child {
                    order: 1;
                    padding-bottom: 60vw;

                    .u36DemiBold_v2 {
                        font-size: 24px;
                    }

                    .u20DemiBold_v2 {
                        font-size: 16px;
                        margin-top: 6px;
                    }
                }
            }
        }
    }
}

.boxs3 {
    margin-bottom: 100px;
    .centeral-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &>div {
            background-color: #F5F5F5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10%;
            align-items: flex-start;

            &:nth-child(1) {
                background: #f5f5f5 center center/cover no-repeat;
                padding-bottom: 100%;
            }

            &:nth-child(4) {
                background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/6T1A8524_2x_aaecef7e-48c0-4776-8947-fa295f1c24b5.jpg?v=1680163598') center center/cover no-repeat;
                padding-bottom: 100%;
            }

            .u17Light_v2 {
                margin: 10% 0;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                div+div {
                    margin-top: 4%;
                }

                img {
                    max-width: 40px;
                    margin-right: 8%;
                }
            }

            &:nth-child(3) {
                .u17Light_v2 {
                    margin: 5% 0;
                }
            }

            .logos {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 25px 25px;
                grid-gap: 30px 40px;
                margin-bottom: 12%;

                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 60px;
        
        .centeral-content {
            grid-template-columns: 1fr;
            padding: 0 4vw;

            &>div {
                padding: 0;

                &:nth-child(1) {
                    order: 1;
                }

                &:nth-child(2) {
                    padding: 8vw 4vw;
                    order: 2;
                }

                &:nth-child(3) {
                    padding: 8vw 4vw;
                    order: 4;
                }

                &:nth-child(4) {
                    order: 3;
                }

                .u17Light_v2 {
                    font-size: 14px;

                    img {
                        margin-right: 6vw;
                    }
                }

                .logos {
                    grid-gap: 15vw 8vw;

                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }

            .u30DemiBold_v2 {
                font-size: 24px;
            }
        }
    }
}

.components {
    margin-bottom: 100px;

    .swiper-box {
        margin-top: 30px;
        position: relative;
        padding: 0 60px;
        user-select: none;

        .swiper {
            .swiper-wrapper {
                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    border: 1px solid #707070;
                    cursor: pointer;
                    padding: 2%;
                    height: auto;
                    box-sizing: border-box;
                }
            }
        }
    
        .swiper-button-prev,
        .swiper-button-next {
            height: 36px;
            width: 36px;
            z-index: 2;
            top: 50%;
        }
    
        .swiper-button-prev {
            transform: rotate(180deg);
        }

        .swiper-scrollbar {
            position: static;
            max-width: 1160px;
            margin: 40px auto 0;
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 60px;

        & > .u36DemiBold_v2 {
            font-size: 30px;
        }

        .swiper-box {
            padding: 0;

            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        padding: 7vw 5vw;

                        .u24DemiBold_v2 {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .centeral-content {
        padding: 0 4vw;
    }

    .customers {
        font-size: 36px;
    }
}