h1,
h2,
h3,
h4 {
    margin: 0;
    color: inherit;
}

/* 旋转动画 */
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@mixin dots {
    .dots {
        display: flex;
        align-items: center;
        justify-content: center;

        &>div {
            width: 20px;
            height: 20px;
            margin: 10px 15px 10px 0;
            border-radius: 50%;
            cursor: pointer;
            box-sizing: content-box;

            &::after {
                content: "";
                display: inline-block;
                height: 16px;
                margin: 2px;
                width: 16px;
                border-radius: 100%;
            }
        }

        [yellow] {
            background-color: #fbcf40;
        }

        [black] {
            background-color: #000;
        }

        [white] {
            background-color: #ddd;
        }

        [orange] {
            background-color: #FD4B17;
        }

        [gray] {
            background-color: #919191;
        }

        [peach] {
            background-color: #F0EEDF;
        }

        .active {
            background-color: transparent;
            border: 2px solid #666;

            &[yellow] {
                &::after {
                    background-color: #fbcf40;
                }
            }

            &[black] {
                &::after {
                    background-color: #000;
                }
            }

            &[white] {
                &::after {
                    background-color: #ddd;
                }
            }

            &[orange] {
                &::after {
                    background-color: #FD4B17;
                }
            }

            &[gray] {
                &::after {
                    background-color: #919191;
                }
            }

            &[peach] {
                border: 2px solid #F0EEDF;

                &::after {
                    background-color: #F0EEDF;
                }
            }
        }
    }
}

@mixin data-price {
    &[data-price]::after {
        content: attr(data-price);
        display: inline-block;
        font-size: 24px;
        color: #000;
        text-decoration: line-through;
        margin-left: 5px;
        font-size: 24px;
        font-weight: 500;
        transform: translate(-2%, -50%);
    }
}

@mixin off {
    .off {
        position: absolute;
        right: 0;
        bottom: 24px;
        text-shadow: 2px 2px 0px #000000;
        background-image: linear-gradient(45deg, #EE6426, #F4492A);
        color: #fff;
        padding: 6px 15px;
        border-radius: 50px 0 0 50px;
    }
}

.tips {
    margin: 24px auto;

    @media (max-width: 767px) {
        font-size: 12px;
        margin: 12px auto;
    }
}

.need {
    padding-top: 120px;
    padding-bottom: 40px;

    .u48DemiBold_v2 {
        margin-bottom: 12px;
    }

    @media (max-width: 767px) {
        padding-top: 60px;
        padding-left: 4vw;
        padding-right: 4vw;

        .u48DemiBold_v2 {
            font-size: 30px;
        }

        .u30DemiBold_v2 {
            font-size: 20px;
        }
    }
}

.ebikes {
    margin-bottom: 120px;

    @media (max-width: 767px) {
        .centeral-content {
            padding: 0 4vw;
        }

        #bike {
            width: unset;

            .swiper-scrollbar {
                display: none;
            }

            .swiper-wrapper {
                flex-direction: column;
            }

            .swiper-slide {
                img {
                    margin: 4vw 0;
                }

                .size {
                    margin-bottom: 4vw;
                }
            }

            .swiper-slide+.swiper-slide {
                margin-top: 16vw;
            }
        }
    }
}

@mixin dotssss {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5%;

    &>div {
        width: 30px;
        height: 30px;
        margin-right: 9px !important;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid transparent;
        background-color: transparent;

        &::after {
            content: "";
            display: inline-block;
            height: 22px;
            width: 22px;
            border-radius: 100%;
        }

        &[data-stye="Black"],
        &[data-stye="Matte Black"],
        &[data-stye="Blazing Black"] {
            &::after {
                background-color: #000;
            }
        }

      &[data-stye="Rose Red"] {
            &::after {
                background-color: #FA003F;
            }
        }

        &[data-stye="Lychee Pink"] {
            &::after {
                background-color: #FFC0CB;
            }
        }

      &[data-stye="Lime Green"] {
            &::after {
                background-color: #E5ECC5;
            }
        }

        &[data-stye="Deep Sea Blue"] {
            &::after {
                background-color: #525D96;
            }
        }

      &[data-stye="Charcoal Grey"] {
            &::after {
                background-color: #6a6a6a;
            }
      }

        &[data-stye="Creme"] {
            &::after {
                background-color: #dbdbdb;
            }
        }

      &[data-stye="Vital Orange"],
        &[data-stye="Saffron Yellow"] {
            &::after {
                background-color: #ffb100;
            }
        }

        &[data-stye="Gray"],
        &[data-stye="Aegean Blue"] {
            &::after {
                background-color: #365d8e;
            }
        }

        &[data-stye="Glacier Blue"],
        &[data-stye="Blu"] {
            &::after {
                background-color: #9ec0d1;
            }
        }
        

        &[data-stye="Sirius"] {
            &::after {
                background-color: #FA812B;
            }
        }

        &[data-stye="Midnight in Paris"] {
            position: relative;

            &::after {
                background-color: #FFEC0B;
            }
        }

        &[data-stye="Elegant Grey"],
        &[data-stye="White"] {
            &::after {
                background-color: #ddd;
            }
        }

        &[data-stye="Midnight in Paris"]::before {
            content: "";
            display: inline-block;
            background-color: #ff6c00;
            position: absolute;
            z-index: 1;
            width: 20px;
            height: 42.5%;
            border-top-right-radius: 100px;
            border-top-left-radius: 100px;
            top: 2px;
        }
    }

    .active {
        &[data-stye="Sirius"] {
            border-color: #FA812B;

            &::after {
                background-color: #FA812B;
            }
        }

        &[data-stye="Midnight in Paris"] {
            text-align: center;
        }

        &[data-stye="Midnight in Paris"] {
            border-color: #ff6c00;
        }

        &[data-stye="Elegant Grey"],
        &[data-stye="White"] {
            border-color: #ddd;

            &::after {
                background-color: #ddd;
            }
        }

        &[data-stye="Black"]::after {
            background-color: #000;
        }

      &[data-stye="Deep Sea Blue"] {
            border-color: #525D96;

            &::after {
                background-color: #525D96;
            }
        }

        &[data-stye="Rose Red"] {
            border-color: #FA003F;

            &::after {
                background-color: #FA003F;
            }
        }

        &[data-stye="Lychee Pink"] {
            border-color: #FFC0CB;

            &::after {
                background-color: #FFC0CB;
            }
        }


        &[data-stye="Black"],
        &[data-stye="Matte Black"],
        &[data-stye="Blazing Black"] {
            border-color: #000;

            &::after {
                background-color: #000;
            }
        }

        &[data-stye="Glacier Blue"],
        &[data-stye="Blu"] {
            border-color: #9ec0d1;

            &::after {
                background-color: #9ec0d1;
            }
        }

      &[data-stye="Lime Green"] {
            border-color: #E5ECC5;

            &::after {
                background-color: #E5ECC5;
            }
        }

        &[data-stye="Creme"] {
            border-color: #dbdbdb;

            &::after {
                background-color: #dbdbdb;
            }
        }

        &[data-stye="Gray"],
        &[data-stye="Aegean Blue"] {
            border-color: #365d8e;

            &::after {
                background-color: #365d8e;
            }
        }

        &[data-stye="Vital Orange"],
        &[data-stye="Saffron Yellow"] {
            border-color: #ffb100;

            &::after {
                background-color: #ffb100;
            }
        }

      &[data-stye="Charcoal Grey"] {
        border-color: #6a6a6a;

            &::after {
                background-color: #6a6a6a;
            }
      }
    }

    @media (max-width: 767px) {
        margin-bottom: 2.5vw;

        &>div {
            width: 28px;
            height: 28px;
            margin-right: 12px;

            &::after {
                width: 20px;
                height: 20px;
                margin: 2px;
                transform: unset;
            }
        }

        .active {
            border-width: 2px;

            &[data-stye="Midnight in Paris"]::before {
                height: 11.5px;
                width: 20px;
                top: 2px;
                left: 2px;
            }
        }
    }
}

@mixin product-card {
    padding: 50px 5% 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    .tags {
        position: absolute;
        top: 15px;
        left: 15px;
        background-image: linear-gradient(90deg, #ff3684, #ff8f1d);
        padding: 5px 10px;
        border-radius: 8px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
    }

    .variant-image {
        cursor: pointer;
        aspect-ratio: 371/252;
        object-fit: contain;
    }

    .dots {
        @include dotssss;
    }


    .stars {
        display: flex;
        align-items: self-start;
        justify-content: flex-start;
        margin: 6px 0;

        img {
            max-width: 86px;
            margin-right: 6px;
        }

        a {
            text-decoration: underline;

            &:hover {
                opacity: 0.78;
            }
        }
    }

    .product_price {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        flex-wrap: wrap;

        img {
            max-width: 40px;
            margin-left: 6px;
        }

        .u24DemiBold_v2 {
            margin-right: 5%;

            &[data-price]::after {
                content: attr(data-price);
                display: inline-block;
                color: #161c1f;
                text-decoration: line-through;
                margin-left: 6px;
                font-size: 20px;
                font-weight: 300;
                opacity: 0.53;
            }
        }

        &>.u14Light_v2 {
            display: flex;
            align-items: self-end;
        }
    }

    .my-button {
        width: fit-content;
    }

    .sssss {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 85%;
        margin: 16px 0;

        i {
            display: block;
            width: 1px;
            height: 35px;
            background-color: #ddd;
        }
    }

    @media (max-width: 767px) {
        padding: 50px 4vw 6vw;

        .product_price {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 4vw;

            .u20DemiBold_v2 {
                margin-bottom: 6px;

                &::after {
                    font-size: 16px !important;
                    transform: translateY(-3px) !important;
                }
            }

            img {
                max-width: 34px;
            }
        }

        &>.u20DemiBold_v2 {
            /* font-size: 16px; */
        }

        .my-button {
          width: 100%;
        }


        .sssss {
            max-width: none;
        }
    }
}

.ebike-products {
    padding-top: 120px;
    padding-bottom: 120px;

    .u24Medium_v2 {
        margin: 2.5vh 0 8vh;
        max-width: 530px;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 22px;

        .product-card {
            @include product-card;
        }

        &>.lozad {
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            overflow: hidden;
            color: #fff;
            display: flex;
            align-items: flex-start;
            padding: 20px 50% 20px 30px;
        }
    }

    @media (max-width: 767px) {
        padding: 40px 4vw;

        &>.u36DemiBold_v2 {
            text-align: center;
            font-size: 30px;
        }

        &>.u24Medium_v2 {
            font-size: 17px;
            text-align: center;
            margin-bottom: 10vw;
        }

        .product-grid {
            grid-template-columns: 1fr;
            grid-row-gap: 12px;


            &>.lozad {
                font-size: 24px;
                height: 75vw;
            }


            .product-card {
                .tags {
                }
            }
        }
    }
}

.buyany {
    div {
        box-sizing: border-box;
    }

    .centeral-content {
        .promo-banner {
            background: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26314_2x_e9c9c510-3bcb-42f5-b190-1735c5bec129.png?v=1765526771') center center/contain no-repeat;
            text-align: center;
            color: #fff;
            padding-left: 5%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
            background-position-y: bottom;

            .u36DemiBold_v2 {
                padding: 40px 0 30px 12%;
                span {
                    color: #fff;
                }
            }
        }


        .two {
            display: grid;
            grid-template-columns: 1fr 30px 1fr 1fr;
            background-color: #F5F0ED;
            padding-left: 30px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            overflow: hidden;


            .plus {
                /* place-content: center; */
                display: flex;
                flex-direction: column;
                justify-content: center;
                transform: translateX(-25px);
            }


            &>div:not(.total):not(.plus) {
                padding-top: 30px;
                padding-right: 12%;

                .selectttttttt {
                    select {
                        appearance: none;
                        background-color: transparent;
                        border: none;
                        margin: 0;
                        font-family: inherit;
                        font-size: inherit;
                        cursor: inherit;
                        line-height: inherit;
                        padding: 8px 40px 8px 28px;
                        width: 100%;

                        &:focus-visible {
                            outline-offset: unset;
                            box-shadow: unset;
                            outline: unset;
                        }
                    }


                    font-size: 17px;
                    font-weight: 500;
                    border-radius: 30px;
                    transition: all .3s;
                    border: 2px solid #ddd;
                    width: 75%;
                    position: relative;
                    background-color: #fff;
                    overflow: hidden;
                    cursor: pointer;
                    transition: all .3s;
                    box-sizing: border-box;

                    &:hover {
                        border-color: #666;

                        &::after {
                            opacity: 0.75;
                        }
                    }

                    &::after {
                        content: "";
                        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBjbGFzcz0ic2l6ZS02Ij4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im0xOS41IDguMjUtNy41IDcuNS03LjUtNy41IiAvPgo8L3N2Zz4K') center center/cover no-repeat;
                        height: 24px;
                        width: 24px;
                        opacity: 0.5;
                        display: block;
                        position: absolute;
                        right: 7.5%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }


                .card {
                    background-color: #fff;
                    border-radius: 10px;
                    border: 1px solid #E3E3E3;
                    margin-top: 24px;
                    padding: 20px 0 30px;
                    height: auto;

                    & > img {
                        aspect-ratio: 16 / 11;
                        object-fit: contain;
                        object-position: center;
                    }

                    &>div {
                        padding: 12px 24px 0;


                        .u17Light_v2 {
                            opacity: 0.77;
                        }


                        .u20Light_v2 {
                            opacity: 0.53;
                            margin-left: 5px;
                        }

                        .sizes {
                            display: flex;
                            margin: 5px 0 20px;

                            .u17Medium_v2 {
                                color: #000;
                                border: 1px solid #0000004D;
                                background-color: transparent;
                                padding: 3px 30px;
                                margin-right: 10px;
                                border-radius: 20px;
                                transition: all .3s;
                                cursor: pointer;
                            }

                            .active {
                                color: #fff;
                                background-color: #000;
                            }
                        }


                        // div+div {
                        //     margin-top: 40px;
                        // }
                    }
                }
            }


            .total {
                background-color: #F0EAE7;
                display: flex;
                flex-direction: column;

                &>div {
                    display: flex;
                    flex-direction: column;
                    padding: 7.5% 7.5% 10%;
                    align-items: flex-start;


                    .yellow {
                        background-image: linear-gradient(90deg, #FF3684, #FF8F1D);
                        color: #fff;
                        padding: 8px 20px;
                        border-radius: 10px;
                        margin: 20px 0 10px;
                    }

                    .u17Light_v2 {
                        margin-bottom: 24px;
                    }



                    .my-button {
                        position: relative;
                        user-select: none;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 25px;
                            height: 25px;
                            border: 3px solid #fff;
                            border-radius: 50%;
                            border-top-color: transparent;
                            animation: spin 0.8s linear infinite;
                            transform: translate(-50%, -50%);
                            visibility: hidden;
                        }
                    }

                    .loading {
                        cursor: not-allowed;
                        color: transparent !important;
                        // pointer-events: none;

                        &::after {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }


    @media (max-width: 767px) {
        margin: 0;

        .centeral-content {
            padding: 0 15px;

            .promo-banner {
                padding: 0 4vw 0 0;
                background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26697_2x_c45ff1d9-435a-48e0-ac81-192861c3c77e.png?v=1765527437');
                background-size: cover;
                background-position-x: right;
                

                .u36DemiBold_v2 {
                    font-size: 20px;
                    border-top-left-radius: 0;
                    border-bottom-right-radius: 100px;
                    text-align: left;
                    padding: 25px 15px;
                }
            }

            .two {
                grid-template-columns: 1fr;
                padding: 15px;

                &>div:not(.total):not(.plus) {
                    padding: 0;


                    .selectttttttt {
                        font-size: 14px;

                        select {
                            padding: 6px 30px 6px 20px;
                        }
                    }


                    .card {
                        margin-top: 12px;
                        padding-bottom: 20px;

                        &>div {
                            padding: 12px 24px 0;

                            .u17Medium_v2,
                            .u17Light_v2 {
                                font-size: 14px;
                            }


                            .u24DemiBold_v2 {
                                font-size: 20px;
                            }

                            .u20Light_v2 {
                                font-size: 16px;
                                margin-left: 5px;
                            }

                            // div+div {
                            //     margin-top: 16px;
                            // }
                        }
                    }
                }

                .plus {
                    align-items: center;
                    transform: none;
                    line-height: 1.1em;
                }


                .total {
                    background-color: transparent;


                    &>div {
                        padding: 20px 0;

                        .u24DemiBold_v2 {
                            font-size: 15px;
                        }

                        .u48DemiBold_v2 {
                            font-size: 36px;
                        }

                        .u17Light_v2 {
                            font-size: 15px;
                            margin-bottom: 20px;
                        }

                        .yellow {
                            font-size: 18px;
                            margin: 16px 0 8px;
                        }
                    }
                }
            }
        }
    }
}


.buyany {
    .dots {
        @include dotssss;
        margin: 5px 0 20px;
    }
}


.ebike-products .product-grid .product-card .tags>span {
    color: #fff;
}


.professional .centeral-content .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #000 !important;
}


.professional {
    .centeral-content {
        overflow: hidden;

        .u36Medium_v2 {
            margin-bottom: 5.5vh;
            text-align: center;
        }

        .videos {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // grid-column-gap: 30px;

            &>div {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                height: auto;

                & > img {
                    cursor: pointer;
                    border-radius: 15px;
                    aspect-ratio: 80 / 43;
                }


                .u17Light_v2 {
                    margin: 12px 0 30px;
                }

                .u17Medium_v2 {
                    display: flex;
                    align-items: center;

                    img {
                        max-width: 28px;
                        width: 28px;
                        margin-right: 10px;
                    }
                }
            }


        }


        .swiper-scrollbar {
            position: static;
            margin-top: 5vh;
            width: 100%;
            background-color: #DEDEDE;
            z-index: unset;
        }



        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 5vh;

            .swiper-button-prev,
            .swiper-button-next {
                position: static;
                color: #fff;
                background-color: #000;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                margin-left: 15px;
                z-index: unset;


                &::after {
                    font-size: 18px;
                }
            }
        }
    }


    @media (max-width: 767px) {
        padding: 80px 0;

        .centeral-content {
            padding: 0 15px;

            .u36Medium_v2 {
                font-size: 24px;
                text-align: left;
                margin-bottom: 30px;
            }

            .videos {
                display: flex;
                grid-column-gap: 0;

                &>div {

                    .u17Light_v2 {
                        font-size: 14px;
                        margin-bottom: 4vw;
                    }
                }
            }

            .swiper-scrollbar {
                margin-top: 24px;
            }
        }
    }
}


.swiper-pagination .swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 5px;
    transition: all .3s;
    background-color: #000;
}

.test-ride {
    margin-bottom: 15vh;

    .centeral-content {
        padding: 0;

        .u20DemiBold_v2 {
            margin: 20px 0 12px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 20vw;
        padding: 0 15px 0;

        .centeral-content {
            .u20DemiBold_v2 {
                font-size: 17px;
            }
        }
    }
}


.faq {
    margin-bottom: 15vh;
    $gap: 2vh;

    .centeral-content {
        .u36Medium_v2 {
            margin-bottom: 3.5vh;
        }

        .items {

            .item {
                .u24Medium_v2 {
                    border-bottom: 1px solid #ccc;
                    padding-bottom: $gap;
                    cursor: pointer;
                    user-select: none;
                    display: flex;
                    align-items: center;

                    & > img {
                        margin-right: 10px;
                        max-width: 25px;
                        rotate: 180deg;
                        transition: all .5s;
                    }
                }

                .u17Light_v2 {
                    padding: 1.5vh 40px 2vh;
                    display: none;
                }
            }

            .item+.item {
                margin-top: $gap
            }

            .active {
                .u17Light_v2 {
                    display: block;
                }

                .u24Medium_v2 {
                    & > img {
                        rotate: 0deg;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        margin: 0 0 14vw;

        .centeral-content {
            padding: 0 8vw;

            .u36Medium_v2 {
                font-size: 24px;
            }

            .items {

                .item {
                    .u24Medium_v2 {
                        font-size: 17px;
                        display: flex;
                        padding-bottom: $gap * 0.66;

                        & > img {
                            max-width: 17.5px;
                        }
                    }

                    .u17Light_v2 {
                        padding: $gap 0;
                        font-size: 14px;
                    }
                }

                .item+.item {
                    margin-top: $gap * 0.66;
                }
            }
        }
    }
}


.ebike-products .product-grid .product-card {
    padding-top: 60px;

    &::before {
        content: "";
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: #FF3B0015;
        padding: 0;
        border-radius: 5px;
        color: #FF4500;
        font-size: 14px;
        font-weight: 600;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ebike-products .product-grid .product-card:before {
    width: 18%;
    height: 21%;
    top: 7.5px;
    background: transparent url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26680_2x_718722b9-09ac-45b7-9bd6-01d4759bfd3b.png?v=1765523008') top right/contain no-repeat;
}

.ebike-products .product-grid .product-card[data-product-handle="urtopia-carbon-1-pro-ebike"] {
    &::before {
        background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26679_2x_f280c0b5-3e71-4386-ab1a-6573fddf269d.png?v=1765523597')
    }
}

.ebike-products .product-grid .product-card[data-product-handle="urtopia-carbon-1-step-thru-ebike"] {
    &::before {
        background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26679_2x_f280c0b5-3e71-4386-ab1a-6573fddf269d.png?v=1765523597')
    }
}

.ebike-products .product-grid .product-card[data-product-handle="urtopia-carbon-fusion-gt"] {
    &::before {
        background-image: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/26679_2x_f280c0b5-3e71-4386-ab1a-6573fddf269d.png?v=1765523597')
    }
}

.compare {
    .dots {
        @include dotssss;

        @media (max-width: 767px) {
            &> div {
                margin-right: 8px;
            }
        }
    }
}


.buyany .centeral-content .two .total>div .yellow {
        background-image: linear-gradient(90deg, #B18A39, #E0BD76);
}

.buyany .centeral-content .two .total {
    transform: translateX(1px);
}



    @media (min-width: 768px) {
        .ebike-products .product-grid .product-card .sssss {
            max-width: 95%;
        }
    }

    .ebike-products .product-grid .product-card .dots {
        margin: 0;
    }

    .ebike-products .product-grid .product-card .my-button {
        background-color: #B18A39;
        color: #fff;
        border-color: #B18A39;
    }

    .ebike-products .product-grid .product-card {
        overflow: unset;
    }

.coupon {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px 0 12.5px;
  background: linear-gradient(135deg, #b6862e, #e6c16b);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  top: 15px;
  left: 15px;
  transform: translateX(-29px);
}

/* 左右两侧的“缺口” */
.coupon::before,
.coupon::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: transparent;  /* 网页背景色，伪装成挖空 */
  border-radius: 50%;
  transform: translateY(-50%);
}

.coupon::after {
  right: -6px;
  background-color: #fff;
}
