<div class="background-image er-aspect-[1920/750] mb:er-aspect-square">
        <picture>
            <source media="(min-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250212-110254.jpg?v=1739329401">
            <source media="(max-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250212-110301.jpg?v=1739329400">
            <img src="" alt="">
        </picture>
        <div class="centeral-content er-h-full er-flex er-text-white mb:er-flex-col mb:er-pt-14">
            <span class="flex-1 mb:er-hidden"></span>
            <div class="er-flex er-flex-col er-justify-center er-items-start mb:er-items-center mb:er-text-center">
                <img loading="lazy" height="70" width="400" class="mb:er-max-w-sm"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25291_2x_464e05b0-c648-4c11-8b7d-6f46db850783.png?v=1739329499"
                    alt="">
                <h1 class="text-size48 er-mt-20 mb:er-text-5xl mb:er-mt-14 mb:er-leading-snug">0% APR financing,<br>up
                    to 24 months</h1>
            </div>
            <div class="er-w-40"></div>
        </div>
    </div>
    <div class="centeral-content">
        <div class="er-py-32 er-flex er-flex-col er-justify-center er-items-center er-text-center mb:er-py-20">
            <h2 class="text-size30 mb:er-text-4xl">Pay over time with 0% APR</h2>
            <p class="er-mt-10 text-size18 er-opacity-80 er-max-w-screen-lg mb:er-text-2xl">
                <span>We’re excited to partner with Affirm, giving you the flexibility to pay on your terms. Next time
                    you’re shopping with us, just select Affirm at checkout to split up your purchase into monthly
                    payments
                    with 0% APR and no hidden fees.</span>
            </p>
        </div>
    </div>
    <div class="er-bg-background er-py-32 mb:er-py-20">
        <div class="centeral-content">
            <div class="er-flex er-flex-col er-justify-center er-items-center er-text-center">
                <h2 class="text-size30 mb:er-text-4xl">
                    Buying with
                    <img width="100" class="er-mx-2 mb:er-max-w-28" height="40"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/black_logo-white_bg.svg?v=1739331149"
                        loading="lazy" alt="">
                    is Simple
                </h2>
                <p class="er-mt-10 text-size18 er-opacity-80 er-max-w-screen-lg mb:er-text-2xl">
                    <span>For example, a $1000 purchase might cost $42/mo over 24 months starting at 0% APR</span>
                </p>
            </div>
            <div
                class="er-grid er-grid-cols-1 md:er-grid-cols-2 lg:er-grid-cols-4 er-text-center er-mt-20 er-gap-8 mb:er-gap-y-16">
                <div class="er-flex er-flex-col er-items-center">
                    <h3 class="text-size24 mb:er-text-3xl">Step 1<span class="md:er-hidden"> : </span><br class="mb:er-hidden">Fill your cart</h3>
                    <img class="er-my-8 mb:er-order-1" loading="lazy" width="284" height="442"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/390_2x_e852e9b1-8639-49fd-a1ee-8be3f0bb12aa.jpg?v=1739331373"
                        alt="">
                    <p class="text-size18 er-opacity-80 mb:er-text-2xl mb:er-mt-4">
                        <span>Select Affirm at checkout</span>
                    </p>
                </div>
                <div class="er-flex er-flex-col er-items-center">
                    <h3 class="text-size24 mb:er-text-3xl">Step 2<span class="md:er-hidden"> : </span><br class="mb:er-hidden">Fill in your info</h3>
                    <img class="er-my-8 mb:er-order-1" loading="lazy" width="284" height="442"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/391_2x_623824e7-73f3-4df6-ade3-47f251006eef.jpg?v=1739331734"
                        alt="">
                    <p class="text-size18 er-opacity-80 mb:er-text-2xl mb:er-mt-4">
                        <span>Then enter a few pieces of info for a real-time decision</span>
                    </p>
                </div>
                <div class="er-flex er-flex-col er-items-center">
                    <h3 class="text-size24 mb:er-text-3xl">Step 3<span class="md:er-hidden"> : </span><br class="mb:er-hidden">Choose how to pay</h3>
                    <img class="er-my-8 mb:er-order-1" loading="lazy" width="284" height="442"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2025-01-13_14.45.31_2x_9eb515c7-e933-4602-bf15-5d44d426025d.jpg?v=1739331729"
                        alt="">
                    <p class="text-size18 er-opacity-80 mb:er-text-2xl mb:er-mt-4">
                        <span>Pick the monthly payment plan you like best.</span>
                    </p>
                </div>
                <div class="er-flex er-flex-col er-items-center">
                    <h3 class="text-size24 mb:er-text-3xl">Step 4<span class="md:er-hidden"> : </span><br class="mb:er-hidden">Pay over time</h3>
                    <img class="er-my-8 mb:er-order-1" loading="lazy" width="284" height="442"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2025-01-13_15.50.27_2x_3511f95a-6ea5-4807-9b59-9e37558a1f92.jpg?v=1739331724"
                        alt="">
                    <p class="text-size18 er-opacity-80 mb:er-text-2xl mb:er-mt-4">
                        <span>Make payments at affirm.com or in the Affirm app. You’ll also get reminders by text and
                            email.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="er-bg-background er-py-32 mb:er-py-20">
        <div class="centeral-content er-flex er-flex-col er-items-center">
            <div class="er-py-32 er-flex er-flex-col er-justify-center er-items-center er-text-center mb:er-py-16">
                <h2 class="text-size30 mb:er-text-4xl">Buy with confidence</h2>
                <p class="er-mt-10 text-size18 er-opacity-80 er-max-w-screen-lg mb:er-text-2xl">
                    <span>With Affirm, you always know exactly what you’ll owe and when you’ll be done paying.</span>
                </p>
            </div>
            <div class="er-grid er-grid-cols-3 er-gap-20 mb:er-grid-cols-1">
                <div class="er-flex er-flex-col er-items-center er-text-center">
                    <img width="92" height="92" class="er-max-w-28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/coin_2x_f47cf61b-77bc-4441-a3a0-24be32c7f7ee.png?v=1739338896" alt="">
                    <h3 class="text-size30 er-my-12 mb:er-text-3xl mb:er-my-6">Transparent</h3>
                    <p class="text-size18 er-opacity-80 mb:er-text-2xl mb:er-max-w-sm">
                        <span>Affirm tells you the total amount you’ll pay up front. That number will never go up.</span>
                    </p>
                    <span class="flex-1"></span>
                </div>
                <div class="er-flex er-flex-col er-items-center er-text-center">
                    <img width="92" height="92" class="er-max-w-28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/arrows_2x_367bd2d9-b472-40ea-b9a3-1531172452ac.png?v=1739339311" alt="">
                    <h3 class="text-size30 er-my-12 mb:er-text-3xl mb:er-my-6">Flexible</h3>
                    <p class="text-size18 er-opacity-80 mb:er-text-2xl mb:er-max-w-sm">
                        <span>You choose the payment schedule that works best for you.</span>
                    </p>
                    <span class="flex-1"></span>
                </div>
                <div class="er-flex er-flex-col er-items-center er-text-center">
                    <img width="92" height="92" class="er-max-w-28" loading="lazy" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/judgement_2x_efdde016-d4ea-48e3-8ee8-25634d0822e6.png?v=1739339270" alt="">
                    <h3 class="text-size30 er-my-12 mb:er-text-3xl mb:er-my-6">Fair</h3>
                    <p class="text-size18 er-opacity-80 mb:er-text-2xl mb:er-max-w-sm">
                        <span>Affirm doesn’t charge late fees or hidden fees of any kind, ever.</span>
                    </p>
                    <span class="flex-1"></span>
                </div>
            </div>
            <p class="text-size14 er-text-center er-max-w-screen-md er-opacity-50 er-mt-24 mb:er-text-xl mb:er-leading-normal mb:er-mt-16">
                <i>*Rates from 0–36% APR. Payment options through Affirm are subject to an eligibility check, may not be available everywhere and are provided by these lending partners: affirm.com/lenders. Options depend on your purchase amount, and a down payment may be required. See affirm.com/licenses for important info on state licenses and notifications. The 0% APR financing is a special subsidy provided by Urtopia. There will be a 10% cancelling fee if an order made with 0% APR financing is cancelled. Other payments options made through Affirm shall stay unaffected.</i>
            </p>
        </div>
    </div>