    <div
        class="background-image er-aspect-[4/1] er-text-white er-flex er-flex-col er-justify-center er-items-center er-font-base er-text-center mb:er-aspect-square er-px-12">
        <img height="1920" width="548" loading="eager"
            srcset="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8944_2x_0064fe40-3fa7-41ee-a129-c3b58f2de758.jpg?v=1724052744&width=375 375w,
                https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8944_2x_0064fe40-3fa7-41ee-a129-c3b58f2de758.jpg?v=1724052744&width=640 640w,
                https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8944_2x_0064fe40-3fa7-41ee-a129-c3b58f2de758.jpg?v=1724052744&width=768 768w,
                https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8944_2x_8bc32ed5-d05c-4c94-9439-6b2b38104149.jpg?v=1724051896&width=1024 1024w,
                https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8944_2x_8bc32ed5-d05c-4c94-9439-6b2b38104149.jpg?v=1724051896&width=1280 1280w,
                https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8944_2x_8bc32ed5-d05c-4c94-9439-6b2b38104149.jpg?v=1724051896&width=1536 1536w,
                https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8944_2x_8bc32ed5-d05c-4c94-9439-6b2b38104149.jpg?v=1724051896&width=1920 1920w"
            sizes="(max-width: 768px) 50vw, 100vw"
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230520-untitled-8944_2x_8bc32ed5-d05c-4c94-9439-6b2b38104149.jpg?v=1724051896"
            alt="Comprehensive, Aware, Responsive, Effective">
        <div class="background-mask er-bg-black/60"></div>
        <h1 class="text-size72 mb:er-text-7xl er-text-white">
            Tutorials
        </h1>
    </div>

    <div class="er-font-base er-max-w-screen-xl er-mx-auto er-px-12">
        <section class="er-my-60 mb:er-my-28">
            <h2 class="text-size48 mb:er-text-5xl er-m-0">Assemble and Adjustment Guide</h2>
            <div
                class="er-grid er-grid-cols-1 lg:er-grid-cols-2 xl:er-grid-cols-3 er-mt-20 mb:er-mt-12 er-gap-x-12 er-gap-y-20 mb:er-gap-y-12">
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Assemble the Carbon Classic</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10 mb:er-mt-6"
                        src="https://www.youtube.com/embed/oKRaNHmGkX0?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="How to Assemble Your Fusion GT" loading="lazy"></iframe>
                </div>
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Assemble the Fold ST</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10 mb:er-mt-6"
                        src="https://www.youtube.com/embed/-PvyLVhrMws?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="How to Assemble Your Fusion GT" loading="lazy"></iframe>
                </div>
              <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Assemble the Carbon 1 ST</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10 mb:er-mt-6"
                        src="https://www.youtube.com/embed/RjhzQsb2sp4?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="How to Assemble Your Fusion GT" loading="lazy"></iframe>
                </div>
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Assemble the Fusion GT</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10 mb:er-mt-6"
                        src="https://www.youtube.com/embed/7w0azqmwBlQ?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="How to Assemble Your Fusion GT" loading="lazy"></iframe>
                </div>
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Assemble the Carbon Fold 1</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10  mb:er-mt-6"
                        src="https://www.youtube.com/embed/uzDtidDH-kI?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="How to Assemble Your Fold 1" loading="lazy"></iframe>
                </div>
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Assemble the Carbon 1 Pro</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10  mb:er-mt-6"
                        src="https://www.youtube.com/embed/a9Av_bhvZss?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="Assemble the Urtopia Carbon 1 Pro" loading="lazy"></iframe>
                </div>
            </div>
        </section>
    </div>

    <div class="er-font-base er-max-w-screen-xl er-mx-auto er-px-12">
        <section class="er-my-60 mb:er-my-28">
            <h2 class="text-size48 mb:er-text-5xl er-m-0">User Tips</h2>
            <div
                class="er-grid er-grid-cols-1 lg:er-grid-cols-2 xl:er-grid-cols-3 er-mt-20 mb:er-mt-12 er-gap-x-12 er-gap-y-20 mb:er-gap-y-12">
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Purchase Connect Service in the APP</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10 mb:er-mt-6"
                        src="https://www.youtube.com/embed/HphL7kJ95g0?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="Purchase Connect Service in the APP" loading="lazy"></iframe>
                </div>
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Operate the Smartbar</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10  mb:er-mt-6"
                        src="https://www.youtube.com/embed/5IY9KzaKwBg?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="Operate the Smartbar" loading="lazy"></iframe>
                </div>
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Operate the Smartbar (Carbon 1/1s)</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10  mb:er-mt-6"
                        src="https://www.youtube.com/embed/vXECL_4ijkM?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="Operate the Smartbar (Carbon 1/1s)" loading="lazy"></iframe>
                </div>
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>About the app</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10  mb:er-mt-6"
                        src="https://www.youtube.com/embed/x5XOAZ6k-wA?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="About the app" loading="lazy"></iframe>
                </div>
            </div>
        </section>
    </div>

    <div class="er-font-base er-max-w-screen-xl er-mx-auto er-px-12">
        <section class="er-my-60 mb:er-my-28">
            <h2 class="text-size48 mb:er-text-5xl er-m-0">Troubleshooting</h2>
            <div
                class="er-grid er-grid-cols-1 lg:er-grid-cols-2 xl:er-grid-cols-3 er-mt-20 mb:er-mt-12 er-gap-x-12 er-gap-y-20 mb:er-gap-y-12">
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Repack the Carbon 1 Pro</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10 mb:er-mt-6"
                        src="https://www.youtube.com/embed/WpGlIvuRRM0?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="Repack the Carbon 1 Pro" loading="lazy"></iframe>
                </div>
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Adjust the handlebar's height</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10 mb:er-mt-6"
                        src="https://www.youtube.com/embed/1-ASsKfnQoA?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="Adjust the handlebar's height" loading="lazy"></iframe>
                </div>
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Adjust the brakes</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10 mb:er-mt-6"
                        src="https://www.youtube.com/embed/Z7XwzCcs8pw?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="Adjust the brakes" loading="lazy"></iframe>
                </div>
                <div class="er-flex er-flex-col">
                    <h3 class="text-size24 mb:er-text-3xl er-m-0"><span>Change the caliper pad</span></h3>
                    <span class="er-flex-1"></span> <iframe class="er-aspect-video er-border-none er-mt-10 mb:er-mt-6"
                        src="https://www.youtube.com/embed/yh4NpvyDyI4?start=0&autoplay=0&loop=0&mute=0&controls=1&enablejsapi=1"
                        allowfullscreen title="Change the caliper pad" loading="lazy"></iframe>
                </div>
            </div>
        </section>
    </div>