<div class="centeral-content er-flex er-flex-col er-items-center">
  <h1 class="text-size36 er-text-center er-my-20 mb:er-text-5xl">Track My Package</h1>
  <form
    class="er-flex er-flex-col er-items-start er-space-y-12 mb:er-space-y-8 er-w-full er-max-w-xl er-mx-auto er-mb-48"
    method="post"
    action="/contact#contact_form"
    id="track_form"
  >
    <div class="er-flex er-flex-col er-items-start er-space-y-3 mb:er-space-y-2 er-w-full er-max-w-xl">
      <label for="email"><b>Email <sup class="er-text-primary">*</sup></b></label>
      <input
        class="mb:er-text-2xl er-box-border er-font-base er-w-full er-border-2 er-border-dark/30 placeholder:er-text-black/15 er-border-solid er-rounded-xl er-text-dark/85 er-text-3xl er-p-4 focus:er-border-primary/80 focus-visible:er-border-primary/80 focus:er-ring-primary focus:er-shadow-primary"
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email"
        required
      >
    </div>
    <div class="er-flex er-flex-col er-items-start er-space-y-3 mb:er-space-y-2 er-w-full er-max-w-xl">
      <label for="ordernumber"><b>Order Number (like: #10010) <sup class="er-text-primary">*</sup></b></label>
      <input
        class="mb:er-text-2xl er-box-border er-font-base er-w-full er-border-2 er-border-dark/30 placeholder:er-text-black/15 er-border-solid er-rounded-xl er-text-dark/85 er-text-3xl er-p-4 focus:er-border-primary/80 focus-visible:er-border-primary/80 focus:er-ring-primary focus:er-shadow-primary"
        type="text"
        id="ordernumber"
        name="ordernumber"
        placeholder="Enter your order number"
        required
      >
    </div>
    <button class="er-button er-w-1/2 mb:er-w-full" type="submit">Submit</button>
  </form>
</div>
