{% render 'product-panel', swiper_insert_index: 2 %}
<div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/5_2x_f182aebd-8195-4774-8dcd-b83a6e72d635.jpg?v=1737337434', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/5_2x_fbc19aa4-11b1-4253-9817-aa20a4c81298.jpg?v=1737339158" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">Carbon Beauty, <br class="mb:er-hidden">Sleek & Duty</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-mb-20 er-opacity-80 mb:er-my-10 mb:er-text-[16px]">
                    <span>
                        Built with Toray carbon fiber, renowned for its use in Formula 1 and by leading bicycle
                        manufacturers, the Carbon 1 Step-thru ebike features an innovative low-step frame that not only
                        elevates the bike’s sleek design but also ensures a smooth, reliable, and long-lasting ride.
                    </span>
                </p>
                <button
                    onclick="showVideoDialog('https://www.youtube.com/embed/8haN5tLyhIk?autoplay=1&cc_load_policy=1')"
                    class="er-button er-button-white mb:[--er-btn-bg-color:theme(colors.dark)] mb:[--er-btn-text-color:theme(colors.white)] mb:er-text-white">Watch
                    video
                    <svg class="er-scale-150 er-translate-x-1/3 er-fill-dark mb:er-fill-white"
                        xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                        <path
                            d="m380-300 280-180-280-180v360ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fix-145_2x_f9e8e3ea-43a3-4fb2-9273-91f99012e5bf.jpg?v=1737341278', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/fix-145_2x_ecc9d64b-8cec-4905-a231-1c0895928184.jpg?v=1737342263" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">50% Lighter, <br class="mb:er-hidden">100% More Fun</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        Carbon fiber e-bikes are 50% lighter than aluminum ebikes, only 36 lbs. making it easier to
                        handle and ride. Its reduced weight allows for quicker acceleration, easier uphill climbs, and
                        smoother turns. Whether commuting through the city or exploring trails, the lightweight design
                        ensures less fatigue and greater control. Enjoy!
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25315_2x_fff37dad-b3b6-4033-91e0-ac7dea6dabc1.jpg?v=1737342338', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250120-143651.jpg?v=1737355028" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0 er-text-white mb:er-text-black">Low-Step, <br class="mb:er-hidden">High Comfort</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        Our step-thru ebike features a low-step frame, making getting on and off a breeze and offering
                        unmatched ease for riders of all ages. The swept-back handlebar enhances the relaxed, upright
                        riding position, reducing strain on the back and wrists. No stress, just smooth cruising!
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="er-max-w-screen-lg er-mx-auto er-px-12 er-my-56 mb:er-mb-20 mb:er-mt-0">
        {% render 'image', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25314_2x_0ccef4e7-bbab-4b14-a3a0-74c9a54ecb53.jpg?v=1737354452", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25310_2x_5042fdac-1ee0-4719-9dd3-7a2a0e9f4400.jpg?v=1737342528" %}
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC05866_copy_2_2x_2dc4b904-4ab9-4fa9-9fe8-48629318ae28.jpg?v=1737343659', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC05866_copy_2_2x_f8e3ec3b-ab18-43ab-874c-6172127b894c.jpg?v=1737354592" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-60 er-text-white mb:er-text-black">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0 er-text-white mb:er-text-black">Elegance in Motion</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        The design of the Carbon 1 ST is inspired by miniature garden architecture. Its clean, flowing
                        lines evoke a sense of tranquility and grace, exuding a calm yet approachable aura. Like a
                        gentle breeze, it embodies effortless elegance, allowing riders to immerse themselves in a
                        serene and comfortable state of mind while fully enjoying the pure joy of cycling.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/557_new_2x_cfb82b16-225d-4d6c-835f-55a79cbc9d06.jpg?v=1737343949', mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/557_new_2x_83b38206-7b86-49d1-a986-959a8e49abc2.jpg?v=1737354716" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40 er-text-white mb:er-text-black">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0 er-text-white mb:er-text-black">Smart Power, <br class="mb:er-hidden">Longer Rides</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        The customized motor and torque sensor work together to maximize the e-bike’s power efficiency,
                        providing an impressive 80-mile range on a single charge. Paired with the Shimano 8-speed
                        drivetrain, it adapts seamlessly to various terrains and speeds, while conserving battery for
                        extended rides.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25301_2x_63ffbde5-3bbc-495d-8bc5-9abfa5673b89.jpg?v=1737344611", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25312_2x_0997090c-de9d-411d-b4d8-9bbfd31c7354.jpg?v=1737354790" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">Tailor Power,<br class="mb:er-hidden">Perfect Ride</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        Motor power can be customized across different assist levels via the Urtopia app. Adjust the
                        output to suit your riding style, terrain, or energy needs, whether conserving power on easy
                        rides or getting a boost on more challenging routes. Make every ride your own!
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="er-max-w-screen-xl er-mx-auto er-px-12 er-my-56 mb:er-mb-20 mb:er-mt-0 mb:er-pr-0">
        <h2 class="text-size48 mb:er-text-4xl er-m-0">Quality in details</h2>
        <div class="er-mt-10 quality_in_details er-relative er-overflow-x-hidden er-pb-40 mb:er-pb-16" style="--swiper-navigation-size: 27px; --swiper-navigation-color:#fff;">
            <div class="swiper-wrapper">
                {% for item in product.metafields.custom.quality_in_details.value %}
                    {% assign text = item.text | split: "---" %}
                    <div class="swiper-slide er-flex er-flex-col">
                        {{ item.image | image_url: width: 400 |  image_tag: loading: 'lazy' }}
                        <h3 class="text-size20 er-my-6 er-font-bold er-text-3xl">{{ text.first }}</h3>
                        <p class="text-size18 er-opacity-80 mb:er-text-[16px] er-max-w-2xl">
                            <span>{{ text.last }}</span>
                        </p>
                    </div>
                    
                {% endfor %}  
            </div>
            <div class="swiper-scrollbar er-bg-[#386FAF] er-bg-opacity-10 !er-w-full !er-left-0"></div>
            <div class="swiper-button-prev er-bottom-12 er-right-[60px] er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
            <div class="swiper-button-next er-bottom-12 er-right-0 er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto">
    <video class="lozad mb:!er-static" playsinline loop autoplay muted>
        <source data-src="https://cdn.shopify.com/videos/c/o/v/8e67d805b7344ba390c2d190d39f8744.mp4" type="video/mp4" media="(min-width: 768px)">
        <source data-src="https://cdn.shopify.com/videos/c/o/v/0d5c3350c7f64274891910b7192438ee.mp4" type="video/mp4" media="(max-width: 767px)">
      </video>
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">Superbike, <br class="mb:er-hidden">Superpower</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        The Urtopia Smartbar combines 4G connectivity, GPS tracking, anti-theft alerts, and on-board
                        navigation in one sleek package. Stay connected with real-time updates, follow turn-by-turn
                        directions without your phone, and enjoy peace of mind with anti-theft security. Ride with a
                        third eye!
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto mb:er-pt-[80vw]">
    {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25033_2x_8f1d0ecb-fbf9-4354-8401-7c6b2a3ed1c2.jpg?v=1737344807", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25313_2x_631f8215-0b59-48ec-89b9-27c1e01d7519.jpg?v=1737354902" %}
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <span></span>
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">All-Terrain, All Fun</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        Engineered for diverse riding conditions, the Carbon 1 ST offers a smooth ride with its
                        shock-absorbing full carbon fiber frame. Kenda 700 x 40C (max. 45C) gravel tires allow for
                        reliable traction on city streets, gravel paths, and light trails. For the urban explorer and
                        trail adventurer, ready to tackle it all!
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="background-image er-aspect-[1920/750] mb:er-aspect-auto">
        <video class="lozad mb:!er-static" playsinline loop autoplay muted>
        <source data-src="https://cdn.shopify.com/videos/c/o/v/094f0d92cee44a19900f09740b0ae88a.mp4" type="video/mp4" media="(min-width: 768px)">
        <source data-src="https://cdn.shopify.com/videos/c/o/v/e00d5f7e3bf84a4e8563520e2d2a08be.mp4" type="video/mp4" media="(max-width: 767px)">
      </video>
        <div
            class="er-max-w-screen-xl er-mx-auto er-px-12 er-grid er-grid-cols-2 er-items-center er-h-full mb:er-grid-cols-1 mb:er-h-auto er-gap-x-40">
            <div class="er-flex er-flex-col er-items-start mb:er-pt-12 mb:er-pb-20">
                <h2 class="text-size48 mb:er-text-4xl er-m-0">Gear Up, Go Far</h2>
                <p class="text-size18 er-max-w-3xl er-mt-8 er-opacity-80 mb:er-mt-10 mb:er-text-[16px]">
                    <span>
                        Equipped with a 15kg rear rack and a travel-specific front fork with luggage mounts, the Carbon
                        1 ST electric bike is ready for extended trips. Four additional mounting points on the frame
                        offer versatile storage options, making it the ideal choice for long-haul cycling. Pack up and
                        hit the road!
                    </span>
                </p>
            </div>
        </div>
    </div>
    {% render 'size-guide-and-specs-template', config: 'carbonst_order_page_config' %}
    <script type="module">
        new Swiper('.quality_in_details', {
            slidesPerView: global_config.is_mobile ? 1.25 : 3,
            spaceBetween: global_config.is_mobile ? 16 : 32,
            preloadImages: false,
            navigation: {
                nextEl: '.quality_in_details .swiper-button-next',
                prevEl: '.quality_in_details .swiper-button-prev',
            },
            scrollbar: {
                el: '.quality_in_details .swiper-scrollbar',
                draggable: true
            },
        });
    </script>
    <div class="er-max-w-screen-xl er-mx-auto er-px-12 mb:er-px-6">
        {% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false %}
    </div>
