<style>
  fieldset[option=Style] label[data-style="Deep Sea Blue"] {
    --product-option-color: #525D96;
  }

  h1, h2, h3, h4 {
    color: inherit;
    margin: 0;
    display: block;
  }
</style>

{% render 'product-panel', swiper_insert_index: 1 %}
<section
        class="er-bg-black er-text-white er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-bg-white mb:er-text-black" style="transform: translateY(1px);">
        <video playsinline loop autoplay muted class="mb:!er-object-contain mb:!er-object-top lozad">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/c78a9fec511245e68e6feff6b4ac56a8.mp4" type="video/mp4"
                media="(min-width: 768px)">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/2fd5f660d06c40dda8d51f20378654dc.mp4" type="video/mp4"
                media="(max-width: 767px)">
        </video>
        <div
            class="centeral-content er-h-full er-flex er-flex-col er-justify-center er-items-start er-text-left mb:er-pt-8 mb:er-pb-20">
            <div class="md:er-hidden er-aspect-square er-w-full"></div>
            <h2 class="text-size48 mb:er-text-4xl">Light to Lift,<br>Power to Climb</h2>
            <p class="text-size18 er-max-w-3xl er-mt-10 er-mb-28 mb:er-text-2xl mb:er-mb-16">
                <span>
                    Sleek lines, carbon fiber elegance, and the power to roam-Fusion Pro looks as good as it rides. Glide through nature, feel the breeze, and rediscover the joy of effortless exploration.
                </span>
            </p>
            <a
                href="https://www.youtube.com/watch?v=HKY6ewUznbc" target="_blank"
                class="er-button er-button-white er-mt-12 mb:er-m-0 mb:[--er-btn-bg-color:theme(colors.dark)] mb:[--er-btn-text-color:theme(colors.white)] mb:er-text-white">Watch
                video
                <svg class="er-scale-150 er-translate-x-1/3 er-fill-dark mb:er-fill-white"
                    xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                    <path
                        d="m380-300 280-180-280-180v360ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                </svg></a>
        </div>
    </section>
<section
        class="er-text-white er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-text-black">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC01926_2x_f8a36535-ede3-4d31-bb8d-32b358df4e9f.jpg?v=1746690115", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25431_2x_a8ce91d6-4395-408b-b0b4-e17097dbd285.jpg?v=1746688255" %}
        <div class="centeral-content er-h-full mb:er-pt-8 mb:er-pb-20 er-flex er-gap-x-28 mb:er-flex-col">
            <div class="er-aspect-square er-w-1/2 mb:er-w-full"></div>
            <div class="er-flex er-flex-col er-justify-center er-items-start er-text-left">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug">120 Miles Long<br>Range eBike</h2>
                <p class="text-size18 er-max-w-3xl er-mt-10 mb:er-text-2xl">
                    <span>
                        Go further than ever. Fusion Pro eBike’s dual battery system delivers an extended range of up to 120 miles, making it the ultimate companion for long-distance riders, daily commuters, and weekend adventurers.
                    </span>
                </p>
            </div>
        </div>
    </section>
<section class="er-py-72 mb:er-pb-32 mb:er-pt-0">
  <div class="centeral-content mb:er-px-6">
    {% render 'image', class: "er-max-w-screen-lg er-mx-auto mb:er-max-w-full", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25439_2x_964ec6b9-070e-42e8-9230-6c0133abe73a.jpg?v=1746777337", src: 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25437_2x_2894466d-5c40-432d-acf6-65b0122f2261.jpg?v=1746777331' %}
  </div>
</section>
  <section
        class="er-text-white er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-text-black">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC02114_2x_3281ec21-1f14-479c-8206-3909d58906a8.jpg?v=1746689483", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25430_2x_200721f3-870a-42fe-8ee8-4aa800d7fcdd.jpg?v=1746688593" %}
        <div class="centeral-content er-h-full mb:er-pt-8 mb:er-pb-20 er-flex er-gap-x-28 mb:er-flex-col">
            <div class="er-aspect-square er-w-1/2 mb:er-w-full"></div>
            <div class="er-flex er-flex-col er-justify-center er-items-start er-text-left">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug">Step Through,<br>Ride Comfort</h2>
                <p class="text-size18 er-max-w-3xl er-mt-10 mb:er-text-2xl">
                    <span>
                        Fusion Pro is built for all-day comfort. The low-step frame makes getting on and off effortless, while the 60° adjustable handlebar lets you ride in a natural, upright position.
                    </span>
                </p>
            </div>
        </div>
    </section>
<section
        class="er-text-white er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-text-black">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSC02114_2x_3281ec21-1f14-479c-8206-3909d58906a8.jpg?v=1746689483", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25429_2x_ba24227b-dc04-4ee8-9c07-7beb7f7e0146.jpg?v=1746688636" %}
        <div class="centeral-content er-h-full mb:er-pt-8 mb:er-pb-20 er-flex er-gap-x-28 mb:er-flex-col">
            <div class="er-aspect-square er-w-1/2 mb:er-w-full md:er-hidden"></div>
            <div class="er-flex er-flex-col er-justify-center er-items-start er-text-left">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug">Lightweight <br class="mb:er-hidden">Carbon Fiber Frame</h2>
                <p class="text-size18 er-max-w-3xl er-mt-10 mb:er-text-2xl">
                    <span>
                        At just 50 lbs, Fusion Pro’s full carbon frame redefines what a rugged eBike can be. Enjoy unmatched agility and portability without sacrificing strength or durability – Loading onto a car rack is a breeze!
                    </span>
                </p>
            </div>
        </div>
    </section>
<div class="er-max-w-screen-xl er-mx-auto er-px-12 er-my-56 mb:er-mb-20 mb:er-mt-0 mb:er-pr-0">
        <h2 class="text-size48 mb:er-text-4xl er-m-0">Quality in details</h2>
        <div class="er-mt-10 quality_in_details er-relative er-overflow-x-hidden er-pb-40 mb:er-pb-16" style="--swiper-navigation-size: 27px; --swiper-navigation-color:#fff;">
            <div class="swiper-wrapper">
                {% for item in product.metafields.custom.quality_in_details.value %}
                    {% assign text = item.text | split: "---" %}
                    <div class="swiper-slide er-flex er-flex-col">
                        {{ item.image | image_url: width: 500 |  image_tag: loading: 'lazy', class: "er-rounded-3xl" }}
                        <h3 class="text-size20 er-my-6 er-font-bold er-text-3xl">{{ text.first }}</h3>
                        <p class="text-size18 er-opacity-80 mb:er-text-[16px] er-max-w-2xl">
                            <span>{{ text.last }}</span>
                        </p>
                    </div>
                    
                {% endfor %}  
            </div>
            <div class="swiper-scrollbar er-bg-[#386FAF] er-bg-opacity-10 !er-w-full !er-left-0"></div>
            <div class="swiper-button-prev er-bottom-12 er-right-[60px] er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
            <div class="swiper-button-next er-bottom-12 er-right-0 er-left-auto er-top-auto er-bg-dark er-rounded-full er-p-8 after:er-text-3xl mb:er-hidden er-z-2"></div>
        </div>
    </div>
<section
        class="er-text-white er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-text-black">
        {% render 'image', class: "mb:!er-object-contain mb:!er-object-top", mb_src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/7_0022_2x_73f01da8-d481-4b90-bd83-322d234d4d42.jpg?v=1746690001", src: "https://cdn.shopify.com/s/files/1/0583/5810/4213/files/25428_2x_aa53ab94-3e60-4a9c-9874-6c29fefeccee.jpg?v=1746689857" %}
        <div class="centeral-content er-h-full mb:er-pt-8 mb:er-pb-20 er-flex er-gap-x-28 mb:er-flex-col">
            <div class="er-aspect-square er-w-1/2 mb:er-w-full md:er-hidden"></div>
            <div class="er-flex er-flex-col er-justify-center er-items-start er-text-left">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug">Smooth, <br class="mb:er-hidden">All-Terrain Ride</h2>
                <p class="text-size18 er-max-w-3xl er-mt-10 mb:er-text-2xl">
                    <span>
                        The 60mm suspension front fork combined with 29” x 2.05” all-terrain tires absorbs bumps and offers a smooth, stable ride across all surfaces. Tackle rough roads, gravel, or city streets with confidence.
                    </span>
                </p>
            </div>
        </div>
    </section>
<section
        class="er-text-white er-aspect-[1920/750] mb:er-aspect-auto background-image mb:er-text-black">
        <video playsinline loop autoplay muted class="mb:!er-object-contain mb:!er-object-top lozad">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/4132fdf2d3b14745820ebb4518342359.mp4" type="video/mp4"
                media="(min-width: 768px)">
            <source data-src="https://cdn.shopify.com/videos/c/o/v/65a6b0a432554c4d8451d1bf10bf010f.mp4" type="video/mp4"
                media="(max-width: 767px)">
        </video>
        <div class="background-mask mb:er-hidden" style="background-image: linear-gradient(270deg, #000000, #00000000);left: 50%;"></div>
        <div class="centeral-content er-h-full mb:er-pt-8 er-flex er-gap-x-28 mb:er-flex-col">
            <div class="er-aspect-square er-w-1/2 mb:er-w-full"></div>
            <div class="er-flex er-flex-col er-justify-center er-items-start er-text-left">
                <h2 class="text-size48 mb:er-text-4xl mb:er-leading-snug">Carry Up to 330 lbs</h2>
                <p class="text-size18 er-max-w-3xl er-mt-10 mb:er-text-2xl">
                    <span>
                        Designed to do more than just get you from point A to B. Fusion Pro supports up to 330 lbs of total payload, making it ideal for riders of all sizes and those who need to haul gear, groceries, or even camping equipment.
                    </span>
                </p>
            </div>
        </div>
    </section>
{% render 'size-guide-and-specs-template' %}
<div class="centeral-content er-px-6 judgemeeeeee"></div>
<script type="module">
  task(() => {
              new Swiper('.quality_in_details', {
                  slidesPerView: global_config.is_mobile ? 1.25 : 3,
                  spaceBetween: global_config.is_mobile ? 16 : 32,
                  preloadImages: false,
                  navigation: {
                      nextEl: '.quality_in_details .swiper-button-next',
                      prevEl: '.quality_in_details .swiper-button-prev',
                  },
                  scrollbar: {
                      el: '.quality_in_details .swiper-scrollbar',
                      draggable: true
                  },
              });
    })

      window.addEventListener('load', function () {
            const img = $(`<img class="er-absolute er-top-0 er-z-[2] er-transition er-opacity-100 mb:er-max-w-20 md:er-right-0 mb:er-left-0" width="70" height="104" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20250211-151856.png?v=1739258383&width=100" alt="{{ product.title }}"/>`)
            $(".product-panel-swiper .swiper-wrapper").before(img)

            window.product_panel_swiper.on('slideChange', function () {
                img.css('opacity', this.realIndex > 0 ? 0 : 1)
            })
        })
</script>